<div class="ui-widget mbl">
    <header class="ui-widget-header ui-corner-top">
    </header>
    <section class="ui-widget-content ui-corner-bottom">
        <nav class="left-menu">
            <ul class="clearfix">
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-grey icon-276"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button icon-grey" href="{{ path('products_edit_overview', {'productId': product.id}) }}">
                        Offers
                    </a>
                </li>
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-grey icon-276"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button icon-grey" href="{{ path('products_edit_overview', {'productId': product.id}) }}">
                        Voucher Codes
                    </a>
                </li>
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-grey icon-276"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button icon-grey" href="{{ path('products_edit_overview', {'productId': product.id}) }}">
                        Condition Types
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>