@import "rgbapng";

@mixin backgroundSize($width, $height) {
    -webkit-background-size: $width $height;
    -moz-background-size: $width $height;
    -o-background-size: $width $height;
    background-size: $width $height;
}

@mixin verticalGradient($topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $topColour;
    background: -moz-linear-gradient(top,  $topColour 0%, $bottomColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topColour), color-stop(100%, $bottomColour));
    background: -webkit-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -o-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -ms-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: linear-gradient(top, $topColour 0%, $bottomColour 100%);
    @include background-image(linear-gradient(top, $topColour, $bottomColour));
    -pie-background: linear-gradient(top, $topColour 0%, $bottomColour 100%);
    behaviour: url("#{$cssPath}/resources/htc/pie.htc");
    background-repeat: no-repeat;
}

@mixin highlightedVerticalGradient($highlightColour, $topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $topColour;
    background: -moz-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $highlightColour), color-stop(5%, $topColour), color-stop(100%, $bottomColour));
    background: -webkit-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -o-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -ms-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: linear-gradient(to bottom, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    @include background-image(linear-gradient(top, $highlightColour, $topColour 5%, $bottomColour 100%));
    -pie-background: linear-gradient(to bottom, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    behaviour: url("#{$cssPath}/resources/htc/pie.htc");
    background-repeat: no-repeat;
}

@mixin highlightedVerticalGradientReversed($highlightColour, $topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $bottomColour;
    background: -moz-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bottomColour), color-stop(95%, $topColour), color-stop(100%, $highlightColour));
    background: -webkit-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -o-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -ms-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: linear-gradient(to bottom, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    @include background-image(linear-gradient(bottom, $highlightColour, $topColour 5%, $bottomColour 100%));
    -pie-background: linear-gradient(to bottom, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    behaviour: url("#{$cssPath}/resources/htc/pie.htc");
    background-repeat: no-repeat;
}

@mixin verticalGradientGreyExtraLightToWhite {
    @include verticalGradient($colourGreyExtraLight, $colourWhite);
}

@mixin verticalGradientWhiteToGreyExtraLight {
    @include verticalGradient($colourWhite, $colourGreyExtraLight);
}

@mixin verticalGradientWhiteToGreyLight {
    @include verticalGradient($colourWhite, $colourGreyLight);
}

@mixin verticalGradientGreyLightToWhite {
    @include verticalGradient($colourGreyLight, $colourWhite);
}

@mixin verticalGradientGreyLightToGrey {
    @include verticalGradient($colourGreyLight, $colourGrey);
}

@mixin verticalGradientGreyToGreyDark {
    @include verticalGradient($colourGrey, $colourGreyDark);
}

@mixin highlightedVerticalGradientBlack {
    @include highlightedVerticalGradient($colourGreyLight, $colourGreyDark, $colourBlack);
}

@mixin highlightedVerticalGradientBlackReversed {
    @include highlightedVerticalGradientReversed($colourGreyLight, $colourGreyDark, $colourBlack);
}

@mixin highlightedVerticalGradientGrey {
    @include highlightedVerticalGradient($colourWhite, $colourGreyLight, $colourGrey);
}

@mixin highlightedVerticalGradientGreyReversed {
    @include highlightedVerticalGradientReversed($colourWhite, $colourGreyLight, $colourGrey);
}

@mixin highlightedVerticalGradientGreyDark {
    @include highlightedVerticalGradient($colourGreyLight, $colourGrey, $colourGreyDark);
}

@mixin highlightedVerticalGradientGreyDarkReversed {
    @include highlightedVerticalGradientReversed($colourGreyLight, $colourGrey, $colourGreyDark);
}

@mixin highlightedVerticalGradientGreyLight {
    @include highlightedVerticalGradient($colourWhite, $colourGreyExtraLight, $colourGreyLight);
}

@mixin highlightedVerticalGradientGreyLightReversed {
    @include highlightedVerticalGradientReversed($colourWhite, $colourGreyExtraLight, $colourGreyLight);
}

@mixin highlightedVerticalGradientDarkRed {
    @include highlightedVerticalGradient($colourDarkRedExtraLight, $colourDarkRedLight, $colourDarkRed);
}

@mixin highlightedVerticalGradientDarkRedReversed {
    @include highlightedVerticalGradientReversed($colourDarkRedExtraLight, $colourDarkRedLight, $colourDarkRed);
}

@mixin highlightedVerticalGradientRed {
    @include highlightedVerticalGradient($colourRedExtraLight, $colourRedLight, $colourRed);
}

@mixin highlightedVerticalGradientRedReversed {
    @include highlightedVerticalGradientReversed($colourRedExtraLight, $colourRedLight, $colourRed);
}

@mixin highlightedVerticalGradientOrange {
    @include highlightedVerticalGradient($colourOrangeExtraLight, $colourOrangeLight, $colourOrange);
}

@mixin highlightedVerticalGradientOrangeReversed {
    @include highlightedVerticalGradientReversed($colourOrangeExtraLight, $colourOrangeLight, $colourOrange);
}

@mixin highlightedVerticalGradientYellow {
    @include highlightedVerticalGradient($colourYellowExtraLight, $colourYellowLight, $colourYellow);
}

@mixin highlightedVerticalGradientYellowReversed {
    @include highlightedVerticalGradientReversed($colourYellowExtraLight, $colourYellowLight, $colourYellow);
}

@mixin highlightedVerticalGradientGreen {
    @include highlightedVerticalGradient($colourGreenExtraLight, $colourGreenLight, $colourGreen);
}

@mixin highlightedVerticalGradientGreenReversed {
    @include highlightedVerticalGradientReversed($colourGreenExtraLight, $colourGreenLight, $colourGreen);
}

@mixin highlightedVerticalGradientTurquoise {
    @include highlightedVerticalGradient($colourTurquoiseExtraLight, $colourTurquoiseLight, $colourTurquoise);
}

@mixin highlightedVerticalGradientTurquoiseReversed {
    @include highlightedVerticalGradientReversed($colourTurquoiseExtraLight, $colourTurquoiseLight, $colourTurquoise);
}

@mixin highlightedVerticalGradientBlue {
    @include highlightedVerticalGradient($colourBlueExtraLight, $colourBlueLight, $colourBlue);
}

@mixin highlightedVerticalGradientBlueReversed {
    @include highlightedVerticalGradientReversed($colourBlueExtraLight, $colourBlueLight, $colourBlue);
}

.background-grey-extra-extra-light {
    background-color: $colourGreyExtraExtraLight;
}

.background-grey-extra-light {
    background-color: $colourGreyExtraLight;
}

.background-grey-light {
    background-color: $colourGreyLight;
}

.background-grey-medium {
    background-color: $colourGreyMedium;
}

.background-grey {
    background-color: $colourGrey;
}

.background-grey-dark {
    background-color: $colourGreyDark;
}

.background-dark-red-extra-extra-light {
    background-color: $colourDarkRedExtraExtraLight;
}

.background-dark-red-extra-light {
    background-color: $colourDarkRedExtraLight;
}

.background-dark-red-light {
    background-color: $colourDarkRedLight;
}

.background-dark-red {
    background-color: $colourDarkRed;
}

.background-red-extra-extra-light {
    background-color: $colourRedExtraExtraLight;
}

.background-red-extra-light {
    background-color: $colourRedExtraLight;
}

.background-red-light {
    background-color: $colourRedLight;
}

.background-red {
    background-color: $colourRed;
}

.background-orange-extra-extra-light {
    background-color: $colourOrangeExtraExtraLight;
}

.background-orange-extra-light {
    background-color: $colourOrangeExtraLight;
}

.background-orange-light {
    background-color: $colourOrangeLight;
}

.background-orange {
    background-color: $colourOrange;
}

.background-yellow-extra-extra-light {
    background-color: $colourYellowExtraExtraLight;
}

.background-yellow-extra-light {
    background-color: $colourYellowExtraLight;
}

.background-yellow-light {
    background-color: $colourYellowLight;
}

.background-yellow {
    background-color: $colourYellow;
}

.background-green-extra-extra-light {
    background-color: $colourGreenExtraExtraLight;
}

.background-green-extra-light {
    background-color: $colourGreenExtraLight;
}

.background-green-light {
    background-color: $colourGreenLight;
}

.background-green {
    background-color: $colourGreen;
}

.background-turquoise-extra-extra-light {
    background-color: $colourTurquoiseExtraExtraLight;
}

.background-turquoise-extra-light {
    background-color: $colourTurquoiseExtraLight;
}

.background-turquoise-light {
    background-color: $colourTurquoiseLight;
}

.background-turquoise {
    background-color: $colourTurquoise;
}

.background-blue-extra-extra-light {
    background-color: $colourBlueExtraExtraLight;
}

.background-blue-extra-light {
    background-color: $colourBlueExtraLight;
}

.background-blue-light {
    background-color: $colourBlueLight;
}

.background-blue {
    background-color: $colourBlue;
}

@mixin alphaBackground($colour, $opacity: 1) {
    @include rgba-background-inline(rgba($colour, $opacity));
}