input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

option {
    max-width: 100%;

    @include ellipsis;
}

.required {
    color: $colourRed;
    font-weight: bold;
}

fieldset {
    margin: 0 0 $spacingMedium;
    padding: $spacingMedium $spacingMedium 0 $spacingMedium;
    width: 100%;

    @include borderBox;
    background: $colourGreyExtraLight;
}

fieldset legend {
    margin: 0 0 $spacingMedium 0;
    padding: 0 0 $spacingMedium 0;

    float: left;

    font-weight: bold;
    border-bottom: 1px dotted $colourGrey;
    @include fontSize($fontSizeLarge);
}

.form-element {
    padding: 0 0 $spacingSmall 0;
}

.form-element label {
    display: block;

    line-height: 40px;
    text-align: right;
    font-weight: bold;
}

.form-element small {
    padding: $spacingExtraSmall 11px $spacingSmall 11px;

    display: block;

    color: $colourGrey;
    @include fontSize($fontSizeSmall);
}

input.text,
input[type="text"],
input.email,
input[type="email"],
input.search,
input[type="search"],
input.tel,
input[type="tel"],
input.url,
input[type="url"],
input.datetime,
input[type="datetime"],
input.date,
input[type="date"],
input.month,
input[type="month"],
input.week,
input[type="week"],
input.time,
input[type="time"],
input.datetime-local,
input[type="datetime-local"],
input.number,
input[type="number"],
input.password,
input[type="password"],
select.uniform-multiselect,
select[multiple="multiple"],
textarea,
textarea.uniform {
    padding: 8px $spacingMedium;

    outline: 0;

    font-family: $primaryFontFamily;
    @include equalBorderRadius($radiusSize);
    @include fontSize($fontSizeMedium);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    border: 1px solid $colourGreyLight;
}

input.text:focus,
input[type="text"]:focus,
input.email:focus,
input[type="email"]:focus,
input.search:focus,
input[type="search"]:focus,
input.tel:focus,
input[type="tel"]:focus,
input.url:focus,
input[type="url"]:focus,
input.datetime:focus,
input[type="datetime"]:focus,
input.date:focus,
input[type="date"]:focus,
input.month:focus,
input[type="month"]:focus,
input.week:focus,
input[type="week"]:focus,
input.time:focus,
input[type="time"]:focus,
input.datetime-local:focus,
input[type="datetime-local"]:focus,
input.number:focus,
input[type="number"]:focus,
input.password:focus,
input[type="password"]:focus,
select.uniform-multiselect:focus,
select[multiple="multiple"]:focus,
textarea:focus,
textarea.uniform:focus {
    @include boxGlow($primaryColour, 10px, 0, 1);
    color: $colourBlack;
}

input.search::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration,
input.search::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button,
input.search::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-button,
input.search::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input.search,
input[type="search"] {
    -webkit-appearance: textfield;
}

.selector,
.checker,
.radio,
.uploader {
    @include inlineBlock;
    vertical-align: middle;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
    outline: 0;
}

.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader * {
    margin: 0;
    padding: 0;
}

div.radio-group,
div.checker-group {
    margin: $spacingMedium 0 $spacingSmall 0;
}

div.radio-group label,
div.checker-group label {
    float: left;

    line-height: 20px;
    font-weight: normal;
    text-align: left;
}

div.checker {
    margin: 0 $spacingMedium $spacingSmall 0;
    width: 18px;
    height: 18px;

    position: relative;
    float: left;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.checker span {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include inlineBlock;
    text-align: center;
    cursor: pointer;
    background: none;
}

div.checker span.checked {
    background: transparent url("#{$cssPath}/core/resources/images/icons/check.png") center center no-repeat;
}

div.checker input {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include hideYetClickable;
    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.checker:focus,
div.checker:active,
div.checker:hover,
div.checker.focus,
div.checker.active,
div.checker.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.radio {
    margin: 0 $spacingMedium $spacingSmall 0;
    width: 18px;
    height: 18px;

    position: relative;
    float: left;

    @include equalBorderRadius(10px);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.radio span {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.radio span.checked {
    width: 8px;
    height: 8px;

    top: 4px;
    left: 4px;

    @include equalBorderRadius(4px);
    @include highlightedVerticalGradientBlack;
    @include boxGlow($colourBlack, 5px, 0, 0.5);
    border: 1px solid $colourBlack;
}

div.radio input {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include hideYetClickable;
    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.radio:focus,
div.radio:active,
div.radio:hover,
div.radio.focus,
div.radio.active,
div.radio.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.uploader {
    padding: 0;

    outline: 0;
    position: relative;
    overflow: hidden;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);

    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.uploader span.filename {
    padding: 8px $spacingMedium;
    width: 60%;

    @include ellipsis;
    @include fontSize($fontSizeMedium);
    @include borderBox;
    font-family: $primaryFontFamily;
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    cursor: pointer;
}

div.uploader span.action {
    padding: 4px 13px;
    width: 40%;

    position: absolute;
    top: -1px;
    right: -1px;

    @include ellipsis;
    @include borderBox;
    line-height: 32px;
    text-align: center;
    overflow: visible;
    @include highlightedVerticalGradientGreyLight;
    @include transitionAll(0.3s, ease-in-out);
    @include boxGlow($colourGreyLight, 5px);
    @include borderRadius(0, $radiusSize, $radiusSize, 0);
    border-left: 1px solid $colourGreyLight;
    border-left: 2px solid $colourGreyLight;
    color: $textColour;
    font-weight: bold;
    cursor: pointer;
}

div.uploader input {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    float: right;

    @include hideYetClickable;
    cursor: pointer;
}

div.uploader:focus,
div.uploader:active,
div.uploader:hover,
div.uploader.focus,
div.uploader.active,
div.uploader.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.uploader.disabled span.action {
    color: $colourGreyExtraLight;
}

div.uploader.disabled span.filename {
    color: $colourGreyExtraLight;
}

div.selector {
    padding: 0;

    outline: 0;
    position: relative;
    overflow: hidden;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.selector span {
    padding: 8px 30px 8px $spacingMedium;

    display: block;

    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
    font-weight: normal;
    line-height: 22px;
    cursor: pointer;
    @include ellipsis;
    background: transparent url("#{$cssPath}/core/resources/images/icons/select.png") center right no-repeat;
}

div.selector.disabled span {
    color: $colourGreyExtraLight;
}

div.selector select {
    width: 100%;
    height: 38px;

    position: absolute;
    top: 0;
    left: 0;

    @include fontSize($fontSizeMedium);
    cursor: pointer;
    @include hideYetClickable;
}

div.selector:active,
div.selector.active {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector:active span,
div.selector.active span {
    color: $colourBlack;
}

div.selector.focus,
div.selector.hover,
div.selector:hover {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
    color: $colourBlack;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
    color: $colourBlack;
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
    color: $colourGreyExtraLight;
}

header.error {
    @include highlightedVerticalGradientDarkRed;
}

.form-element-error {
    padding: $spacingSmall 0 $spacingSmall 20px !important;
    margin: 5px -10px 10px -30px !important;

    background: $colourRedExtraExtraLight url("#{$cssPath}/core/resources/images/icons/warning.png") 6px 13px no-repeat;
    @include borderRadius($radiusSize, 0, 0, $radiusSize);
    @include boxGlow($colourRed, 3px, 0, 0.5);
}

.form-element-error label {
    color: $colourRed;
}

.form-element-error small {
    color: $colourRed;
    text-transform: uppercase;
}

.form-element-error small ul {
    margin: 0;
    padding: 0;
}

.form-element-error small ul li {
    list-style: none;
    background: transparent url("#{$cssPath}/core/resources/images/icons/error_small.png") top left no-repeat;
    line-height: 12px;
    padding: 0 0 0 17px;
    margin: 2px 0 0 0;
}

.form-element-error input,
.form-element-error textarea,
.form-element-error .selector,
.form-element-error .uniform-multiselect,
.form-element-error .radio,
.form-element-error .checker,
.form-element-error .uploader {
    border: 1px solid $colourRedExtraLight;
}

.form-element-error input:focus,
.form-element-error textarea:focus,
.form-element-error .selector:focus,
.form-element-error .uniform-multiselect:focus,
.form-element-error .radio:focus,
.form-element-error .checker:focus,
.form-element-error .uploader:focus,
.form-element-error input:active,
.form-element-error textarea:active,
.form-element-error .selector:active,
.form-element-error .uniform-multiselect:active,
.form-element-error .radio:active,
.form-element-error .checker:active,
.form-element-error .uploader:active,
.form-element-error input:hover,
.form-element-error textarea:hover,
.form-element-error .selector:hover,
.form-element-error .uniform-multiselect:hover,
.form-element-error .radio:hover,
.form-element-error .checker:hover,
.form-element-error .uploader:hover {
    @include noBoxShadow;
}