{% extends ':Old:base.html.twig' %}
{% block title %}Legacy Import | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Data:leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Legacy Import</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<div class="grid_6"> 
    		<p>From here you can import any existing data that is currently used by the old system. Click the "Import Data" button below to import the data.</p>
    		<button id="action_import_data" class="button ui-button-default">Import Data</button>
    	</div>
    	<div id="legacy_import_data"></div>
    </section>
    {% include 'WebIlluminationAdminBundle:Data:legacyImport.js.twig' %}  
{% endblock %}