#quick_search
{
	margin-top: -8px!important;
	width: 218px;
	filter: none!important;
	background: transparent!important;
}
.action-quick-search
{
	margin-top: -2px!important;
	margin-right: -4px!important;
	float: none!important;
}
#wrapper > header > .unique-selling-points-container .unique-selling-point > h3 a, #wrapper > header > .unique-selling-points-container .last-unique-selling-point h3 a
{
	font-size: 12px;
}
#wrapper > header > .unique-selling-points-container .unique-selling-point > p, #wrapper > header > .unique-selling-points-container .last-unique-selling-point p
{
	white-space: nowrap;
}
#wrapper > header > .unique-selling-points-container .unique-selling-point > p a, #wrapper > header > .unique-selling-points-container .last-unique-selling-point p a
{
	letter-spacing: -1px;
}
#wrapper > header .main-menu
{
	background: #4ec2e3!important;
}
.sub-departments
{
	background: #41740F!important;
}
.sub-department ul li a
{
	background: #FFF;
}
.slider-gallery-container
{
	margin-top: -3px!important;
}
.slider-products-container
{
	background: #FFF;
}
button span
{
	border: 0 none!important;
}
.basket-free-delivery
{
	background: #DBDEE3!important;
}
div.selector
{
	background: #ffffff url(/bundles/webilluminationadmin/images/ui/selector.png) right center no-repeat!important;
}
#features dd
{
	width: 300px!important;
}