<li class="current" class="navicon-box">Brands</a></li>
<li class="navicon-barcode">Products</a></li>
<li class="navicon-cabinet">Categories</a></li>
<li class="navicon-menu">Groups</a></li>
<li class="navicon-notepad">Features</a></li>
<li class="navicon-pulldown">Options</a></li>