{% extends '::shop.html.twig' %}
{% block title %}404 - Page can not be found! | {{ parent() }}{% endblock %}
{% block body %}
	<header>
		<h1>Whoops looks like we lost one!</h1>
	</header>
	<section class="container_6 clearfix">
		
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>404 - Page can not be found!</h2>
	            </header>
				<section>
					<img width="906" class="border" height="305" src="{{ asset('/bundles/webilluminationshop/images/headers/page-not-found.jpg') }}" alt="404 - Page can not be found!" />
					<h3>Wait, why am I here?</h3>
					<p>Welcome to our 404 page. You are here because the page you have requested doesn't exist, at least not at this location.</p>
					<p>We have been made aware of this and will be looking into this as soon as possible.</p>
					<p>In the mean time you could&hellip;</p>
					<ul>
						<li>Try contacting us for any advice or support. <a href="{{ path('content_contact_us') }}">Click here</a> to find out how to contact us.</a></li>
						<li>Try searching for what you were looking for using our search box above.</li>
						<li>Try looking through one of our departments using the menu above.</li>
					</ul>
	            </section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}