<script type="text/javascript" defer="defer">
	$(document).ready(function() {
		$("#form-login").validator({
			position : 'bottom left', 
			offset : [0, 0], 
			messageClass : 'form-error', 
    		message : '<div><em/></div>'
		});
	});
</script>