$backgroundColour: #384246;

$textColour: #444;

$primaryColour: #4ec0e3;

$colourWhite: #fff;

$colourBlack: #000;

$helpBackgroundColour: #FFEA99;
$helpBorderColour: #FFE271;

$colourGreyExtraExtraLight: #ededed;
$colourGreyExtraLight: #e4eaec;
$colourGreyLight: #c5d2d6;
$colourGrey: #6c8087;
$colourGreyDark: #384246;

$colourDarkRedExtraExtraLight: #ffebec;
$colourDarkRedExtraLight: #fdadae;
$colourDarkRedLight: #d93637;
$colourDarkRed: #9a0000;

$colourRedExtraExtraLight: #fbebeb;
$colourRedExtraLight: #ffb9b9;
$colourRedLight: #ff3f40;
$colourRed: #cc0000;

$colourOrangeExtraExtraLight: #fff3ea;
$colourOrangeExtraLight: #ffdec5;
$colourOrangeLight: #ff8434;
$colourOrange: #cc5200;

$colourYellowExtraExtraLight: #fffbea;
$colourYellowExtraLight: #fffadd;
$colourYellowLight: #ffd634;
$colourYellow: #e6ac00;

$colourGreenExtraExtraLight: #ebf7eb;
$colourGreenExtraLight: #b0e2ae;
$colourGreenLight: #2baf2b;
$colourGreen: #137f13;

$colourTurquoiseExtraExtraLight: #e9f6fa;
$colourTurquoiseExtraLight: #baebfc;
$colourTurquoiseLight: #29a3cc;
$colourTurquoise: #007398;

$colourBlueExtraExtraLight: #e5eff8;
$colourBlueExtraLight: #94c9fd;
$colourBlueLight: #0061bf;
$colourBlue: #003b73;