<section id="guarantees">
	<div id="ajax-guarantees">
		<div id="guarantee-loading-error" class="ui-widget message margin-bottom-5 ui-helper-hidden">
		    <div class="ui-state-error no-margin-top ui-corner-all"> 
		        <p class="small-message">
		            <span class="ui-icon ui-icon-alert"></span>
		            <strong>ERROR:</strong> Sorry, there was a problem loading the guarantees. Please contact support and advise.
		        </p>
		    </div>
		</div>
		<div id="guarantees-loading" class="ac">
			<p>Loading guarantees, please wait&hellip;</p>
			<p><img alt="Loading" width="16" height="16" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-loader-eeeeee.gif') }}" /></p>
		</div>
	</div>
    <script type="text/javascript" defer="defer">
		$(document).ready(function() {
			{# Load #}
			$.ajax({
   				type: "POST",
   				url: "{{ path('system_ajax_guarantees') }}",
   				data: {
   					object_id: {{ brand_description.brandId }},
   					object_type: 'brand'
   				},
   				error: function(data) {
		      		$("#guarantees-loading").hide();
		      		$("#guarantee-loading-error").fadeIn();
		      	},
   				success: function(data) {
   					$("#ajax-guarantees").html(data);
   					$("#ajax-guarantees :checkbox:not(.no-uniform), #ajax-guarantees :radio:not(.no-uniform), #ajax-guarantees select:not(.no-uniform), #ajax-guarantees :file:not(.no-uniform)").uniform();
	  				$("#ajax-guarantees .button").each(function () {
			            $(this).button({
			            	icons: {
			                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
			                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
			                }, 
			               	text: $(this).attr('data-icon-only') === 'true'?false:true
			        	});
			        });
   				}
 			});
		});
	</script>
</section>