<section id="description">
	<div class="info-message ui-status-highlight">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>The description is what sells the brand and it is important that you explain how a potential customer will benefit from buying products from this brand.</p>
		<div class="clear"></div>
	</div>
	<div class="clearfix">
        <div class="form-input-long">
        	<div class="ac">
                <div class="buttonset no-margin-right">
                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="1" id="tinymce-description-1" checked="checked" /><label for="tinymce-description-1">Visual</label>
                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="0" id="tinymce-description-0" /><label for="tinymce-description-0">HTML</label>
                    <hr class="inset" />
                </div>
                <div class="leading">
                    <textarea id="form-description" name="description" rows="3" class="tinymce-basic">{{ brand_description.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="form-input-long buttons no-margin-bottom">
        	<button class="button ui-button-default" data-icon-primary="ui-icon-check">Save</button>
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
		
			{# Update the description tab #}
			{% if (brand_description.description == "") %}
				$("#tab-description").addClass("ui-status-error");
			{% else %}
				$("#tab-description").addClass("ui-status-success");
			{% endif %}
			$("#form-description").change(function() {
				$("#tab-description").removeClass("ui-status-success").removeClass("ui-status-error");
				if ($("#form-description").val() == "")
				{
					$("#tab-description").addClass("ui-status-error");
				} else {
					$("#tab-description").addClass("ui-status-success");
				}
			});
			
		});
	</script>
</section>