{% extends '::shop.html.twig' %}
{% block title %}Register an Account with Kitchen Appliance Centre | {{ parent() }}{% endblock %}
{% block body %}
	<header>
		<h1>Register an Account with Kitchen Appliance Centre</h1>
	</header>
	<section class="container_6 clearfix">
		<div id="register-your-email-address" class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Your Email Address</h2>
	            </header>
				<section class="form">
					<div class="clearfix">
				        <label for="form-email-address" class="form-label"><em>*</em> Email Address<small>Enter a valid email address</small></label>
				        <div class="form-input"><input class="email-address" data-message="Enter a valid email address" type="email" id="form-register-your-email-address-email-address" name="email-address" required="required" value="" /></div>
				    </div>
				    <div class="clearfix">
				        <div class="form-input buttons no-margin-bottom">
				    		<button class="button action-check-email-address ui-button-green" data-icon-primary="ui-icon-check">Check Email Address</button>
				        </div>
				    </div>
				</section>
	        </div>
	    </div>
	    <div id="register-login" class="grid_6 ui-helper-hidden"> 
			<div class="portlet">
				<header>
	                <h2>Your Account</h2>
	            </header>
				<section class="form">
					<div class="info-message ui-status-highlight">
						<span class="info-message-icon ui-icon ui-icon-info"></span>
						<p>Your email address has already been registered with us.<br />Please enter your password below and we will securely log you in.</p>
						<div class="clear"></div>
					</div>
					<div class="clearfix">
				        <label for="form-register-login-email-address" class="form-label"><em>*</em> Email Address<small>Enter a valid email address</small></label>
				        <div class="form-input no-margin-bottom"><input class="email-address" data-message="Enter a valid email address" type="email" id="form-register-login-email-address" name="email-address" required="required" value="" /></div>
				    </div>
					<div class="clearfix">
				        <label for="form-password" class="form-label"><em>*</em> Password<small>Enter a password</small></label>
				        <div class="form-input no-margin-bottom"><input data-message="Enter your password" type="password" id="form-register-login-password" name="password" required="required" value="" /></div>
				    </div>
				    <div class="clearfix">
				        <div class="form-input"><a href="Javascript:void(0);" class="action-forgotten-your-password">Have you forgotten your password?</a></div>
				    </div>
				    <div class="clearfix">
				        <div class="form-input buttons no-margin-bottom">
				    		<button class="button action-login ui-button-green" data-icon-primary="ui-icon-key">Securely Login</button>
				    		<button class="button action-use-different-email-address ui-button-red" data-icon-primary="ui-icon-arrowthick-1-w">Use a Different Email Address</button>
				        </div>
				    </div>
				</section>
	        </div>
	    </div>
	    <div id="forgotten-your-password-container" class="grid_6 ui-helper-hidden"> 
			<div class="portlet">
				<header>
	                <h2>Forgotten your password?</h2>
	            </header>
				<section id="forgotten-your-password" class="form">
					<div class="clearfix">
						<div class="info-message ui-status-highlight">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>If you have forgotten your password enter your email address and we will email you instructions on how to reset your password.</p>
							<div class="clear"></div>
						</div>
					    <div class="clearfix">
					        <label for="form-email-address" class="form-label"><em>*</em> Your Email Address<small>Enter a valid email address</small></label>
					        <div class="form-input"><input class="full email" required="required" data-message="Enter a valid email address" type="email" id="form-forgotten-your-password-email-address" name="email-address" required="required" value="" /></div>
					    </div>
					    <div class="clearfix">
					        <div class="form-input buttons no-margin-bottom">
					    		<button type="submit" class="button action-reset-password ui-button-green" data-icon-primary="ui-icon-key">Reset Password</button>
					    		<a href="Javascript:void(0);" class="button action-secure-login ui-button-blue" data-icon-primary="ui-icon-key">Secure Login</a>
					        </div>
					    </div>
					</div>
				</section>
	        </div>
	    </div>
	    <div id="register-create-user" class="grid_6 ui-helper-hidden"> 
			<div class="portlet">
				<header>
	                <h2>Create Your Account</h2>
	            </header>
				<section class="form">
					<div class="clearfix">
				        <label for="form-email-address" class="form-label"><em>*</em> Email Address<small>Enter a valid email address</small></label>
				        <div class="form-input no-margin-bottom"><input class="email-address" data-message="Enter a valid email address" type="email" id="form-register-create-user-email-address" name="email-address" required="required" value="" /></div>
				    </div>
				    <div class="clearfix">
				        <label for="form-email-address" class="form-label"><em>*</em> Confirm Email Address<small>Confirm your email address</small></label>
				        <div class="form-input"><input class="email-address" data-message="Confirm your email address" data-equals="email-address" type="email" id="form-register-create-user-confirm-email-address" name="confirm-email-address" required="required" value="" /></div>
				    </div>
					<div class="clearfix">
				        <label for="form-password" class="form-label"><em>*</em> Password<small>Enter a password</small></label>
				        <div class="form-input no-margin-bottom"><input data-message="Enter your password" type="password" id="form-register-create-user-password" name="password" required="required" value="" /></div>
				    </div>
				    <div class="clearfix">
				        <label for="form-confirm-password" class="form-label"><em>*</em> Confirm Password<small>Confirm your password</small></label>
				        <div class="form-input"><input data-message="Confirm your password" data-equals="password" type="password" id="form-register-create-user-confirm-password" name="confirm-password" required="required" value="" /></div>
				    </div>
				    <div class="clearfix">
				        <div class="form-input buttons no-margin-bottom">
				    		<button class="button action-create-user ui-button-green" data-icon-primary="ui-icon-check">Create Your Account</button>
				    		<button class="button action-use-different-email-address ui-button-red" data-icon-primary="ui-icon-arrowthick-1-w">Use a Different Email Address</button>
				        </div>
				    </div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Users:registerScript.js.twig' %}
{% endblock %}