@import "../../../css/core/includes/base";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0 0 $spacingMedium;
    padding: $spacingMedium;

    background: $colourGreyLight;
}

fieldset legend {
    margin: 0 0 $spacingMedium 0;
    padding: 0 0 $spacingMedium 0;

    float: left;

    font-weight: bold;
    border-bottom: 1px dotted $colourGrey;
    @include fontSize($fontSizeLarge);
}

.form-element {
    padding: 0 0 $spacingSmall 0;
}

.form-element label {
    width: 100%;

    display: block;

    line-height: 37px;
    text-align: right;
    font-weight: bold;
}

$sprite: "#{$pluginsPath}/uniform/images/sprite.png";
$spriteRetina: "#{$pluginsPath}/uniform/images/sprite-retina.png";
$spriteSize: 493px;
$checkboxHeight: 19px;
$checkboxWidth: 19px;
$inputPadding: 5px;
$inputBackground: "#{$pluginsPath}/uniform/images/bg-input.png";
$inputBackgroundRetina: "#{$pluginsPath}/uniform/images/bg-input-retina.png";
$inputBackgroundFocus: "#{$pluginsPath}/uniform/images/bg-input-focus.png";
$inputBackgroundFocusRetina: "#{$pluginsPath}/uniform/images/bg-input-focus-retina.png";
$inputBackgroundSize: 1px !default;
$radioHeight: 18px;
$radioWidth: 18px;
$selectFixedWidth: 190px;
$selectHeight: 26px;
$selectMarginLeft: 10px;
$selectMarginRight: 25px;
$selectSelectHeight: 22px;
$selectSelectTop: 2px;
$uploadActionWidth: 85px;
$uploadFilenameMarginTop: 2px;
$uploadFilenameMarginBottom: 2px;
$uploadFilenameMarginLeft: 2px;
$uploadFilenameWidth: 82px;
$uploadFilenamePadding: 0 10px;
$uploadHeight: 28px;
$uploadWidth: 190px;
$checkboxVerticalOffset: (-10 * $selectHeight);
$radioVerticalOffset: ($checkboxVerticalOffset - $checkboxHeight);
$uploadVerticalOffset: ($radioVerticalOffset - $radioHeight);

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
    @include verticalGradientGreyExtraLightToWhite;
    -webkit-font-smoothing: antialiased;
}

.selector,
.checker,
.radio,
.uploader {
    @include inlineBlock;
    vertical-align: middle;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
    outline: 0;
}

.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader * {
    margin: 0;
    padding: 0;
}

.highContrastDetect {
    width: 0;
    height: 0;

    @include verticalGradientGreyExtraLightToWhite;
}

div.checker input,
input.search,
input.search:active  {
    -moz-appearance: none;
    -webkit-appearance: none;
}

div.selector {
    height: $selectHeight;
    padding: 0 0 0 $selectMarginLeft;

    position: relative;
    overflow: hidden;

    background-position: 0 (-5 * $selectHeight);
    line-height: $selectHeight;
}

div.selector.fixedWidth {
    width: $selectFixedWidth;
}

div.selector span {
    width: 100%;
    height: $selectHeight;
    padding-right: $selectMarginRight;

    display: block;

    @include ellipsis;
    background-position: right 0;
    line-height: $selectHeight;
    cursor: pointer;
}

div.selector.fixedWidth span {
    width: ($selectFixedWidth - $selectMarginLeft - $selectMarginRight);
}

div.selector select {
    width: 100%;
    height: $selectSelectHeight;

    position: absolute;
    top: $selectSelectTop;
    left: 0;

    @include hideYetClickable;
}

div.selector:active,
div.selector.active {
    background-position: 0 (-6 * $selectHeight);
}

div.selector:active span,
div.selector.active span {
    background-position: right (-1 * $selectHeight);
}

div.selector.focus,
div.selector.hover,
div.selector:hover {
    background-position: 0 (-7 * $selectHeight);
}

div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
    background-position: right (-2 * $selectHeight);
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
    background-position: 0 (-8 * $selectHeight);
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
    background-position: right (-3 * $selectHeight);
}

div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active {
    background-position: 0 (-9 * $selectHeight);
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
    background-position: right (-4 * $selectHeight);
}

div.checker,
div.checker span,
div.checker input {
    width: $checkboxWidth;
    height: $checkboxHeight;
}

div.checker {
    position: relative;
}

div.checker span {
    @include inlineBlock;
    text-align: center;
    background-position: 0 $checkboxVerticalOffset;
}

div.checker input {
    @include hideYetClickable;
    @include inlineBlock;
}

div.checker:active span,
div.checker.active span {
    background-position: (-1 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.focus span,
div.checker:hover span {
    background-position: (-2 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
    background-position: (-3 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker span.checked {
    background-position: (-4 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker:active span.checked,
div.checker.active span.checked {
    background-position: (-5 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
    background-position: (-6 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
    background-position: (-7 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
    background-position: (-8 * $checkboxWidth) $checkboxVerticalOffset;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
    background-position: (-9 * $checkboxWidth) $checkboxVerticalOffset;
}

div.radio,
div.radio span,
div.radio input {
    width: $radioWidth;
    height: $radioHeight;
}

div.radio {
    position: relative;
}

div.radio span {
    @include inlineBlock;
    text-align: center;
    background-position: 0 $radioVerticalOffset;
}

div.radio input {
    @include hideYetClickable;
    @include inlineBlock;
    text-align: center;
}

div.radio:active span,
div.radio.active span {
    background-position: (-1 * $radioWidth)-18px $radioVerticalOffset;
}

div.radio.focus span,
div.radio:hover span {
    background-position: (-2 * $radioWidth)-36px $radioVerticalOffset;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
    background-position: (-3 * $radioWidth) $radioVerticalOffset;
}

div.radio span.checked {
    background-position: (-4 * $radioWidth) $radioVerticalOffset;
}

div.radio:active span.checked,
div.radio.active span.checked {
    background-position: (-5 * $radioWidth) $radioVerticalOffset;
}

div.radio.focus span.checked,
div.radio:hover span.checked {
    background-position: (-6 * $radioWidth) $radioVerticalOffset;
}

div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
    background-position: (-7 * $radioWidth) $radioVerticalOffset;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
    background-position: (-8 * $radioWidth) $radioVerticalOffset;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
    background-position: (-9 * $radioWidth) $radioVerticalOffset;
}

div.uploader {
    width: $uploadWidth;
    height: $uploadHeight;

    position: relative;
    overflow: hidden;

    background-position: 0 $uploadVerticalOffset;
    cursor: pointer;
}

div.uploader span.action {
    width: $uploadActionWidth;
    height: $uploadHeight;

    display: inline;
    overflow: hidden;
    float: left;

    background-position: right ($uploadVerticalOffset + (-4 * $uploadHeight));
    line-height: $uploadHeight;
    text-align: center;
    cursor: pointer;
}

div.uploader span.filename {
    width: $uploadFilenameWidth;
    height: ($uploadHeight - $uploadFilenameMarginTop - $uploadFilenameMarginBottom);
    margin: $uploadFilenameMarginTop 0 $uploadFilenameMarginBottom $uploadFilenameMarginLeft;
    padding: $uploadFilenamePadding;

    float: left;

    @include ellipsis;
    cursor: default;
    line-height: ($uploadHeight - $uploadFilenameMarginTop - $uploadFilenameMarginBottom);
}

div.uploader input {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    float: right;

    @include hideYetClickable;
    cursor: default;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
    background-position: 0 ($uploadVerticalOffset + (-2 * $uploadHeight));
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
    background-position: right ($uploadVerticalOffset + (-5 * $uploadHeight));
}

div.uploader.active span.action,
div.uploader:active span.action {
    background-position: right ($uploadVerticalOffset + (-6 * $uploadHeight));
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
    background-position: right ($uploadVerticalOffset + (-7 * $uploadHeight));
}

div.uploader.disabled {
    background-position: 0 ($uploadVerticalOffset + (-1 * $uploadHeight));
}

div.uploader.disabled span.action {
    background-position: right ($uploadVerticalOffset + (-3 * $uploadHeight));
}

input.text,
input[type="text"],
input.email,
input[type="email"],
input.search,
input[type="search"],
input.tel,
input[type="tel"],
input.url,
input[type="url"],
input.datetime,
input[type="datetime"],
input.date,
input[type="date"],
input.month,
input[type="month"],
input.week,
input[type="week"],
input.time,
input[type="time"],
input.datetime-local,
input[type="datetime-local"],
input.number,
input[type="number"],
input.password,
input[type="password"],
select.uniform-multiselect,
select[multiple="multiple"],
textarea,
textarea.uniform {
    padding: $spacingMedium;

    outline: 0;

    font-family: $primaryFontFamily;
    @include equalBorderRadius($radiusSize);
    @include fontSize($fontSizeMedium);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    font-weight: normal;
    color: $textColour;
    border: 1px solid $colourGreyLight;
}

input.text:focus,
input[type="text"]:focus,
input.email:focus,
input[type="email"]:focus,
input.search:focus,
input[type="search"]:focus,
input.tel:focus,
input[type="tel"]:focus,
input.url:focus,
input[type="url"]:focus,
input.datetime:focus,
input[type="datetime"]:focus,
input.date:focus,
input[type="date"]:focus,
input.month:focus,
input[type="month"]:focus,
input.week:focus,
input[type="week"]:focus,
input.time:focus,
input[type="time"]:focus,
input.datetime-local:focus,
input[type="datetime-local"]:focus,
input.number:focus,
input[type="number"]:focus,
input.password:focus,
input[type="password"]:focus,
select.uniform-multiselect:focus,
select[multiple="multiple"]:focus,
textarea:focus,
textarea.uniform:focus {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

input.search::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration,
input.search::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button,
input.search::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-button,
input.search::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

div.selector {
    @include fontSize($fontSizeMedium);
}

div.selector select {
    @include fontSize($fontSizeMedium);
}

div.selector span {
    color: $textColour;
    @include textShadow($colourWhite, 0, 1px);
}

div.selector.disabled span {
    color: $colourGreyExtraLight;
}

div.checker {
    margin-right: 5px;
}

div.radio {
    margin-right: 3px;
}

div.uploader span.action {
    @include textShadow($colourWhite, 0, 1px);
    background-color: $colourWhite;
    @include fontSize($fontSizeSmall);
    font-weight: bold;
}

div.uploader span.filename {
    color: $textColour;
    border-right: 1px solid $colourGreyLight;
    @include fontSize($fontSizeSmall);
}

div.uploader.disabled span.action {
    color: $colourGreyExtraLight;
}

div.uploader.disabled span.filename {
    border-color: $colourGreyLight;
    color: $colourGreyExtraLight;
}