<header class="clearfix">
    <div class="top-menu">
        <div class="container">
            {% include 'WebIlluminationSiteBundle:Includes:socialMediaInteractions.html.twig' %}
            {% include 'WebIlluminationSiteBundle:Includes:topMenu.html.twig' %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            {% include 'WebIlluminationSiteBundle:Includes:logo.html.twig' %}
            {% include 'WebIlluminationSiteBundle:Includes:search.html.twig' %}
            <div class="clear"></div>
        </div>
    </div>
</header>