<div class="logo">
    <a title="{{ company_name }}" href="{{ path('homepage') }}">
        <img src="{{ asset('bundles/webilluminationsite/images/logo.png') }}" border="0" alt="{{ company_name }}" />
    </a>
</div>