{% if app.request.get('_route') in ['listing_products', 'listing_department', 'listing_brand', 'listing_department_brand'] %}
    {% set action = path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)) %}
{% else %}
    {% set action = path('listing_products') %}
{% endif %}

<div class="search-container">
    <form class="search-box" method="GET" action="{{ action }}">
        <label for="formSearch"><span class="ui-button-icon-primary ui-icon icon-grey icon-369"></span></label>
		<input id="formSearch" name="q" type="text" placeholder="Product Code, Brand, Name..." autocomplete="off" value="{{ app.request.query.get('q', '') }}" />
        <span class="ui-button-icon-primary ui-icon icon-dark-red icon-1116"></span>
		<button type="button" class="fr ui-button button button-turquoise uppercase">Search</button>
	</form>
</div>