<div id="loading"> 
	<script type="text/javascript"> 
	    document.write("<div id='container'><p id='content'>"+"<img id='loadinggraphic' width='16' height='16' src='/bundles/webilluminationadmin/images/loaders/ajax-loader-eeeeee.gif' /> "+"Loading...</p></div>");
    </script>
</div>