<section class="container_8 clearfix">
	<div id="flash_messages" class="grid_8">
		<div id="message-notice" class="ui-widget message closeable{% if not app.session.hasFlash('notice') %} ui-helper-hidden{% endif %}">
		    <div class="ui-state-highlight ui-corner-all"> 
		    	<span class="ui-icon ui-icon-info"></span>
		        <p>
		            <strong>NOTICE:</strong> <span class="message-text">{% if app.session.hasFlash('notice') %}{{ app.session.flash('notice') }}{% endif %}</span>
		        </p>
		    </div>
		</div>
		<div id="message-success" class="ui-widget message closeable{% if not app.session.hasFlash('success') %} ui-helper-hidden{% endif %}">
		    <div class="ui-state-success ui-corner-all"> 
		    	<span class="ui-icon ui-icon-circle-check"></span>
		        <p>		            
		            <strong>SUCCESS:</strong> <span class="message-text">{% if app.session.hasFlash('success') %}{{ app.session.flash('success') }}{% endif %}</span>
		        </p>
		    </div>
		</div>
		<div id="message-error" class="ui-widget message closeable{% if not app.session.hasFlash('error') %} ui-helper-hidden{% endif %}">
		    <div class="ui-state-error ui-corner-all"> 
		         <span class="ui-icon ui-icon-alert"></span> 
		        <p>
		            <strong>ERROR:</strong> <span class="message-text">{% if app.session.hasFlash('error') %}{{ app.session.flash('error') }}{% endif %}</span>
		        </p>
		    </div>
		</div>
	</div>
</section>

