<table cellspacing="0" border="0" cellpadding="0" width="800">
	<tr>
		<td valign="top" style="padding: 20px 0 0 0;" align="left">
			<p style="padding: 0 0 5px 0; margin: 0;"><img width="300" height="50" alt="Ride Direct" border="0" src="http://www.ridedirect.co.uk/bundles/webilluminationshop/images/logos/ride-direct-email-logo.gif" /></p>
			<p style="font-family: Arial; font-size: 12px; color: #5FA729; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #5FA729">t:</strong> 01332 365 913</p>
			<p style="font-family: Arial; font-size: 12px; color: #5FA729; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #5FA729">e:</strong>  <a style="font-family: Arial; font-size: 12px; color: #5FA729;" href="mailto:sales@ridedirect.co.uk">sales@ridedirect.co.uk</a></p>
			<p style="font-family: Arial; font-size: 12px; color: #5FA729; padding: 0; margin: 0; line-height: 100%;"><strong style="color: #5FA729">w:</strong> <a style="font-family: Arial; font-size: 12px; color: #5FA729;" href="http://www.ridedirect.co.uk/">www.ridedirect.co.uk</a></p>
		</td>
		<td align="right" valign="top" style="padding: 20px 0 0 0;" width="100"><img width="100" height="100" alt="Ride Direct QR Code" border="0" src="http://www.ridedirect.co.uk/bundles/webilluminationshop/images/logos/qr-code.gif" /></td>
	</tr>
</table>
<p style="font-family: Arial; font-size: 11px; color: #98A7B3; padding: 10px 0; margin: 10px 0 0 0; line-height: 100%; border-top: 2px dotted #98A7B3;">Ride Direct is a trading company of Motobrox Sport Ltd. Incorporated in England and Wales. Company Number: 06453317. VAT Number: 924765989. Registered Office: 119a Nun's Street, Derby, Derbyshire DE1 3LS<br />The information in this e-mail and any attachments to it are confidential. The contents may not be copied or used by anyone other than the addressee and must not be further disclosed without our permission. If you have received this e-mail by mistake, please notify the sender immediately and delete this e-mail and any attachments to it from your systems.</p>
<p style="font-family: Arial; font-size: 11px; color: #98A7B3; padding: 0; margin: 0; line-height: 100%;">WARNING: Although the company has taken reasonable precautions to ensure no viruses are present in this e-mail, the company cannot accept responsibility for any loss or damage arising from the use of this e-mail or any attachments to it.</p>