<div id="large-image-container" class="image-overlay ui-helper-hidden">
	<div id="image-zoom-container">
		<img id="large-image" class="product-large-image" src="" border="0" alt="">
	</div>
	<p id="large-image-title"></p>
	<div class="ac">
		<button data-icon-primary="ui-icon-closethick" class="button-margin action-close-large-image button ui-button-red">Close Image</button>
	</div>
</div>