<div id="cookie-policy" class="cookie-policy ui-helper-hidden">
	<img class="fr" src="{{ asset('/bundles/webilluminationshop/images/icons/cookies.png') }}" width="50" height="38" border="0" alt="Cookies" />
	<h2>Cookie Policy</h2>
	<div id="cookie-policy-disclaimer">
		<p>This website uses cookies to track and improve the visitor experience. These cookies do not hold any personal data.</p>
		<p class="accept-cookie-policy"><a class="action-decline-cookies" title="Decline Cookies" href="Javascript:void(0);"></a><a class="action-accept-cookies" title="Accept Cookies" href="Javascript:void(0);"></a><strong>Happy to accept</strong><br /><a href="{{ path('content_cookie_policy') }}">Learn more</a></p>
	</div>
</div>