<div class="search-box-container">
	<div class="search-box" id="search_box">
		<img class="fl" src="{{ asset('/bundles/webilluminationshop/images/icons/magnifying-glass.png') }}" width="28" height="28" border="0" alt="Magnifying Glass" />
		<input id="quick_search" type="text" placeholder="Product Code, Brand, Name…" />
		<button class="fr action-quick-search button ui-button-blue">Search</button>
	</div>
</div>