<div class="ui-helper-hidden more-information-detail" id="order-items-{{ item.id }}">
	<h5 class="no-margin-top">Order Information</h5>
	<div id="item-information-details-loading-{{ item.id }}" class="loading-container">
		<p class="ac"><img class="no-float" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
		<p class="ac">Loading&hellip;</p>
	</div>
	<div class="sub-table-data-container" id="item-information-details-{{ item.id }}" class="ui-helper-hidden"></div>
</div>