<div id="listing-settings">
	<div class="fl">
		<div class="listing-settings-title fl">Sort By</div>
		<select id="form-sort-order" class="fl">
			<option{% if settings.listingSortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest Orders</option>
			<option{% if settings.listingSortOrder == 'id:DESC' %} selected="selected"{% endif %} value="id:DESC">Order Number: Last Orders Placed First</option>
			<option{% if settings.listingSortOrder == 'id:ASC' %} selected="selected"{% endif %} value="id:ASC">Order Number: First Orders Placed First</option>
			<option{% if settings.listingSortOrder == 'total:DESC' %} selected="selected"{% endif %} value="total:DESC">Order Total: Highest First</option>
			<option{% if settings.listingSortOrder == 'total:ASC' %} selected="selected"{% endif %} value="total:ASC">Order Total: Lowest First</option>
			<option{% if settings.listingSortOrder == 'firstName:ASC' %} selected="selected"{% endif %} value="firstName:ASC">First Name: Alphabetically (A-Z)</option>
			<option{% if settings.listingSortOrder == 'firstName:DESC' %} selected="selected"{% endif %} value="firstName:DESC">First Name: Alphabetically (Z-A)</option>
			<option{% if settings.listingSortOrder == 'firstName:ASC' %} selected="selected"{% endif %} value="firstName:ASC">Last Name: Alphabetically (A-Z)</option>
			<option{% if settings.listingSortOrder == 'lastName:DESC' %} selected="selected"{% endif %} value="lastName:DESC">Last Name: Alphabetically (Z-A)</option>
			<option{% if settings.listingSortOrder == 'emailAddress:ASC' %} selected="selected"{% endif %} value="emailAddress:ASC">Email Address: Alphabetically (A-Z)</option>
			<option{% if settings.listingSortOrder == 'emailAddress:DESC' %} selected="selected"{% endif %} value="emailAddress:DESC">Email Address: Alphabetically (Z-A)</option>
		</select>
	</div>
    <div class="fr">
    	<div class="listing-settings-title fl">Per Page</div>
        <select class="fl" id="form-max-results">
			<option{% if settings.listingMaxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
			<option{% if settings.listingMaxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
			<option{% if settings.listingMaxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
			<option{% if settings.listingMaxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
			<option{% if settings.listingMaxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
		</select>
		<input type="hidden" id="form-current-page" value="1" />
	</div>
    <div class="clear"></div>
</div>