<div class="floating-buttons-toolbar">
	<div class="floating-buttons-container">
		<div class="floating-buttons">
			<div class="fl no-margin no-padding">
				<input type="checkbox" id="form-notify-customer" value="1" /><label class="small">Update Customers?</label>
			</div>
			<div class="fr no-margin no-padding">
	        	<button class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green action-update-orders" data-icon-primary="ui-icon-check">Update</button>
	        	<button class="fl button ui-corner-none ui-button-blue action-print-orders" data-icon-primary="ui-icon-print">Print Orders</button>
	        	<button class="fl button ui-corner-none ui-button-blue action-print-delivery-notes" data-icon-primary="ui-icon-print">Print Delivery Notes</button>
	        	<button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-confirm-delete-orders" data-icon-primary="ui-icon-closethick">Delete</button>
	        	<form id="load-selected-orders-for-print" method="post" action="/" target="_blank"></form>
	        </div>
	        <div class="clear"></div>
		</div>
	</div>
</div>