<div class="ui-helper-hidden more-information-detail" id="membership-card-customer-{{ membershipCard.id }}">
	<h5 class="no-margin-top">Customer</h5>
	<div id="customer-details-loading-{{ membershipCard.id }}">
		<p class="ac"><img src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
		<p class="ac">Loading&hellip;</p>
	</div>
	<div class="sub-table-data-container" id="customer-details-{{ membershipCard.id }}" class="ui-helper-hidden"></div>
</div>