{% if form.vars.valid is sameas(false) %}
    <div class="message message-error">
        <span class="ui-button-icon-primary ui-icon icon-white icon-850"></span>
        <p>There was a problem saving. Please, check the information below and try again.</p>
    </div>
{% endif %}