a {
  text-decoration: none;
  color: $primaryColour;
}

a:hover {
  text-decoration: underline;
}

a:focus {
    outline: none;
}

.top-menu {
  border-top: 5px solid $primaryColour;
  @include verticalGradientWhiteToGreyLight;
}

.social-media-interaction {
  float: left;
  padding: $spacingExtraSmall $spacingLarge $spacingExtraSmall 0;
}

.top-menu-links {
  float: right;
}

.top-menu-links a {
  @include textShadow($colourWhite, 0, 1px, 2px);
  line-height: 24px;
  color: $textColour;
  @include fontSize($fontSizeSmall);
}

nav.left-menu ul {
    margin: 0;
    padding: 0;
}

nav.left-menu ul li {
    margin: 0 0 5px 0;
    padding: 0 0 0 42px;
    width: 100%;

    position: relative;

    box-sizing: border-box;
    list-style: none;
    border: 1px solid #c5d2d6;
    border-radius: 4px;
    overflow: hidden;
}

nav.left-menu ul li.turquoise {
    border: 1px solid #007398;
}

nav.left-menu ul li.green {
    border: 1px solid #137f13;
}

nav.left-menu ul li .nav-icon {
    position: absolute;
    top: 3px;
    left: 5px;
}

nav.left-menu .button {
    margin: 0;
    width: 100%;

    box-shadow: none;
    border: 0 none;
    border-radius: 0;
    border-left: 2px solid #c5d2d6;
    box-sizing: border-box;
}

nav.left-menu li.turquoise .button {
    border-left: 2px solid #007398;
}

nav.left-menu li.green .button {
    border-left: 2px solid #137f13;
}

nav.left-menu .button .ui-button-icon-secondary {
    position: absolute;
    top: 3px;
    right: 5px;
}