a {
  text-decoration: none;
  color: $primaryColour;
}

a:hover {
  text-decoration: underline;
}

a:focus {
    outline: none;
}

.top-menu {
  border-top: 5px solid $primaryColour;
  @include verticalGradientWhiteToGreyLight;
}

.social-media-interaction {
  float: left;
  padding: $spacingExtraSmall $spacingLarge $spacingExtraSmall 0;
}

.top-menu-links {
  float: right;
}

.top-menu-links a {
  @include textShadow($colourWhite, 0, 1px, 2px);
  line-height: 24px;
  color: $textColour;
  @include fontSize($fontSizeSmall);
}