<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form fos_user_profile_edit">
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>

    <div class="clearfix">
        <button class="button button-green fr">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
