{% extends '::email.html.twig' %}
{% block title %}Kitchen Appliance Centre Site: URL Change{% endblock %}
{% block body %}
	<table cellspacing="0" border="0" style="background-color: #DDDDDD;" cellpadding="0" width="100%">
		<tr>
			<td valign="top" style="padding: 20px 0;">
				<table cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0" width="600">
					<tr>
						<td valign="top">
							<table cellspacing="0" border="0" cellpadding="0" width="600">
								<tr>
									<td valign="top" style="padding: 20px;" width="560">
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">A URL has changed on the Kitchen Appliance Centre site:</p>
										<table style="border-collapse: collapse; border: 1px solid #CCC;" cellspacing="0" border="0" cellpadding="0" width="560">
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Existing URL:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">http://www.kitchenappliancecentre.co.uk/{{ existingUrl }}.html</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>New URL:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">http://www.kitchenappliancecentre.co.uk/{{ url }}.html</td>
											</tr>
										</table>
										{% include '::emailFooter.html.twig' %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}