{% extends ':Old:email.html.twig' %}
{% block title %}Ride Direct Password Assistance{% endblock %}
{% block body %}
	<table cellspacing="0" border="0" style="background-color: #DDDDDD;" cellpadding="0" width="100%">
		<tr>
			<td valign="top" style="padding: 10px;">
				<table cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0" width="800">
					<tr>
						<td valign="top">
							<table cellspacing="0" border="0" cellpadding="0" width="800">
								<tr>
									<td valign="top" style="padding: 20px;" width="760">
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">We received a request to reset the password associated with this email address. If you made this request, please follow the instructions below.</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">Click on the link below to reset your password using our secure server:</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;"><a style="font-family: Arial; font-size: 11px; color: #5FA729;" target="_blank" href="{{ passwordResetLink }}">{{ passwordResetLink }}</a></p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">If you did not request to have your password reset you can safely ignore this email. Rest assured your account is safe.</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">If clicking the link does not seem to work, you can copy and paste the link into your browser's address bar, or retype it there. Once you have returned to the Kitchen Appliance Centre site, we will give you instructions on resetting your password.</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">Kitchen Appliance Centre will never email you and ask you to disclose or verify your Kitchen Appliance Centre password, credit card, or bank account number. If you receive a suspicious email with a link to update your account information, do not click on the link. Instead, report the email to Ride Direct for investigation.</p>
										{% include ':Old:emailFooter.html.twig' %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}