<div id="loading"> 
	<div id="container">
		<p id="content"><img id="loadinggraphic" width="16" height="16" src="/bundles/kacadmin/images/loaders/ajax-loader-eeeeee.gif" />Loading...</p>
	</div>
</div>