<table cellspacing="0" border="0" cellpadding="0" width="800">
	<tr>
		<td valign="top" style="padding: 20px 0 0 0;" align="left">
			<p style="padding: 0 0 5px 0; margin: 0;"><img width="300" height="50" alt="Kitchen Appliance Centre" border="0" src="http://www.kitchenappliancecentre.co.uk/bundles/kacshop/images/logos/kitchen-appliance-centre-email-logo.png" /></p>
			<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">t:</strong> 01159 385 111</p>
			<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">e:</strong>  <a style="font-family: Arial; font-size: 12px; color: #5FA729;" href="mailto:sales@kitchenappliancecentre.co.uk">sales@kitchenappliancecentre.co.uk</a></p>
			<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">w:</strong> <a style="font-family: Arial; font-size: 12px; color: #59C6F2;" href="http://www.kitchenappliancecentre.co.uk/">www.kitchenappliancecentre.co.uk</a></p>
		</td>
	</tr>
</table>
<p style="font-family: Arial; font-size: 9px; color: #83939C; padding: 10px 0; margin: 10px 0 0 0; line-height: 100%; border-top: 2px dotted #83939C;">Kitchen Appliance Centre is a trading company of Onefit Ltd. Incorporated in England and Wales. Company Number: 4605369. VAT Number: 728345716. Registered Office: Unit 3 Pentrich Road, Giltbrook Industrial Park, Giltbrook, Nottinghamshire, NG16 2UZ<br />The information in this e-mail and any attachments to it are confidential. The contents may not be copied or used by anyone other than the addressee and must not be further disclosed without our permission. If you have received this e-mail by mistake, please notify the sender immediately and delete this e-mail and any attachments to it from your systems.</p>
<p style="font-family: Arial; font-size: 9px; color: #83939C; padding: 0; margin: 0; line-height: 100%;">WARNING: Although the company has taken reasonable precautions to ensure no viruses are present in this e-mail, the company cannot accept responsibility for any loss or damage arising from the use of this e-mail or any attachments to it.</p>