<div id="listing-filter" class="no-padding-bottom listing-filter ui-helper-hidden">
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="25%"><label for="filter-name">Name</label></td>
				<td width="25%"><input type="text" id="filter-name" value="" /></td>
				<td class="label" width="25%"><label for="filter-membership-number">Membership Number</label></td>
				<td width="25%"><input type="text" id="filter-membership-number" value="" /></td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="15%"><label for="filter-email-address">Email Address</label></td>
				<td width="20%"><input type="text" id="filter-email-address" value="" /></td>
				<td class="label" width="15%"><label for="filter-contact-number">Contact Number</label></td>
				<td width="20%"><input type="text" id="filter-contact-number" value="" /></td>
				<td class="label" width="15%"><label for="filter-post-zip-code">Postcode</label></td>
				<td width="15%"><input type="text" id="filter-post-zip-code" value="" /></td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td class="label" width="15%"><label>Age</label></td>
				<td width="20%">
					<div class="filter-checkbox"><input type="checkbox" class="filter-age" value="Adult (18+)" />Adult (18+)</div>
					<div class="filter-checkbox"><input type="checkbox" class="filter-age" value="Youth (17 or under)" />Youth (17 or under)</div>
					<div class="filter-checkbox"><input type="checkbox" class="filter-age" value="Kid (6 and over)" />Kid (6 and over)</div>
					<input type="hidden" id="filter-age" value="" />
				</td>
				<td class="label" width="15%"><label>Day</label></td>
				<td width="20%">
					<div class="filter-checkbox"><input type="checkbox" class="filter-day" value="Saturday 3rd" />Saturday 3rd</div>
					<div class="filter-checkbox"><input type="checkbox" class="filter-day" value="Sunday 4th" />Sunday 4th</div>
					<input type="hidden" id="form-day" value="" />
				</td>
				<td class="label" width="15%"><label>VIP</label></td>
				<td width="15%">
					<div class="filter-checkbox"><input type="checkbox" class="filter-vip" value="1" />Yes</div>
					<div class="filter-checkbox"><input type="checkbox" class="filter-vip" value="0" />No</div>
					<input type="hidden" id="filter-vip" value="" />
				</td>
			</tr>
		</table>
	</div>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
		<button class="button bottom-button ui-button-red action-clear-filters" data-icon-primary="ui-icon-closethick">Clear Filters</button>
	</div>
</div>