<div id="add" class="form no-padding-bottom listing-filter ui-helper-hidden">
	<h4>Add New Practice Day Registration</h4>
	<div class="separator">
		<table width="100%">
			<tr>
				<td width="20%" class="label"><label><span class="required">*</span> VIP</label></td>
				<td>
					<label><input type="radio" class="add-vip" name="vip" value="1" /> Yes</label>
					<label><input type="radio" class="add-vip" name="vip" value="0" /> No</label>
				</td>
			</tr>
		</table>
		<table width="100%">
			<tr>
				<td width="20%" class="label"><label for="practice-day-registration-name"><span class="required">*</span> Name</label></td>
				<td width="15%" class="no-padding">
					<input type="text" id="practice-day-registration-name" data-message="Please enter a name." required="required" class="no-margin full" value="" />
				</td>
				<td width="20%" class="label"><label for="practice-day-registration-membership-number"><span class="required">*</span> Membership Number</label></td>
				<td width="15%" class="no-padding">
					<input type="text" id="practice-day-registration-membership-number" data-message="Please enter a membership number." required="required" class="no-margin integer full" value="" />
				</td>
				<td width="10%" class="label"><label for="practice-day-registration-age"><span class="required">*</span> Age</label></td>
				<td width="20%" class="no-padding">
					<select id="practice-day-registration-age" data-message="Please select an age range." required="required" class="no-margin integer full">
						<option value="">- Please Select -</option>
						<option value="Adult (18+)">Adult (18+)</option>
						<option value="Youth (17 or under)">Youth (17 or under)</option>
						<option value="Kid (6 and over)">Kid (6 and over)</option>
					</select>
				</td>
			</tr>
		</table>
		<table width="100%">
			<tr>
				<td width="20%" class="label"><label for="practice-day-registration-email-address"><span class="required">*</span> Email Address</label></td>
				<td width="15%" class="no-padding">
					<input type="email" id="practice-day-registration-email-address" data-message="Please enter a valid email address." required="required" class="no-margin lowercase full" value="" />
				</td>
				<td width="20%" class="label"><label for="practice-day-registration-contact-number"><span class="required">*</span> Contact Number</label></td>
				<td width="15%" class="no-padding">
					<input type="text" id="practice-day-registration-contact-number" data-message="Please enter a contact number." required="required" class="no-margin full" value="" />
				</td>
				<td width="10%" class="label"><label for="practice-day-registration-post-zip-code"><span class="required">*</span> Postcode</label></td>
				<td width="20%" class="no-padding">
					<input type="text" id="practice-day-registration-post-zip-code" data-message="Please enter a valid postcode." required="required" class="no-margin full" value="" />
				</td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td width="20%" class="label"><label for="practice-day-registration-bike"><span class="required">*</span> Bike Make, Model and CC</label></td>
				<td width="40%" class="no-padding">
					<input type="text" id="practice-day-registration-bike" data-message="Please enter your bike make, model and CC." required="required" class="no-margin full" value="" />
				</td>
				<td width="10%" class="label"><label for="practice-day-registration-day"><span class="required">*</span> Day</label></td>
				<td width="30%">
					<select id="practice-day-registration-day" data-message="Please select a day." required="required" class="no-margin integer full">
						<option value="">- Please Select -</option>
						<option value="Saturday 3rd">Saturday 3rd</option>
						<option value="Sunday 4th">Sunday 4th</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td width="20%" class="label"><label for="practice-day-registration-notes">Notes</label></td>
				<td width="80%" class="no-padding">
					<textarea id="practice-day-registration-notes" class="no-margin full"></textarea>
				</td>
			</tr>
		</table>
	</div>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-add-practice-day-registration" data-icon-primary="ui-icon-tag">Add New Practice Day Registration</button>
		<button class="button bottom-button ui-button-blue action-cancel-add-practice-day-registration">Cancel</button>
	</div>
</div>