<div class="floating-buttons-toolbar">
	<div class="floating-buttons-container">
		<div class="floating-buttons">
			<div class="fr no-margin no-padding">
	        	<button class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green action-view-add" data-icon-primary="ui-icon-plusthick">Add New Practice Day Registration</button>
	        	<button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-confirm-deletes" data-icon-primary="ui-icon-closethick">Delete Selected Practice Day Registrations</button>
	        </div>
	        <div class="clear"></div>
		</div>
	</div>
</div>