{% extends 'KACSiteBundle::base.html.twig' %}

{% block admin_submenu %}
    <div class="widget widget-1-of-4">
        <a class="fl" href="{{ path('listing_products') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-947"></span></a>
        <h3 class="pts pbs"><a href="{{ path('listing_products') }}">View Products</a></h3>
    </div>
    <div class="widget widget-1-of-4">
        <a class="fl" href="{{ path('products_new') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1121"></span></a>
        <h3 class="pts pbs"><a href="{{ path('products_new') }}">New Product</a></h3>
    </div>
{% endblock %}