{% extends 'KACSiteBundle:NewProduct:base.html.twig' %}

{% block title %}New Products | {{ parent() }}{% endblock %}

{% block header %}
    <header class="sticky">
        <button type="button" data-object="products" class="actionAddFormGroup mlm fr button icon-green" data-icon-secondary="icon-1122">Add</button>
        <h2>New Products</h2>
    </header>
{% endblock %}
{% block body %}
    <form class="form" method="post" novalidate="novalidate" action="">
        <section id="products" data-prototype="{% filter escape %}{% include 'KACSiteBundle:NewProduct/Includes:newCollectionGroup.html.twig' with {'form': form.products.vars.prototype} %}{% endfilter %}">

        </section>
    </form>

    <script type="text/javascript">
        function addFormGroup($object) {
            var $newGroup = $object.data("prototype");
            var groupCount = $object.children().length + 1;
            if ($object.find(".no-data").length > 0)
            {
                $object.find(".no-data").hide();
            }
            $newGroup = $newGroup.replace(/__name__/g, groupCount);
            $newGroup = $("<div />").html($newGroup);
            $newGroup.appendTo($object);
            generateFormElements($newGroup);
            generateButtons($newGroup);
            loadUiFunctions();
            return true;
        }

        $(document).ready(function() {
            addFormGroup($("#products"));

            $(document).on("click", ".actionAddFormGroup", function() {
                addFormGroup($("#" + $(this).data("object")));
            });

            var $placholderOption = $('<option value="">- Select a Department -</option>');
            $("select.select-department").select2();
            $("#departmentList").on("rowadded", function() {
                $("select.select-department").each(function() {
                    $(this).select2();
                    if ($(this).find("option[value='']").length < 1) {
                        $(this).prepend($placholderOption).select2();
                    }
                    if ($(this).find("option[selected='selected']").length < 1) {
                        $(this).select2("val", "");
                    }
                });
            });
        });


    </script>
{% endblock %}