<a name="buyNow"></a>
<div class="widget-group clearfix mbl">
    <div class="widget widget-1-of-1">
        <div class="ui-widget">
            <header class="ui-widget-header ui-corner-top">
                <h2>1. Select a Worktop Thickness</h2>
            </header>
            <section class="ui-widget-content ui-corner-bottom clearfix">
                <fieldset class="man">
                    <div class="form-element widget-group clearfix">
                        <div class="widget widget-1-of-3">
                            <label for="formWorktopThickness42">Worktop Thickness</label>
                        </div>
                        <div class="widget radio-group widget-2-of-3">
                            <input type="radio" id="formWorktopThickness42" name="worktop-thickness" value="42" checked="checked" /><label for="formWorktopThickness42">42mm</label>
                            <input type="radio" id="formWorktopThickness54" name="worktop-thickness" value="54" /><label for="formWorktopThickness54">54mm</label>
                            <input type="radio" id="formWorktopThickness28" name="worktop-thickness" value="28" /><label for="formWorktopThickness28">28mm</label>
                        </div>
                    </div>
                </fieldset>
            </section>
        </div>
    </div>
</div>