<section>
    <form class="form">
        <fieldset>
            <legend class="clearfix fill">Your Details</legend>
            <div class="clear"></div>
            <div class="form-element widget-group clearfix">
                <span title="Enter your full name." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="formName"><span class="required">*</span> Name</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="formName" name="name" class="fill" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter the 1st line of your address." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="fromAddressLine1"><span class="required">*</span> Address Line 1</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="fromAddressLine1" name="address-line-1" class="fill" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter the 2nd line of your address." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="fromAddressLine2">Address Line 2</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="fromAddressLine2" name="address-line-2" class="fill" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter a town or city." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="formTownCity"><span class="required">*</span> Town/City</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="formTownCity" name="town-city" class="fill" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter a valid UK postcode." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="formPostcode"><span class="required">*</span> Postcode</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="formPostcode" name="postcode" size="10" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter your contact number." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="formContactNumber"><span class="required">*</span> Contact Number</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="formContactNumber" name="contact-number" class="fill" value="" />
                    </div>
                </div>
            </div>
            <div class="form-element widget-group clearfix">
                <span title="Enter a valid email address." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span>
                <div class="widget widget-1-of-3">
                    <label for="formEmailAddress"><span class="required">*</span> Email Address</label>
                </div>
                <div class="widget widget-2-of-3">
                    <div class="clearfix">
                        <input type="text" id="formEmailAddress" name="email-address" class="fill" value="" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="clearfix">
            <button type="submit" class="button button-green icon-white mlm fr" data-icon-secondary="icon-310">Send Request</button>
        </div>
    </form>
</section>