<section>
    <div class="widget-group pam clearfix">
        <div class="widget widget-2-of-3">
            <p class="summary">Seamless joins and a silky smooth finish make maia’s designer worksurfaces a luxurious addition to your home. Available in a range of colours to suit every home, maia solid surfaces by Sylmar are both functional and beautiful.</p>
            <p class="summary mbn">With six new colours inspired by the very latest in kitchen designs, all maia worksurfaces are highly heat resistant, impenetrable to dust, dirt and bacteria and are easy to clean. With a variety of modular options, there's no limit to the flexibility of maia's comprehensive worksurface range.</p>
        </div>
        <div class="widget widget-1-of-3">
            <img class="content-image" width="100%" src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" alt="maia Worktops" />
        </div>
</section>