<section>
    <h3>maia Technology</h3>
    <p class="mbn">Made from the finest of materials, maia's high technology surface consists of acrylic resin, two thirds aluminium hydroxide and colour pigments. The properties of these components combine to form a versatile practical material, with the appearance of real stone but without the associated cost or inherent drawbacks. In fact, maia's surface presents many benefits over stone such as its greater heat resistance, virtually inconspicuous joints, aesthetically appealing and smooth feel.</p>
</section>