<section>
    <div class="widget-group pam clearfix">
        <div class="widget widget-2-of-3">
            <p>If you're looking to add a touch of luxury to your home then look no further than the seamless and sleek range of maia® worktops and bathroom countertops on offer at the Kitchen Appliance Centre.</p>
            <p>Many of us fill our kitchens with high tech gadgets and gizmos, so why not make sure that your work surfaces are just as up to date as the rest of your kitchen?</p>
            <p>Maia surfaces are manufactured from acrylic resin, two thirds aluminium hydroxide and colour pigments and come with a ten year guarantee. The final result is a product that is not only highly durable, offering a number of benefits that stone just can’t deliver, such as greater heat resistance and a non-porous surface that naturally repels stains from household products, but also incredibly attractive. The seamless corner joints, natural granite look and a super smooth finish makes maia® one of the most popular choices for a timeless and effortlessly stunning kitchen. The combination of function and beauty never goes out of style, and neither will your maia® worktops!</p>
            <p>It doesn't stop at work surfaces though; maia® also produces a range of splash backs, plinths, end panels and built in sink modules that will help you to create the kitchen of your dreams. All of which come with the same durability, scratch and stain resistant properties as the worktops.</p>
            <p>Whether you want to create a show-stopping island as a centre piece or make your kitchen the focal point of your home, maia® will help you achieve a flawless finish every time. You can even enjoy the maia® luxury in your bathroom with their beautiful range of bathroom work tops.</p>
            <p>All worktops are available in a wide range of colours, depths, lengths and corner finishes for the ultimate design control. Make the right choice; choose maia® for flexible, affordable luxury.</p>
        </div>
        <div class="widget widget-1-of-3">
            <img class="content-image" width="100%" src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" alt="maia Worktops" />
        </div>
</section>