<section>
    <p class="summary">Compliment your kitchen with this maia solid surface worktop, with seamless joints, square front profile this worktop in {{ worktopColour }} will look stunning in your kitchen.</p>
    <p class="summary">The maia solid surface worktop is heat and stain resistant, with one of the best benefits being that scratches can easily be sanded and polished away. Giving you the perfect finish for years to come.</p>
    <p class="summary mbn">This solid surface worktop can be fitted using standard joinery tools.</p>
</section>