<section>
    <table class="data-table">
        <thead>
        <tr>
            <th colspan="2">Product Feature</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
            <td width="1" class="nowrap tar">Material Finish</td>
            <td><strong>Solid Surface</strong></td>
        </tr>
        <tr class="even">
            <td width="1" class="nowrap tar">Colour</td>
            <td><strong>{{ worktopColour }}</strong></td>
        </tr>
        <tr class="odd">
            <td width="1" class="nowrap tar">Finish Group</td>
            <td><strong>Semi Gloss</strong></td>
        </tr>
        <tr class="even">
            <td width="1" class="nowrap tar">Item</td>
            <td><strong>Worktop</strong></td>
        </tr>
        <tr class="odd">
            <td width="1" class="nowrap tar">Worktop</td>
            <td><strong>Solid Surface</strong></td>
        </tr>
        </tbody>
    </table>
</section>