{% set worktopColour = "Meteorite" %}
{% set worktopDescription = "Gorgeous browns and olives combine with copper metallic particles to deliver luxurious warmth. Not as stark as black, Meteorite works well with cream, white and light coloured woods." %}
{% set productCodePrefix = 'MET' %}
{% set fromPrice = 349 %}
{% set worktopNumber = 4 %}
{% set startingId = 10000 + (1000 * worktopNumber) %}
{% set currentId = startingId %}
{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}maia Worktops in {{ worktopColour }} from Kitchen Appliance Centre{% endblock %}
{% block body %}
    <section class="product">
        {% include 'KACSiteBundle:Maia:maiaBreadcrumbs.html.twig' %}
        {% include 'KACSiteBundle:Maia:maiaColourIntroduction.html.twig' with {'worktopColour': worktopColour, 'worktopDescription': worktopDescription, 'fromPrice': fromPrice} %}
        {% include 'KACSiteBundle:Maia:maiaWorktopThickness.html.twig' %}
        {% include 'KACSiteBundle:Maia:maiaWorktopsPriceBand1.html.twig' with {'worktopColour': worktopColour, 'productCodePrefix': productCodePrefix, 'currentId': currentId} %}
        {% include 'KACSiteBundle:Maia:maiaColours.html.twig' %}
        {% include 'KACSiteBundle:Maia:maiaInformationDialogues.html.twig' %}
    </section>
    {% include 'KACSiteBundle:Maia:maiaColour.js.twig' %}
{% endblock %}
