<section>
    <h3>maia Care</h3>
    <p>maia solid surfaces come with a ten-year guarantee<span class="colour-red">*</span>, and are supported by the FIRA Gold Award for product excellence – this is testimony to the fact we only use the most superior materials, and our products are constantly tested to ensure they are manufactured to the highest possible standards.<span class="colour-red">*</span> <em>Guarantee covers manufacturing, not installation.</em></p>
    <p>maia has been developed to be used in the domestic environment - particularly the kitchen. Although no 'special' maintenance is needed we recommend the following is adhered to, as prevention is always better than cure.</p>
    <h3>Routine Cleaning</h3>
    <p>maia does not require any specialist cleaning regimes – most dirt and light residue will easily wipe away with a damp cloth and soapy water. The worksurface should then be rinsed with clean water and wiped dry. Persistent marks can be removed by using a mild-abrasive cleaner, but harsh scouring powders should be avoided. If in doubt, consult our care and maintenance guide.</p>
    <h3>Heat</h3>
    <p>maia's surfaces will withstand heat better than many alternative surface materials. However, all hot pots, pans and other heat generating devices should always be placed upon a trivet or worktop protector rods, to prevent extreme heat having prolonged and direct contact with the surface. Boiling water and cooking splashes do not harm the surface.</p>
    <h3>Staining</h3>
    <p>maia, unlike marble and granite, will resist most household chemicals including alcohol and cosmetics however, some chemicals and strong dyes can cause damage and discolouration. If spillage occurs wipe off immediately and rinse area thoroughly.</p>
    <h3>Minor Scratching</h3>
    <p>Kitchen utensils and crockery (particularly the unglazed bases) can sometimes cause scratches that will be particularly evident on darker colours. The surface can be damaged by scratching or cutting with knives, so the use of a cutting board is essential. Don’t worry though, any minor scratches can easily be removed using a red abrasive pad and other items from the care kit, please refer to the care and maintenance guide.</p>
    <h3>maia Care Kit</h3>
    <p>To help maintain your maia worksurface, a Care Kit is available from your retailer or online here. This kit contains all that you need to make minor repairs to the surface and a special polish that helps to maintain, protect and build up a lustre particularly on darker colours.</p>
</section>