<div class="widget-group clearfix mtm mbm">
    <div class="widget widget-7-of-8">
        <ul class="breadcrumbs mtn">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="z-index: 5;"><a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Kitchen Appliances</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="z-index: 4;"><a itemprop="url" href="{{ path('routing', {'url': 'kitchen-worktops-countertops-solid-surfaces-kitchen-worktops-uk'}) }}"><span itemprop="title">Worktops & Splashbacks</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="z-index: 3;"><a itemprop="url" href="{{ path('routing', {'url': 'worktops-and-splashbacks/kitchen-worktops'}) }}"><span itemprop="title">Kitchen Worktops</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="z-index: 2;"><a itemprop="url" href="{{ path('routing', {'url': 'solid-surface-worktops-solid-surface-kitchen-worktop-apollo-slab-tech-solid-surface-uk'}) }}"><span itemprop="title">Solid Surface Worktop</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="z-index: 1;"><span itemprop="title">maia Worktops</span></li>
        </ul>
    </div>
</div>