<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-69"></span>
                    <h2>4. Features</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'WebIlluminationSiteBundle:Product:newErrors.html.twig' %}
                    <fieldset>
                        <table class="data-table" id="product-variant-list" width="100%">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in form.variants %}
                                {{ form_widget(row) }}
                            {% endfor %}
                            </tbody>
                            {% do form.variants.setRendered() %}
                        </table>
                    </fieldset>

                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'WebIlluminationSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>