    <header>
        <h2>Test</h2>
    </header>
    <section class="container_6 clearfix">
        <div class="grid_6">
            <div class="portlet">
                <header>
                    <h2>Test</h2>
                </header>
                <section>
                   <p>Test!</p>
                </section>
            </div>
        </div>
        <div class="clear"></div>
    </section>
