@import "compass";
@import "../includes/base";

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    float: left;
    margin: 0 2px;
}
.pagination li a {
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-family: Arial, 'Bitstream Vera Sans', sans-serif;
    height: 20px;
    line-height: 20px;
    outline: none !important;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
}
.pagination li.current a {
    background: #6c8087!important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODQyNDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
    background: -moz-linear-gradient(top,  #6c8087 0%, #384246 100%)!important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c8087), color-stop(100%,#384246))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6c8087 0%,#384246 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6c8087 0%,#384246 100%)!important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6c8087 0%,#384246 100%)!important; /* IE10+ */
    background: linear-gradient(top,  #6c8087 0%,#384246 100%)!important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c8087', endColorstr='#384246',GradientType=0 )!important; /* IE6-8 */
    color: #FFF!important;
    text-shadow: 0 1px 0 #384246!important;
    border: 1px solid #384246!important;
}
.pagination li.current a:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}