{% for item in app.session.get('basket').products %}
    {% if item.productId == productId and (variantId is not defined or item.variantId == variantId) %}
        <div class="items-added man">
            <h4>Added to your basket</h4>
            <p>{{ item.quantity }} in your basket</p>
            <div class="tal clearfix">
                <a href="{{ path('basket_your_basket') }}" class="button button-small button-grey icon-grey mrs">View Basket</a>
                <a href="{{ path('basket_your_basket') }}" class="button button-small button-green uppercase icon-white" data-icon-secondary="icon-472">Checkout</a>
            </div>
        </div>
    {% endif %}
{% endfor %}