{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Add New Product | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Add New Product</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-2-of-7">
                {% include 'KACSiteBundle:Product:newLeftMenu.html.twig' %}
            </div>
            <div class="widget widget-5-of-7">
                {% include 'KACSiteBundle:Product:new_Step'~flow.getCurrentStepNumber()~'.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}