<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-700"></span>
                    <h2>3. Prices</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label for="formProductCode">Apply Base Product Code</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <input type="text" id="formProductCode" name="productCode" class="fl uppercase" size="15" value="" />
                                <button type="button" class="actionApplyProductCode fl button icon-grey mls" data-icon-secondary="icon-465">Apply</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="pbm">
                        <table class="form-table" id="productVariantList">
                            <thead>
                                <tr>
                                    <th>Combination</th>
                                    <th>Product Code</th>
                                    <th>RRP</th>
                                    <th>List Price</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for variant in form.variants %}
                                    {{ form_widget(variant) }}
                                {% endfor %}
                            </tbody>
                            {% do form.variants.setRendered() %}
                        </table>
                    </fieldset>
                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $(".actionApplyProductCode").click(function() {
            var $productCode = $("#formProductCode").val();
            $("#productVariantList").find("tr input:nth-child(1)").each(function() {
                if (!$(this).val()) {
                    $(this).val($productCode);
                }
            });
        })
    })
</script>