<header class="clearfix">
    <div class="top-menu">
        <div class="container">
            {% include 'KACSiteBundle:Includes:socialMediaInteractions.html.twig' %}
            {% include 'KACSiteBundle:Includes:topMenu.html.twig' %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            {% include 'KACSiteBundle:Includes:logo.html.twig' %}
            {% include 'KACSiteBundle:Includes:search.html.twig' %}
            {% render(controller('KACSiteBundle:Basket:summary')) %}
            <div class="clear"></div>
        </div>
    </div>
    {% render(controller('KACSiteBundle:Department:mainMenu')) %}
    {% include 'KACSiteBundle:Includes:uniqueSellingPoints.html.twig' %}
    {% include 'KACSiteBundle:Includes:flashMessages.html.twig' %}
</header>