<header class="clearfix">
    <div class="top-menu">
        <div class="container">
            {% include 'KACSiteBundle:Includes:socialMediaInteractions.html.twig' %}
            {% include 'KACSiteBundle:Includes:topMenu.html.twig' %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="header">
        <div class="container pr">
            <div class="widget-group clearfix">
                <div class="widget widget-1-of-4">
                    {% include 'KACSiteBundle:Includes:logo.html.twig' %}
                </div>
                <div class="widget widget-1-of-2">
                    <div class="mll mrl">
                        {% include 'KACSiteBundle:Includes:search.html.twig' %}
                    </div>
                </div>
                <div class="widget widget-1-of-4">
                    <div id="basket-summary" data-url="{{ path('basket_summary') }}">
                        <div class="pts pbs plm prm">
                            {% render(controller('KACSiteBundle:Basket:summary')) %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ render_esi(controller('KACSiteBundle:System:mainMenu')) }}
    {% include 'KACSiteBundle:Includes:uniqueSellingPoints.html.twig' %}
</header>