<header class="clearfix">
    <div class="top-menu">
        <div class="container">
            {% include 'KACSiteBundle:Includes:socialMediaInteractions.html.twig' %}
            {% include 'KACSiteBundle:Includes:topMenu.html.twig' %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="header">
        <div class="container pr">
            {% include 'KACSiteBundle:Includes:logo.html.twig' %}
            {% include 'KACSiteBundle:Includes:search.html.twig' %}
            <div id="basket-summary" data-url="{{ path('basket_summary') }}">
                {% render(controller('KACSiteBundle:Basket:summary')) %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {% render(controller('KACSiteBundle:System:mainMenu')) %}
    {% include 'KACSiteBundle:Includes:uniqueSellingPoints.html.twig' %}
    {% include 'KACSiteBundle:Includes:flashMessages.html.twig' %}
</header>