<div class="loading-container">
    <div class="loading">
        <div class="loading-animation">
            <div class="outer-loading-circle"></div>
            <div class="inner-loading-circle"></div>
            <div class="loading-text">Please wait, loading...</div>
        </div>
    </div>
</div>