<div class="loading-container">
    <div class="loading">
        Loading...<br />
        <img src="{{ asset('bundles/kacsite/images/loaders/bars.gif') }}" alt="Loading..." border="0" />
    </div>
</div>