{% extends 'KACSiteBundle::base.html.twig' %}
{% block body %}
    <section>
        {% include 'KACSiteBundle:Includes:loading.html.twig' %}
    </section>
    <script type="text/javascript">
        window.parent.location = window.parent.location;
    </script>
{% endblock %}
