<div class="floating-advert-container floating-advert-container-right">
    {% block rightAdvertContainer %}
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <a href="{{ path('routing', {'url': 'neff'}) }}"><img width="160" src="{{ asset('/bundles/kacsite/images/icons/neff-accredited-appliance-retailer.png') }}" alt="Neff Accredited Appliance Retailer" /></a>
            </div>
            <div class="mtm widget widget-1-of-1">
                <a href="{{ path('content_the_distributor_take_back_scheme') }}"><img width="250" src="{{ asset('/bundles/kacsite/images/icons/recycle-more.png') }}" alt="Recycle More" /></a>
            </div>
        </div>
    {% endblock %}
</div>