<div class="search-container">
    <form class="search-box" method="GET" action="{{ path('listing_search') }}">
        <label for="formSearch"><span class="ui-button-icon-primary ui-icon icon-grey icon-370"></span></label>
		<input id="formSearch" name="q" type="text" placeholder="Product Code, Brand, Name..." autocomplete="off" value="{{ app.request.query.get('q', '') }}" />
        <span class="ui-button-icon-primary ui-icon icon-dark-red icon-1117"></span>
		<button type="submit" class="fr ui-button button button-turquoise uppercase">Search</button>
	</form>
</div>