$backgroundColour: #384246;

$textColour: #444;

$primaryColour: #4ec0e3;


$colourWhite: #fff;

$colourBlack: #000;

$colourGreyExtraLight: #e4eaec;
$colourGreyLight: #c5d2d6;
$colourGrey: #6c8087;
$colourGreyDark: #384246;