@mixin verticalGradient($topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $topColour;
    background: -moz-linear-gradient(top,  $topColour 0%, $bottomColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topColour), color-stop(100%, $bottomColour));
    background: -webkit-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -o-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -ms-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: linear-gradient(top, $topColour 0%, $bottomColour 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#{$topColour}', endColorstr = '#{$bottomColour}', GradientType = 0);
    @include background-image(linear-gradient(top, $topColour, $bottomColour));
    background-repeat: no-repeat;
}

@mixin highlightedVerticalGradient($highlightColour, $topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $topColour;
    background: -moz-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $highlightColour), color-stop(5%, $topColour), color-stop(100%, $bottomColour));
    background: -webkit-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -o-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: -ms-linear-gradient(top, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    background: linear-gradient(to bottom, $highlightColour 0%, $topColour 5%, $bottomColour 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#{$topColour}', endColorstr = '#{$bottomColour}', GradientType = 0);
    @include background-image(linear-gradient(top, $highlightColour, $topColour 5%, $bottomColour 100%));
    background-repeat: no-repeat;
}

@mixin highlightedVerticalGradientReversed($highlightColour, $topColour, $bottomColour) {
    $experimental-support-for-svg: true;
    background: $bottomColour;
    background: -moz-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bottomColour), color-stop(95%, $topColour), color-stop(100%, $highlightColour));
    background: -webkit-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -o-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: -ms-linear-gradient(top, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    background: linear-gradient(to bottom, $bottomColour 0%, $topColour 95%, $highlightColour 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#{$bottomColour}', endColorstr = '#{$topColour}', GradientType = 0);
    @include background-image(linear-gradient(bottom, $highlightColour, $topColour 5%, $bottomColour 100%));
    background-repeat: no-repeat;
}

@mixin verticalGradientGreyExtraLightToWhite {
    @include verticalGradient($colourGreyExtraLight, $colourWhite);
}

@mixin verticalGradientWhiteToGreyExtraLight {
    @include verticalGradient($colourWhite, $colourGreyExtraLight);
}

@mixin verticalGradientWhiteToGreyLight {
    @include verticalGradient($colourWhite, $colourGreyLight);
}

@mixin verticalGradientGreyLightToWhite {
    @include verticalGradient($colourGreyLight, $colourWhite);
}

@mixin verticalGradientGreyLightToGrey {
    @include verticalGradient($colourGreyLight, $colourGrey);
}

@mixin verticalGradientGreyToGreyDark {
    @include verticalGradient($colourGrey, $colourGreyDark);
}

@mixin highlightedVerticalGradientBlack {
    @include highlightedVerticalGradient($colourGreyLight, $colourGreyDark, $colourBlack);
}

@mixin highlightedVerticalGradientBlackReversed {
    @include highlightedVerticalGradientReversed($colourGreyLight, $colourGreyDark, $colourBlack);
}

@mixin highlightedVerticalGradientGrey {
    @include highlightedVerticalGradient($colourWhite, $colourGreyLight, $colourGrey);
}

@mixin highlightedVerticalGradientGreyReversed {
    @include highlightedVerticalGradientReversed($colourWhite, $colourGreyLight, $colourGrey);
}

@mixin highlightedVerticalGradientGreyLight {

    @include highlightedVerticalGradient($colourWhite, $colourGreyExtraLight, $colourGreyLight);
}

@mixin highlightedVerticalGradientGreyLightReversed {
    @include highlightedVerticalGradientReversed($colourWhite, $colourGreyExtraLight, $colourGreyLight);
}

@mixin highlightedVerticalGradientDarkRed {
    @include highlightedVerticalGradient($colourDarkRedExtraLight, $colourDarkRedLight, $colourDarkRed);
}

@mixin highlightedVerticalGradientDarkRedReversed {
    @include highlightedVerticalGradientReversed($colourDarkRedExtraLight, $colourDarkRedLight, $colourDarkRed);
}

@mixin highlightedVerticalGradientRed {
    @include highlightedVerticalGradient($colourRedExtraLight, $colourRedLight, $colourRed);
}

@mixin highlightedVerticalGradientRedReversed {
    @include highlightedVerticalGradientReversed($colourRedExtraLight, $colourRedLight, $colourRed);
}

@mixin highlightedVerticalGradientOrange {
    @include highlightedVerticalGradient($colourOrangeExtraLight, $colourOrangeLight, $colourOrange);
}

@mixin highlightedVerticalGradientOrangeReversed {
    @include highlightedVerticalGradientReversed($colourOrangeExtraLight, $colourOrangeLight, $colourOrange);
}

@mixin highlightedVerticalGradientYellow {
    @include highlightedVerticalGradient($colourYellowExtraLight, $colourYellowLight, $colourYellow);
}

@mixin highlightedVerticalGradientYellowReversed {
    @include highlightedVerticalGradientReversed($colourYellowExtraLight, $colourYellowLight, $colourYellow);
}

@mixin highlightedVerticalGradientGreen {
    @include highlightedVerticalGradient($colourGreenExtraLight, $colourGreenLight, $colourGreen);
}

@mixin highlightedVerticalGradientGreenReversed {
    @include highlightedVerticalGradientReversed($colourGreenExtraLight, $colourGreenLight, $colourGreen);
}

@mixin highlightedVerticalGradientTurquoise {
    @include highlightedVerticalGradient($colourTurquoiseExtraLight, $colourTurquoiseLight, $colourTurquoise);
}

@mixin highlightedVerticalGradientTurquoiseReversed {
    @include highlightedVerticalGradientReversed($colourTurquoiseExtraLight, $colourTurquoiseLight, $colourTurquoise);
}

@mixin highlightedVerticalGradientBlue {
    @include highlightedVerticalGradient($colourBlueExtraLight, $colourBlueLight, $colourBlue);
}

@mixin highlightedVerticalGradientBlueReversed {
    @include highlightedVerticalGradientReversed($colourBlueExtraLight, $colourBlueLight, $colourBlue);
}