@mixin transition($property, $duration, $type)
{
    -webkit-transition: $property $duration $type;
    -moz-transition: $property $duration $type;
    -ms-transition: $property $duration $type;
    -o-transition: $property $duration $type;
}

@mixin transitionAll($duration, $type)
{
    -webkit-transition: all $duration $type;
    -moz-transition: all $duration $type;
    -ms-transition: all $duration $type;
    -o-transition: all $duration $type;
}