<section id="images" class="form ui-helper-hidden">
	<h2>Images</h2>
	<div class="clearfix">
		<div id="image-loading-error" class="ui-widget message margin-bottom-5 ui-helper-hidden">
		    <div class="ui-state-error no-margin-top ui-corner-all">
		    	<span class="ui-icon ui-icon-alert"></span>
		        <p class="no-margin"><strong>ERROR:</strong> Sorry, there was a problem loading the images. Please contact support and advise.</p>
		    </div>
		</div>
		<div id="ajax-images-loading" class="ac">
			<p>Loading images, please wait&hellip;</p>
			<p><img alt="Loading" width="16" height="16" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-loader-eeeeee.gif') }}" /></p>
		</div>
		<div id="ajax-images" class="ui-helper-hidden"></div>
	</div>
</section>