{# Update the Internet Browsers list #}
function updateInternetBrowsers()
{
	if ($("#form-operating-system option[value='"+$("#form-operating-system").val()+"']").attr("data-operating-system") == "Windows")
	{
		if ($("#form-internet-browser option[value='"+$("#form-internet-browser").val()+"']").attr("data-operating-system") != "Windows")
		{
			$("#form-internet-browser option").remove();
			$("#uniform-form-internet-browser span").html("- Please Select -");
			$("#form-internet-browser").append('<option value="">- Please Select -</option>');
			$("#form-internet-browser").append('<option data-operating-system="Windows" value="Google Chrome">Google Chrome</option>');
			$("#form-internet-browser").append('<option data-operating-system="Windows" value="Microsoft Internet Explorer">Microsoft Internet Explorer</option>');
			$("#form-internet-browser").append('<option data-operating-system="Windows" value="Mozilla Firefox">Mozilla Firefox</option>');
			$("#form-internet-browser").append('<option data-operating-system="Windows" value="Opera">Opera</option>');
		}
	} else if ($("#form-operating-system option[value='"+$("#form-operating-system").val()+"']").attr("data-operating-system") == "Mac") {
		if ($("#form-internet-browser option[value='"+$("#form-internet-browser").val()+"']").attr("data-operating-system") != "Mac")
		{
			$("#form-internet-browser option").remove();
			$("#uniform-form-internet-browser span").html("- Please Select -");
			$("#form-internet-browser").append('<option value="">- Please Select -</option>');
			$("#form-internet-browser").append('<option data-operating-system="Mac" value="Google Chrome">Google Chrome</option>');
			$("#form-internet-browser").append('<option data-operating-system="Mac" value="Mozilla Firefox">Mozilla Firefox</option>');
			$("#form-internet-browser").append('<option data-operating-system="Mac" value="Opera">Opera</option>');
		}
	} else {
		$("#form-internet-browser option").remove();
		$("#uniform-form-internet-browser span").html("- Please Select Operating System -");
		$("#form-internet-browser").append('<option value="">- Please Select Operating System -</option>');
	}
	return true;
}