<div id="listing-settings">
	<div class="fl">
		<div class="listing-settings-title fl">Sort By</div>
		<select id="listing-sort-order" class="fl">
			<option{% if settings.listingSortOrder == 'product:ASC' %} selected="selected"{% endif %} value="product:ASC">Alphabetically: A-Z</option>
			<option{% if settings.listingSortOrder == 'product:DESC' %} selected="selected"{% endif %} value="product:DESC">Alphabetically: Z-A</option>
			<option{% if settings.listingSortOrder == 'listPrice:ASC' %} selected="selected"{% endif %} value="listPrice:ASC">Price: Lowest First</option>
			<option{% if settings.listingSortOrder == 'listPrice:DESC' %} selected="selected"{% endif %} value="listPrice:DESC">Price: Highest First</option>
			<option{% if settings.listingSortOrder == 'savings:DESC' %} selected="selected"{% endif %} value="savings:DESC">Special Offers: Biggest Savings First</option>
			<option{% if settings.listingSortOrder == 'discount:DESC' %} selected="selected"{% endif %} value="discount:DESC">Special Offers: Biggest Discounts First</option>
			<option{% if settings.listingSortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest</option>
		</select>
	</div>
    <div class="fr">
    	<div class="listing-settings-title fl">Per Page</div>
        <select class="fl" id="listing-max-results">
			<option{% if settings.listingMaxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
			<option{% if settings.listingMaxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
			<option{% if settings.listingMaxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
			<option{% if settings.listingMaxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
			<option{% if settings.listingMaxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
		</select>
		<input type="hidden" id="listing-current-page" value="1" />
	</div>
    <div class="clear"></div>
</div>