{% for child in form %}
    {% if child.vars.name == 'displayOrder' %}
        <td><img class="handle" src="{{ asset('bundles/kacsite/images/icons/handle.png') }}" border="0" /></td>
    {% endif %}
{% endfor %}
<td class="row-count"></td>
{% for child in form %}
    {% if child.vars.block_prefixes.2 != 'hidden' %}
        <td{% if child.vars.attr.containerClass is defined %} class="{{ child.vars.attr.containerClass }}"{% endif %}>{{ form_widget(child) }}</td>
    {% endif %}
{% endfor %}
<td class="tac" width="1">
    {{ form_rest(form) }}
    <button type="button" class="actionDeleteFormRow button button-red icon-white" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
</td>