<div class="ui-widget info-message">
	<div class="ui-state-highlight ui-corner-all">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>"An image says a thousand words". They are a great way to show off a range of products and their key selling points.</p>
	</div>
</div>
<div id="image-success-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-success ui-corner-all">
    	<span class="ui-icon ui-icon-circle-check"></span>
        <p><strong>SUCCESS:</strong> <span id="image-success-message-text"></span></p>
    </div>
</div>
<div id="image-error-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-alert"></span>
        <p><strong>ERROR:</strong> <span id="image-error-message-text"></span></p>
    </div>
</div>
<div id="image-confirm-leave" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> You are about to leave this section and you have made changes without updating. Do you want to update before you leave?</p>
        <p>
        	<button class="button action-update-images-and-leave ui-button-green" data-icon-primary="ui-icon-check">Update</button>
        	<button data-tab-index="" id="image-leave-images-button" class="button ui-button-red action-leave-images" data-icon-primary="ui-icon-closethick">Continue Without Updating</button>
        </p>
    </div>
</div>
<div id="image-confirm-delete" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all"> 
        <span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the highlighted image?</p>
        <p>
        	<button data-index="" id="image-confirm-delete-button" class="button ui-button-red action-delete-image" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="image-cancel-delete-button" class="button ui-button-blue action-cancel-delete-image">Cancel</button>
        </p>
    </div>
</div>
<div id="image-confirm-deletes" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the selected images?</p>
        <p>
        	<button data-index="" id="image-confirm-deletes-button" class="button ui-button-red action-delete-images" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="image-cancel-deletes-button" class="button ui-button-blue action-cancel-delete-images">Cancel</button>
        </p>
    </div>
</div>
<div class="clearfix">
    <div class="form-input-long">
		<div class="images-container">
			<input type="hidden" id="image-count" value="{% if images|length > 1 %}{{ images|length }}{% else %}1{% endif %}" />
			<ul class="list-fields" id="form-images-container">
				{% for image in images %}
					{% include 'WebIlluminationAdminBundle:System:image.html.twig' with {'index': loop.index, 'data': image} %}
			    {% else %}
			    	{% include 'WebIlluminationAdminBundle:System:image.html.twig' with {'index': "1"} %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="clearfix">
    <div class="form-input-long buttons no-margin-bottom">
    	<button class="button action-update-images ui-button-green" data-icon-primary="ui-icon-check">Update</button>
    	<button class="button ui-button-red action-confirm-delete-images ui-helper-hidden" data-icon-primary="ui-icon-closethick">Delete</button>
    	<button class="button ui-button-blue action-add-new-image" data-icon-primary="ui-icon-plusthick">Add</button>
    	<button class="button ui-button-blue action-select-all-images" data-icon-primary="ui-icon-radio-on">Select All</button>
    	<button class="button ui-button-blue action-unselect-all-images ui-helper-hidden" data-icon-primary="ui-icon-bullet">Unselect All</button>
    	<input type="hidden" value="-1" id="images-tab-to-redirect-to" />
    </div>
</div>
{% include 'WebIlluminationAdminBundle:System:ajaxGetImagesScript.js.twig' with {'objectId': objectId, 'objectType': objectType, 'imageType': imageType, 'images': images} %}