<div class="ui-widget info-message">
	<div class="ui-state-highlight ui-corner-all">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>Add the contact details below.</p>
	</div>
</div>
<div id="contact-success-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-success ui-corner-all">
    	<span class="ui-icon ui-icon-circle-check"></span>
        <p><strong>SUCCESS:</strong> <span id="contact-success-message-text"></span></p>
    </div>
</div>
<div id="contact-error-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-alert"></span>
        <p><strong>ERROR:</strong> <span id="contact-error-message-text"></span></p>
    </div>
</div>
<div id="contact-confirm-leave" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> You are about to leave this section and you have made changes without saving. Do you want to update before you leave?</p>
        <p>
        	<button class="button action-update-contacts-and-leave ui-button-green" data-icon-primary="ui-icon-check">Update</button>
        	<button data-tab-index="" id="contact-leave-contacts-button" class="button ui-button-red action-leave-contacts" data-icon-primary="ui-icon-closethick">Continue Without Updating</button>
        </p>
    </div>
</div>
<div id="contact-confirm-delete" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all"> 
        <span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the highlighted contact?</p>
        <p>
        	<button data-index="" id="contact-confirm-delete-button" class="button ui-button-red action-delete-contact" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="contact-cancel-delete-button" class="button ui-button-blue action-cancel-delete-contact">Cancel</button>
        </p>
    </div>
</div>
<div id="contact-confirm-deletes" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the selected contacts?</p>
        <p>
        	<button data-index="" id="contact-confirm-deletes-button" class="button ui-button-red action-delete-contacts" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="contact-cancel-deletes-button" class="button ui-button-blue action-cancel-delete-contacts">Cancel</button>
        </p>
    </div>
</div>
<div class="clearfix">
    <div class="form-input-long">
		<div class="contacts-container">
			<input type="hidden" id="contact-count" value="{% if contacts|length > 1 %}{{ contacts|length }}{% else %}1{% endif %}" />
			<ul class="list-fields" id="form-contacts-container">
				{% for contact in contacts %}
					{% include 'WebIlluminationAdminBundle:System:contact.html.twig' with {'index': loop.index, 'data': contact, 'contactTitles': contactTitles} %}
			    {% else %}
			    	{% include 'WebIlluminationAdminBundle:System:contact.html.twig' with {'index': "1", 'contactTitles': contactTitles} %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="clearfix">
    <div class="form-input-long buttons no-margin-bottom">
    	<button class="button ui-button-green action-update-contacts" data-icon-primary="ui-icon-check">Update</button>
    	<button class="button ui-button-red action-confirm-delete-contacts ui-helper-hidden" data-icon-primary="ui-icon-closethick">Delete</button>
    	<button class="button ui-button-blue action-add-new-contact" data-icon-primary="ui-icon-plusthick">Add</button>
    	<button class="button ui-button-blue action-select-all-contacts" data-icon-primary="ui-icon-radio-on">Select All</button>
    	<button class="button ui-button-blue action-unselect-all-contacts ui-helper-hidden" data-icon-primary="ui-icon-bullet">Unselect All</button>
    	<input type="hidden" value="-1" id="contacts-tab-to-redirect-to" />
    </div>
</div>
{% include 'WebIlluminationAdminBundle:System:ajaxGetContactsScript.js.twig' with {'objectId': objectId, 'objectType': objectType, 'contacts': contacts, 'contactTitles': contactTitles} %}