<section id="attachments">
	<div id="image-container-0">
        <div class="clearfix">
            <label for="form-gallery-image-1" class="form-label">Attachment<small>Format: pdf, doc, els, ppt</small></label>
            <div class="form-input"><input type="file" id="form-gallery-image-1" /></div>
        </div>
        <div class="clearfix">
            <label for="logo-alt-text" class="form-label">Description<small>A description of the image</small></label>
            <div class="form-input"><input type="text" id="form-logo-alt-text" name="logo-alt-text" /></div>
        </div>
	</div>
    <script type="text/javascript">
		$(document).ready(function() {
		
			{# Update the attachments tab #}
			
		});
	</script>
</section>