<section id="statistics-visits">
	<div id="ajax-statistics-visits">
		<div class="ac">
			<p>Loading data, please wait&hellip;</p>
			<p><img alt="Loading" width="16" height="16" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-loader-eeeeee.gif') }}" /></p>
		</div>
	</div>
    <script type="text/javascript">
		$(document).ready(function() {
			{# Load #}
			$.ajax({
   				type: "GET",
   				url: "{{ path('brands_ajax_statistics_visits') }}/{{ brand.id }}",
   				success: function(data) {
   					$("#ajax-statistics-visits").html(data);
   				}
 			});
		});
	</script>
</section>