<section id="statistics-suggested-keywords">
    <div class="info-message ui-status-highlight">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>It is important to know what visitors are currently searching for in the search engines, so the keywords used in your content can reflect this.</p>
		<div class="clear"></div>
	</div>
	{% if suggested_keywords|length > 0 %}
		<table class="display" id="data-suggested-keywords"> 
		    <thead> 
		        <tr> 
		            <th class="left">Keyword</th> 
		            <th class="center">Average Monthly Searches</th>
		            <th class="center">Global Monthly Searches</th>
		            <th class="center">Competition</th> 
		        </tr> 
		    </thead> 
		    <tbody>
		    	{% for keyword in suggested_keywords %}
		    		<tr>
		    			<td class="left">{{ keyword.keyword|default('-') }}</td>
		    			<td class="center">{{ keyword.average_monthly_searches|default('0') }}</td>
		    			<td class="center">{{ keyword.global_monthly_searches|default('0') }}</td>
		    			<td class="center">{{ keyword.competition|default('0') }}%</td>
		    		</tr>
				{% endfor %}
		    </tbody> 
		</table>
	{% else %}
	    <div class="product-warning ui-status-error no-margin-bottom">
			<span class="product-warning-icon ui-icon ui-icon-circle-close"></span>
			<p>Sorry, we could not find any suggested keywords on the Internet that match keyword phrase.</p>
			<div class="clear"></div>
		</div>
	{% endif %}	
	<script type="text/javascript">
		$(document).ready(function() {
			{% if suggested_keywords|length > 0 %}
				$('#data-suggested-keywords').dataTable().fnSort([[1,'desc']]);
			{% endif %}
		});
	</script>
</section>