<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
</head>
<body style="position: relative;" marginheight="0" topmargin="0" marginwidth="0" bgcolor="#FFFFFF" leftmargin="0">
    {% for order in orders %}
        {% include 'KACSiteBundle:Order/Document:'~type~'.html.twig' with {'order': order} %}
        <div style="display: block; clear: both; page-break-after: always;"></div>
    {% endfor %}
</body>
</html>