{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}About Kitchen Appliance Centre in Nottingham{% endblock %}
{% block metatags %}
	<meta name="description" content="Kitchen Appliance Centre is a family run business that started out in 1990's fitting kitchens for local customers in the Nottinghamshire, Derbyshire and Leicestershire areas, proudly working on behalf of two major national companies.">
	<meta name="keywords" content="kitchen appliance centre, family, business, nottinghamshire, derbyshire, leicestershire">
{% endblock %}
{% block top_reviews %}{% endblock %}
{% block body %}
    <div class="widget-group ptl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <section class="ui-widget-content ui-corner-all clearfix">
                    <div class="header-image">
                        <img src="{{ asset('/bundles/webilluminationshop/images/headers/the-kitchen-appliance-centre-warehouse.jpg') }}" alt="The Kitchen Appliance Centre Warehouse" width="940" />
                        <h1>About Kitchen Appliance Centre</h1>
                        <p><strong>Kitchen Appliance Centre</strong> is a family run business that started out in 1990's fitting kitchens for local customers in the Nottinghamshire, Derbyshire and Leicestershire areas, proudly working on behalf of two major national companies.</p>
                        <p>Through pure recommendation and continued customer requests, we went on to supply and install kitchens and appliances directly to local customers. Our aim here was to always provide the best possible service and to make sure we always supplied our products at very competitive prices to help our loyal customers. With us now designing, supplying and fitting, we had an even more in-depth knowledge of the kitchen industry.</p>
                        <p>Kitchen appliances were becoming more and more competitive due to the increase in online trading and we no longer had the buying power to supply our local customers with a price promise guarantee! So, in 2002 we launched our own online website selling kitchen appliances, sinks, taps and worktops nationwide. This in turn has given us the buying power to supply all our customers with the most competitive prices.</p>
                        <p>Nowadays <strong>Kitchen Appliance Centre</strong> turns over £millions from our large warehouse in Nottinghamshire, but we still maintain our customer commitment to providing the best possible service and products at the right price. Our dedicated team is full of product knowledge and here to provide you with the help and service you deserve.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group mtl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Why Buy from Us?</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <div class="clearfix">
                        <ul class="mll">
                            <li>Family business with committed staff that care.</li>
                            <li>Staff have monthly manufacturers product training to help you.</li>
                            <li>We are NOT your average e seller. We always go the extra mile.</li>
                            <li>Guaranteed best all-round prices online.</li>
                            <li>Our 5 star customer reviews say it all...</li>
                        </ul>
                    </div>
                    <p>
                        <strong><a target="_blank" href="http://www.trustpilot.co.uk/review/www.kitchenappliancecentre.co.uk">See our Trustpilot reviews</a></strong><br />
                        <strong><a target="_blank" href="http://www.amazon.co.uk/gp/aag/details/ref=aag_m_ss?ie=UTF8&asin=B002OHTQJ8&isAmazonFulfilled=0&isCBA=&marketplaceID=A1F83G8C2ARO7P&seller=A1VS6OP0OJ7K3J#aag_legalInfo">See our Amazon reviews</a></strong><br />
                        <strong><a target="_blank" href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&userid=kitchenappliancecentre&ftab=AllFeedback">See our eBay reviews</a></strong>
                    </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
