{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Kitchen Appliance Centre Cookies Policy{% endblock %}
{% block metatags %}
    <meta name="description" content="Free UK delivery on all orders where you spend over £500. Delivery times: 1-5 working days.">
    <meta name="keywords" content="kitchen appliance centre, free uk delivery, uk mainland, ireland, kitchen appliances, delivery, quick delivery">
{% endblock %}
{% block top_reviews %}{% endblock %}
{% block body %}
    <div class="widget-group clearfix">
        <div class="widget ptl mbl widget-1-of-1">
            <div class="ui-widget">
                <section class="ui-widget-content ui-corner-all clearfix">
                    <div class="header-image">
                        <img src="{{ asset('/bundles/webilluminationshop/images/headers/cookie-monster.jpg') }}" alt="A cookie monster" width="940" />
                        <h1>What You Need to Know About Cookies</h1>
                        <p class="mbn">Whenever you use our website information may be collected through the use of cookies and similar technologies.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>How Kitchen Appliance Centre Uses Cookies</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <p><strong>BY USING THE KITCHEN APPLIANCE CENTRE WEBSITE YOU AGREE TO OUR USE OF COOKIES AS DESCRIBED IN THIS COOKIES POLICY.</strong></p>
                    <h4>What are "cookies"?</h4>
                    <p>Cookies are small text files which are downloaded to your computer or mobile device when you visit a website. Your Internet browser (such as Internet Explorer, Mozilla Firefox, Safari, Google Chrome, Opera, etc) then sends these cookies back to the website on each subsequent visit so that they can recognise you and remember things like personalised details or user preferences.</p>
                    <p>Cookies are very useful and do lots of different jobs which help to make your experience on websites as smooth as possible. For example, they let you move between web pages efficiently, remembering your preferences, and generally improving your experience (see below for more examples). They can also help to ensure that adverts you see online are more relevant to you and your interests.</p>
                    <p>They are referred to as <strong>session</strong> or <strong>persistent</strong> cookies, depending on how long they are used:</p>
                    <ul>
                        <li>Session cookies only last for your online session and disappear from your computer or mobile device when you close your Internet browser.</li>
                        <li>Persistent cookies stay on your computer or mobile device after the Internet browser has been closed and last for the period of time specified in the cookie. These persistent cookies are activated each time you visit the site where the cookie was generated.</li>
                    </ul>
                    <h4 class="mtl">Which cookies do Kitchen Appliance Centre use and why?</h4>
                    <p>When you use our website, the following five categories of cookies may be set on your computer or mobile device:</p>
                    <p class="mtl"><strong>1. "STRICTLY NECESSARY" COOKIES</strong></p>
                    <p>These cookies are essential in helping you to move around our website and use the website features, such as accessing secure areas. Without these cookies, services you have asked for cannot be provided. These cookies do not gather information about you that could be used for marketing or remembering where you've been on the Internet.</p>
                    <p>Some examples of these essential cookies include:</p>
                    <ul>
                        <li>Remembering previous actions (such as text you've entered in a registration form) when navigating back to a page in the same session.</li>
                        <li>Identifying you as being signed in to the Kitchen Appliance Centre website and and keeping you logged in throughout your visit so that you don't need to sign in each and every time you visit.</li>
                    </ul>
                    <p class="mtl"><strong>2. FUNCTIONAL COOKIES</strong></p>
                    <p>These cookies allow websites to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. The information these cookies collect is usually anonymised which means we can't identify you personally. They do not gather any information about you that could be used for selling advertising or remembering where you've been on the Internet, but do help with serving advertising.</p>
                    <p>We use these types of cookies to improve your experience on our website. Some examples of how we do this include:</p>
                    <ul>
                        <li>Remembering your preferences and settings. This might include product listings, favourites or specific settings that you have chosen for the layout, text size and colours used on the website.</li>
                        <li>Remembering your product filter settings if you leave the website before you've finished viewing, so that you can pick up where you left off the next time.</li>
                        <li>Remembering if we've already asked you if you want to fill in a form or if you've completed a form, so you're not asked to do it again.</li>
                        <li>Remembering if you've been to the site before so that messages intended for first-time users are not displayed to you.</li>
                        <li>Supporting social media components, like Facebook, Twitter or Google Plus (where a website uses a plugin from these third party platforms, for example).</li>
                        <li>If you would like a list of the functional cookies used by the website or have any further questions, please <a href="{{ path('content_contact_us') }}">contact us</a>.</li>
                    </ul>
                    <p class="mtl"><strong>3. ANALYTICS COOKIES</strong></p>
                    <p>In order to keep our website relevant, easy to use and up-to-date, we use web analytics services to help us understand how people use them. For example, we can see which parts of the website are most popular, identify which products have been viewed online, identify when errors occur, and test different versions of a page or feature to see which one works best.</p>
                    <p>These web analytics services may be designed and operated by other companies on our behalf. They do this using small invisible images known as "web beacons" or "tracking pixels" that may be included in the website. These are used to count the number of times something has been seen. These web beacons are anonymous and do not contain or collect any information that identifies you.</p>
                    <p>The web analytics services may also use cookies and similar technologies to make the information collected by the web beacons more useful. When you are viewing a website, a cookie is transferred to your Internet browser by the web server and is stored on your computer. It can only be read by the server that gave it to you.</p>
                    <p>Cookies allow web analytics services to recognise your Internet browser or device and, for example, identify whether you have visited our website before, what you have previously viewed or clicked on, and how you found us. The information is anonymous and only used for statistical purposes. It allows us to track information, such as how many individual users we have and how often they visit our websites. It also helps us to analyse patterns of user activity and to develop a better user experience. For example, we might see that many people who viewed product A also viewed product B and we can then recommend product B to everyone else who viewed product A.</p>
                    <p>Web analytics data and cookies cannot be used to identify you as they never contain personal information such as your name or email address. However, if you have registered and signed in to our website, we may combine information from your registration with the data we get from the web analytics service and its cookies (or similar technologies) to analyse how you and other people use our website in detail and, where you have opted in to receive such communications, to send you email and other communications that might be of interest to you. The combined information may include information that is collected by the web analytics services while you are not signed in, and information that was collected using cookies and similar technologies before you registered or signed in. Where the combined information can be used to identify you, we use it only in accordance with our <a href="{{ path('content_terms_and_conditions') }}">Terms and Conditions</a> and <a href="{{ path('content_privacy_policy') }}">Privacy Policy</a>.</p>
                    <p class="mtl"><strong>4. TARGETING COOKIES</strong></p>
                    <p>We may also use cookies to assist in targeted advertising in the following ways:</p>
                    <ul>
                        <li>Cookies may be placed on your device by our third party service providers which remember that you have visited a website in order to provide you with targeted adverts which are more relevant to you and your interests. This is often called online behavioural advertising (OBA) (also known as "behavioural targeting" or "interest based advertising") and is done by grouping together shared interests based upon previous web browsing activity. Your previous web browsing activity can also be used to infer things about you, such as your demographics (age, gender etc.).</li>
                        <li>Personalised retargeting is another form of OBA that enables our advertiser partners to show you adverts based on your online browsing away from the Kitchen Appliance Centre website. For example, if you visited the website of an online travel company you may start seeing adverts from the same travel company displaying special offers or showing you the products that you were browsing when you come to our website. This allows companies to advertise to people who previously visited their website. These cookies will usually be dropped by third-party advertising networks.</li>
                    </ul>
                    <p>Although these cookies can track your visits around the web they don't know who you are. Even if you sign in to the Kitchen Appliance Centre website, the OBA data is still not linked to your profile.</p>
                    <p>Without these cookies, online advertisements you encounter will be less relevant to you and your interests. If you would like more information about OBA, including how to opt-out of these cookies, please visit www.youronlinechoices.com.</p>
                    <p class="mtl"><strong>5. OTHER THIRD PARTY COOKIES</strong></p>
                    <p>Please note that on some pages of our websites you may notice that cookies have been set that are not related to Kitchen Appliance Centre or our authorised service providers. When you visit a page with content embedded from, for example, YouTube or Facebook, these service providers may set their own cookies on your web browser. These anonymous cookies may be set by that third party to track the success of their application or to customise their application to you. Kitchen Appliance Centre does not control the use of these cookies and cannot access them due to the way that cookies work, as cookies can only be accessed by the party who originally set them. You should check the third party websites for more information about these cookies.</p>
                    <h4 class="mtl">How to Control Your Cookies</h4>
                    <p>Please remember that Kitchen Appliance Centre does not use cookies to collect personally identifiable information about you although, as explained above, we may combine information from your registration with the data we get from the web analytics services we use and their cookies (or similar technologies) to analyse how you and other people use our Digital Products and Services in detail. These cookies are set to improve your experience on our websites and to enable you to benefit from specific features and to set preferences.</p>
                    <p>However, there are various ways that you can control and manage your cookies that are discussed in a bit more detail below. Please remember that any settings you change will not just affect Kitchen Appliance Centre cookies. These changes will apply to all websites that you visit (unless you choose to block cookies from particular sites).</p>
                    <h4 class="mtl">Managing Cookies in Your Browser</h4>
                    <p>Most modern browsers will allow you to:</p>
                    <ul>
                        <li>See what cookies you've got and delete them on an individual basis.</li>
                        <li>Block third party cookies.</li>
                        <li>Block cookies from particular sites.</li>
                        <li>Block all cookies from being set.</li>
                        <li>Delete all cookies when you close your browser.</li>
                    </ul>
                    <p>You should be aware that any preferences will be lost if you delete cookies. Ironically, this includes where you have opted out from cookies, as this requires an opt-out cookie to be set. Also, if you block cookies completely many websites will not work properly and some functionality on these websites will not work at all. We do not recommend turning cookies off when using our website for these reasons.</p>
                    <p>If you are primarily concerned about third party cookies generated by advertisers, you can turn these off separately. This is discussed in more detail below.</p>
                    <p>The links below take you to the "Help" sections for each of the major browsers so that you can find out more about how to manage your cookies.</p>
                    <ul>
                        <li><a target="_blank" href="http://support.microsoft.com/kb/196955">Microsoft Internet Explorer</a></li>
                        <li><a target="_blank" href="http://support.mozilla.org/en-US/kb/Cookies">Mozilla Firefox</a></li>
                        <li><a target="_blank" href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647">Google Chrome</a></li>
                        <li><a target="_blank" href="http://www.opera.com/browser/tutorials/security/privacy/">Opera</a></li>
                        <li><a target="_blank" href="http://docs.info.apple.com/article.html?path=Safari/5.0/en/9277.html">Safari</a></li>
                        <li><a target="_blank" href="http://support.apple.com/kb/HT1677">Safari (on Apple mobile devices)</a></li>
                        <li><a target="_blank" href="http://support.google.com/mobile/bin/answer.py?hl=en&answer=169022">Android</a></li>
                        <li><a target="_blank" href="http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Turn_off_cookies_in_the_browser_60_1072866_11.jsp">Blackberry</a></li>
                        <li><a target="_blank" href="http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx">Windows Mobile</a></li>
                    </ul>
                    <h4 class="mtl">Managing Analytics Cookies</h4>
                    <p>It is possible to opt out of having your anonymised browsing activity within websites recorded by analytics cookies. Kitchen Appliance Centre uses the following analytics providers and you can opt out of their cookies by clicking on the following links. Please note that this will take you to the relevant third party's website and generate a "no thanks" cookie, which will stop any further cookies being set by those third parties.</p>
                    <p>Don't forget that by not allowing analytics cookies, this stops us from being able to learn what people like or don't like about our website so that we can make them better.</p>
                    <ul>
                        <li><a target="_blank" href="http://www.omniture.com/en/privacy/2o7">Omniture</a></li>
                        <li><a target="_blank" href="http://tools.google.com/dlpage/gaoptout">Google Analytics</a></li>
                    </ul>
                    <h4 class="mtl">Further Information</h4>
                    <p>Further information can be found at <a target="_blank" href="http://www.ico.gov.uk/for_organisations/privacy_and_electronic_communications/the_guide/cookies.aspx">www.ico.gov.uk</a> and <a target="_blank" href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a>.</p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}