{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}How to Find Ride Direct in Derby{% endblock %}
{% block metatags %}
	<meta name="description" content="Ride Direct are based in Derby. 119a Nun's Street, Derby, Derbyshire DE1 3LS">
	<meta name="keywords" content="ride direct, 119a nuns street, nuns street, derby, derbyshire, de1 3ls, de13ls, directions, map, how to find us, satellite navigation, sat nav, get directions">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<img src="{{ asset('/bundles/webilluminationshop/images/headers/the-kitchen-appliance-centre-warehouse.jpg') }}" alt="The Kitchen Appliance Centre Showroom" />
						<h3 class="left">Come and see us!</h3>
					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
		<h1>Where are we?</h1>
	</header>
    <div class="widget-group clearfix">
        <div class="widget widget-2-of-3">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Location</h2>
                </header>
                <section class="ui-widget-content ui-corner-all">
                    <div class="google-map">
                        <iframe width="597" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?q=ng16+2uz&amp;ie=UTF8&amp;hq=&amp;hnear=Giltbrook,+NG16+2UZ,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=53.010652,-1.279907&amp;spn=0.020657,0.051155&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                    </div>
                </section>
            </div>
        </div>
        <div class="widget widget-1-of-3">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Get Directions</h2>
                </header>
                <section class="ui-widget-content ui-corner-all">
                    <div class="clearfix">
                        <div class="info-message ui-status-highlight">
                            <span class="info-message-icon ui-icon ui-icon-info"></span>
                            <p>To get the directions to the Kitchen Appliance Centre showroom in Nottingham, simply enter your postcode and click the <strong>"Get Directions"</strong> button.<br /><br />Your directions will then be displayed externally in Google Maps.</p>
                            <div class="clear"></div>
                        </div>
                        <form class="form has-validation" id="form-directions" action="http://maps.google.co.uk/maps" target="_blank">
                            <input type="hidden" value="Kitchen Appliance Centre @53.004093,-1.288233" name="daddr">
                            <p class="ac no-margin-bottom">
                                <label for="form-name">Your Postcode</label>
                            </p>
                            <p class="ac no-margin-top">
                                <input data-message="Please enter your postcode." type="text" id="form-name" name="saddr" required="required" value="" />
                            </p>
                            <p>
                            <div class="ac buttons no-margin-bottom">
                                <button type="submit" class="button action-save-about-you ui-button-green" data-icon-primary="ui-icon-extlink">Get Directions</button>
                            </div>
                            </p>
                            <p class="ac no-margin-bottom"><a href="{{ path('content_the_shop') }}">Click here</a> for our opening hours.</p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			$("#contact-directions").height($("#contact-location").height());
			$("#contact-get-in-touch").height($("#contact-secure-message").height());
			$("#form-secure-message, #form-directions").validator({
    			position : 'bottom left', 
    			offset : [0, 0], 
    			messageClass : 'form-error', 
        		message : '<div><em/></div>'
			});
		});
	</script>
{% endblock %}