{% extends 'KACSiteBundle::base.html.twig' %}
{% block slider %}
    <div class="widget-group flush-widget-group separator-widget mbl clearfix">
        <div class="widget widget-3-of-4">
            <div class="slider-wrapper">
                <div class="slider nivoSlider">
                    <img src="/uploads/images/demo/franke-minerva-tap-advert.jpg" data-thumb="/uploads/images/demo/franke-minerva-tap-advert.jpg" alt="Franke Minerva 3 in 1 Boiling Hot Water Tap: No more standing around waiting for the kettle to boil or using unnecessary energy. With the Minerva tap from Franke, you have 100°C water instantly at the twist of a lever. Save time and money today, In Stock for Fast Delivery." />
                    <img src="/uploads/images/demo/cda-10pc-off-advert.jpg" data-thumb="/uploads/images/demo/cda-10pc-off-advert.jpg" alt="10% Off All CDA Appliances: When you buy 3 or more CDA items. Simply add your items to the basket and your 10% will be taken off automatically. Spend more SAVE more..." />
                    <img src="/uploads/images/demo/in-sink-erator-waste-disposals-advert.jpg" data-thumb="/uploads/images/demo/in-sink-erator-waste-disposals-advert.jpg" alt="In Sink Erator Waste Disposals from only £85: A food waste disposer is a simply must-have appliance for the modern kitchen. A waste disposer from InSinkErator doesn't just offer practical, contemporary convenience; it provides an environmentally responsible answer to the growing problem of food waste." />
                    <img src="/uploads/images/demo/caple-10pc-off-advert.jpg" data-thumb="/uploads/images/demo/caple-10pc-off-advert.jpg" alt="10% Off All Caple Appliances: Grab yourself a bargain on all Caple Appliances, no spending limit, no strings, no upto's just a straight 10% off! Don’t miss out, this offer will not be on forever..." />
                    <img src="/uploads/images/demo/sensio-powerpod-advert.jpg" data-thumb="/uploads/images/demo/sensio-powerpod-advert.jpg" alt="Sensio Powerpod: The Sensio Powerpod demonstrates Sensio's fresh approach to innovative kitchen power solutions, Offering far more than the average retractable socket the Sensio Powerpod boasts two USB ports in addition to three power sockets. It allows the user to charge their iPod or use other USB powered devices within the convenience of the kitchen." />
                </div>
            </div>
        </div>
        <div class="widget widget-1-of-4">
            <p>kjdsfhk jdhfjkhds kfhdskj fksdjhfkjdsf dkjshf kjdshf kjdshfkjdshfkjhsdk jf kjsd fjksh fkjdshf kjsdhf kjsdh</p>
        </div>
    </div>
{% endblock %}
{% block body %}
    <script type="text/javascript">

    </script>
    <header>
        <h1>Grid System &amp; Portlets</h1>
    </header>
    <section>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="accordion">
                    <h3>Section 1</h3>
                    <div>
                        <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                    </div>
                    <h3>Section 2</h3>
                    <div>
                        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
                    </div>
                    <h3>Section 3</h3>
                    <div>
                        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                        <ul>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Grey Button Icons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        {% for i in 1..22 %}
                            <button style="float: left;" class="button button-grey" data-icon-primary="black-1-100-icon-{{ i }}" data-icon-only="true"></button>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>

        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Message</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <textarea class="fill" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Your Name</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <input class="fill" type="text" value="John Doe"/>
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Your Email</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <input class="fill" type="email" value="mr_hotshot0357@example.com" />
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">&nbsp;</div>
                            <div class="widget widget-2-of-3">
                                <button class="button" data-icon-primary="medium-black-icon-1">Test</button>
                            </div>
                        </div>
                        <div class="form-element">
                            <label>Unstyled:</label>
                            <input class="skipThese" type="text" value="This is unstyled on purpose" />
                        </div>
                        <div class="form-element">
                            <label>Your Name:</label>
                            <input type="text" value="John Doe"/>
                        </div>
                        <div class="form-element">
                            <label>Your Email:</label>
                            <input type="email" value="mr_hotshot0357@example.com" />
                        </div>
                        <div class="form-element">
                            <label>Search:</label>
                            <input type="search" />
                        </div>
                        <div>
                            <label>Phone:</label>
                            <input type="tel" />
                        </div>
                        <div>
                            <label>URL:</label>
                            <input type="url" size="40"/>
                        </div>
                        <div>
                            <label>Datetime:</label>
                            <input type="datetime" size="40"/>
                        </div>
                        <div>
                            <label>Date:</label>
                            <input type="date" size="40"/>
                        </div>
                        <div>
                            <label>Month:</label>
                            <input type="month" size="40"/>
                        </div>
                        <div>
                            <label>Week:</label>
                            <input type="week" size="40"/>
                        </div>
                        <div>
                            <label>Time:</label>
                            <input type="time" size="40"/>
                        </div>
                        <div>
                            <label>Datetime-local:</label>
                            <input type="datetime-local" size="40"/>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
        </div>

        <div class="widget-group clearfix">
            <div class="widget widget-3-of-5">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
            <div class="widget widget-2-of-5">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
        </div>
        
        
        <form class="styleThese">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div>
                            <label>Message:</label>
                            <textarea cols="40" rows="5"></textarea>
                        </div>
                        <div>
                            <label>Unstyled:</label>
                            <input class="skipThese" type="text" size="40" value="This is unstyled on purpose" />
                        </div>
                        <div>
                            <label>Your Name:</label>
                            <input type="text" size="40" value="John Doe"/>
                        </div>
                        <div>
                            <label>Your Email:</label>
                            <input type="email" size="40" value="mr_hotshot0357@example.com" />
                        </div>
                        <div>
                            <label>Search:</label>
                            <input type="search" size="40"/>
                        </div>
                        <div>
                            <label>Phone:</label>
                            <input type="tel" size="40"/>
                        </div>
                        <div>
                            <label>URL:</label>
                            <input type="url" size="40"/>
                        </div>
                        <div>
                            <label>Datetime:</label>
                            <input type="datetime" size="40"/>
                        </div>
                        <div>
                            <label>Date:</label>
                            <input type="date" size="40"/>
                        </div>
                        <div>
                            <label>Month:</label>
                            <input type="month" size="40"/>
                        </div>
                        <div>
                            <label>Week:</label>
                            <input type="week" size="40"/>
                        </div>
                        <div>
                            <label>Time:</label>
                            <input type="time" size="40"/>
                        </div>
                        <div>
                            <label>Datetime-local:</label>
                            <input type="datetime-local" size="40"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label>Number:</label>
                            <input type="number" size="40"/>
                        </div>
                        <div>
                            <label>Range:</label>
                            <input type="range" size="40"/>
                        </div>
                        <div>
                            <label>Color:</label>
                            <input type="color" size="40"/>
                        </div>
                        <div>
                            <label>Some Password:</label>
                            <input type="password" size="40"/>
                        </div>
                        <div>
                            <label>I found your site:</label>
                            <select id="demoFoundSite">
                                <option value="google">Through Google</option>
                                <option value="twitter">Through Twitter</option>
                                <option value="other">Other&hellip;</option>
                                <option value="hi">&lt;Hi&gt;</option>
                            </select>
                        </div>
                        <div>
                            <label>How do you feel?</label>
                            <select id="demoFeeling" multiple="multiple" size=4>
                                <option value="elated">Elated</option>
                                <option value="happy">Happy</option>
                                <option value="content">Content</option>
                                <option value="ok">Ok</option>
                                <option value="unhappy">Unhappy</option>
                                <option value="frustrated">Frustrated</option>
                                <option value="cranky">Cranky</option>
                                <option value="mad">Mad</option>
                                <option value="unlisted">Anything else</option>
                            </select>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="radio" value="hi" /> Saying hi
                            </label>
                            <label>
                                <input type="radio" name="radio" value="feedback" /> Sending feedback
                            </label>
                            <label>
                                <input type="radio" name="radio" value="default" checked="CHECKED" /> Default Seleted Radio
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" id="contactBack" /> Please contact me back
                            </label>
                            <label>
                                <input type="checkbox" checked="CHECKED" id="goodDay" /> Today is a good day
                            </label>
                        </div>
                        <div>
                            <label>Upload a file:</label>
                            <input type="file" />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="error">
                <!-- Here are some fields with "display: none" on them.
                When Uniform wraps them, the surrounding div should also get
                the "display: none" style applied. -->
                <input type="text" value="You should not see this." class="hide" />
                <select id="demoHide" class="hide">
                    <option>If you can see this, it's an error</option>
                </select>
                <input type="checkbox" class="hide" />
                <input type="radio" name="radio" class="hide" value="hidden" />
                <input type="file" class="hide" />
            </div>
            <div>
                <input type="submit" />
                <input type="reset" />
            </div>
        </form>
        <p class="styleThese">
            <a href="http://google.com/">Normal link</a>,
            <a href="http://google.com" class="uniformTest">uniformed link (self)</a> and
            <a href="http://google.com" class="uniformTest" target="newWindow">uniformed link (new window)</a>.
        </p>
    </section>
{% endblock %}