{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Kitchen Appliance Centre Returns Policy{% endblock %}
{% block body %}
	<header>
		<h1>Do you need to return something?</h1>
	</header>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Kitchen Appliance Centre Returns Policy</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-all">
                    <div class="clearfix">
                        <h4>Your Agreement with Us</h4>
                        <p>We will confirm acceptance (or otherwise) of your order as soon as possible, either by email (if your order is placed on-line) or by telephone (if your order is placed over the telephone). A binding agreement arises once we accept your order and we will then charge your credit/debit card on acceptance of your order.</p>
                        <h4 class="mtl">Payments</h4>
                        <p>You can pay for your order by Visa Debit, MasterCard, Maestro and Solo. We will take all reasonable care to keep your order details secure.</p>
                        <h4 class="mtl">Cancellation and Returns Information</h4>
                        <p>Any transit damage, shortages or incorrect goods supplied must be noted on the delivery note at the time of delivery.</p>
                        <p>Please ensure that you thoroughly inspect your goods for any cosmetic damage, incorrect goods, missing parts or other problems as soon as you receive them. If this is done after delivery has taken place, you are required to contact us within 7 days of delivery of your goods giving full details of any problems for us to arrange for suitable action to be taken.</p>
                        <h4 class="mtl">Damaged Goods</h4>
                        <p>If you receive goods in a damaged condition, please make a note of this on the despatch note, you will need to notify us of this by phone, email or letter in any case within 7 days from receipt of goods.</p>
                        <p><strong>Please Note</strong><br />Do not fit an item if it is damaged. This counts as acceptance of goods and the item is then non returnable.</p>
                        <h4 class="mtl">Incorrect Goods or Wrong Amount of Goods Received</h4>
                        <p>It is your responsibility to ensure that you have signed for the correct number of goods delivered. At time of delivery you must also check that you have received the correct goods in accordance with your order.</p>
                        <p>If you find that you have received incorrect goods or the wrong amount of goods, you must make a note of this on the despatch note. You must then notify us of this by phone, email or letter in any case within 7 days from receipt of goods.</p>
                        <h4 class="mtl">Unwanted Items</h4>
                        <p>You have the right to cancel your order at any time before goods are delivered to you for any reason.</p>
                        <p>In compliance with the distance selling regulations you have a "Cooling Off" period where you may withdraw from this agreement at any time up to 7 days after the day we have delivered the goods to you. If we have delivered the goods, you must not have used them and must have kept them in the condition they were delivered. You must return them to us, at your cost. Returned items after 7 days may be subject to a 25% handling charge.</p>
                        <p>When we receive the goods we will inspect them to ensure all manuals, accessories and other components are within the returned package and that the goods are in the condition that we sent them to you with packaging. All items are subject to inspection. If we receive an item that either is not in the condition we sent it or has missing components we shall deduct a reasonable amount to cover any costs to us or return them to you if they are not re-sellable.</p>
                        <p><strong>Please Note</strong><br />We are unable to take back items that are bespoke/built to order.</p>
                        <h4 class="mtl">Faulty Items</h4>
                        <p>If after fitting your product you find that it is faulty, meaning your product shows symptoms of failure preventing basic operation (this does not include any superficial or cosmetic damages, for example scratches or dents), please contact us at your earliest convenience. We shall then arrange for an approved engineer to visit you free of charge and offer you the following options, subject to manufacturers warranty terms and conditions:</p>
                        <ul>
                            <li>If repairable, the engineer will be able to carry out repairs on site or order parts and come back at your convenience to carry out the repair.</li>
                            <li>Replacement - we shall arrange for a replacement to be delivered to you at our expense and for the faulty item to be collected (usually at the same time).</li>
                            <li>A full refund - providing the item has been verified by the engineer as being faulty, we shall arrange for the item to be collected from your property and a full refund given. If we find that the item is not in its original packaging and has any accessories or components missing we shall carry out the refund and take out a fee to cover any costs.</li>
                        </ul>
                        <p><strong>Please Note</strong><br />Any faulty items have to be seen by an authorised service engineer before any action can be taken. If your goods are not found to be faulty, a call-out charge may be incurred.</p>
                        <p>If your item becomes faulty after having been fitted for more than 28 days, please contact the Manufacturer directly to arrange a service call, this is part of the manufacturer's guarantee.</p>
                        <p>We will reimburse any amounts you have paid to us within 30 days of return of the goods, having deducted any return, repackaging or retrieval costs and administration fee if applicable.</p>
                        <h4 class="mtl">Complaints Procedure</h4>
                        <p>If, in the unlikely event, you wish to make a complaint, please contact us in writing:</p>
                        <p>Customer Care Department<br />Kitchen Appliance Centre<br />Unit 3 Pentrich Road<br />Giltbrook Industrial Park<br />Giltbrook<br />Nottinghamshire<br />NG16 2UZ</p>
                        <p>Company Number: 4605369</p>
                        <p>VAT Number: 728 345 716</p>
                        <p>We shall then fully investigate the matter and contact you within 5 working days from receipt of letter.</p>
                        <p>This guarantee is in addition to any warranties or conditions implied by law and nothing in these terms affects your statutory rights.</p>
                        <h4 class="mtl">Delay or Failure to Perform</h4>
                        <p>We shall not be liable to you if we are prevented or delayed in performing of our any obligations to you if this is due to any cause beyond our reasonable control e.g.</p>
                        <ul>
                            <li>an act of God, explosion, flood, fire or accident,</li>
                            <li>war or civil disturbance,</li>
                            <li>strike, industrial action or stoppages of work,</li>
                            <li>any form of government intervention,</li>
                            <li>a third party act or omission,</li>
                            <li>failure by you to give us a correct email or delivery address or notify us of any change of address.</li>
                        </ul>
                        <p>If this happens we shall inform you as soon as is reasonably practicable and if these circumstances continue for 30 days either you or we will be free to cancel the contract. If so, we will give you a full refund of any payment we have received from you within 30 days of cancellation.</p>
                        <h4 class="mtl">Data Protection and Privacy</h4>
                        <p>Information we learn from our customers enables us to continually improve the service we offer, including improving the ranges of products we sell, the information we give on our Web-Site and special offers. However, we take privacy of information relating to our customers very seriously and comply with all UK data protection laws in collecting, storing and using this information.</p>
                        <h4 class="mtl">What personal information we will gather about you?</h4>
                        <p>Using this Web Site, contacting us and purchasing products from us, both on-line and over the telephone, may involve you giving us certain information about yourself, including your name and address, telephone number, email address.</p>
                        <h4 class="mtl">Storing and Sharing Information</h4>
                        <p>Any information we receive from you, either by entering it on our Web-Site, in writing, by email, by fax, over the telephone or by other means will be stored by us and we will take all reasonable care to keep your personal data secure and to prevent any unauthorised access to it.</p>
                        <p>Other than as required by law or in the prevention of fraud, we will not pass information we hold about you to any other organisation, but it is intended that any consent given above will benefit any purchaser of our business.</p>
                        <h4 class="mtl">Security</h4>
                        <p>Other information transmitted over the internet may be open to scrutiny by others. However, when you purchase on-line, your credit/debit card details will be encrypted, to help keep them confidential.</p>
                        <h4 class="mtl">Caring for You Purchase</h4>
                        <p>Always refer to the operating, care and maintenance instructions in relation to each product.</p>
                        <h4 class="mtl">Product Descriptions</h4>
                        <p>We have made every effort to display as accurately as possible the colours of our products that appear on this Web Site. However, we cannot guarantee that your monitor's display of any colour will accurately reflect the colour of the actual product.</p>
                        <p><strong>Please Note</strong><br />All pictures and colour samples for our products are for illustration purposes only and not a guide to buying any product, if any products are received wrong due to this reason then a suppliers restocking charge will be passed on to the customer.</p>
                        <p>While we try to be as accurate as possible, all sizes, weights and measurements quoted are approximate.</p>
                        <p>The products sold on this Web Site have been designed to comply with the health and safety laws of the UK and we cannot warrant or represent that they comply with any health safety or other legal requirement outside the UK.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}