{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Kitchen Appliance Centre Terms and Conditions{% endblock %}
{% block top_reviews %}{% endblock %}
{% block body %}
	<header>
		<h1 class="ptm">Terms and Conditions</h1>
	</header>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Terms and Conditions for Online Purchases</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-all">
                    <div class="clearfix">
                        <h4>For your security</h4>
                        <ul>
                            <li>Kitchen Appliance Centre are aware of the concerns customers have about entering their card details when carrying out a transaction. We have therefore implemented the very best and latest measures to ensure that paying via our Website is as safe as possible.</li>
                            <li>All your credit card and personal information is encrypted and held on a secure SSL (Secure Socket Layer) server. This protects data during online transactions.</li>
                            <li>We use 128-bit encryption; this technology scrambles the data relating to your account to ensure that your information cannot be read by anyone else.</li>
                            <li>We use 3D secure within the checkout which fully protects both you and ourselves against fraud. 3D secure is when your own bank requires you to enter your unique code to confirm it is you paying for online orders.</li>
                        </ul>
                        <h4>Delivery</h4>
                        <ul>
                            <li>Once the product(s) have been checked to your satisfaction we require you to sign for the delivery. Unless otherwise stated the delivered price includes a one-man ground floor, street level, drop off delivery.</li>
                            <li>Deliveries are booked on the condition that there is reasonable access for the safe and prompt delivery of the products(s). Any special requirements should be reported to us when ordering (for example, if you require a delivery to a flat that is not on the ground floor).</li>
                            <li>We endeavour to meet all delivery bookings but cannot be held responsible for situations beyond our control.</li>
                            <li>It is your responsibility to ensure that you have signed for the correct products(s) and number of products(s) delivered.</li>
                            <li>Any delivery issues will be resolved by our Customer Services team at the point of delivery.</li>
                            <li>We recommend that you organise the fitting date of your products(s) once they have been delivered and inspected to your satisfaction.</li>
                            <li>If your billing address and delivery address differ, we will need to validate the information provided with our Identity Verification partner. In addition, we may require a copy of a utility bill to verify invoice address details. This will help to protect you and us against fraudulent transactions.</li>
                            <li>When purchasing large items such as Worktops, American Fridge Freezers or Range Cookers, please ensure that you have measured the relevant doorways in your home to make sure that the product(s) will fit through when delivered. Unfortunately if the delivery fails due to this reason the actual cost of the distribution will be charged to you.</li>
                            <li>Failed deliveries will incur an additional delivery charge if you are not present on the agreed delivery date and the actual cost of distribution will be charged to you.</li>
                            <li>Should you wish to cancel your order after we have dispatched your goods, an additional delivery charge would be levied. (Please refer to the <a href="#cancellationAndReturns">Cancellations and Returns</a> section)</li>
                            <li>Cancellation at the point of delivery will incur a collection charge. (Please refer to the <a href="#cancellationAndReturns">Cancellations and Returns</a> section)</li>
                        </ul>
                        <h4>Availability</h4>
                        <p>All products are subject to availability. We can only guarantee availability while stocks last. If the products ordered are unavailable we will contact you and give you the option of a suitable alternative or an estimated date for the ordered items.  We will endeavour to deliver your order within the times stated but products are subject to availability. A delay in delivery of products is sometimes beyond our control. Any delivery dates specified are approximate and we cannot take responsibility for any losses, costs, damages, charges or expenses caused by any delay.</p>
                        <h4>Damages</h4>
                        <p>No claims for visible damage will be accepted after the product(s) have been signed for as checked. Any visible damage should be reported to our Customer Service department at the point of delivery. Please do not fit or use a product that is incorrect or different to that which was ordered. Failure to comply with these guidelines will deem that you have accepted the product(s) and we would be unable to return or replace them.</p>
                        <h4>Faulty Goods</h4>
                        <p>The guarantee will not apply if the fault arises from excessive wear and tear in our reasonable opinion, deliberate damage, accidental damage, negligence, abnormal working conditions, failure to follow manufacturers instructions, misuse or alteration or repair of the products(s) without manufacturers approval. Claims regarding faulty goods will be subject to the terms and conditions of the manufacturer’s warranty but this does not affect your statutory rights. If your product(s) appears not to be functioning correctly please first check the manufacturer’s instruction book and follow the fault-finding guide. If a product(s) has been installed we will require a manufacturer approved service engineer to inspect the product to establish the nature of the fault. Please remember if a product(s) is found to be installed incorrectly we reserve the right to charge for the service call.</p>
                        <a name="cancellationAndReturns"></a>
                        <h4>Cancellations and Returns</h4>
                        <p>You are entitled to withdraw from this contract under the Distance Selling Regulations up to 7 working days from the receipt of delivery for a full credit or refund less any applicable collection/delivery costs. If you do wish to withdraw from the contract you must notify us either in writing or by e-mail within the said time period. The refund will be made within 30 working days of the cancellation date. <strong>These terms do not apply to 'Special Order Items'.</strong> Under the same regulations you have a duty to take reasonable care of the good(s). If you cancel an order after the goods have been dispatched, you will be charged the <strong>actual cost</strong> of collecting the item(s). The cost will be deducted from any refund that is due to you. Should you wish to cancel your order within 7 working days of delivery we can arrange the safe return of your product(s) provided they have not been removed from their original packaging, installed or used. Alternatively you can return the products(s) at your own cost.</p>
                        <h4>Please Note:</h4>
                        <ul>
                            <li>Please do not install any damaged or unwanted product/appliance(s). This would be viewed as acceptance of goods and any return would be rejected.</li>
                            <li>We reserve the right to request photographic evidence of the products(s) and/or packaging prior to collection.</li>
                            <li>Upon receipt of the returned products(s), these will be inspected to ensure they are in perfect condition (in the original packaging) and meet our satisfaction and are including all relevant accessories, manuals & components.</li>
                            <li>We reserve the right to claim for any damage to the products(s) that may have occurred whilst in your possession or reject them outright. This does not affect your statutory rights.</li>
                            <li>If the packaging has been removed or tampered with, we can no longer be held responsible for transporting the products(s) safely and you must arrange the return of the products(s) to our warehouse within 14 working days of delivery.</li>
                            <li>If you return the product(s) to us yourself, you are required to take reasonable care and ensure that these are not damaged in transit. If you do not exercise reasonable care and the product(s) are damaged, we will reject the product(s) or make a claim against you for a breach of this statutory duty.</li>
                            <li>On conclusion your order will be processed for reimbursement of monies paid less any applicable delivery or collection costs & or costs in respect of missing accessories, manuals & components.</li>
                            <li>Should you wish to cancel any items off an order where a package deal/discount has been allowed on multiple products, we reserve the right to recalculate the total price according to the new value of the order. In the event of a product(s) being cancelled where a free or discounted item applies, we reserve the right to either charge you for the product(s) at the current price or collect the product(s), collection charges apply.</li>
                            <li>We will not accept the return of any <strong>Special Order Items</strong>.</li>
                        </ul>
                        <h4>Disclaimer</h4>
                        <p>We will acknowledge your order and confirm availability by e-mail as soon as possible. Any e-mail or other electronic acknowledgment by us on receipt of an order placed by you does not constitute legal acceptance by Kitchen Appliance Centre of your order. Acceptance of your order and the completion of the contract between you and us will take place when the goods are dispatched, unless we have notified you that we do not accept your order or that you have cancelled it.</p>
                        <p>Whilst we try our utmost to ensure the accuracy of our site, we cannot be held responsible for typographical errors, colour accuracy, image discrepancies or product dimensions. The product(s) that is delivered may vary slightly from the image supplied by the manufacturers and may not include any of the pictured accessories.</p>
                        <p>We have the right to refuse or cancel any orders listed at the incorrect price whether or not the order has been confirmed. If your credit card has already been charged we will immediately issue a credit to your account equal to the value of the original payment taken. Whilst every effort has been made to ensure that product specifications are correct on our website, due to continual product development through research & design specifications may change without notice.</p>
                        <h4>Guarantee</h4>
                        <p>The products(s) sold on our website have been designed to comply with all relevant UK legislation. We cannot warrant or represent that they comply with any legal requirement outside of the UK. All appliance(s) are covered by a minimum of 12 months UK Manufacturers warranty. However, certain manufacturers offer varying parts & labour warranties subject to the customer registering their purchase with the manufacturer. Claims for promotional warranties must be registered within the set time according to the Manufacturers Terms & Conditions. All products(s) must be installed and used in accordance with the manufacturer’s instructions.</p>
                        <p>Items sold on our website are generally intended for normal domestic and consumer use and not for commercial use, unless specifically stated within the product description.</p>
                        <p>English law applies to this contract and any dispute will be dealt with exclusively in the English Courts. These Terms and Conditions do not affect your statutory rights in any way.</p>
                        <p>We reserve the right to alter the terms of trading from time to time.</p>
                        <p>&nbsp;</p>
                        <p class="small colour-grey">This website is administered by Onefit Ltd, Unit 3 Pentrich Road, Giltbrook Industrial Park, Giltbrook, Nottinghamshire NG16 2UZ<br />Kitchenappliancecentre.co.uk is a trading name of Onefit Ltd.
                        <p class="small colour-grey">Company registration number: 4605369  VAT registration: 728345716</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}