{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}The Distributor Take Back Scheme{% endblock %}
{% block metatags %}
	<meta name="description" content="Recycle your electrical and electronic devices free at your local recycling centre. To find your nearest centre, visit the www.recycle-more.co.uk website and type in your postcode.">
	<meta name="keywords" content="kitchen appliance centre, recycle, dts, take back scheme">
{% endblock %}
{% block top_reviews %}{% endblock %}
{% block body %}
    <div class="widget-group ptl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <section class="ui-widget-content ui-corner-all clearfix">
                    <div class="header-image">
                        <img src="{{ asset('/bundles/webilluminationshop/images/headers/recycle-more.jpg') }}" alt="Scrap Heap" width="940" />
                        <h1>Recycling your old appliances is easy!</h1>
                        <p>Recycle your electrical, electronic devices and appliances free at your local recycling centre. To find your nearest centre, visit the <a target="_blank" href="http://www.recycle-more.co.uk/">Recycle More</a> website and type in your postcode.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group mtl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Why recycle?</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <p>Unwanted appliances is the UK’s fastest growing type of waste.</p>
                    <p>Many appliances can be repaired or recycled, saving natural resources and the environment. If you do not recycle appliances they will end up in landfill where hazardous substances will leak out and cause soil and water contamination – harming wildlife and also human health.</p>
                    <p>We’re proud to support your local authority in providing local recycling facilities for electrical equipment.</p>
                    <p>To remind you that old appliances can be recycled, it is now marked with the crossed-out wheeled bin symbol. Please do not throw any appliances (including those marked with this symbol) in your bin.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group mtl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>What is WEEE?</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <p>The Waste Electrical or Electronic Equipment (WEEE) Directive requires countries to maximise separate collection and environmentally friendly processing of these items.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group mtl clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>How are we helping?</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <p>In the UK, distributors including retailers must provide a system which allows all customers buying new appliances the opportunity to recycle their old items free of charge. As a responsible retailer, we have met the requirements placed on us by financially supporting the national network of WEEE recycling centres established by local authorities. This is achieved through membership of the national Distributor Take-back scheme (DTS).</p>
                    <p>To find more information on WEEE recycling and to locate your nearest recycling centre please visit the <a target="_blank" href="http://www.recycle-more.co.uk/">Recycle More</a> website.</p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
