{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Visit the Kitchen Appliance Centre Showroom Based in Nottingham{% endblock %}
{% block metatags %}
	<meta name="description" content="If you need any help or advice on kitchen appliances or just want a look around please visit us in our showroom in Nottingham.">
	<meta name="keywords" content="kitchen appliance centre, nottingham, kitchen appliances, hobs, ovens, worktops, charcoal filters">
{% endblock %}
{% block top_reviews %}{% endblock %}
{% block body %}
    <div class="widget-group clearfix">
        <div class="widget ptl mbl widget-1-of-1">
            <div class="ui-widget">
                <section class="ui-widget-content ui-corner-all clearfix">
                    <div class="header-image">
                        <img src="{{ asset('/bundles/webilluminationshop/images/headers/the-kitchen-appliance-centre-showroom.jpg') }}" alt="The Kitchen Appliance Centre Showroom" width="940" />
                        <h1>Visit the Kitchen Appliance Centre Showroom</h1>
                        <p class="mbn">If you need any help or advice or just want a look around please visit us in our showroom in Nottingham.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="widget-group clearfix">
        <div class="widget widget-3-of-5">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Welcome to the Kitchen Appliance Centre Showroom</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <div class="clearfix">
                        <p><strong>Kitchen Appliance Centre</strong> is a family run business that started out in 1990's fitting kitchens for local customers in the Nottinghamshire, Derbyshire and Leicestershire areas, proudly working on behalf of two major national companies.</p>
                        <p>Through pure recommendation and continued customer requests, we went on to supply and install kitchens and appliances directly to local customers. Our aim here was to always provide the best possible service and to make sure we always supplied our products at very competitive prices to help our loyal customers. With us now designing, supplying and fitting, we had an even more in-depth knowledge of the kitchen industry.</p>
                        <p>Kitchen appliances were becoming more and more competitive due to the increase in online trading and we no longer had the buying power to supply our local customers with a price promise guarantee! So, in 2002 we launched our own online website selling kitchen appliances, sinks, taps and worktops nationwide. This in turn has given us the buying power to supply all our customers with the most competitive prices.</p>
                        <p>Nowadays <strong>Kitchen Appliance Centre</strong> turns over £millions from our large warehouse in Nottinghamshire, but we still maintain our customer commitment to providing the best possible service and products at the right price. Our dedicated team is full of product knowledge and here to provide you with the help and service you deserve.</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="widget widget-2-of-5">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Opening Hours</h2>
                </header>
                <section class="ui-widget-content widget-content ui-corner-bottom">
                    <div class="clearfix">
                        <dl>
                            <dt>Monday:</dt>
                            <dd>9:00am - 5:00pm</dd>
                            <dt>Tuesday:</dt>
                            <dd>9:00am - 5:00pm</dd>
                            <dt>Wednesday:</dt>
                            <dd>9:00am - 5:00pm</dd>
                            <dt>Thursday:</dt>
                            <dd>9:00am - 5:00pm</dd>
                            <dt>Friday:</dt>
                            <dd>9:00am - 5:00pm</dd>
                            <dt>Saturday:</dt>
                            <dd>Closed</dd>
                            <dt>Sunday:</dt>
                            <dd>Closed</dd>
                            <dt class="mbn">Bank Holidays:</dt>
                            <dd class="mbn">Closed</dd>
                            <div class="clear"></div>
                        </dl>
                        <p class="mbn tac"><a href="{{ path('content_how_to_find_us') }}">Click here</a> for directions.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
