<script type="text/javascript" defer="defer">
	$(document).ready(function() {
		{# Cancel image upload #}
		$(".action-cancel-logo-image-upload").live('click', function() {
			$("#logo-image-upload-error, #logo-image-upload-success, #logo-image-file-uploading").hide();
			$("#logo-image-file-upload .qq-upload-list").html("");
			$("#logo-image-file-upload span.filename").html("No file selected");
			$("#form-logo-image-file").val("");
			$("#logo-image-file-upload").fadeIn();
		});
		
		{# File uploader #}
		var uploader = new qq.FileUploader({
		    element: document.getElementById('logo-image-file-upload'),
		    action: '{{ path('system_ajax_upload_file') }}',
		    onSubmit: function(id, fileName) {
		    	$("#form-logo-image-file").val("");
		    	$("#logo-image-file-upload").hide();
		    	var fileExtensions = fileName.toLowerCase().split(".");
				var fileExtension = fileExtensions[(fileExtensions.length - 1)];
				if ((fileExtension == 'jpg') || (fileExtension == 'jpeg') || (fileExtension == 'png') || (fileExtension == 'gif'))
				{
					$("#logo-image-file-uploading").fadeIn();
				} else {
					$("#logo-image-upload-error-text").html("jpg, png and gif files only.");
					$("#logo-image-upload-error").fadeIn();
					return false;
			    }
		    },
			onComplete: function(id, fileName, responseJSON) {
				$("#logo-image-file-upload, #logo-image-file-uploading, #logo-image-upload-error, #logo-image-upload-success").hide();
				if (responseJSON.response == 'success')
				{
					$("#logo-image-upload-success-text").html("File Uploaded: "+responseJSON.fileSize);
					$("#form-logo-image-file").val(responseJSON.fileName);
					$("#logo-image-upload-success").fadeIn();
				} else {
					$("#logo-image-upload-error-text").html(responseJSON.message);
					$("#logo-image-upload-error").fadeIn();
				}
			}
		});
		$("#logo-image-file-upload :file:not(.no-uniform)").uniform();

		{# Validate form #}
		$("#form-add").validator({
			position : 'bottom left', 
			offset : [0, 0], 
			messageClass : 'form-error', 
    		message : '<div><em/></div>'
		});
	});
</script>