<div class="widget-group clearfix">
    <div class="widget widget-1-of-1">
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <section class="ui-widget-content ui-corner-all">
                        {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                        {{ form_rest(form) }}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>