{% raw %}
    <script id="templateDocumentDownload" type="text/x-template">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download" data-id="{%=file.id%}">
                {% if (file.error) { %}
                    <td class="name tac">
                        <span class="fn image-preview ui-button-icon-primary ui-icon icon-red icon-1116"></span>
                    </td>
                    <td colspan="3" class="progress-error error">There was an error saving the file. Please try again. ({%=file.error%})</td>
                    <td class="tac delete" width="1">
                        <button type="button" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %} class="button button-red icon-white ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" data-icon-primary="icon-1118" data-icon-only="true" role="button" aria-disabled="false" title="Delete"><span class="ui-button-icon-primary ui-icon icon-1118"></span><span class="ui-button-text">Delete</span></button>
                    </td>
                {% } else { %}
                    <td width="1" class="name">
                        <a href="{%=file.url%}" target="_blank"><span class="fn image-preview ui-button-icon-primary ui-icon icon-turquoise icon-53"></span></a>
                    </td>
                    <td class="type tac"><input type="text" class="document-title fill" name="title" value="{%=file.title%}" placeholder="Title..." /></td>
                    <td colspan="2">&nbsp;</td>
                    <td class="tac delete" width="1">
                        <button type="button" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %} class="button button-red icon-white ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" data-icon-primary="icon-1118" data-icon-only="true" role="button" aria-disabled="false" title="Delete"><span class="ui-button-icon-primary ui-icon icon-1118"></span><span class="ui-button-text">Delete</span></button>
                    </td>
                {% } %}
            </tr>
        {% } %}
    </script>
{% endraw %}