{% macro addToBasket(variant) %}
    <div class="add-to-basket fr" data-product-id="{{ variant.product.id }}" data-variant-id="{{ variant.id }}" data-basket-url="{{ path('basket_ajax_add_to_basket') }}">
        <input class="quantity integer" type="number" value="1" />
        <button class="actionIncreaseQuantity increase-quantity button button-small uppercase">+</button>
        <button class="actionDecreaseQuantity decrease-quantity button button-small uppercase">-</button>
        <button class="actionAddToBasket buy button button-green icon-white uppercase" data-icon-secondary="icon-472">Buy</button>
    </div>
{% endmacro %}