input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
select {
    margin: 0;
    padding: 0;
    max-width: 100%;
    @include borderBox;
}

option {
    max-width: 100%;

    @include ellipsis;
}

.required {
    color: $colourRed;
    font-weight: bold;
}

fieldset {
    margin: 0 0 $spacingMedium;
    padding: $spacingMedium $spacingMedium $spacingSmall $spacingMedium;
    width: 100%;

    @include borderBox;
    background: $colourGreyExtraLight;
}

fieldset legend {
    margin: 0 0 $spacingMedium 0;
    padding: 0 0 $spacingMedium 0;

    float: left;

    font-weight: bold;
    border-bottom: 1px dotted $colourGrey;
    @include fontSize($fontSizeLarge);
}

.form-element {
    position: relative;

    padding: 0 26px $spacingSmall 0;
}

.form-helper {
    position: absolute;
    top: 8px;
    right: 5px;

    cursor: pointer;
    background-image: url("#{$cssPath}/resources/images/icons/grey_small.png");
}

.form-helper:hover {
    background-image: url("#{$cssPath}/resources/images/icons/yellow_small.png");
}

.form-element label {
    display: block;

    line-height: 40px;
    text-align: right;
    font-weight: bold;
}

.form-element small {
    padding: $spacingExtraSmall 11px $spacingSmall 11px;

    display: block;

    color: $colourGrey;
    @include fontSize($fontSizeSmall);
}

input.text,
input[type="text"],
input.email,
input[type="email"],
input.search,
input[type="search"],
input.tel,
input[type="tel"],
input.url,
input[type="url"],
input.datetime,
input[type="datetime"],
input.date,
input[type="date"],
input.month,
input[type="month"],
input.week,
input[type="week"],
input.time,
input[type="time"],
input.datetime-local,
input[type="datetime-local"],
input.number,
input[type="number"],
input.password,
input[type="password"],
select.uniform-multiselect,
select[multiple="multiple"],
textarea,
textarea.uniform {
    padding: 8px $spacingMedium;

    outline: 0;

    font-family: $primaryFontFamily;
    @include equalBorderRadius($radiusSize);
    @include fontSize($fontSizeMedium);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    border: 1px solid $colourGreyLight;
    @include borderBox;
}

table.form-table td input.text,
table.form-table td input[type="text"],
table.form-table td input.email,
table.form-table td input[type="email"],
table.form-table td input.search,
table.form-table td input[type="search"],
table.form-table td input.tel,
table.form-table td input[type="tel"],
table.form-table td input.url,
table.form-table td input[type="url"],
table.form-table td input.datetime,
table.form-table td input[type="datetime"],
table.form-table td input.date,
table.form-table td input[type="date"],
table.form-table td input.month,
table.form-table td input[type="month"],
table.form-table td input.week,
table.form-table td input[type="week"],
table.form-table td input.time,
table.form-table td input[type="time"],
table.form-table td input.datetime-local,
table.form-table td input[type="datetime-local"],
table.form-table td input.number,
table.form-table td input[type="number"],
table.form-table td input.password,
table.form-table td input[type="password"],
table.form-table td select.uniform-multiselect,
table.form-table td select[multiple="multiple"],
table.form-table td textarea,
table.form-table td textarea.uniform {
    padding: 8px $spacingSmall;

    @include fontSize($fontSizeSmall);
}

input.text:focus,
input[type="text"]:focus,
input.email:focus,
input[type="email"]:focus,
input.search:focus,
input[type="search"]:focus,
input.tel:focus,
input[type="tel"]:focus,
input.url:focus,
input[type="url"]:focus,
input.datetime:focus,
input[type="datetime"]:focus,
input.date:focus,
input[type="date"]:focus,
input.month:focus,
input[type="month"]:focus,
input.week:focus,
input[type="week"]:focus,
input.time:focus,
input[type="time"]:focus,
input.datetime-local:focus,
input[type="datetime-local"]:focus,
input.number:focus,
input[type="number"]:focus,
input.password:focus,
input[type="password"]:focus,
select.uniform-multiselect:focus,
select[multiple="multiple"]:focus,
textarea:focus,
textarea.uniform:focus {
    @include boxGlow($primaryColour, 10px, 0, 1);
    color: $colourBlack;
}

input.search::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration,
input.search::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button,
input.search::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-button,
input.search::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input.search,
input[type="search"] {
    -webkit-appearance: textfield;
}

.selector,
.checker,
.radio,
.uploader {
    @include inlineBlock;
    @include borderBox;
    vertical-align: middle;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
    outline: 0;
}

.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader * {
    margin: 0;
    padding: 0;
}

div.radio-group,
div.checker-group {
    margin: $spacingMedium 0 $spacingSmall 0;
}

table.form-table td div.radio-group,
table.form-table td div.checker-group {
    margin: 0;
}

div.radio-group label,
div.checker-group label {
    float: left;
    padding-right: $spacingLarge;

    line-height: 20px;
    font-weight: normal;
    text-align: left;
}

div.radio-group small,
div.checker-group small {
    padding: 0 $spacingMedium;
    float: right;

    line-height: 20px;
}

div.checker {
    margin: 0 $spacingMedium $spacingSmall 0;
    width: 18px;
    height: 18px;

    position: relative;
    float: left;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

table.form-table td div.checker {
    margin: 0;
     float: none;
}

div.checker span {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include inlineBlock;
    text-align: center;
    cursor: pointer;
    background: none;
}

div.checker span.checked {
    background: transparent url("#{$cssPath}/resources/images/icons/check.png") center center no-repeat;
}

div.checker input {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include hideYetClickable;
    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.checker:focus,
div.checker:active,
div.checker:hover,
div.checker.focus,
div.checker.active,
div.checker.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.radio {
    margin: 0 $spacingMedium $spacingSmall 0;
    width: 18px;
    height: 18px;

    position: relative;
    float: left;

    @include equalBorderRadius(10px);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.radio span {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.radio span.checked {
    width: 8px;
    height: 8px;

    top: 4px;
    left: 4px;

    @include equalBorderRadius(4px);
    @include highlightedVerticalGradientBlack;
    @include boxGlow($colourBlack, 5px, 0, 0.5);
    border: 1px solid $colourBlack;
}

div.radio input {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 0;
    left: 0;

    @include hideYetClickable;
    @include inlineBlock;
    text-align: center;
    cursor: pointer;
}

div.radio:focus,
div.radio:active,
div.radio:hover,
div.radio.focus,
div.radio.active,
div.radio.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.uploader {
    padding: 0;

    outline: 0;
    position: relative;
    overflow: hidden;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);

    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.uploader span.filename {
    padding: 8px $spacingMedium;
    width: 60%;

    @include ellipsis;
    @include fontSize($fontSizeMedium);
    @include borderBox;
    font-family: $primaryFontFamily;
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    cursor: pointer;
}

div.uploader span.action {
    padding: 4px 13px;
    width: 40%;

    position: absolute;
    top: -1px;
    right: -1px;

    @include ellipsis;
    @include borderBox;
    line-height: 32px;
    text-align: center;
    overflow: visible;
    @include highlightedVerticalGradientGreyLight;
    @include transitionAll(0.3s, ease-in-out);
    @include boxGlow($colourGreyLight, 5px);
    @include borderRadius(0, $radiusSize, $radiusSize, 0);
    border-left: 1px solid $colourGreyLight;
    border-left: 2px solid $colourGreyLight;
    color: $textColour;
    font-weight: bold;
    cursor: pointer;
}

div.uploader input {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    float: right;

    @include hideYetClickable;
    cursor: pointer;
}

div.uploader:focus,
div.uploader:active,
div.uploader:hover,
div.uploader.focus,
div.uploader.active,
div.uploader.focus.active  {
    @include boxGlow($primaryColour, 10px);
}

div.uploader.disabled span.action {
    color: $colourGreyExtraLight;
}

div.uploader.disabled span.filename {
    color: $colourGreyExtraLight;
}

div.selector {
    padding: 0;

    outline: 0;
    position: relative;
    overflow: hidden;

    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    border: 1px solid $colourGreyLight;
    cursor: pointer;
}

div.selector span {
    padding: 8px 30px 8px $spacingMedium;

    display: block;

    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
    font-weight: normal;
    line-height: 22px;
    cursor: pointer;
    @include ellipsis;
    background: transparent url("#{$cssPath}/resources/images/icons/select.png") no-repeat center right;
}

table.form-table td div.selector span {
    padding: 8px 25px 8px $spacingSmall;

    @include fontSize($fontSizeSmall);
}

div.selector.disabled span {
    color: $colourGreyExtraLight;
}

div.selector select {
    width: 100%;
    height: 38px;

    position: absolute;
    top: 0;
    left: 0;

    @include fontSize($fontSizeMedium);
    cursor: pointer;
    @include hideYetClickable;
}

div.selector:active,
div.selector.active {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector:active span,
div.selector.active span {
    color: $colourBlack;
}

div.selector.focus,
div.selector.hover,
div.selector:hover {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector.focus span,
div.selector.hover span,
div.selector:hover span {
    color: $colourBlack;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
    @include boxGlow($primaryColour, 10px, 0, 1);
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
    color: $colourBlack;
}

div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span {
    color: $colourGreyExtraLight;
}

header.error {
    @include highlightedVerticalGradientDarkRed;
}

.form-element-error {
    padding: $spacingSmall 30px $spacingSmall 20px !important;
    margin: 5px -10px 10px -30px !important;

    background: $colourRedExtraExtraLight url("#{$cssPath}/resources/images/icons/warning.png") 6px 14px no-repeat;
    @include borderRadius($radiusSize, 0, 0, $radiusSize);
    @include boxGlow($colourRed, 3px, 0, 0.5);
}

.form-element-error label,
.error label {
    color: $colourRed;
}

.form-element-error small,
.error small {
    color: $colourRed;
    text-transform: uppercase;
}

.form-element-error small ul,
.error small ul {
    margin: 0;
    padding: 0;
}

.form-element-error small ul li,
.error small ul li {
    list-style: none;
    background: transparent url("#{$cssPath}/resources/images/icons/error_small.png") top left no-repeat;
    line-height: 12px;
    padding: 0 0 0 17px;
    margin: 2px 0 0 0;
}

.form-element-error input,
.form-element-error textarea,
.form-element-error .selector,
.form-element-error .uniform-multiselect,
.form-element-error .radio,
.form-element-error .checker,
.form-element-error .uploader,
.form-element-error .select2-choice,
.error input,
.error textarea,
.error .selector,
.error .uniform-multiselect,
.error .radio,
.error .checker,
.error .uploader,
.error .select2-choice {
    border: 1px solid $colourRedExtraLight;
}

.form-element-error input:focus,
.form-element-error textarea:focus,
.form-element-error .selector:focus,
.form-element-error .uniform-multiselect:focus,
.form-element-error .radio:focus,
.form-element-error .checker:focus,
.form-element-error .uploader:focus,
.form-element-error input:active,
.form-element-error textarea:active,
.form-element-error .selector:active,
.form-element-error .uniform-multiselect:active,
.form-element-error .radio:active,
.form-element-error .checker:active,
.form-element-error .uploader:active,
.form-element-error input:hover,
.form-element-error textarea:hover,
.form-element-error .selector:hover,
.form-element-error .uniform-multiselect:hover,
.form-element-error .radio:hover,
.form-element-error .checker:hover,
.form-element-error .uploader:hover,
.error input:focus,
.error textarea:focus,
.error .selector:focus,
.error .uniform-multiselect:focus,
.error .radio:focus,
.error .checker:focus,
.error .uploader:focus,
.error input:active,
.error textarea:active,
.error .selector:active,
.error .uniform-multiselect:active,
.error .radio:active,
.error .checker:active,
.error .uploader:active,
.error input:hover,
.error textarea:hover,
.error .selector:hover,
.error .uniform-multiselect:hover,
.error .radio:hover,
.error .checker:hover,
.error .uploader:hover {
    @include noBoxShadow;
}

table.form-table {
    width: 100%;

    border-collapse: collapse;
    border: 0 none;
    @include borderRadius($radiusSize, $radiusSize, 0, 0);
}

table.form-table th {
    padding: $spacingMedium $spacingSmall;

    border-collapse: collapse;
    border: 1px solid $colourGrey;
    color: $colourBlack;
    @include highlightedVerticalGradientGrey;
    cursor: help;
}

table.form-table td {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid $colourGreyLight;
    background: $colourWhite;
    vertical-align: middle;
}

table.form-table ul {
    margin: 0;
    padding: 0;
}

table.form-table ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    line-height: 14px;
}

.select2-container {
    min-height: 40px;

    position: relative;
    display: inline-block;
    zoom: 1;

    *display: inline;
    vertical-align: top;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    @include borderBox;
}

.select2-container .select2-choice {
    padding: 8px $spacingMedium;
    min-height: 22px;

    display: block;
    overflow: hidden;
    position: relative;

    outline: 0;
    white-space: nowrap;
    text-decoration: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: $primaryFontFamily;
    @include equalBorderRadius($radiusSize);
    @include fontSize($fontSizeMedium);
    @include verticalGradientGreyExtraLightToWhite;
    @include transitionAll(0.3s, ease-in-out);
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    border: 1px solid $colourGreyLight;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: $colourGreyLight;
    @include borderRadius(0, 0, $radiusSize, $radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
}

.select2-container .select2-choice span {
    margin-right: 26px;

    @include ellipsis;
}

.select2-container .select2-choice abbr {
    width: 12px;
    height: 12px;

    display: block;
    position: absolute;
    right: 26px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: transparent url("#{$cssPath}/resources/images/icons/select.png") no-repeat center right;
    cursor: pointer;
    outline: 0;
}
.select2-container .select2-choice abbr:hover {
    cursor: pointer;
}

.select2-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    opacity: 0;
}

.select2-drop {
    width: 100%;
    margin-top: -1px;

    position: absolute;
    z-index: 9999;
    top: 100%;

    background: $colourWhite;
    color: $textColour;
    border: 1px solid $colourGreyLight;
    border-top: 0;
    @include borderRadius(0, 0, $radiusSize, $radiusSize);
    @include boxShadow($colourBlack, 0, 5px, 5px, 0, 0.2);
}

.select2-drop.select2-drop-above {
    margin-top: 1px;

    border-top: 1px solid $colourGreyLight;
    border-bottom: 0;
    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    @include boxShadow($colourBlack, 0, -5px, 5px, 0, 0.2);
}

.select2-container .select2-choice div {
    width: 20px;
    height: 100%;

    display: block;
    position: absolute;
    right: 0;
    top: 0;

    @include borderRadius(0, $radiusSize, $radiusSize, 0);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.select2-container .select2-choice div b {
    width: 100%;
    height: 100%;
    display: block;

    background: transparent url("#{$cssPath}/resources/images/icons/select.png") no-repeat center right;
}

.select2-search {
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    display: inline-block;
    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search-hidden {
    display: block;
    position: absolute;
    left: -10000px;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;

    font-family: $primaryFontFamily;
    @include equalBorderRadius($radiusSize);
    @include fontSize($fontSizeMedium);
    background: $colourWhite url("#{$cssPath}/resources/images/icons/search.png") no-repeat center right;
    font-weight: normal;
    color: $textColour;
    line-height: 22px;
    @include transitionNone;
    border: 1px solid $colourGreyLight;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: $colourWhite url("#{$cssPath}/resources/images/loaders/loader.gif") no-repeat center 5px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    outline: none;

    border: 1px solid $colourGreyLight;
    @include boxGlow($primaryColour, 10px, 0, 1);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    background-color: $colourWhite;
}

.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.select2-results ul.select2-result-sub {
    margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
    padding-left: 20px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 40px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 60px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 80px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 100px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 110px;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 120px;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;

    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-results .select2-highlighted {
    background: $primaryColour;
    color: $colourWhite;
}

.select2-results li em {
    background: $colourWhite;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: $colourWhite;
    color: $textColour;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: $colourWhite;
    display: list-item;
}

.select2-results .select2-disabled.select2-highlighted {
    color: $textColour;
    background: $colourWhite;
    display: list-item;
    cursor: default;
}

.select2-results .select2-disabled {
    background: $colourWhite;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: $colourWhite url("#{$cssPath}/resources/images/loaders/loader.gif") no-repeat center 5px;
}

.select2-more-results {
    background: $colourWhite;
    display: list-item;
}

.select2-container.select2-container-disabled .select2-choice {
    background-color: $colourWhite;
    background-image: none;
    border: 1px solid $colourGreyLight;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: $colourWhite;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none
}

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;

    position: relative;
    overflow: hidden;

    border: 1px solid $colourGreyLight;
    cursor: text;
    background-color: $colourWhite;
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    @include boxGlow($primaryColour, 10px, 0, 1);
    color: $colourBlack;
}

.select2-container-multi .select2-choices li {
    float: left;

    list-style: none;
}

.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;

    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
    outline: 0;
    border: 0;
    @include noBoxShadow;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: $colourWhite url("#{$cssPath}/resources/images/loaders/loader.gif") no-repeat center 5px !important;
}

.select2-default {
    color: $textColour !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: $textColour;
    cursor: default;
    border: 1px solid $colourGreyLight;
    @include equalBorderRadius($radiusSize);
    @include boxGlow($primaryColour, 10px, 0, 1);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $colourWhite;
}

.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: $colourGreyLight;
}

.select2-search-choice-close {
    width: 12px;
    height: 13px;

    display: block;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: transparent url("#{$cssPath}/resources/images/icons/error_small.png") no-repeat center 5px;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: $colourGreyLight;
    background-image: none;
    border: 1px solid $colourGrey;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;

    border: 1px solid $colourGreyLight;
    background-image: none;
    background-color: $colourWhite;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen {
    position: absolute;
    left: -10000px;
}

.sortable-placeholder {
    background: $colourGreyExtraLight;
    border: 2px dashed $primaryColour;
    height: 50px;
}

.handle {
    cursor: move;
}

.multiple-selector {
    padding: $spacingSmall 0 0 $spacingSmall;

    @include verticalGradientGreyToGreyDark;
    @include equalBorderRadius($radiusSize);
    @include boxInsetGlow($colourGreyDark, 10px, 0, 1);
    min-height: 35px;
}

.multiple-selector ul {
    margin: 0;
    padding: 0;
}

.multiple-selector ul li {
    margin: 0 $spacingSmall $spacingSmall 0;
    padding: 0 22px 0 $spacingSmall;

    position: relative;
    float: left;

    list-style: none;
    line-height: 30px;
    cursor: move;
    @include equalBorderRadius($radiusSize);
    @include verticalGradientGreyExtraLightToWhite;
    @include fontSize($fontSizeExtraSmall);
}

.multiple-selector ul li img {
    position: absolute;
    top: 9px;
    right: $spacingSmall;

    cursor: pointer;
}

input.quantity {
    width: 40px;
    height: 26px;
    text-align: center;
    padding: 4px 6px;
    margin-top: 11px;

}

.quantity-buttons-container {
    width: 17px;
    padding: 0 5px 0 0;
}

.action-increase-quantity, .action-decrease-quantity {
    width: 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 10px !important;
    height: 11px;
    margin: 0 5px 0 0;
    padding: 0px;
    border: 1px solid #999;
    cursor: pointer !important;
    color: #384246;
    background: #C5D2D6;
}

.quantity-label {
    line-height: 32px;
    padding: 0 5px 0 0;
}