{# Check if all data has loaded #}
function checkDataLoaded()
{
	if ($imagesLoaded && $filesLoaded && $redirectsLoaded)
	{
		updateStatus();
	}
}

{# Update the status #}
function updateStatus()
{
	{# General tab #}
	$("#form-status, #tab-general").removeClass("ui-state-success ui-state-highlight ui-state-error");
	if ($("#form-status-a").is(":checked"))
	{
		$("#form-status, #tab-general").addClass("ui-state-success");
	} else if ($("#form-status-h").is(":checked")) {
		$("#form-status, #tab-general").addClass("ui-state-highlight");
	} else {
		$("#form-status, #tab-general").addClass("ui-state-error");
	}
	
	{# Description tab #}
	$("#tab-description").removeClass("ui-state-success ui-state-highlight ui-state-error");
	if ($("#form-description").val() == "")
	{
		$("#tab-description").addClass("ui-state-error");
	} else {
		$("#tab-description").addClass("ui-state-success");
	}
		
	{# Images tab #}
	$("#tab-images").removeClass("ui-state-success ui-state-highlight ui-state-error");
	var $numberOfImages = $("#images .image-container img.action-image-popup").length;
	if ($numberOfImages > 0) {
		$("#tab-images").addClass("ui-state-success");
	} else {
		$("#tab-images").addClass("ui-state-highlight");
	}
	
	{# Prices tab #}
	$("#tab-prices").removeClass("ui-state-success ui-state-highlight ui-state-error");
	$("#tab-prices").addClass("ui-state-success");
	
	{# Files tab #}
	$("#tab-files").removeClass("ui-state-success ui-state-highlight ui-state-error");
	var $numberOfFiles = $("#files .file-container .file-id[value!='0']").length;
	if ($numberOfFiles > 0) {
		$("#tab-files").addClass("ui-state-success");
	} else {
		$("#tab-files").addClass("ui-state-highlight");
	}
		
	{# Redirects tab #}
	$("#tab-redirects").removeClass("ui-state-success ui-state-highlight ui-state-error");
	$("#tab-redirects").addClass("ui-state-success");
	
	{# SEO tab #}
	$("#tab-seo").removeClass("ui-state-success ui-state-highlight ui-state-error");
	if (($("#form-url").val() == "") || ($("#form-page-title").val() == "") || ($("#form-header").val() == "") || ($("#form-meta-description").val() == "") || ($("#form-meta-keywords").val() == "") || ($("#form-search-words").val() == "") || ($("#form-alternative-product-codes").val() == ""))
	{ 
		$("#tab-seo").addClass("ui-state-error");
	} else {
		$("#tab-seo").addClass("ui-state-success");
	}
}

{# Load notification message #}
function loadNotificationMessage($container, $message, $type)
{
	$("#"+$container+" .message-text").html($message);
	$("#"+$container).fadeIn();
	$("html, body").animate({scrollTop: $("#"+$container).offset().top - 50},'slow');
	$("#ajax_loading").hide();
}

{# Reset interactions #}
function resetInteractions()
{
	$("#flash_messages .message").hide();
	$(".form-error").hide();
	$("input, select, textarea").removeClass("invalid");
	$("#description-confirm-overwrite").hide();
	$("#ajax_loading").hide();
}

{# Finish interactions #}
function finishInteractions()
{
	$("#ajax_loading").hide();
	updateStatus();
}

{# Initialise Uniform for form items presented via AJAX #}
function initialiseUniform($objectId)
{
	$("#"+$objectId+" :checkbox:not(.no-uniform), #"+$objectId+" :radio:not(.no-uniform), #"+$objectId+" select:not(.no-uniform), #"+$objectId+" :file:not(.no-uniform)").uniform();
		$("#"+$objectId+" .button").each(function () {
        $(this).button({
        	icons: {
            	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
            }, 
           	text: $(this).attr('data-icon-only') === 'true'?false:true
    	});
    	var $dataNotification = $(this).attr("data-notification");
    	if (($(this).attr("data-notification") != "") && ($(this).attr("data-notification") != undefined))
    	{
    		$(this).prepend('<div class="button-notification">'+$(this).attr("data-notification")+'</div>');
    	}
    });
    $("#"+$objectId+" .selector, #"+$objectId+" .uploader").addClass("full");
    $("#"+$objectId+" .message.closeable").prepend('<span class="message-close ui-icon ui-icon-circle-close"></span>').find('.message-close').click(function () {
    	$(this).parent().fadeOut();
    });
    
    return false;
}