{% for product in products %}
	{% include 'WebIlluminationShopBundle:Products:productListing.html.twig' with {'noAjax': noAjax, 'url': url, 'product': product, 'group': group} %}
{% else %}
	<p class="no-products">Sorry, there are currently no products in this department.</p>
{% endfor %}
{% if group %}
	<div class="clear"></div>
	<div class="ac view-all-options-button">
		<a href="{{ path('routing', {'url': url}) }}" class="margin-bottom-10 padding-left-5 padding-right-5 button ui-button-blue small">View All Options</a>
	</div>
{% endif %}
<div class="clear"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".product :checkbox:not(.no-uniform), .product :radio:not(.no-uniform), .product select:not(.no-uniform), .product :file:not(.no-uniform), .view-all-options-button :checkbox:not(.no-uniform), .view-all-options-button :radio:not(.no-uniform), .view-all-options-button select:not(.no-uniform), .view-all-options-button :file:not(.no-uniform)").uniform();
		$(".product .button, .view-all-options-button .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        });
	});
</script>