<script type="text/javascript" defer="defer">		
	$(document).ready(function() {
		$("#ajax-loading").show();
		$.ajax({
			type: "GET",
			url: "{{ path('products_ajax_get_product_search') }}",
			data: {
					search: '{{ search }}'
				},
			error: function(data) {
      			$("#product-search-results").html('<p>Sorry, no products were found using the search <strong>"{{ search }}"</strong>. Please try using the menu above to find what you are looking for.</p><p>If you have any further problems please <a href="{{ path('content_contact_us') }}">contact us</a>.</p>');
      			$("#ajax-loading").hide();
      		},
			success: function(data) {
				$("#product-search-results").html(data);
				$("#ajax-loading").hide();
			}
		});
	});
</script>