.basket-summary-header {
    height: 50px;
    width: 230px;
    margin: 0;
    padding: 5px 10px;

    position: absolute;
    right: 0;
    bottom: -5px;

    border-radius: 4px 4px 0 0;
    background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
    -webkit-box-shadow: 0 -2px 5px 0 #384246;
    cursor: pointer;
}
.basket-summary-header h2 {
    margin: 0;
    padding: 0;

    font-size: 1.4rem;
    color: #384246;
    line-height: 24px;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 white;
}
.basket-summary-header p {
    margin: 0;
    padding: 0;

    line-height: 13px;
    font-size: 1rem;
    color: #6c8087;
}
.basket-summary-products {
    height: 50px;
    width: 230px;
    margin: 0;
    padding: 5px 10px;

    position: absolute;
    right: 0;
    top: 60px;

    border-radius: 0 0 4px 4px;
    background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
    -webkit-box-shadow: 0 2px 5px 0 #384246;
    cursor: pointer;
}
.basket-message
{
    color: #FF2300;
    font-size: 13px;
}