.basket-message {
    color: $colourRed;
    @include fontSize(13);
}

#basket-summary {
    width: 230px;
    margin: 0;
    padding: $spacingSmall $spacingMedium;

    position: absolute;
    right: 0;

    overflow: hidden;
    @include equalBorderRadius($radiusSize);
    @include verticalGradientWhiteToGreyLight;
    @include boxShadow($colourGreyDark, 0, -2px, 5px);
}

#basket-summary.expanded {
    width: 600px;
}

.basket-summary-header {
    min-height: 50px;

    cursor: pointer;
}

.basket-summary-header h2 {
    margin: 0;
    padding: 0;

    @include fontSize($fontSizeLarge);
    color: $colourGreyDark;
    line-height: 24px;
    letter-spacing: 1px;
    @include textShadow($colourWhite, 0, 1px);
}

.basket-summary-header p {
    margin: 0;
    padding: 0;

    line-height: 13px;
    @include fontSize($fontSizeExtraSmall);
    color: $colourGrey;
}

.basket-items-table {
    background: $colourWhite;
}

.basket-buttons {
    margin: $spacingSmall 0;
}

.basket-buttons .button:first-child {
    margin-left: $spacingSmall;
}

#basket-contents .add-to-basket {
    width: 63px;
    margin: 0;
}

#basket-totals td {
    padding: $spacingSmall $spacingMedium;
}

#basket-delivery-options .form-helper,
#order-information .form-helper {
    top: 0;
    right: 10px;
}