.basket-message
{
    color: #FF2300;
    font-size: 13px;
}
#basket-summary {
    width: 230px;
    position: absolute;
    right: 20px;
    z-index: 5;
    overflow: hidden;
    border-radius: 4px;
    background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
    -webkit-box-shadow: 0 -2px 5px 0 #384246;
    margin: 0;
    padding: 5px 10px;
    z-index: 10;
}

#basket-summary.expanded {
    width: 600px;
}

.basket-summary-header {
    min-height: 50px;
    width: 100%;
    margin: 0 0 -10px 0;
    padding: 5px 10px;
    z-index: 10;

    border-radius: 4px;
    background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
    -webkit-box-shadow: 0 -2px 5px 0 #384246;
    cursor: pointer;
}
.basket-summary-header h2 {
    margin: 0;
    padding: 0;

    font-size: 1.4rem;
    color: #384246;
    line-height: 24px;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 white;
}
.basket-summary-header p {
    margin: 0;
    padding: 0;

    line-height: 13px;
    font-size: 1rem;
    color: #6c8087;
}
.basket-items-table {
    background: #FFF;
}
.basket-buttons {
    margin: 5px 0;
}
.basket-buttons .button:first-child {
    margin-left: 5px;
}