@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 165, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 169, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 173, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 177, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 181, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 185, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 189, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 193, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 197, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 201, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 205, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 209, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 213, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 217, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red {
  background-color: #cc0000;
}

/* line 221, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 225, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 229, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 233, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 237, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 241, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 245, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 249, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 253, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 257, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 261, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 265, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green {
  background-color: #137f13;
}

/* line 269, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 273, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 277, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 281, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 285, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 289, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 293, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 297, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue {
  background-color: #003b73;
}

@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassyrzJhi.scss */
ul.breadcrumbs {
  margin: 8px 0 0 0;
  padding: 0;
  float: left;
}

/* line 9, assetic_compassyrzJhi.scss */
ul.breadcrumbs li {
  padding: 0 5px 0 13px;
  margin: 0;
  position: relative;
  float: left;
  display: block;
  list-style: none;
  font-size: 11px;
  font-size: 1.1rem;
  background: #6c8087;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  border: 1px solid #c5d2d6;
  line-height: 20px;
  color: white;
  text-shadow: 0 1px 0 #384246;
  text-shadow: 0 1px 0 #384246;
  filter: progid:DXImageTransform.Microsoft.Glow(Color = $shadowColour, Strength = 1), progid:DXImageTransform.Microsoft.blur(pixelradius = 5, enabled = 'true');
  -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color = $shadowColour, Strength = 2), progid:DXImageTransform.Microsoft.blur(pixelradius = $blurRadius, enabled = 'true')";
}

/* line 27, assetic_compassyrzJhi.scss */
ul.breadcrumbs li a {
  font-size: 11px;
  font-size: 1.1rem;
  color: #c5d2d6;
  text-shadow: 0 1px 0 #384246;
  text-shadow: 0 1px 0 #384246;
  filter: progid:DXImageTransform.Microsoft.Glow(Color = $shadowColour, Strength = 1), progid:DXImageTransform.Microsoft.blur(pixelradius = 5, enabled = 'true');
  -ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color = $shadowColour, Strength = 2), progid:DXImageTransform.Microsoft.blur(pixelradius = $blurRadius, enabled = 'true')";
  text-decoration: none;
}

/* line 34, assetic_compassyrzJhi.scss */
ul.breadcrumbs li a:hover {
  color: white;
}

/* line 39, assetic_compassyrzJhi.scss */
ul.breadcrumbs li:after,
ul.breadcrumbs li:before {
  height: 0;
  width: 0;
  position: absolute;
  left: 100%;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

/* line 51, assetic_compassyrzJhi.scss */
ul.breadcrumbs li:after {
  border-color: transparent;
  border-left-color: #6c8087;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/* line 59, assetic_compassyrzJhi.scss */
ul.breadcrumbs li:before {
  border-color: transparent;
  border-left-color: #c5d2d6;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

/* line 67, assetic_compassyrzJhi.scss */
ul.breadcrumbs > :first-child {
  padding-left: 5px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 72, assetic_compassyrzJhi.scss */
ul.breadcrumbs > :last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 77, assetic_compassyrzJhi.scss */
ul.breadcrumbs > :last-child:before,
ul.breadcrumbs > :last-child:after {
  display: none;
}
