@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 168, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 172, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 176, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 180, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 184, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 188, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 192, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 196, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 200, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 204, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 208, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 212, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 216, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 220, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red {
  background-color: #cc0000;
}

/* line 224, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 228, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 232, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 236, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 240, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 244, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 248, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 252, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 256, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 260, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 264, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 268, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green {
  background-color: #137f13;
}

/* line 272, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 276, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 280, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 284, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 288, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 292, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 296, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 300, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue {
  background-color: #003b73;
}

@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compasszQBVSO.scss */
.widget-group {
  margin: 0 -10px;
  *overflow: visible;
  *zoom: 1;
}

/* line 10, assetic_compasszQBVSO.scss */
.flush-widget-group {
  margin: 0 -20px 0 -20px !important;
}

/* line 14, assetic_compasszQBVSO.scss */
.separator-widget {
  border-bottom: 3px solid #6c8087;
}

/* line 18, assetic_compasszQBVSO.scss */
.widget {
  padding: 0 10px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, assetic_compasszQBVSO.scss */
.flush-widget-group .widget {
  padding: 0 !important;
}

/* line 32, assetic_compasszQBVSO.scss */
.widget-1-of-1 {
  float: none;
}

/* line 36, assetic_compasszQBVSO.scss */
.widget-1-of-2 {
  width: 50%;
}

/* line 40, assetic_compasszQBVSO.scss */
.widget-1-of-3 {
  width: 33.33333%;
}

/* line 44, assetic_compasszQBVSO.scss */
.widget-2-of-3 {
  width: 66.66666%;
}

/* line 48, assetic_compasszQBVSO.scss */
.widget-1-of-4 {
  width: 25%;
}

/* line 52, assetic_compasszQBVSO.scss */
.widget-3-of-4 {
  width: 75%;
}

/* line 56, assetic_compasszQBVSO.scss */
.widget-1-of-5 {
  width: 20%;
}

/* line 60, assetic_compasszQBVSO.scss */
.widget-2-of-5 {
  width: 40%;
}

/* line 64, assetic_compasszQBVSO.scss */
.widget-3-of-5 {
  width: 60%;
}

/* line 68, assetic_compasszQBVSO.scss */
.widget-4-of-5 {
  width: 80%;
}

/* line 72, assetic_compasszQBVSO.scss */
.widget-1-of-6 {
  width: 16.6666666%;
}

/* line 76, assetic_compasszQBVSO.scss */
.widget-5-of-6 {
  width: 83.3333333%;
}

/* line 80, assetic_compasszQBVSO.scss */
.widget-1-of-7 {
  width: 14.2857143%;
}

/* line 84, assetic_compasszQBVSO.scss */
.widget-2-of-7 {
  width: 28.5714286%;
}

/* line 88, assetic_compasszQBVSO.scss */
.widget-3-of-7 {
  width: 42.8571429%;
}

/* line 92, assetic_compasszQBVSO.scss */
.widget-4-of-7 {
  width: 57.1428572%;
}

/* line 96, assetic_compasszQBVSO.scss */
.widget-5-of-7 {
  width: 71.4285715%;
}

/* line 100, assetic_compasszQBVSO.scss */
.widget-6-of-7 {
  width: 85.7142858%;
}

/* line 104, assetic_compasszQBVSO.scss */
.widget-1-of-8 {
  width: 12.5%;
}

/* line 108, assetic_compasszQBVSO.scss */
.widget-2-of-8 {
  width: 25%;
}

/* line 112, assetic_compasszQBVSO.scss */
.widget-3-of-8 {
  width: 37.5%;
}

/* line 116, assetic_compasszQBVSO.scss */
.widget-4-of-8 {
  width: 50%;
}

/* line 120, assetic_compasszQBVSO.scss */
.widget-5-of-8 {
  width: 62.5%;
}

/* line 124, assetic_compasszQBVSO.scss */
.widget-6-of-8 {
  width: 75%;
}

/* line 128, assetic_compasszQBVSO.scss */
.widget-7-of-8 {
  width: 87.5%;
}

/* line 132, assetic_compasszQBVSO.scss */
.border-top-separator {
  border-top: 1px solid #e4eaec;
  -webkit-box-shadow: 0 -10px 10px -10px #c5d2d6;
  -webkit-box-shadow: 0 -10px 10px -10px #c5d2d6;
  -moz-box-shadow: 0 -10px 10px -10px #c5d2d6;
  -moz-box-shadow: 0 -10px 10px -10px #c5d2d6;
  box-shadow: 0 -10px 10px -10px #c5d2d6;
  box-shadow: 0 -10px 10px -10px #c5d2d6;
  behaviour: url("/bundles/kacsite/css/resources/htc/pie.htc");
}

/* line 137, assetic_compasszQBVSO.scss */
.border-right-separator {
  border-right: 1px solid #e4eaec;
  -webkit-box-shadow: 10px 0 10px -10px #c5d2d6;
  -webkit-box-shadow: 10px 0 10px -10px #c5d2d6;
  -moz-box-shadow: 10px 0 10px -10px #c5d2d6;
  -moz-box-shadow: 10px 0 10px -10px #c5d2d6;
  box-shadow: 10px 0 10px -10px #c5d2d6;
  box-shadow: 10px 0 10px -10px #c5d2d6;
  behaviour: url("/bundles/kacsite/css/resources/htc/pie.htc");
}

/* line 142, assetic_compasszQBVSO.scss */
.border-bottom-separator {
  border-bottom: 1px solid #e4eaec;
  -webkit-box-shadow: 0 10px 10px -10px #c5d2d6;
  -webkit-box-shadow: 0 10px 10px -10px #c5d2d6;
  -moz-box-shadow: 0 10px 10px -10px #c5d2d6;
  -moz-box-shadow: 0 10px 10px -10px #c5d2d6;
  box-shadow: 0 10px 10px -10px #c5d2d6;
  box-shadow: 0 10px 10px -10px #c5d2d6;
  behaviour: url("/bundles/kacsite/css/resources/htc/pie.htc");
}

/* line 147, assetic_compasszQBVSO.scss */
.border-left-separator {
  border-left: 1px solid #e4eaec;
  -webkit-box-shadow: -10px 0 10px -10px #c5d2d6;
  -webkit-box-shadow: -10px 0 10px -10px #c5d2d6;
  -moz-box-shadow: -10px 0 10px -10px #c5d2d6;
  -moz-box-shadow: -10px 0 10px -10px #c5d2d6;
  box-shadow: -10px 0 10px -10px #c5d2d6;
  box-shadow: -10px 0 10px -10px #c5d2d6;
  behaviour: url("/bundles/kacsite/css/resources/htc/pie.htc");
}
