@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassb2NqFg.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 8, assetic_compassb2NqFg.scss */
.strikethrough {
  text-decoration: line-through;
}

/* line 12, assetic_compassb2NqFg.scss */
.important {
  text-transform: uppercase;
  color: #cc0000;
  font-weight: bold;
}

/* line 18, assetic_compassb2NqFg.scss */
.small {
  color: #384246;
  font-size: 10px;
  font-size: 1rem;
}

/* line 23, assetic_compassb2NqFg.scss */
.colour-black {
  color: black;
}

/* line 27, assetic_compassb2NqFg.scss */
.colour-white {
  color: white;
}

/* line 31, assetic_compassb2NqFg.scss */
.colour-grey {
  color: #6c8087;
}

/* line 35, assetic_compassb2NqFg.scss */
.colour-red {
  color: #cc0000;
}

/* line 39, assetic_compassb2NqFg.scss */
.colour-dark-red {
  color: #9a0000;
}

/* line 43, assetic_compassb2NqFg.scss */
.colour-orange {
  color: #cc5200;
}

/* line 47, assetic_compassb2NqFg.scss */
.colour-yellow {
  color: #e6ac00;
}

/* line 51, assetic_compassb2NqFg.scss */
.colour-green {
  color: #137f13;
}

/* line 55, assetic_compassb2NqFg.scss */
.colour-blue {
  color: #003b73;
}

/* line 59, assetic_compassb2NqFg.scss */
.colour-turquoise {
  color: #007398;
}
