@charset "UTF-8";
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compass43eYfX.scss */
.clear {
  width: 0;
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

/* line 15, assetic_compass43eYfX.scss */
.clearfix:after {
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
  content: " ";
  font-size: 0;
}

/* line 28, assetic_compass43eYfX.scss */
* html .clearfix {
  zoom: 1;
}

/* line 32, assetic_compass43eYfX.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* line 36, assetic_compass43eYfX.scss */
.fill {
  width: 100%;
}

/* line 51, assetic_compass43eYfX.scss */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p,
blockquote,
pre {
  margin: 0 0 10px 0;
}

/* line 61, assetic_compass43eYfX.scss */
h1,
h2,
h3,
h4,
h5,
h6,
img {
  padding-bottom: 0;
}

/* line 74, assetic_compass43eYfX.scss */
table h1,
table h2,
table h3,
table h4,
table h5,
table h6,
table p,
table ul,
table ol,
table dl {
  padding: 0;
}

/* line 78, assetic_compass43eYfX.scss */
.ban {
  border: 0 none !important;
}

/* line 82, assetic_compass43eYfX.scss */
.btn {
  border-top: 0 none !important;
}

/* line 86, assetic_compass43eYfX.scss */
.brn {
  border-right: 0 none !important;
}

/* line 90, assetic_compass43eYfX.scss */
.bbn {
  border-bottom: 0 none !important;
}

/* line 94, assetic_compass43eYfX.scss */
.bln {
  border-left: 0 none !important;
}

/* line 100, assetic_compass43eYfX.scss */
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}

/* line 106, assetic_compass43eYfX.scss */
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
}

/* line 112, assetic_compass43eYfX.scss */
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
}

/* line 118, assetic_compass43eYfX.scss */
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
}

/* line 124, assetic_compass43eYfX.scss */
.prn,
.phn,
.pan {
  padding-right: 0 !important;
}

/* line 130, assetic_compass43eYfX.scss */
.prs,
.phs,
.pas {
  padding-right: 5px !important;
}

/* line 136, assetic_compass43eYfX.scss */
.prm,
.phm,
.pam {
  padding-right: 10px !important;
}

/* line 142, assetic_compass43eYfX.scss */
.prl,
.phl,
.pal {
  padding-right: 20px !important;
}

/* line 148, assetic_compass43eYfX.scss */
.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}

/* line 154, assetic_compass43eYfX.scss */
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
}

/* line 160, assetic_compass43eYfX.scss */
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
}

/* line 166, assetic_compass43eYfX.scss */
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
}

/* line 172, assetic_compass43eYfX.scss */
.pln,
.phn,
.pan {
  padding-left: 0 !important;
}

/* line 178, assetic_compass43eYfX.scss */
.pls,
.phs,
.pas {
  padding-left: 5px !important;
}

/* line 184, assetic_compass43eYfX.scss */
.plm,
.phm,
.pam {
  padding-left: 10px !important;
}

/* line 190, assetic_compass43eYfX.scss */
.pll,
.phl,
.pal {
  padding-left: 20px !important;
}

/* line 196, assetic_compass43eYfX.scss */
.mtn,
.mvn,
.man {
  margin-top: 0 !important;
}

/* line 202, assetic_compass43eYfX.scss */
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
}

/* line 208, assetic_compass43eYfX.scss */
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
}

/* line 214, assetic_compass43eYfX.scss */
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
}

/* line 220, assetic_compass43eYfX.scss */
.mrn,
.mhn,
.man {
  margin-right: 0 !important;
}

/* line 225, assetic_compass43eYfX.scss */
.mrs, .mhs,
.mas {
  margin-right: 5px !important;
}

/* line 231, assetic_compass43eYfX.scss */
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
}

/* line 237, assetic_compass43eYfX.scss */
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
}

/* line 243, assetic_compass43eYfX.scss */
.mbn,
.mvn,
.man {
  margin-bottom: 0 !important;
}

/* line 249, assetic_compass43eYfX.scss */
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
}

/* line 255, assetic_compass43eYfX.scss */
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
}

/* line 261, assetic_compass43eYfX.scss */
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
}

/* line 267, assetic_compass43eYfX.scss */
.mln,
.mhn,
.man {
  margin-left: 0 !important;
}

/* line 273, assetic_compass43eYfX.scss */
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
}

/* line 279, assetic_compass43eYfX.scss */
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
}

/* line 285, assetic_compass43eYfX.scss */
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
}

/* line 290, assetic_compass43eYfX.scss */
.mra,
.mha {
  margin-right: auto !important;
}

/* line 295, assetic_compass43eYfX.scss */
.mla,
.mha {
  margin-left: auto !important;
}

/* line 299, assetic_compass43eYfX.scss */
.fl {
  float: left !important;
}

/* line 303, assetic_compass43eYfX.scss */
.fr {
  float: right !important;
}

/* line 307, assetic_compass43eYfX.scss */
.fn {
  float: none !important;
}

/* line 311, assetic_compass43eYfX.scss */
.pr {
  position: relative;
}

/* line 315, assetic_compass43eYfX.scss */
.pa {
  position: absolute;
}
