@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 165, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 169, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 173, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 177, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 181, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 185, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 189, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 193, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 197, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 201, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 205, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 209, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 213, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 217, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red {
  background-color: #cc0000;
}

/* line 221, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 225, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 229, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 233, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 237, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 241, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 245, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 249, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 253, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 257, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 261, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 265, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green {
  background-color: #137f13;
}

/* line 269, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 273, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 277, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 281, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 285, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 289, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 293, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 297, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue {
  background-color: #003b73;
}

@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassvzKyOl.scss */
.gradient-black {
  background: #384246;
  background: -moz-linear-gradient(top, #c5d2d6 0%, #384246 5%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5d2d6), color-stop(5%, #384246), color-stop(100%, black));
  background: -webkit-linear-gradient(top, #c5d2d6 0%, #384246 5%, black 100%);
  background: -o-linear-gradient(top, #c5d2d6 0%, #384246 5%, black 100%);
  background: -ms-linear-gradient(top, #c5d2d6 0%, #384246 5%, black 100%);
  background: linear-gradient(to bottom, #c5d2d6 0%, #384246 5%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#384246', endColorstr = 'black', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMzODQyNDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c5d2d6), color-stop(5%, #384246), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #c5d2d6, #384246 5%, #000000 100%);
  background-image: -moz-linear-gradient(top, #c5d2d6, #384246 5%, #000000 100%);
  background-image: -o-linear-gradient(top, #c5d2d6, #384246 5%, #000000 100%);
  background-image: linear-gradient(top, #c5d2d6, #384246 5%, #000000 100%);
  background-repeat: no-repeat;
}

/* line 8, assetic_compassvzKyOl.scss */
.gradient-black-reversed {
  background: black;
  background: -moz-linear-gradient(top, black 0%, #384246 95%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(95%, #384246), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, black 0%, #384246 95%, #c5d2d6 100%);
  background: -o-linear-gradient(top, black 0%, #384246 95%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, black 0%, #384246 95%, #c5d2d6 100%);
  background: linear-gradient(to bottom, #000000 0%, #384246 95%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'black', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMzODQyNDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c5d2d6), color-stop(5%, #384246), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(bottom, #c5d2d6, #384246 5%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #c5d2d6, #384246 5%, #000000 100%);
  background-image: -o-linear-gradient(bottom, #c5d2d6, #384246 5%, #000000 100%);
  background-image: linear-gradient(bottom, #c5d2d6, #384246 5%, #000000 100%);
  background-repeat: no-repeat;
}

/* line 12, assetic_compassvzKyOl.scss */
.gradient-grey {
  background: #c5d2d6;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 5%, #6c8087 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 5%, #6c8087 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 5%, #6c8087 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 5%, #6c8087 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #c5d2d6 5%, #6c8087 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5d2d6', endColorstr = '#6c8087', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzgwODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: linear-gradient(top, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-repeat: no-repeat;
}

/* line 16, assetic_compassvzKyOl.scss */
.gradient-grey-reversed {
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #c5d2d6 95%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(95%, #c5d2d6), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #6c8087 0%, #c5d2d6 95%, white 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #c5d2d6 95%, white 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #c5d2d6 95%, white 100%);
  background: linear-gradient(to bottom, #6c8087 0%, #c5d2d6 95%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzgwODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: -o-linear-gradient(bottom, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-image: linear-gradient(bottom, #ffffff, #c5d2d6 5%, #6c8087 100%);
  background-repeat: no-repeat;
}

/* line 20, assetic_compassvzKyOl.scss */
.gradient-grey-light {
  background: #e4eaec;
  background: -moz-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e4eaec 5%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4eaec', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNlNGVhZWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -o-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-repeat: no-repeat;
}

/* line 24, assetic_compassvzKyOl.scss */
.gradient-grey-light-reversed {
  background: #c5d2d6;
  background: -moz-linear-gradient(top, #c5d2d6 0%, #e4eaec 95%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5d2d6), color-stop(95%, #e4eaec), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #c5d2d6 0%, #e4eaec 95%, white 100%);
  background: -o-linear-gradient(top, #c5d2d6 0%, #e4eaec 95%, white 100%);
  background: -ms-linear-gradient(top, #c5d2d6 0%, #e4eaec 95%, white 100%);
  background: linear-gradient(to bottom, #c5d2d6 0%, #e4eaec 95%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5d2d6', endColorstr = '#e4eaec', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNlNGVhZWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -o-linear-gradient(bottom, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: linear-gradient(bottom, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-repeat: no-repeat;
}

/* line 28, assetic_compassvzKyOl.scss */
.gradient-dark-red {
  background: #d93637;
  background: -moz-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background: -webkit-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -o-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -ms-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: linear-gradient(to bottom, #fdadae 0%, #d93637 5%, #9a0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d93637', endColorstr = '#9a0000', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWRhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNkOTM2MzciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background-image: -webkit-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -moz-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -o-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-repeat: no-repeat;
}

/* line 32, assetic_compassvzKyOl.scss */
.gradient-dark-red-reversed {
  background: #9a0000;
  background: -moz-linear-gradient(top, #9a0000 0%, #d93637 95%, #fdadae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a0000), color-stop(95%, #d93637), color-stop(100%, #fdadae));
  background: -webkit-linear-gradient(top, #9a0000 0%, #d93637 95%, #fdadae 100%);
  background: -o-linear-gradient(top, #9a0000 0%, #d93637 95%, #fdadae 100%);
  background: -ms-linear-gradient(top, #9a0000 0%, #d93637 95%, #fdadae 100%);
  background: linear-gradient(to bottom, #9a0000 0%, #d93637 95%, #fdadae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9a0000', endColorstr = '#d93637', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWRhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNkOTM2MzciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background-image: -webkit-linear-gradient(bottom, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -moz-linear-gradient(bottom, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -o-linear-gradient(bottom, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: linear-gradient(bottom, #fdadae, #d93637 5%, #9a0000 100%);
  background-repeat: no-repeat;
}

/* line 36, assetic_compassvzKyOl.scss */
.gradient-red {
  background: #ff3f40;
  background: -moz-linear-gradient(top, #ffb9b9 0%, #ff3f40 5%, #cc0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb9b9), color-stop(5%, #ff3f40), color-stop(100%, #cc0000));
  background: -webkit-linear-gradient(top, #ffb9b9 0%, #ff3f40 5%, #cc0000 100%);
  background: -o-linear-gradient(top, #ffb9b9 0%, #ff3f40 5%, #cc0000 100%);
  background: -ms-linear-gradient(top, #ffb9b9 0%, #ff3f40 5%, #cc0000 100%);
  background: linear-gradient(to bottom, #ffb9b9 0%, #ff3f40 5%, #cc0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff3f40', endColorstr = '#cc0000', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjliOSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZjNmNDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb9b9), color-stop(5%, #ff3f40), color-stop(100%, #cc0000));
  background-image: -webkit-linear-gradient(top, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: -moz-linear-gradient(top, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: -o-linear-gradient(top, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: linear-gradient(top, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-repeat: no-repeat;
}

/* line 40, assetic_compassvzKyOl.scss */
.gradient-red-reversed {
  background: #cc0000;
  background: -moz-linear-gradient(top, #cc0000 0%, #ff3f40 95%, #ffb9b9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0000), color-stop(95%, #ff3f40), color-stop(100%, #ffb9b9));
  background: -webkit-linear-gradient(top, #cc0000 0%, #ff3f40 95%, #ffb9b9 100%);
  background: -o-linear-gradient(top, #cc0000 0%, #ff3f40 95%, #ffb9b9 100%);
  background: -ms-linear-gradient(top, #cc0000 0%, #ff3f40 95%, #ffb9b9 100%);
  background: linear-gradient(to bottom, #cc0000 0%, #ff3f40 95%, #ffb9b9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cc0000', endColorstr = '#ff3f40', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjliOSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZjNmNDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffb9b9), color-stop(5%, #ff3f40), color-stop(100%, #cc0000));
  background-image: -webkit-linear-gradient(bottom, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: -moz-linear-gradient(bottom, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: -o-linear-gradient(bottom, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-image: linear-gradient(bottom, #ffb9b9, #ff3f40 5%, #cc0000 100%);
  background-repeat: no-repeat;
}

/* line 44, assetic_compassvzKyOl.scss */
.gradient-orange {
  background: #ff8434;
  background: -moz-linear-gradient(top, #ffdec5 0%, #ff8434 5%, #cc5200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdec5), color-stop(5%, #ff8434), color-stop(100%, #cc5200));
  background: -webkit-linear-gradient(top, #ffdec5 0%, #ff8434 5%, #cc5200 100%);
  background: -o-linear-gradient(top, #ffdec5 0%, #ff8434 5%, #cc5200 100%);
  background: -ms-linear-gradient(top, #ffdec5 0%, #ff8434 5%, #cc5200 100%);
  background: linear-gradient(to bottom, #ffdec5 0%, #ff8434 5%, #cc5200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8434', endColorstr = '#cc5200', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGVjNSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZjg0MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzUyMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffdec5), color-stop(5%, #ff8434), color-stop(100%, #cc5200));
  background-image: -webkit-linear-gradient(top, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: -moz-linear-gradient(top, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: -o-linear-gradient(top, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: linear-gradient(top, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-repeat: no-repeat;
}

/* line 48, assetic_compassvzKyOl.scss */
.gradient-orange-reversed {
  background: #cc5200;
  background: -moz-linear-gradient(top, #cc5200 0%, #ff8434 95%, #ffdec5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc5200), color-stop(95%, #ff8434), color-stop(100%, #ffdec5));
  background: -webkit-linear-gradient(top, #cc5200 0%, #ff8434 95%, #ffdec5 100%);
  background: -o-linear-gradient(top, #cc5200 0%, #ff8434 95%, #ffdec5 100%);
  background: -ms-linear-gradient(top, #cc5200 0%, #ff8434 95%, #ffdec5 100%);
  background: linear-gradient(to bottom, #cc5200 0%, #ff8434 95%, #ffdec5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cc5200', endColorstr = '#ff8434', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGVjNSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZjg0MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzUyMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffdec5), color-stop(5%, #ff8434), color-stop(100%, #cc5200));
  background-image: -webkit-linear-gradient(bottom, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: -moz-linear-gradient(bottom, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: -o-linear-gradient(bottom, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-image: linear-gradient(bottom, #ffdec5, #ff8434 5%, #cc5200 100%);
  background-repeat: no-repeat;
}

/* line 52, assetic_compassvzKyOl.scss */
.gradient-yellow {
  background: #ffd634;
  background: -moz-linear-gradient(top, #fffadd 0%, #ffd634 5%, #e6ac00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffadd), color-stop(5%, #ffd634), color-stop(100%, #e6ac00));
  background: -webkit-linear-gradient(top, #fffadd 0%, #ffd634 5%, #e6ac00 100%);
  background: -o-linear-gradient(top, #fffadd 0%, #ffd634 5%, #e6ac00 100%);
  background: -ms-linear-gradient(top, #fffadd 0%, #ffd634 5%, #e6ac00 100%);
  background: linear-gradient(to bottom, #fffadd 0%, #ffd634 5%, #e6ac00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffd634', endColorstr = '#e6ac00', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmFkZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZmQ2MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmFjMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffadd), color-stop(5%, #ffd634), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(top, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: -moz-linear-gradient(top, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: -o-linear-gradient(top, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: linear-gradient(top, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-repeat: no-repeat;
}

/* line 56, assetic_compassvzKyOl.scss */
.gradient-yellow-reversed {
  background: #e6ac00;
  background: -moz-linear-gradient(top, #e6ac00 0%, #ffd634 95%, #fffadd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6ac00), color-stop(95%, #ffd634), color-stop(100%, #fffadd));
  background: -webkit-linear-gradient(top, #e6ac00 0%, #ffd634 95%, #fffadd 100%);
  background: -o-linear-gradient(top, #e6ac00 0%, #ffd634 95%, #fffadd 100%);
  background: -ms-linear-gradient(top, #e6ac00 0%, #ffd634 95%, #fffadd 100%);
  background: linear-gradient(to bottom, #e6ac00 0%, #ffd634 95%, #fffadd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e6ac00', endColorstr = '#ffd634', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmFkZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNmZmQ2MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmFjMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fffadd), color-stop(5%, #ffd634), color-stop(100%, #e6ac00));
  background-image: -webkit-linear-gradient(bottom, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: -moz-linear-gradient(bottom, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: -o-linear-gradient(bottom, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-image: linear-gradient(bottom, #fffadd, #ffd634 5%, #e6ac00 100%);
  background-repeat: no-repeat;
}

/* line 60, assetic_compassvzKyOl.scss */
.gradient-green {
  background: #2baf2b;
  background: -moz-linear-gradient(top, #b0e2ae 0%, #2baf2b 5%, #137f13 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0e2ae), color-stop(5%, #2baf2b), color-stop(100%, #137f13));
  background: -webkit-linear-gradient(top, #b0e2ae 0%, #2baf2b 5%, #137f13 100%);
  background: -o-linear-gradient(top, #b0e2ae 0%, #2baf2b 5%, #137f13 100%);
  background: -ms-linear-gradient(top, #b0e2ae 0%, #2baf2b 5%, #137f13 100%);
  background: linear-gradient(to bottom, #b0e2ae 0%, #2baf2b 5%, #137f13 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2baf2b', endColorstr = '#137f13', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwZTJhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMyYmFmMmIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzdmMTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0e2ae), color-stop(5%, #2baf2b), color-stop(100%, #137f13));
  background-image: -webkit-linear-gradient(top, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: -moz-linear-gradient(top, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: -o-linear-gradient(top, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: linear-gradient(top, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-repeat: no-repeat;
}

/* line 64, assetic_compassvzKyOl.scss */
.gradient-green-reversed {
  background: #137f13;
  background: -moz-linear-gradient(top, #137f13 0%, #2baf2b 95%, #b0e2ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #137f13), color-stop(95%, #2baf2b), color-stop(100%, #b0e2ae));
  background: -webkit-linear-gradient(top, #137f13 0%, #2baf2b 95%, #b0e2ae 100%);
  background: -o-linear-gradient(top, #137f13 0%, #2baf2b 95%, #b0e2ae 100%);
  background: -ms-linear-gradient(top, #137f13 0%, #2baf2b 95%, #b0e2ae 100%);
  background: linear-gradient(to bottom, #137f13 0%, #2baf2b 95%, #b0e2ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#137f13', endColorstr = '#2baf2b', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwZTJhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMyYmFmMmIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzdmMTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #b0e2ae), color-stop(5%, #2baf2b), color-stop(100%, #137f13));
  background-image: -webkit-linear-gradient(bottom, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: -moz-linear-gradient(bottom, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: -o-linear-gradient(bottom, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-image: linear-gradient(bottom, #b0e2ae, #2baf2b 5%, #137f13 100%);
  background-repeat: no-repeat;
}

/* line 68, assetic_compassvzKyOl.scss */
.gradient-turquoise {
  background: #29a3cc;
  background: -moz-linear-gradient(top, #baebfc 0%, #29a3cc 5%, #007398 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #baebfc), color-stop(5%, #29a3cc), color-stop(100%, #007398));
  background: -webkit-linear-gradient(top, #baebfc 0%, #29a3cc 5%, #007398 100%);
  background: -o-linear-gradient(top, #baebfc 0%, #29a3cc 5%, #007398 100%);
  background: -ms-linear-gradient(top, #baebfc 0%, #29a3cc 5%, #007398 100%);
  background: linear-gradient(to bottom, #baebfc 0%, #29a3cc 5%, #007398 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#29a3cc', endColorstr = '#007398', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhZWJmYyIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMyOWEzY2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczOTgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #baebfc), color-stop(5%, #29a3cc), color-stop(100%, #007398));
  background-image: -webkit-linear-gradient(top, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: -moz-linear-gradient(top, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: -o-linear-gradient(top, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: linear-gradient(top, #baebfc, #29a3cc 5%, #007398 100%);
  background-repeat: no-repeat;
}

/* line 72, assetic_compassvzKyOl.scss */
.gradient-turquoise-reversed {
  background: #007398;
  background: -moz-linear-gradient(top, #007398 0%, #29a3cc 95%, #baebfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007398), color-stop(95%, #29a3cc), color-stop(100%, #baebfc));
  background: -webkit-linear-gradient(top, #007398 0%, #29a3cc 95%, #baebfc 100%);
  background: -o-linear-gradient(top, #007398 0%, #29a3cc 95%, #baebfc 100%);
  background: -ms-linear-gradient(top, #007398 0%, #29a3cc 95%, #baebfc 100%);
  background: linear-gradient(to bottom, #007398 0%, #29a3cc 95%, #baebfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#007398', endColorstr = '#29a3cc', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhZWJmYyIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMyOWEzY2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczOTgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #baebfc), color-stop(5%, #29a3cc), color-stop(100%, #007398));
  background-image: -webkit-linear-gradient(bottom, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: -moz-linear-gradient(bottom, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: -o-linear-gradient(bottom, #baebfc, #29a3cc 5%, #007398 100%);
  background-image: linear-gradient(bottom, #baebfc, #29a3cc 5%, #007398 100%);
  background-repeat: no-repeat;
}

/* line 76, assetic_compassvzKyOl.scss */
.gradient-blue {
  background: #0061bf;
  background: -moz-linear-gradient(top, #94c9fd 0%, #0061bf 5%, #003b73 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94c9fd), color-stop(5%, #0061bf), color-stop(100%, #003b73));
  background: -webkit-linear-gradient(top, #94c9fd 0%, #0061bf 5%, #003b73 100%);
  background: -o-linear-gradient(top, #94c9fd 0%, #0061bf 5%, #003b73 100%);
  background: -ms-linear-gradient(top, #94c9fd 0%, #0061bf 5%, #003b73 100%);
  background: linear-gradient(to bottom, #94c9fd 0%, #0061bf 5%, #003b73 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0061bf', endColorstr = '#003b73', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YzlmZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMwMDYxYmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDNiNzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94c9fd), color-stop(5%, #0061bf), color-stop(100%, #003b73));
  background-image: -webkit-linear-gradient(top, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: -moz-linear-gradient(top, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: -o-linear-gradient(top, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: linear-gradient(top, #94c9fd, #0061bf 5%, #003b73 100%);
  background-repeat: no-repeat;
}

/* line 80, assetic_compassvzKyOl.scss */
.gradient-blue-reversed {
  background: #003b73;
  background: -moz-linear-gradient(top, #003b73 0%, #0061bf 95%, #94c9fd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003b73), color-stop(95%, #0061bf), color-stop(100%, #94c9fd));
  background: -webkit-linear-gradient(top, #003b73 0%, #0061bf 95%, #94c9fd 100%);
  background: -o-linear-gradient(top, #003b73 0%, #0061bf 95%, #94c9fd 100%);
  background: -ms-linear-gradient(top, #003b73 0%, #0061bf 95%, #94c9fd 100%);
  background: linear-gradient(to bottom, #003b73 0%, #0061bf 95%, #94c9fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#003b73', endColorstr = '#0061bf', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YzlmZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMwMDYxYmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDNiNzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #94c9fd), color-stop(5%, #0061bf), color-stop(100%, #003b73));
  background-image: -webkit-linear-gradient(bottom, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: -moz-linear-gradient(bottom, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: -o-linear-gradient(bottom, #94c9fd, #0061bf 5%, #003b73 100%);
  background-image: linear-gradient(bottom, #94c9fd, #0061bf 5%, #003b73 100%);
  background-repeat: no-repeat;
}
