@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 165, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 169, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 173, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 177, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 181, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 185, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 189, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 193, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 197, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 201, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 205, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 209, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 213, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 217, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red {
  background-color: #cc0000;
}

/* line 221, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 225, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 229, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 233, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 237, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 241, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 245, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 249, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 253, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 257, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 261, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 265, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green {
  background-color: #137f13;
}

/* line 269, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 273, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 277, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 281, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 285, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 289, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 293, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 297, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue {
  background-color: #003b73;
}

@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassz2lH75.scss */
.etalage {
  display: none;
  margin-bottom: 50px;
}

/* line 9, assetic_compassz2lH75.scss */
.etalage-inset {
  margin-top: -113px !important;
}

/* line 15, assetic_compassz2lH75.scss */
.etalage .etalage_thumb,
.etalage .etalage_zoom_area,
.etalage_zoom_area {
  padding: 10px;
  background: white url("/bundles/kacsite/css/resources/images/loaders/loader.gif") center no-repeat;
  border: 1px solid #e4eaec;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 #384246;
}

/* line 23, assetic_compassz2lH75.scss */
.etalage .etalage_small_thumbs li {
  background: white;
  border: 1px solid #e4eaec;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

/* line 31, assetic_compassz2lH75.scss */
.etalage ul li.etalage_smallthumb_active {
  border: 1px solid #4ec0e3;
}

/* line 35, assetic_compassz2lH75.scss */
.etalage .etalage_magnifier {
  background: white;
  border: 1px solid #e4eaec;
  cursor: pointer;
}

/* line 41, assetic_compassz2lH75.scss */
.etalage .etalage_icon {
  background: transparent url("/bundles/kacsite/css/resources/images/icons/zoom.png") no-repeat;
  width: 20px;
  height: 20px;
}

/* line 47, assetic_compassz2lH75.scss */
.etalage .etalage_description {
  background: white;
  font-style: italic;
  margin: 10px;
  padding: 10px;
}

/* line 60, assetic_compassz2lH75.scss */
.etalage,
.etalage_thumb,
.etalage_thumb_image,
.etalage_source_image,
.etalage_zoom_preview,
.etalage_icon,
.etalage_hint {
  display: none;
}

/* line 70, assetic_compassz2lH75.scss */
.etalage,
.etalage ul,
.etalage li,
.etalage img,
.etalage_hint,
.etalage_icon,
.etalage_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/* line 84, assetic_compassz2lH75.scss */
.etalage,
.etalage_magnifier div,
.etalage_magnifier div img,
.etalage_small_thumbs ul,
ul .etalage_small_thumbs li,
.etalage_zoom_area div,
.etalage_zoom_img {
  position: relative;
}

/* line 89, assetic_compassz2lH75.scss */
.etalage img,
.etalage li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}

/* line 101, assetic_compassz2lH75.scss */
.etalage,
.etalage_small_thumbs li {
  float: left;
}

/* line 105, assetic_compassz2lH75.scss */
.etalage_right {
  float: right;
}

/* line 109, assetic_compassz2lH75.scss */
.etalage li {
  position: absolute;
}

/* line 113, assetic_compassz2lH75.scss */
.etalage img {
  vertical-align: bottom;
  max-width: none;
}

/* line 118, assetic_compassz2lH75.scss */
.etalage_magnifier {
  cursor: default;
}

/* line 122, assetic_compassz2lH75.scss */
.etalage_magnifier div {
  overflow: hidden;
}

/* line 125, assetic_compassz2lH75.scss */
.etalage_small_thumbs {
  overflow-x: hidden;
  overflow-y: visible;
}

/* line 130, assetic_compassz2lH75.scss */
.etalage_magnifier div img {
  display: none;
}

/* line 135, assetic_compassz2lH75.scss */
.etalage_icon,
.etalage_hint {
  cursor: default;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* line 142, assetic_compassz2lH75.scss */
.etalage_small_thumbs li.vertical {
  float: none;
}

/* line 146, assetic_compassz2lH75.scss */
.etalage_zoom_area div {
  overflow: hidden;
}

/* line 150, assetic_compassz2lH75.scss */
.etalage_zoom_preview {
  position: absolute;
}

/* line 154, assetic_compassz2lH75.scss */
.etalage {
  direction: ltr;
}

/* line 158, assetic_compassz2lH75.scss */
div.etalage_description {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 164, assetic_compassz2lH75.scss */
div.etalage_description.rtl {
  direction: rtl;
  text-align: right;
}

/* line 169, assetic_compassz2lH75.scss */
.jquery-lightbox-overlay {
  background: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 174, assetic_compassz2lH75.scss */
.jquery-lightbox {
  padding: 17px 0;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 black;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
}

/* line 185, assetic_compassz2lH75.scss */
.jquery-lightbox-border-top-left,
.jquery-lightbox-border-top-right,
.jquery-lightbox-border-bottom-left,
.jquery-lightbox-border-bottom-right {
  height: 18px;
  width: 12%;
  position: absolute;
}

/* line 192, assetic_compassz2lH75.scss */
.jquery-lightbox-border-top-left {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat 0 0;
  top: 0;
  left: 0;
}

/* line 198, assetic_compassz2lH75.scss */
.jquery-lightbox-border-top-right {
  top: 0;
  right: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat right 0;
}

/* line 205, assetic_compassz2lH75.scss */
.jquery-lightbox-border-top-middle {
  height: 7px;
  width: 78%;
  position: absolute;
  top: 0;
  left: 12%;
  background: white;
  overflow: hidden;
}

/* line 217, assetic_compassz2lH75.scss */
.jquery-lightbox-border-bottom-left {
  bottom: 0;
  left: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat 0 bottom;
}

/* line 224, assetic_compassz2lH75.scss */
.jquery-lightbox-border-bottom-right {
  bottom: 0;
  right: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat right bottom;
}

/* line 231, assetic_compassz2lH75.scss */
.jquery-lightbox-border-bottom-middle {
  height: 7px;
  width: 78%;
  position: absolute;
  bottom: 0;
  left: 12%;
  overflow: hidden;
  background: white;
}

/* line 243, assetic_compassz2lH75.scss */
.jquery-lightbox-title {
  padding: 5px 8px;
  margin: 3px;
  position: absolute;
  bottom: 0;
  background: white;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  opacity: 0.9;
}

/* line 258, assetic_compassz2lH75.scss */
.jquery-lightbox-html {
  padding: 0px 15px;
  position: relative;
  border: 0;
  border-left: 7px solid white;
  border-right: 7px solid white;
  vertical-align: top;
}

/* line 270, assetic_compassz2lH75.scss */
.jquery-lightbox-html embed,
.jquery-lightbox-html object,
.jquery-lightbox-html iframe {
  vertical-align: top;
  display: block;
}

/* line 275, assetic_compassz2lH75.scss */
.jquery-lightbox-background {
  padding: 0;
  position: absolute;
  top: 7px;
  left: 7px;
  float: left;
}

/* line 285, assetic_compassz2lH75.scss */
.jquery-lightbox-background img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border: 0;
}

/* line 297, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-image .jquery-lightbox-html {
  padding: 0;
}

/* line 301, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-html .jquery-lightbox-background {
  background: white;
}

/* line 305, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-html .jquery-lightbox-html {
  overflow: auto;
}

/* line 310, assetic_compassz2lH75.scss */
.jquery-lightbox-loading,
.jquery-lightbox-mode-html .jquery-lightbox-loading {
  background: white url("/bundles/kacsite/css/resources/images/loaders/loader.gif") center no-repeat;
}

/* line 314, assetic_compassz2lH75.scss */
.jquery-lightbox-button-close {
  width: 29px;
  height: 29px;
  position: absolute;
  top: 12px;
  right: -26px;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -190px -115px;
}

/* line 325, assetic_compassz2lH75.scss */
.jquery-lightbox-button-close:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -115px;
}

/* line 330, assetic_compassz2lH75.scss */
.jquery-lightbox-button-close span,
.jquery-lightbox-buttons span {
  display: none;
}

/* line 334, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
  right: 14px;
}

/* line 338, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons {
  height: 39px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: none;
}

/* line 349, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-init,
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
  width: 5px;
  height: 39px;
  float: left;
  display: inline;
}

/* line 358, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
  margin: 7px 0 0 7px;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -151px -153px;
}

/* line 364, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
  margin: 7px 0 0 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -244px -153px;
}

/* line 370, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-left {
  width: 24px;
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -156px -153px;
}

/* line 381, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-left:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -156px -194px;
}

/* line 385, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-right {
  height: 39px;
  width: 24px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -153px;
}

/* line 396, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-right:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -194px;
}

/* line 400, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-max {
  width: 36px;
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -182px -153px;
}

/* line 411, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-max:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -182px -194px;
}

/* line 415, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-min {
  margin: 7px 0 0 0;
  width: 36px;
  height: 39px;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -162px -235px;
}

/* line 426, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-min:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -207px -235px;
}

/* line 430, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons-custom {
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: white;
  line-height: 39px;
  font-size: 10px;
  font-size: 1rem;
}

/* line 442, assetic_compassz2lH75.scss */
.jquery-lightbox-buttons-custom a {
  padding: 0 3px;
  display: inline;
  color: white;
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: underline;
}

/* line 454, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-image .jquery-lightbox-button-close,
.jquery-lightbox-mode-image .jquery-lightbox-buttons {
  opacity: 0.8;
}

/* line 459, assetic_compassz2lH75.scss */
.jquery-lightbox-mode-image:hover .jquery-lightbox-buttons,
.jquery-lightbox-mode-image:hover .jquery-lightbox-button-close {
  opacity: 1;
}

/* line 463, assetic_compassz2lH75.scss */
.jquery-lightbox-navigator {
  display: none;
}

/* line 467, assetic_compassz2lH75.scss */
.jquery-lightbox-hide {
  display: none;
}

/* line 471, assetic_compassz2lH75.scss */
.db {
  display: block;
}
