@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassXxAatY.scss */
.etalage {
  display: none;
  margin-bottom: 50px;
}

/* line 9, assetic_compassXxAatY.scss */
.etalage-inset {
  margin-top: -75px !important;
  margin-left: 38px !important;
}

/* line 16, assetic_compassXxAatY.scss */
.etalage .etalage_thumb,
.etalage .etalage_zoom_area,
.etalage_zoom_area {
  padding: 10px;
  background: white url("/bundles/kacsite/css/resources/images/loaders/loader.gif") center no-repeat;
  border: 1px solid #e4eaec;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 #384246;
}

/* line 24, assetic_compassXxAatY.scss */
.etalage .etalage_small_thumbs li {
  background: white;
  border: 1px solid #e4eaec;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
}

/* line 32, assetic_compassXxAatY.scss */
.etalage ul li.etalage_smallthumb_active {
  border: 1px solid #4ec0e3;
}

/* line 36, assetic_compassXxAatY.scss */
.etalage .etalage_magnifier {
  background: white;
  border: 1px solid #e4eaec;
  cursor: pointer;
}

/* line 42, assetic_compassXxAatY.scss */
.etalage .etalage_icon {
  background: transparent url("/bundles/kacsite/css/resources/images/icons/zoom.png") no-repeat;
  width: 20px;
  height: 20px;
}

/* line 48, assetic_compassXxAatY.scss */
.etalage .etalage_description {
  background: white;
  font-style: italic;
  margin: 10px;
  padding: 10px;
}

/* line 61, assetic_compassXxAatY.scss */
.etalage,
.etalage_thumb,
.etalage_thumb_image,
.etalage_source_image,
.etalage_zoom_preview,
.etalage_icon,
.etalage_hint {
  display: none;
}

/* line 71, assetic_compassXxAatY.scss */
.etalage,
.etalage ul,
.etalage li,
.etalage img,
.etalage_hint,
.etalage_icon,
.etalage_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/* line 85, assetic_compassXxAatY.scss */
.etalage,
.etalage_magnifier div,
.etalage_magnifier div img,
.etalage_small_thumbs ul,
ul .etalage_small_thumbs li,
.etalage_zoom_area div,
.etalage_zoom_img {
  position: relative;
}

/* line 90, assetic_compassXxAatY.scss */
.etalage img,
.etalage li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}

/* line 102, assetic_compassXxAatY.scss */
.etalage,
.etalage_small_thumbs li {
  float: left;
}

/* line 106, assetic_compassXxAatY.scss */
.etalage_right {
  float: right;
}

/* line 110, assetic_compassXxAatY.scss */
.etalage li {
  position: absolute;
}

/* line 114, assetic_compassXxAatY.scss */
.etalage img {
  vertical-align: bottom;
  max-width: none;
}

/* line 119, assetic_compassXxAatY.scss */
.etalage_magnifier {
  cursor: default;
}

/* line 123, assetic_compassXxAatY.scss */
.etalage_magnifier div {
  overflow: hidden;
}

/* line 126, assetic_compassXxAatY.scss */
.etalage_small_thumbs {
  overflow-x: hidden;
  overflow-y: visible;
}

/* line 131, assetic_compassXxAatY.scss */
.etalage_magnifier div img {
  display: none;
}

/* line 136, assetic_compassXxAatY.scss */
.etalage_icon,
.etalage_hint {
  cursor: default;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* line 143, assetic_compassXxAatY.scss */
.etalage_small_thumbs li.vertical {
  float: none;
}

/* line 147, assetic_compassXxAatY.scss */
.etalage_zoom_area div {
  overflow: hidden;
}

/* line 151, assetic_compassXxAatY.scss */
.etalage_zoom_preview {
  position: absolute;
}

/* line 155, assetic_compassXxAatY.scss */
.etalage {
  direction: ltr;
}

/* line 159, assetic_compassXxAatY.scss */
div.etalage_description {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 165, assetic_compassXxAatY.scss */
div.etalage_description.rtl {
  direction: rtl;
  text-align: right;
}

/* line 170, assetic_compassXxAatY.scss */
.jquery-lightbox-overlay {
  background: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 175, assetic_compassXxAatY.scss */
.jquery-lightbox {
  padding: 17px 0;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 black;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
}

/* line 186, assetic_compassXxAatY.scss */
.jquery-lightbox-border-top-left,
.jquery-lightbox-border-top-right,
.jquery-lightbox-border-bottom-left,
.jquery-lightbox-border-bottom-right {
  height: 18px;
  width: 12%;
  position: absolute;
}

/* line 193, assetic_compassXxAatY.scss */
.jquery-lightbox-border-top-left {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat 0 0;
  top: 0;
  left: 0;
}

/* line 199, assetic_compassXxAatY.scss */
.jquery-lightbox-border-top-right {
  top: 0;
  right: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat right 0;
}

/* line 206, assetic_compassXxAatY.scss */
.jquery-lightbox-border-top-middle {
  height: 7px;
  width: 78%;
  position: absolute;
  top: 0;
  left: 12%;
  background: white;
  overflow: hidden;
}

/* line 218, assetic_compassXxAatY.scss */
.jquery-lightbox-border-bottom-left {
  bottom: 0;
  left: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat 0 bottom;
}

/* line 225, assetic_compassXxAatY.scss */
.jquery-lightbox-border-bottom-right {
  bottom: 0;
  right: 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat right bottom;
}

/* line 232, assetic_compassXxAatY.scss */
.jquery-lightbox-border-bottom-middle {
  height: 7px;
  width: 78%;
  position: absolute;
  bottom: 0;
  left: 12%;
  overflow: hidden;
  background: white;
}

/* line 244, assetic_compassXxAatY.scss */
.jquery-lightbox-title {
  padding: 5px 8px;
  margin: 3px;
  position: absolute;
  bottom: 0;
  background: white;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  opacity: 0.9;
}

/* line 259, assetic_compassXxAatY.scss */
.jquery-lightbox-html {
  padding: 0px 15px;
  position: relative;
  border: 0;
  border-left: 7px solid white;
  border-right: 7px solid white;
  vertical-align: top;
}

/* line 271, assetic_compassXxAatY.scss */
.jquery-lightbox-html embed,
.jquery-lightbox-html object,
.jquery-lightbox-html iframe {
  vertical-align: top;
  display: block;
}

/* line 276, assetic_compassXxAatY.scss */
.jquery-lightbox-background {
  padding: 0;
  position: absolute;
  top: 7px;
  left: 7px;
  float: left;
}

/* line 286, assetic_compassXxAatY.scss */
.jquery-lightbox-background img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border: 0;
}

/* line 298, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-image .jquery-lightbox-html {
  padding: 0;
}

/* line 302, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-html .jquery-lightbox-background {
  background: white;
}

/* line 306, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-html .jquery-lightbox-html {
  overflow: auto;
}

/* line 311, assetic_compassXxAatY.scss */
.jquery-lightbox-loading,
.jquery-lightbox-mode-html .jquery-lightbox-loading {
  background: white url("/bundles/kacsite/css/resources/images/loaders/loader.gif") center no-repeat;
}

/* line 315, assetic_compassXxAatY.scss */
.jquery-lightbox-button-close {
  width: 29px;
  height: 29px;
  position: absolute;
  top: 12px;
  right: -26px;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -190px -115px;
}

/* line 326, assetic_compassXxAatY.scss */
.jquery-lightbox-button-close:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -115px;
}

/* line 331, assetic_compassXxAatY.scss */
.jquery-lightbox-button-close span,
.jquery-lightbox-buttons span {
  display: none;
}

/* line 335, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
  right: 14px;
}

/* line 339, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons {
  height: 39px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: none;
}

/* line 350, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-init,
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
  width: 5px;
  height: 39px;
  float: left;
  display: inline;
}

/* line 359, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
  margin: 7px 0 0 7px;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -151px -153px;
}

/* line 365, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
  margin: 7px 0 0 0;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -244px -153px;
}

/* line 371, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-left {
  width: 24px;
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -156px -153px;
}

/* line 382, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-left:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -156px -194px;
}

/* line 386, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-right {
  height: 39px;
  width: 24px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -153px;
}

/* line 397, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-right:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -220px -194px;
}

/* line 401, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-max {
  width: 36px;
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -182px -153px;
}

/* line 412, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-max:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -182px -194px;
}

/* line 416, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-min {
  margin: 7px 0 0 0;
  width: 36px;
  height: 39px;
  float: left;
  display: inline;
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -162px -235px;
}

/* line 427, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons .jquery-lightbox-button-min:hover {
  background: url("/bundles/kacsite/css/resources/images/icons/lightbox.png") no-repeat -207px -235px;
}

/* line 431, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons-custom {
  height: 39px;
  margin: 7px 0 0 0;
  float: left;
  display: inline;
  background: white;
  line-height: 39px;
  font-size: 10px;
  font-size: 1rem;
}

/* line 443, assetic_compassXxAatY.scss */
.jquery-lightbox-buttons-custom a {
  padding: 0 3px;
  display: inline;
  color: white;
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: underline;
}

/* line 455, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-image .jquery-lightbox-button-close,
.jquery-lightbox-mode-image .jquery-lightbox-buttons {
  opacity: 0.8;
}

/* line 460, assetic_compassXxAatY.scss */
.jquery-lightbox-mode-image:hover .jquery-lightbox-buttons,
.jquery-lightbox-mode-image:hover .jquery-lightbox-button-close {
  opacity: 1;
}

/* line 464, assetic_compassXxAatY.scss */
.jquery-lightbox-navigator {
  display: none;
}

/* line 468, assetic_compassXxAatY.scss */
.jquery-lightbox-hide {
  display: none;
}

/* line 472, assetic_compassXxAatY.scss */
.db {
  display: block;
}
