@charset "UTF-8";
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassVTQjw2.scss */
.review-summary {
  color: black;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 120%;
}

/* line 10, assetic_compassVTQjw2.scss */
.review-summary a {
  color: #6c8087;
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 15, assetic_compassVTQjw2.scss */
.review-rating-large {
  width: 200px;
  height: 30px;
  margin: 0 0 10px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_large.png");
  background-position: -0px -0px;
}

/* line 27, assetic_compassVTQjw2.scss */
.review-rating-medium {
  width: 120px;
  height: 20px;
  margin: 0 0 10px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_medium.png");
  background-position: -0px -0px;
}

/* line 39, assetic_compassVTQjw2.scss */
.review-rating-small {
  width: 80px;
  height: 15px;
  margin: 0 0 5px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_small.png");
  background-position: -0px -0px;
}

/* line 51, assetic_compassVTQjw2.scss */
.review-rating-large-1 {
  background-position: -0px -30px;
}

/* line 55, assetic_compassVTQjw2.scss */
.review-rating-large-1-5 {
  background-position: -0px -60px;
}

/* line 59, assetic_compassVTQjw2.scss */
.review-rating-large-2 {
  background-position: -0px -90px;
}

/* line 63, assetic_compassVTQjw2.scss */
.review-rating-large-2-5 {
  background-position: -0px -120px;
}

/* line 67, assetic_compassVTQjw2.scss */
.review-rating-large-3 {
  background-position: -0px -150px;
}

/* line 71, assetic_compassVTQjw2.scss */
.review-rating-large-3-5 {
  background-position: -0px -180px;
}

/* line 75, assetic_compassVTQjw2.scss */
.review-rating-large-4 {
  background-position: -0px -210px;
}

/* line 79, assetic_compassVTQjw2.scss */
.review-rating-large-4-5 {
  background-position: -0px -240px;
}

/* line 83, assetic_compassVTQjw2.scss */
.review-rating-large-5 {
  background-position: -0px -270px;
}

/* line 87, assetic_compassVTQjw2.scss */
.review-rating-medium-1 {
  background-position: -0px -20px;
}

/* line 91, assetic_compassVTQjw2.scss */
.review-rating-medium-1-5 {
  background-position: -0px -40px;
}

/* line 95, assetic_compassVTQjw2.scss */
.review-rating-medium-2 {
  background-position: -0px -60px;
}

/* line 99, assetic_compassVTQjw2.scss */
.review-rating-medium-2-5 {
  background-position: -0px -80px;
}

/* line 103, assetic_compassVTQjw2.scss */
.review-rating-medium-3 {
  background-position: -0px -100px;
}

/* line 107, assetic_compassVTQjw2.scss */
.review-rating-medium-3-5 {
  background-position: -0px -120px;
}

/* line 111, assetic_compassVTQjw2.scss */
.review-rating-medium-4 {
  background-position: -0px -140px;
}

/* line 115, assetic_compassVTQjw2.scss */
.review-rating-medium-4-5 {
  background-position: -0px -160px;
}

/* line 119, assetic_compassVTQjw2.scss */
.review-rating-medium-5 {
  background-position: -0px -180px;
}

/* line 123, assetic_compassVTQjw2.scss */
.review-rating-small-1 {
  background-position: -0px -15px;
}

/* line 127, assetic_compassVTQjw2.scss */
.review-rating-small-1-5 {
  background-position: -0px -30px;
}

/* line 131, assetic_compassVTQjw2.scss */
.review-rating-small-2 {
  background-position: -0px -45px;
}

/* line 135, assetic_compassVTQjw2.scss */
.review-rating-small-2-5 {
  background-position: -0px -60px;
}

/* line 139, assetic_compassVTQjw2.scss */
.review-rating-small-3 {
  background-position: -0px -75px;
}

/* line 143, assetic_compassVTQjw2.scss */
.review-rating-small-3-5 {
  background-position: -0px -90px;
}

/* line 147, assetic_compassVTQjw2.scss */
.review-rating-small-4 {
  background-position: -0px -105px;
}

/* line 151, assetic_compassVTQjw2.scss */
.review-rating-small-4-5 {
  background-position: -0px -120px;
}

/* line 155, assetic_compassVTQjw2.scss */
.review-rating-small-5 {
  background-position: -0px -135px;
}

/* line 159, assetic_compassVTQjw2.scss */
.trustpilot-reviews-container {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 5px 0 black;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  background: #023544;
  background: -moz-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #023544), color-stop(100%, #294f59));
  background: -webkit-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -o-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -ms-linear-gradient(top, #023544 0%, #294f59 100%);
  background: linear-gradient(top, #023544 0%, #294f59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#023544', endColorstr = '#294f59', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMzU0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NGY1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #023544), color-stop(100%, #294f59));
  background-image: -webkit-linear-gradient(top, #023544, #294f59);
  background-image: -moz-linear-gradient(top, #023544, #294f59);
  background-image: -o-linear-gradient(top, #023544, #294f59);
  background-image: linear-gradient(top, #023544, #294f59);
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 168, assetic_compassVTQjw2.scss */
.trustpilot-reviews {
  background-image: url("/bundles/kacsite/css/resources/images/icons/trustpilot_background_tick.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px 700px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 176, assetic_compassVTQjw2.scss */
.trustpilot-reviews h2 {
  padding: 10px 10px 0 10px;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  text-shadow: 1px 0 0 #384246;
  text-shadow: 1px 0 0 #384246;
  letter-spacing: 1px;
  line-height: 20px;
}

/* line 188, assetic_compassVTQjw2.scss */
.trustpilot-reviews h4 {
  margin: 0 0 5px 0;
  color: white;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 196, assetic_compassVTQjw2.scss */
.trustpilot-reviews p {
  margin: 0;
  color: white;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
}

/* line 204, assetic_compassVTQjw2.scss */
.trustpilot-reviews a {
  text-decoration: none;
  color: white;
}

/* line 209, assetic_compassVTQjw2.scss */
.trustpilot-overall-rating {
  padding: 5px 10px 10px 10px;
  width: 120px;
  margin: 0 auto;
  border-bottom: 1px solid #68C8E3;
}

/* line 217, assetic_compassVTQjw2.scss */
.trustpilot-rating {
  height: 14px;
}

/* line 221, assetic_compassVTQjw2.scss */
.trustpilot-review-star {
  display: block;
  float: left;
  background-image: url("/bundles/kacsite/css/resources/images/icons/yellow_star.png");
  background-position: 0 0;
}

/* line 230, assetic_compassVTQjw2.scss */
.trustpilot-review-star-large {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

/* line 237, assetic_compassVTQjw2.scss */
.trustpilot-review-star-small {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
}

/* line 244, assetic_compassVTQjw2.scss */
.trustpilot-review {
  padding: 10px;
  border-bottom: 1px solid #68C8E3;
}

/* line 250, assetic_compassVTQjw2.scss */
.trustpilot-review-content {
  margin: 0;
  text-align: center;
}

/* line 256, assetic_compassVTQjw2.scss */
.trustpilot-review-user-name {
  padding: 0 5px 0 0;
  margin: 0;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  color: white;
}

/* line 266, assetic_compassVTQjw2.scss */
.trustpilot-review-rating {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
}

/* line 273, assetic_compassVTQjw2.scss */
.trustpilot-review-read-more {
  margin: 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  text-align: center;
}

/* line 281, assetic_compassVTQjw2.scss */
.trustpilot-review-count {
  padding: 0;
  margin: 2px 0 0 0;
  line-height: 10px;
  color: #c5d2d6;
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
}

/* line 291, assetic_compassVTQjw2.scss */
.trustpilot-review-count a {
  color: white;
  font-size: 9px;
  font-size: 0.9rem;
}

/* line 296, assetic_compassVTQjw2.scss */
.trustpilot-review-count span {
  font-size: 9px;
  font-size: 0.9rem;
}

/* line 300, assetic_compassVTQjw2.scss */
.customer-reviews {
  padding: 5px 0 !important;
  background: #424c53;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDM2M2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #424c53 0%, #2d363c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424c53), color-stop(100%, #2d363c));
  background: -webkit-linear-gradient(top, #424c53 0%, #2d363c 100%);
  background: -o-linear-gradient(top, #424c53 0%, #2d363c 100%);
  background: -ms-linear-gradient(top, #424c53 0%, #2d363c 100%);
  background: linear-gradient(to bottom, #424c53 0%, #2d363c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424c53', endColorstr='#2d363c',GradientType=0 );
  -webkit-box-shadow: 0 0 5px 0 black;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

/* line 314, assetic_compassVTQjw2.scss */
.customer-review {
  padding: 0 52px;
}

/* line 318, assetic_compassVTQjw2.scss */
.customer-review-rating {
  width: 80px;
  height: 14px;
  float: left;
}

/* line 325, assetic_compassVTQjw2.scss */
.customer-review h4 {
  padding: 0 !important;
  margin: 0 !important;
  width: 546px;
  height: 14px;
  line-height: 14px !important;
}

/* line 334, assetic_compassVTQjw2.scss */
.customer-review h4 a {
  width: 546px;
  height: 14px;
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px !important;
  font-size: 1.1rem !important;
  font-weight: normal !important;
  color: white !important;
  line-height: 14px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
}

/* line 348, assetic_compassVTQjw2.scss */
.customer-review-content {
  width: 546px;
  height: 24px;
  padding: 2px 0 0 80px;
  display: block;
  overflow: hidden;
}

/* line 357, assetic_compassVTQjw2.scss */
.customer-review-content a {
  width: 546px;
  height: 24px;
  display: block;
  overflow: hidden;
  font-size: 10px !important;
  font-size: 1.0rem !important;
  font-weight: normal !important;
  color: #c5d2d6 !important;
  line-height: 12px !important;
  text-decoration: none !important;
}
