@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassGfnAYt.scss */
table.basic-table {
  width: 100%;
  border-collapse: collapse;
  border: 0 none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 12, assetic_compassGfnAYt.scss */
table.basic-table th {
  border-collapse: collapse;
  padding: 10px 5px;
  text-align: left;
  color: black;
}

/* line 19, assetic_compassGfnAYt.scss */
table.basic-table td {
  border-collapse: collapse;
  padding: 10px;
  vertical-align: middle;
}

/* line 25, assetic_compassGfnAYt.scss */
table.basic-table ul {
  margin: 0;
  padding: 0;
}

/* line 30, assetic_compassGfnAYt.scss */
table.basic-table ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  line-height: 14px;
}

/* line 38, assetic_compassGfnAYt.scss */
table.basic-table td.nowrap {
  white-space: nowrap !important;
}

/* line 42, assetic_compassGfnAYt.scss */
table.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 0 none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 50, assetic_compassGfnAYt.scss */
table.data-table th {
  border-collapse: collapse;
  border: 1px solid #6c8087;
  padding: 10px 5px;
  text-align: left;
  color: black;
  background: #c5d2d6;
  background: -moz-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background: -webkit-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -o-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: linear-gradient(to bottom, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5d2d6', endColorstr = '#6c8087', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzgwODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background-image: -webkit-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -moz-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -o-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-repeat: no-repeat;
}

/* line 59, assetic_compassGfnAYt.scss */
table.data-table th a {
  color: black;
  text-shadow: 0 1px 0 #ededed;
  text-shadow: 0 1px 0 #ededed;
}

/* line 64, assetic_compassGfnAYt.scss */
table.data-table td {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #c5d2d6;
  vertical-align: middle;
}

/* line 71, assetic_compassGfnAYt.scss */
table.data-table ul {
  margin: 0;
  padding: 0;
}

/* line 76, assetic_compassGfnAYt.scss */
table.data-table ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  line-height: 14px;
}

/* line 84, assetic_compassGfnAYt.scss */
table.data-table tr.odd {
  background: #ededed;
}

/* line 88, assetic_compassGfnAYt.scss */
table.data-table tr.even {
  background: white;
}

/* line 92, assetic_compassGfnAYt.scss */
table.data-table td.nowrap {
  white-space: nowrap !important;
}

/* line 96, assetic_compassGfnAYt.scss */
table.data-table td.image {
  padding: 0;
  background: white;
}

/* line 103, assetic_compassGfnAYt.scss */
.tac,
table .tac,
table tr .tac {
  text-align: center;
}

/* line 107, assetic_compassGfnAYt.scss */
td.tac .image-preview {
  margin: 0 auto;
}

/* line 113, assetic_compassGfnAYt.scss */
.tal,
table .tal,
table tr .tal {
  text-align: left;
}

/* line 119, assetic_compassGfnAYt.scss */
.tar,
table .tar,
table tr .tar {
  text-align: right;
}

/* line 125, assetic_compassGfnAYt.scss */
.vat,
table .vat,
table tr .vat {
  vertical-align: top;
}

/* line 131, assetic_compassGfnAYt.scss */
.vab,
table .vab,
table tr .vab {
  vertical-align: bottom;
}

/* line 137, assetic_compassGfnAYt.scss */
.vam,
table .vam,
table tr .vam {
  vertical-align: middle;
}

@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, assetic_compass2XSvQW.scss */
h1,
.h1 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  font-style: normal;
  color: #384246;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}

/* line 14, assetic_compass2XSvQW.scss */
h2,
.h2 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  font-style: normal;
  color: #384246;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}

/* line 23, assetic_compass2XSvQW.scss */
h3,
.h3 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: #4ec0e3;
}

/* line 30, assetic_compass2XSvQW.scss */
h3.separator {
  padding: 10px;
  margin: 0 -10px 10px -10px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: linear-gradient(top, #ffffff 0%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: linear-gradient(top, #ffffff, #c5d2d6);
  background-repeat: no-repeat;
  color: #6c8087;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #c5d2d6;
  border-bottom: 1px solid #c5d2d6;
}

/* line 41, assetic_compass2XSvQW.scss */
h4,
.h4 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: #4ec0e3;
}

/* line 49, assetic_compass2XSvQW.scss */
h5,
.h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
}

/* line 56, assetic_compass2XSvQW.scss */
h6,
.h6 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: italic;
}

/* line 62, assetic_compass2XSvQW.scss */
header.sticky {
  padding: 5px 20px;
  margin: 0 -20px 5px -20px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: linear-gradient(top, #ffffff 0%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: linear-gradient(top, #ffffff, #c5d2d6);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 5px 0 #384246;
  -webkit-box-shadow: 0 1px 5px 0 #384246;
  -moz-box-shadow: 0 1px 5px 0 #384246;
  -moz-box-shadow: 0 1px 5px 0 #384246;
  box-shadow: 0 1px 5px 0 #384246;
  box-shadow: 0 1px 5px 0 #384246;
}

/* line 71, assetic_compass2XSvQW.scss */
header.sticky h1,
header.sticky h2,
header.sticky h3 {
  line-height: 30px;
  margin: 0;
}

/* line 76, assetic_compass2XSvQW.scss */
header.stuck {
  width: 940px;
}

@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, assetic_compassDxWr2m.scss */
html {
  background: white;
  font-size: 62.5%;
}

/* line 10, assetic_compassDxWr2m.scss */
body {
  background: #384246;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  color: #444444;
}

/* line 17, assetic_compassDxWr2m.scss */
html.modal, html.modal body {
  background: #c5d2d6;
}

/* line 21, assetic_compassDxWr2m.scss */
html.modal body > section {
  padding: 15px;
}

/* line 25, assetic_compassDxWr2m.scss */
.document {
  position: relative;
  background: white;
}

/* line 31, assetic_compassDxWr2m.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 36, assetic_compassDxWr2m.scss */
.header {
  padding: 10px 0;
  height: 60px;
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background: -webkit-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: linear-gradient(top, #6c8087 0%, #384246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4NDI0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background-image: -webkit-linear-gradient(top, #6c8087, #384246);
  background-image: -moz-linear-gradient(top, #6c8087, #384246);
  background-image: -o-linear-gradient(top, #6c8087, #384246);
  background-image: linear-gradient(top, #6c8087, #384246);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 1px 5px 0 #384246;
  -webkit-box-shadow: inset 0 1px 5px 0 #384246;
  -moz-box-shadow: inset 0 1px 5px 0 #384246;
  -moz-box-shadow: inset 0 1px 5px 0 #384246;
  box-shadow: inset 0 1px 5px 0 #384246;
  box-shadow: inset 0 1px 5px 0 #384246;
}

/* line 44, assetic_compassDxWr2m.scss */
.header-contents {
  width: 980px;
  margin: 0 auto;
  height: 60px;
  position: relative;
}

/* line 52, assetic_compassDxWr2m.scss */
.header-contents .logo {
  width: 189px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 61, assetic_compassDxWr2m.scss */
.header-contents .logo a {
  width: 189px;
  height: 60px;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 189px 60px;
  background-image: url("/bundles/kacsite/css/resources/images/logo.png");
  background-position: 0 0;
}

/* line 73, assetic_compassDxWr2m.scss */
.content {
  min-height: 300px;
  padding: 5px 20px 20px 20px;
  margin: -5px 0 0 0;
  position: relative;
  background: #c5d2d6;
  -webkit-box-shadow: 0 0 5px 0 black;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

/* line 84, assetic_compassDxWr2m.scss */
.header-image {
  position: relative;
}

/* line 88, assetic_compassDxWr2m.scss */
.header-image img {
  margin: -10px -10px 10px -10px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 3px solid #4ec0e3;
}

/* line 95, assetic_compassDxWr2m.scss */
.header-image h1 {
  padding: 20px;
  position: absolute;
  top: 20px;
  left: -10px;
  color: white;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNi2AwAALwAtgXXY6AAAAAASUVORK5CYII=');
  background: rgba(0, 0, 0, 0.7);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  font-weight: normal;
}

/* line 110, assetic_compassDxWr2m.scss */
table.listing {
  margin: 0 0 10px 0;
  border-collapse: collapse;
  border: 1px solid #e4eaec;
}

/* line 117, assetic_compassDxWr2m.scss */
table.listing td {
  padding: 5px;
  border: 1px solid #e4eaec;
  font-size: 11px;
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 120%;
}

/* line 126, assetic_compassDxWr2m.scss */
table.listing th {
  padding: 10px 5px;
  text-align: left;
  border: 1px solid #e4eaec;
  font-size: 11px;
  font-size: 1.1rem;
  color: #444444;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e4eaec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e4eaec));
  background: -webkit-linear-gradient(top, white 0%, #e4eaec 100%);
  background: -o-linear-gradient(top, white 0%, #e4eaec 100%);
  background: -ms-linear-gradient(top, white 0%, #e4eaec 100%);
  background: linear-gradient(top, #ffffff 0%, #e4eaec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#e4eaec', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0ZWFlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4eaec));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4eaec);
  background-image: -moz-linear-gradient(top, #ffffff, #e4eaec);
  background-image: -o-linear-gradient(top, #ffffff, #e4eaec);
  background-image: linear-gradient(top, #ffffff, #e4eaec);
  background-repeat: no-repeat;
}

/* line 137, assetic_compassDxWr2m.scss */
table.listing tr.odd {
  background: #F3F6F6;
}

/* line 141, assetic_compassDxWr2m.scss */
table.listing td a {
  font-size: 11px;
  font-size: 1.1rem;
  color: black !important;
}

/* line 146, assetic_compassDxWr2m.scss */
.widget-content h4 {
  padding: 0 10px;
  line-height: 34px;
  font-size: 13px;
  font-size: 1.3rem;
  background: #e4eaec;
  background: -moz-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e4eaec 5%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4eaec', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNlNGVhZWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -o-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-repeat: no-repeat;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 158, assetic_compassDxWr2m.scss */
.widget-content h4 .ui-icon-small {
  margin: 5px 10px 5px 0;
}

/* line 162, assetic_compassDxWr2m.scss */
.widget-content ul {
  margin: 0 0 10px 20px;
  color: #4ec0e3 !important;
}

/* line 167, assetic_compassDxWr2m.scss */
.widget-content ul li {
  margin: 0 0 0 10px;
  color: #444444 !important;
  line-height: 150%;
}

/* line 173, assetic_compassDxWr2m.scss */
.widget-content dl {
  margin: 0 0 10px 0;
}

/* line 177, assetic_compassDxWr2m.scss */
.widget-content dt {
  width: 40%;
  padding: 5px;
  margin: 0 0 2px 0;
  float: left;
  box-sizing: border-box;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 100%;
  border-left: 1px solid #c5d2d6;
  border-top: 1px solid #c5d2d6;
  border-bottom: 1px solid #c5d2d6;
  text-align: right;
  background: #e4eaec;
  color: #384246;
}

/* line 195, assetic_compassDxWr2m.scss */
.widget-content dd {
  width: 60%;
  padding: 5px;
  margin: 0 0 2px 0;
  float: left;
  box-sizing: border-box;
  line-height: 100%;
  font-size: 11px;
  font-size: 1.1rem;
  border-right: 1px solid #c5d2d6;
  border-top: 1px solid #c5d2d6;
  border-bottom: 1px solid #c5d2d6;
}

/* line 210, assetic_compassDxWr2m.scss */
.footer {
  padding: 10px 0;
  position: relative;
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background: -webkit-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: linear-gradient(top, #6c8087 0%, #384246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4NDI0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background-image: -webkit-linear-gradient(top, #6c8087, #384246);
  background-image: -moz-linear-gradient(top, #6c8087, #384246);
  background-image: -o-linear-gradient(top, #6c8087, #384246);
  background-image: linear-gradient(top, #6c8087, #384246);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 1px 5px 0 #384246;
  -webkit-box-shadow: inset 0 1px 5px 0 #384246;
  -moz-box-shadow: inset 0 1px 5px 0 #384246;
  -moz-box-shadow: inset 0 1px 5px 0 #384246;
  box-shadow: inset 0 1px 5px 0 #384246;
  box-shadow: inset 0 1px 5px 0 #384246;
  border-top: 3px solid #6c8087;
}

/* line 220, assetic_compassDxWr2m.scss */
.footer h4 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  color: #ededed;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 1px solid #c5d2d6;
}

/* line 229, assetic_compassDxWr2m.scss */
.footer span {
  line-height: 150%;
  color: #c5d2d6;
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 236, assetic_compassDxWr2m.scss */
.footer ul,
.footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 243, assetic_compassDxWr2m.scss */
.footer ul {
  margin: 0 0 10px 0;
}

/* line 247, assetic_compassDxWr2m.scss */
.footer ul li {
  line-height: 150%;
}

/* line 251, assetic_compassDxWr2m.scss */
.footer a {
  color: #9fbdc8;
  text-decoration: none;
}

/* line 256, assetic_compassDxWr2m.scss */
.footer a:hover {
  text-decoration: underline;
}

/* line 260, assetic_compassDxWr2m.scss */
.floating-advert-container {
  width: 160px;
  min-height: 300px;
  position: absolute;
  top: 204px;
  left: 50%;
}

/* line 269, assetic_compassDxWr2m.scss */
.floating-advert-container-left {
  margin: 0 0 0 -662px;
}

/* line 273, assetic_compassDxWr2m.scss */
.floating-advert-container-right {
  margin: 0 0 0 502px;
}

/* line 277, assetic_compassDxWr2m.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 281, assetic_compassDxWr2m.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 285, assetic_compassDxWr2m.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 289, assetic_compassDxWr2m.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 293, assetic_compassDxWr2m.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 297, assetic_compassDxWr2m.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 301, assetic_compassDxWr2m.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 305, assetic_compassDxWr2m.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 309, assetic_compassDxWr2m.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 313, assetic_compassDxWr2m.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 317, assetic_compassDxWr2m.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 321, assetic_compassDxWr2m.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 325, assetic_compassDxWr2m.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 329, assetic_compassDxWr2m.scss */
.background-red {
  background-color: #cc0000;
}

/* line 333, assetic_compassDxWr2m.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 337, assetic_compassDxWr2m.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 341, assetic_compassDxWr2m.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 345, assetic_compassDxWr2m.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 349, assetic_compassDxWr2m.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 353, assetic_compassDxWr2m.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 357, assetic_compassDxWr2m.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 361, assetic_compassDxWr2m.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 365, assetic_compassDxWr2m.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 369, assetic_compassDxWr2m.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 373, assetic_compassDxWr2m.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 377, assetic_compassDxWr2m.scss */
.background-green {
  background-color: #137f13;
}

/* line 381, assetic_compassDxWr2m.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 385, assetic_compassDxWr2m.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 389, assetic_compassDxWr2m.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 393, assetic_compassDxWr2m.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 397, assetic_compassDxWr2m.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 401, assetic_compassDxWr2m.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 405, assetic_compassDxWr2m.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 409, assetic_compassDxWr2m.scss */
.background-blue {
  background-color: #003b73;
}

/* line 413, assetic_compassDxWr2m.scss */
.stuck {
  position: fixed !important;
  top: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.25), screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 1.25), screen and (min--moz-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 1.25 / 1), screen and (-o-min-device-pixel-ratio: 1.3 / 1), screen and (-o-min-device-pixel-ratio: 1.5 / 1), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.25), screen and (min-device-pixel-ratio: 1.3), screen and (min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 120dpi), screen and (min-resolution: 124.8dpi), screen and (min-resolution: 144dpi), screen and (min-resolution: 192dpi), screen and (min-resolution: 1.25dppx), screen and (min-resolution: 1.3dppx), screen and (min-resolution: 1.5dppx), screen and (min-resolution: 2dppx) {
  /* line 443, assetic_compassDxWr2m.scss */
  .logo a {
    background-image: url("/bundles/kacsite/css/resources/images/logo@2x.png");
  }
}

@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassLlLG6f.scss */
.loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 20px 0 #6c8087;
  -webkit-box-shadow: inset 0 0 20px 0 #6c8087;
  -moz-box-shadow: inset 0 0 20px 0 #6c8087;
  -moz-box-shadow: inset 0 0 20px 0 #6c8087;
  box-shadow: inset 0 0 20px 0 #6c8087;
  box-shadow: inset 0 0 20px 0 #6c8087;
  background: #e4eaec;
}

/* line 16, assetic_compassLlLG6f.scss */
.loading {
  text-align: center;
}

/* line 20, assetic_compassLlLG6f.scss */
.loading-animation {
  padding: 20px;
}

/* line 24, assetic_compassLlLG6f.scss */
.loading-text {
  padding: 0;
  margin: -20px 0 0 0;
  letter-spacing: 1px;
  color: #444444;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 100%;
}

/* line 35, assetic_compassLlLG6f.scss */
.outer-loading-circle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #4ec0e3;
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #4ec0e3;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear;
}

/* line 51, assetic_compassLlLG6f.scss */
.inner-loading-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #4ec0e3;
  opacity: .9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 15px #4ec0e3;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
  /* line 71, assetic_compassLlLG6f.scss */
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #4ec0e3;
  }

  /* line 76, assetic_compassLlLG6f.scss */
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }

  /* line 80, assetic_compassLlLG6f.scss */
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  /* line 87, assetic_compassLlLG6f.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 90, assetic_compassLlLG6f.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  /* line 96, assetic_compassLlLG6f.scss */
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #4ec0e3;
  }

  /* line 101, assetic_compassLlLG6f.scss */
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  /* line 105, assetic_compassLlLG6f.scss */
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  /* line 112, assetic_compassLlLG6f.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 115, assetic_compassLlLG6f.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassy3J8Y2.scss */
.review-summary {
  color: black;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 120%;
}

/* line 10, assetic_compassy3J8Y2.scss */
.review-summary a {
  color: #6c8087;
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 15, assetic_compassy3J8Y2.scss */
.review-rating-large {
  width: 200px;
  height: 30px;
  margin: 0 0 10px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_large.png");
  background-position: 0px 0px;
}

/* line 27, assetic_compassy3J8Y2.scss */
.review-rating-medium {
  width: 120px;
  height: 20px;
  margin: 0 0 10px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_medium.png");
  background-position: 0px 0px;
}

/* line 39, assetic_compassy3J8Y2.scss */
.review-rating-small {
  width: 80px;
  height: 15px;
  margin: 0 0 5px 0;
  display: block;
  overflow: hidden;
  background-image: url("/bundles/kacsite/css/resources/images/icons/ratings_sprite_small.png");
  background-position: 0px 0px;
}

/* line 51, assetic_compassy3J8Y2.scss */
.review-rating-large-1 {
  background-position: 0px -30px;
}

/* line 55, assetic_compassy3J8Y2.scss */
.review-rating-large-1-5 {
  background-position: 0px -60px;
}

/* line 59, assetic_compassy3J8Y2.scss */
.review-rating-large-2 {
  background-position: 0px -90px;
}

/* line 63, assetic_compassy3J8Y2.scss */
.review-rating-large-2-5 {
  background-position: 0px -120px;
}

/* line 67, assetic_compassy3J8Y2.scss */
.review-rating-large-3 {
  background-position: 0px -150px;
}

/* line 71, assetic_compassy3J8Y2.scss */
.review-rating-large-3-5 {
  background-position: 0px -180px;
}

/* line 75, assetic_compassy3J8Y2.scss */
.review-rating-large-4 {
  background-position: 0px -210px;
}

/* line 79, assetic_compassy3J8Y2.scss */
.review-rating-large-4-5 {
  background-position: 0px -240px;
}

/* line 83, assetic_compassy3J8Y2.scss */
.review-rating-large-5 {
  background-position: 0px -270px;
}

/* line 87, assetic_compassy3J8Y2.scss */
.review-rating-medium-1 {
  background-position: 0px -20px;
}

/* line 91, assetic_compassy3J8Y2.scss */
.review-rating-medium-1-5 {
  background-position: 0px -40px;
}

/* line 95, assetic_compassy3J8Y2.scss */
.review-rating-medium-2 {
  background-position: 0px -60px;
}

/* line 99, assetic_compassy3J8Y2.scss */
.review-rating-medium-2-5 {
  background-position: 0px -80px;
}

/* line 103, assetic_compassy3J8Y2.scss */
.review-rating-medium-3 {
  background-position: 0px -100px;
}

/* line 107, assetic_compassy3J8Y2.scss */
.review-rating-medium-3-5 {
  background-position: 0px -120px;
}

/* line 111, assetic_compassy3J8Y2.scss */
.review-rating-medium-4 {
  background-position: 0px -140px;
}

/* line 115, assetic_compassy3J8Y2.scss */
.review-rating-medium-4-5 {
  background-position: 0px -160px;
}

/* line 119, assetic_compassy3J8Y2.scss */
.review-rating-medium-5 {
  background-position: 0px -180px;
}

/* line 123, assetic_compassy3J8Y2.scss */
.review-rating-small-1 {
  background-position: 0px -15px;
}

/* line 127, assetic_compassy3J8Y2.scss */
.review-rating-small-1-5 {
  background-position: 0px -30px;
}

/* line 131, assetic_compassy3J8Y2.scss */
.review-rating-small-2 {
  background-position: 0px -45px;
}

/* line 135, assetic_compassy3J8Y2.scss */
.review-rating-small-2-5 {
  background-position: 0px -60px;
}

/* line 139, assetic_compassy3J8Y2.scss */
.review-rating-small-3 {
  background-position: 0px -75px;
}

/* line 143, assetic_compassy3J8Y2.scss */
.review-rating-small-3-5 {
  background-position: 0px -90px;
}

/* line 147, assetic_compassy3J8Y2.scss */
.review-rating-small-4 {
  background-position: 0px -105px;
}

/* line 151, assetic_compassy3J8Y2.scss */
.review-rating-small-4-5 {
  background-position: 0px -120px;
}

/* line 155, assetic_compassy3J8Y2.scss */
.review-rating-small-5 {
  background-position: 0px -135px;
}

/* line 159, assetic_compassy3J8Y2.scss */
.trustpilot-reviews-container {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 5px 0 black;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  background: #023544;
  background: -moz-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #023544), color-stop(100%, #294f59));
  background: -webkit-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -o-linear-gradient(top, #023544 0%, #294f59 100%);
  background: -ms-linear-gradient(top, #023544 0%, #294f59 100%);
  background: linear-gradient(top, #023544 0%, #294f59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#023544', endColorstr = '#294f59', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMzU0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NGY1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #023544), color-stop(100%, #294f59));
  background-image: -webkit-linear-gradient(top, #023544, #294f59);
  background-image: -moz-linear-gradient(top, #023544, #294f59);
  background-image: -o-linear-gradient(top, #023544, #294f59);
  background-image: linear-gradient(top, #023544, #294f59);
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 168, assetic_compassy3J8Y2.scss */
.trustpilot-reviews {
  background-image: url("/bundles/kacsite/css/resources/images/icons/trustpilot_background_tick.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px 700px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 176, assetic_compassy3J8Y2.scss */
.trustpilot-reviews h2 {
  padding: 10px 10px 0 10px;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  text-shadow: 1px 0 0 #384246;
  text-shadow: 1px 0 0 #384246;
  letter-spacing: 1px;
  line-height: 20px;
}

/* line 188, assetic_compassy3J8Y2.scss */
.trustpilot-reviews h4 {
  margin: 0 0 5px 0;
  color: white;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 196, assetic_compassy3J8Y2.scss */
.trustpilot-reviews p {
  margin: 0;
  color: white;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
}

/* line 204, assetic_compassy3J8Y2.scss */
.trustpilot-reviews a {
  text-decoration: none;
  color: white;
}

/* line 209, assetic_compassy3J8Y2.scss */
.trustpilot-overall-rating {
  padding: 5px 10px 10px 10px;
  width: 120px;
  margin: 0 auto;
  border-bottom: 1px solid #68c8e3;
}

/* line 217, assetic_compassy3J8Y2.scss */
.trustpilot-rating {
  height: 14px;
}

/* line 221, assetic_compassy3J8Y2.scss */
.trustpilot-review-star {
  display: block;
  float: left;
  background-image: url("/bundles/kacsite/css/resources/images/icons/yellow_star.png");
  background-position: 0 0;
}

/* line 230, assetic_compassy3J8Y2.scss */
.trustpilot-review-star-large {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

/* line 237, assetic_compassy3J8Y2.scss */
.trustpilot-review-star-small {
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
}

/* line 244, assetic_compassy3J8Y2.scss */
.trustpilot-review {
  padding: 10px;
  border-bottom: 1px solid #68c8e3;
}

/* line 250, assetic_compassy3J8Y2.scss */
.trustpilot-review-content {
  margin: 0;
  text-align: center;
}

/* line 256, assetic_compassy3J8Y2.scss */
.trustpilot-review-user-name {
  padding: 0 5px 0 0;
  margin: 0;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  color: white;
}

/* line 266, assetic_compassy3J8Y2.scss */
.trustpilot-review-rating {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
}

/* line 273, assetic_compassy3J8Y2.scss */
.trustpilot-review-read-more {
  margin: 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  text-align: center;
}

/* line 281, assetic_compassy3J8Y2.scss */
.trustpilot-review-count {
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
}

/* line 288, assetic_compassy3J8Y2.scss */
.trustpilot-review-count span {
  font-size: 10px;
  font-size: 1rem;
}
