@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassslnTxI.scss */
ul.breadcrumbs {
  margin: 8px 0 0 0;
  padding: 0;
  float: left;
}

/* line 9, assetic_compassslnTxI.scss */
ul.breadcrumbs li {
  padding: 0 5px 0 13px;
  margin: 0;
  position: relative;
  float: left;
  display: block;
  list-style: none;
  font-size: 11px;
  font-size: 1.1rem;
  background: #6c8087;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  border: 1px solid #c5d2d6;
  line-height: 20px;
  color: white;
  text-shadow: 0 1px 0 #384246;
  text-shadow: 0 1px 0 #384246;
}

/* line 27, assetic_compassslnTxI.scss */
ul.breadcrumbs li a {
  font-size: 11px;
  font-size: 1.1rem;
  color: #c5d2d6;
  text-shadow: 0 1px 0 #384246;
  text-shadow: 0 1px 0 #384246;
  text-decoration: none;
}

/* line 34, assetic_compassslnTxI.scss */
ul.breadcrumbs li a:hover {
  color: white;
}

/* line 39, assetic_compassslnTxI.scss */
ul.breadcrumbs li:after,
ul.breadcrumbs li:before {
  height: 0;
  width: 0;
  position: absolute;
  left: 100%;
  border: solid transparent;
  content: " ";
  pointer-events: none;
}

/* line 51, assetic_compassslnTxI.scss */
ul.breadcrumbs li:after {
  border-color: transparent;
  border-left-color: #6c8087;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/* line 59, assetic_compassslnTxI.scss */
ul.breadcrumbs li:before {
  border-color: transparent;
  border-left-color: #c5d2d6;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

/* line 67, assetic_compassslnTxI.scss */
ul.breadcrumbs > :first-child {
  padding-left: 5px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 72, assetic_compassslnTxI.scss */
ul.breadcrumbs > :last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 77, assetic_compassslnTxI.scss */
ul.breadcrumbs > :last-child:before,
ul.breadcrumbs > :last-child:after {
  display: none;
}
