@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/* line 165, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-extra-light {
  background-color: #ededed;
}

/* line 169, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-extra-light {
  background-color: #e4eaec;
}

/* line 173, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-light {
  background-color: #c5d2d6;
}

/* line 177, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-medium {
  background-color: #9fbdc8;
}

/* line 181, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey {
  background-color: #6c8087;
}

/* line 185, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-grey-dark {
  background-color: #384246;
}

/* line 189, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-extra-light {
  background-color: #ffebec;
}

/* line 193, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-extra-light {
  background-color: #fdadae;
}

/* line 197, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red-light {
  background-color: #d93637;
}

/* line 201, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-dark-red {
  background-color: #9a0000;
}

/* line 205, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-extra-light {
  background-color: #fbebeb;
}

/* line 209, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-extra-light {
  background-color: #ffb9b9;
}

/* line 213, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red-light {
  background-color: #ff3f40;
}

/* line 217, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-red {
  background-color: #cc0000;
}

/* line 221, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-extra-light {
  background-color: #fff3ea;
}

/* line 225, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-extra-light {
  background-color: #ffdec5;
}

/* line 229, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange-light {
  background-color: #ff8434;
}

/* line 233, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-orange {
  background-color: #cc5200;
}

/* line 237, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-extra-light {
  background-color: #fffbea;
}

/* line 241, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-extra-light {
  background-color: #fffadd;
}

/* line 245, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow-light {
  background-color: #ffd634;
}

/* line 249, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-yellow {
  background-color: #e6ac00;
}

/* line 253, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-extra-light {
  background-color: #ebf7eb;
}

/* line 257, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-extra-light {
  background-color: #b0e2ae;
}

/* line 261, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green-light {
  background-color: #2baf2b;
}

/* line 265, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-green {
  background-color: #137f13;
}

/* line 269, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-extra-light {
  background-color: #e9f6fa;
}

/* line 273, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-extra-light {
  background-color: #baebfc;
}

/* line 277, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise-light {
  background-color: #29a3cc;
}

/* line 281, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-turquoise {
  background-color: #007398;
}

/* line 285, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-extra-light {
  background-color: #e5eff8;
}

/* line 289, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-extra-light {
  background-color: #94c9fd;
}

/* line 293, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue-light {
  background-color: #0061bf;
}

/* line 297, ../../../../../../Users/adamstacey/Sites/kitchenappliancecentre.dev/src/KAC/SiteBundle/Resources/public/css/includes/_backgrounds.scss */
.background-blue {
  background-color: #003b73;
}

@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compass8WJ0Z8.scss */
.product-container {
  padding: 10px;
  margin: 0 15px 15px 0;
  border: 1px solid #e4eaec;
  -webkit-box-shadow: 0 0 10px 0 #e4eaec;
  -webkit-box-shadow: 0 0 10px 0 #e4eaec;
  -moz-box-shadow: 0 0 10px 0 #e4eaec;
  -moz-box-shadow: 0 0 10px 0 #e4eaec;
  box-shadow: 0 0 10px 0 #e4eaec;
  box-shadow: 0 0 10px 0 #e4eaec;
}

/* line 12, assetic_compass8WJ0Z8.scss */
.product h1 {
  padding: 0 10px 10px 10px;
  margin: 0 -10px 10px -10px;
  border-bottom: 1px solid #e4eaec;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 20, assetic_compass8WJ0Z8.scss */
.product a {
  text-decoration: none !important;
}

/* line 24, assetic_compass8WJ0Z8.scss */
.product h4, .product h4 a, .product-title {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 30px;
  padding: 0;
  color: #384246;
  font-weight: bold;
  margin: 0;
}

/* line 33, assetic_compass8WJ0Z8.scss */
.product ul {
  margin: 5px 0 0 0;
}

/* line 37, assetic_compass8WJ0Z8.scss */
.product ul li {
  font-size: 10px;
  font-size: 1rem;
  line-height: 120%;
}

/* line 42, assetic_compass8WJ0Z8.scss */
.product img.brand-logo-image {
  margin: 0 0 0 10px;
}

/* line 47, assetic_compass8WJ0Z8.scss */
.product .price,
.product .price-small {
  text-align: right;
  color: #cc0000 !important;
}

/* line 53, assetic_compass8WJ0Z8.scss */
.product .price a,
.product .price-small a {
  color: #cc0000 !important;
}

/* line 58, assetic_compass8WJ0Z8.scss */
.product .price span,
.product .price-small span {
  display: inline-block;
  vertical-align: top;
  line-height: 100%;
}

/* line 64, assetic_compass8WJ0Z8.scss */
.product .price .currency-prefix {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 68, assetic_compass8WJ0Z8.scss */
.product .price-small .currency-prefix {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 73, assetic_compass8WJ0Z8.scss */
.product .price .currency-sign,
.product .price-small .currency-sign {
  padding-top: 2px;
  font-family: "Arial Black", Arial, Verdana, sans-serif;
}

/* line 79, assetic_compass8WJ0Z8.scss */
.product .price .currency-sign {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 83, assetic_compass8WJ0Z8.scss */
.product .price-small .currency-sign {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 88, assetic_compass8WJ0Z8.scss */
.product .price .currency-integer,
.product .price-small .currency-integer {
  font-family: "Arial Black", Arial, Verdana, sans-serif;
}

/* line 92, assetic_compass8WJ0Z8.scss */
.product .price .currency-integer {
  font-size: 32px;
  font-size: 3.2rem;
}

/* line 96, assetic_compass8WJ0Z8.scss */
.product .price-small .currency-integer {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 101, assetic_compass8WJ0Z8.scss */
.product .price .currency-decimal,
.product .price-small .currency-decimal {
  padding-top: 2px;
  font-family: "Arial Black", Arial, Verdana, sans-serif;
}

/* line 107, assetic_compass8WJ0Z8.scss */
.product .price .currency-decimal {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 111, assetic_compass8WJ0Z8.scss */
.product .price-small .currency-decimal {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 116, assetic_compass8WJ0Z8.scss */
.product .price .currency-tax,
.product .price-small .currency-tax {
  color: #6c8087;
  font-size: 9px;
  font-size: 0.9rem;
}

/* line 121, assetic_compass8WJ0Z8.scss */
table.data-table .price .currency-prefix {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 125, assetic_compass8WJ0Z8.scss */
table.data-table .price .currency-sign {
  font-size: 20px;
  font-size: 2rem;
}

/* line 129, assetic_compass8WJ0Z8.scss */
table.data-table .price .currency-integer {
  font-size: 28px;
  font-size: 2.8rem;
}

/* line 133, assetic_compass8WJ0Z8.scss */
table.data-table .price .currency-decimal {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 137, assetic_compass8WJ0Z8.scss */
table.data-table .price .currency-tax {
  font-size: 9px;
  font-size: 0.9rem;
}

/* line 141, assetic_compass8WJ0Z8.scss */
.product-listing-name {
  height: 28px;
  overflow: hidden;
}

/* line 147, assetic_compass8WJ0Z8.scss */
.product-listing-name,
.product-listing-name a {
  font-size: 11px;
  font-size: 1.1rem;
  color: #6c8087;
  line-height: 14px;
}

/* line 153, assetic_compass8WJ0Z8.scss */
.product .logo {
  height: 50px;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0 0 10px 0 #c5d2d6;
  -webkit-box-shadow: 0 0 10px 0 #c5d2d6;
  -moz-box-shadow: 0 0 10px 0 #c5d2d6;
  -moz-box-shadow: 0 0 10px 0 #c5d2d6;
  box-shadow: 0 0 10px 0 #c5d2d6;
  box-shadow: 0 0 10px 0 #c5d2d6;
}

/* line 160, assetic_compass8WJ0Z8.scss */
.product .summary {
  font-size: 13px;
  font-size: 1.3rem;
  color: #444444;
  line-height: 150%;
}

/* line 166, assetic_compass8WJ0Z8.scss */
.product-back-button {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 172, assetic_compass8WJ0Z8.scss */
.product-information {
  margin: 0 15px 0 0;
  padding: 5px 0 0 0;
  float: left;
}

/* line 179, assetic_compass8WJ0Z8.scss */
.product-information ul {
  margin: 0 0 0 10px;
  padding: 0;
}

/* line 184, assetic_compass8WJ0Z8.scss */
.product-information ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
  font-size: 12px;
  font-size: 1.2rem;
  color: black;
}

/* line 194, assetic_compass8WJ0Z8.scss */
.product-options {
  float: right;
  padding: 5px 0 0 0;
}

/* line 199, assetic_compass8WJ0Z8.scss */
.product p, .product-description p {
  margin: 0 0 10px 0;
  padding: 0px;
  line-height: 120%;
  font-size: 10px;
  font-size: 1rem;
}

/* line 207, assetic_compass8WJ0Z8.scss */
.product .product-description li {
  color: #6c8087;
  line-height: 100%;
}

/* line 212, assetic_compass8WJ0Z8.scss */
.buy-now {
  text-align: right;
}

/* line 216, assetic_compass8WJ0Z8.scss */
.product .product-description ul {
  margin-bottom: 10px;
}

/* line 220, assetic_compass8WJ0Z8.scss */
.product .features-link {
  padding: 5px 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 2px 0 black;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px 0 black;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 black;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  line-height: 100%;
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background: -webkit-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: linear-gradient(top, #6c8087 0%, #384246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4NDI0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background-image: -webkit-linear-gradient(top, #6c8087, #384246);
  background-image: -moz-linear-gradient(top, #6c8087, #384246);
  background-image: -o-linear-gradient(top, #6c8087, #384246);
  background-image: linear-gradient(top, #6c8087, #384246);
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  filter: dropshadow(color=black, offx=0, offy=1px);
  cursor: pointer;
  border: 1px solid #6c8087;
}

/* line 233, assetic_compass8WJ0Z8.scss */
.product .features {
  padding: 0 0 10px 0;
  display: none;
}

/* line 238, assetic_compass8WJ0Z8.scss */
.product dt {
  width: 99px;
  margin: 0 0 3px 0;
  padding: 5px;
  float: left;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 100%;
  border-left: 1px solid #c5d2d6;
  border-top: 1px solid #c5d2d6;
  border-bottom: 1px solid #c5d2d6;
  text-align: right;
}

/* line 253, assetic_compass8WJ0Z8.scss */
.product dt.even {
  background: #ededed;
}

/* line 257, assetic_compass8WJ0Z8.scss */
.product dt.odd {
  background: #e4eaec;
}

/* line 261, assetic_compass8WJ0Z8.scss */
.product dd {
  width: 136px;
  padding: 5px;
  margin: 0 0 3px 0;
  float: left;
  line-height: 100%;
  font-size: 11px;
  font-size: 1.1rem;
  border-right: 1px solid #c5d2d6;
  border-top: 1px solid #c5d2d6;
  border-bottom: 1px solid #c5d2d6;
}

/* line 274, assetic_compass8WJ0Z8.scss */
.product .product-compare {
  margin: 10px 0;
}

/* line 278, assetic_compass8WJ0Z8.scss */
.product .product-short-description {
  padding: 10px 0 0 0;
}

/* line 282, assetic_compass8WJ0Z8.scss */
.product .product-short-description p {
  padding: 0;
  margin: 0 !important;
  width: 180px;
  height: 24px;
  line-height: 12px !important;
  font-size: 11px;
  font-size: 1.1rem;
  overflow: hidden;
}

/* line 293, assetic_compass8WJ0Z8.scss */
.product-header {
  padding-left: 20px;
}

/* line 297, assetic_compass8WJ0Z8.scss */
.product ul.breadcrumbs li {
  padding: 4px 5px 3px 13px;
}

/* line 301, assetic_compass8WJ0Z8.scss */
.product-listing {
  margin: 0 auto;
  position: relative;
  border: 3px solid #c5d2d6;
  -webkit-box-shadow: 0 0 10px 0 #6c8087;
  -webkit-box-shadow: 0 0 10px 0 #6c8087;
  -moz-box-shadow: 0 0 10px 0 #6c8087;
  -moz-box-shadow: 0 0 10px 0 #6c8087;
  box-shadow: 0 0 10px 0 #6c8087;
  box-shadow: 0 0 10px 0 #6c8087;
}

/* line 310, assetic_compass8WJ0Z8.scss */
.product-listing img {
  display: block;
}

/* line 314, assetic_compass8WJ0Z8.scss */
.product-listing .name {
  padding: 0 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 150%;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=');
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 329, assetic_compass8WJ0Z8.scss */
.product-listing .new {
  height: 28px;
  width: 28px;
  position: absolute;
  right: -8px;
  top: -8px;
  display: block;
  background: #d93637;
  background: -moz-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background: -webkit-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -o-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -ms-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: linear-gradient(to bottom, #fdadae 0%, #d93637 5%, #9a0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d93637', endColorstr = '#9a0000', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWRhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNkOTM2MzciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background-image: -webkit-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -moz-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -o-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px 0 #cc0000;
  -webkit-box-shadow: 0 0 5px 0 #cc0000;
  -moz-box-shadow: 0 0 5px 0 #cc0000;
  -moz-box-shadow: 0 0 5px 0 #cc0000;
  box-shadow: 0 0 5px 0 #cc0000;
  box-shadow: 0 0 5px 0 #cc0000;
  border: 1px solid white;
  font-size: 10px;
  font-size: 1rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  line-height: 28px;
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 350, assetic_compass8WJ0Z8.scss */
.listing-top-item {
  height: 28px;
  width: 28px;
  position: absolute;
  left: -4px;
  top: -4px;
  display: block;
  background: #d93637;
  background: -moz-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background: -webkit-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -o-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: -ms-linear-gradient(top, #fdadae 0%, #d93637 5%, #9a0000 100%);
  background: linear-gradient(to bottom, #fdadae 0%, #d93637 5%, #9a0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d93637', endColorstr = '#9a0000', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWRhZSIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNkOTM2MzciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdadae), color-stop(5%, #d93637), color-stop(100%, #9a0000));
  background-image: -webkit-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -moz-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: -o-linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-image: linear-gradient(top, #fdadae, #d93637 5%, #9a0000 100%);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 5px 0 #cc0000;
  -webkit-box-shadow: 0 0 5px 0 #cc0000;
  -moz-box-shadow: 0 0 5px 0 #cc0000;
  -moz-box-shadow: 0 0 5px 0 #cc0000;
  box-shadow: 0 0 5px 0 #cc0000;
  box-shadow: 0 0 5px 0 #cc0000;
  border: 1px solid white;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  line-height: 28px;
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 371, assetic_compass8WJ0Z8.scss */
.product-sorting-container, .product-filtering-container {
  padding: 5px 0;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: linear-gradient(top, #ffffff 0%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: linear-gradient(top, #ffffff, #c5d2d6);
  background-repeat: no-repeat;
}

/* line 377, assetic_compass8WJ0Z8.scss */
.product-sorting-container-top, .product-filtering-container {
  margin: -10px -10px 10px -10px;
  border-bottom: 2px solid #6c8087;
  border-radius: 4px 4px 0 0;
}

/* line 384, assetic_compass8WJ0Z8.scss */
.product-sorting-container-bottom {
  margin: 10px -10px -10px -10px;
  border-top: 2px solid #6c8087;
  border-radius: 0 0 4px 4px;
}

/* line 391, assetic_compass8WJ0Z8.scss */
.product-sorting-container > div > span, .product-filtering-container > div > span {
  padding: 0 5px 0 0;
  line-height: 40px;
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 398, assetic_compass8WJ0Z8.scss */
.product-sorting-container .selector {
  margin: 0 5px 0 0;
}

/* line 402, assetic_compass8WJ0Z8.scss */
.product-sorting-container .selector span {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 406, assetic_compass8WJ0Z8.scss */
.product-sorting-container .ui-button {
  padding: 3px 0;
  margin: 0 0 -4px -4px;
}

/* line 411, assetic_compass8WJ0Z8.scss */
.product-sorting-container .ui-button span {
  padding: 0 8px;
}

/* line 415, assetic_compass8WJ0Z8.scss */
.product-sorting-container .ui-button .ui-icon {
  padding: 0;
}

/* line 419, assetic_compass8WJ0Z8.scss */
.filters .ui-widget header h2 {
  letter-spacing: 0;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* line 425, assetic_compass8WJ0Z8.scss */
.filter-header-buttons-container {
  position: absolute;
  top: 3px;
  right: 3px;
}

/* line 431, assetic_compass8WJ0Z8.scss */
.filter-header-buttons-container .ui-button {
  padding: 0 2px;
}

/* line 436, assetic_compass8WJ0Z8.scss */
.filter,
.price-range-filter {
  padding: 0;
  background: #e4eaec;
  border-radius: 0 0 4px 4px;
}

/* line 443, assetic_compass8WJ0Z8.scss */
.price-range-filter {
  padding: 5px 15px;
}

/* line 447, assetic_compass8WJ0Z8.scss */
.range-slider-values {
  text-align: center;
}

/* line 451, assetic_compass8WJ0Z8.scss */
.range-slider-values input {
  width: 60px;
  text-align: center;
}

/* line 456, assetic_compass8WJ0Z8.scss */
.price-range {
  margin: 5px 0 5px 0;
}

/* line 460, assetic_compass8WJ0Z8.scss */
.price-range .ui-slider-range {
  padding: 0;
}

/* line 464, assetic_compass8WJ0Z8.scss */
.filter ul li a.selected-filter {
  font-weight: bold;
  text-decoration: underline;
}

/* line 469, assetic_compass8WJ0Z8.scss */
.filter label {
  line-height: 18px;
}

/* line 473, assetic_compass8WJ0Z8.scss */
.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 480, assetic_compass8WJ0Z8.scss */
.filter > ul {
  padding: 0 0 5px 0;
}

/* line 484, assetic_compass8WJ0Z8.scss */
.filter ul li {
  padding: 2px 5px 2px 28px;
  margin: 0;
  display: block;
  list-style: none;
  background-colour: #e4eaec;
  border-bottom: 1px solid #c5d2d6;
  color: black;
  position: relative;
}

/* line 497, assetic_compass8WJ0Z8.scss */
.jstree a {
  font-size: 11px;
  line-height: 18px;
}

/* line 503, assetic_compass8WJ0Z8.scss */
.jstree li,
.jstree ins {
  background-image: url("/bundles/kacsite/plugins/jstree/resources/images/jstree_d.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 108px 18px;
}

/* line 510, assetic_compass8WJ0Z8.scss */
.jstree li {
  background-position: -90px 0;
  background-repeat: repeat-y;
}

/* line 515, assetic_compass8WJ0Z8.scss */
.jstree .jstree-open > ins {
  background-position: -36px 0;
}

/* line 519, assetic_compass8WJ0Z8.scss */
.jstree .jstree-closed > ins {
  background-position: -18px 0;
}

/* line 523, assetic_compass8WJ0Z8.scss */
.jstree .jstree-leaf > ins {
  background-position: 0 0;
}

/* line 527, assetic_compass8WJ0Z8.scss */
.jstree .jstree-no-dots li {
  background-position: -108px 0;
}

/* line 531, assetic_compass8WJ0Z8.scss */
.jstree .jstree-no-dots .jstree-open > ins {
  background-position: -72px 0;
}

/* line 535, assetic_compass8WJ0Z8.scss */
.jstree .jstree-no-dots .jstree-closed > ins {
  background-position: -54px 0;
}

/* line 540, assetic_compass8WJ0Z8.scss */
.jstree li,
.jstree ins {
  _background-image: url("/bundles/kacsite/plugins/jstree/resources/images/jstree_d.gif");
}

/* line 544, assetic_compass8WJ0Z8.scss */
.jstree .jstree-open ins {
  _background-position: -36px 0;
}

/* line 548, assetic_compass8WJ0Z8.scss */
.jstree .jstree-closed ins {
  _background-position: -18px 0;
}

/* line 552, assetic_compass8WJ0Z8.scss */
.jstree .jstree-leaf ins {
  _background-position: 0 0;
}

/* line 556, assetic_compass8WJ0Z8.scss */
.jstree a > ins {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.25), screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 1.25), screen and (min--moz-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 1.25 / 1), screen and (-o-min-device-pixel-ratio: 1.3 / 1), screen and (-o-min-device-pixel-ratio: 1.5 / 1), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.25), screen and (min-device-pixel-ratio: 1.3), screen and (min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 120dpi), screen and (min-resolution: 124.8dpi), screen and (min-resolution: 144dpi), screen and (min-resolution: 192dpi), screen and (min-resolution: 1.25dppx), screen and (min-resolution: 1.3dppx), screen and (min-resolution: 1.5dppx), screen and (min-resolution: 2dppx) {
  /* line 586, assetic_compass8WJ0Z8.scss */
  .jstree li,
  .jstree ins {
    background-image: url("/bundles/kacsite/plugins/jstree/resources/images/jstree_d@2x.png");
  }
}
/* line 591, assetic_compass8WJ0Z8.scss */
.department-filter ul {
  padding: 0 0 0 18px !important;
}

/* line 595, assetic_compass8WJ0Z8.scss */
.department-filter > ul {
  padding: 10px 5px !important;
}

/* line 599, assetic_compass8WJ0Z8.scss */
.department-filter ul li {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

/* line 608, assetic_compass8WJ0Z8.scss */
.department-filter > ul > li {
  margin: 0;
}

/* line 612, assetic_compass8WJ0Z8.scss */
.department-filter ul li a {
  border: 0 none;
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

/* line 618, assetic_compass8WJ0Z8.scss */
.department-filter ul li a:hover {
  text-decoration: underline;
}

/* line 622, assetic_compass8WJ0Z8.scss */
.department-filter ul li ins {
  width: 18px;
  height: 18px;
  float: left;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 108px 18px;
  cursor: pointer;
}

/* line 634, assetic_compass8WJ0Z8.scss */
.filter ul li .checker {
  position: absolute;
  top: 2px;
  left: 5px;
}

/* line 640, assetic_compass8WJ0Z8.scss */
.filter ul li.filter-sub-department {
  padding: 2px 5px 2px 60px !important;
}

/* line 644, assetic_compass8WJ0Z8.scss */
.filter ul li.filter-sub-department .checker {
  left: 32px;
}

/* line 648, assetic_compass8WJ0Z8.scss */
.filter ul li.filter-feature-group {
  padding: 5px 26px 5px 5px !important;
  position: relative;
  border-bottom: 1px solid #c5d2d6 !important;
  cursor: pointer;
  color: #384246;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: linear-gradient(top, #ffffff 0%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: linear-gradient(top, #ffffff, #c5d2d6);
  background-repeat: no-repeat;
}

/* line 659, assetic_compass8WJ0Z8.scss */
.filter ul li.filter-feature-group .ui-icon {
  position: absolute;
  top: 4px;
  right: 5px;
}

/* line 665, assetic_compass8WJ0Z8.scss */
.filter ul li label {
  font-size: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* line 670, assetic_compass8WJ0Z8.scss */
.filter ul li label a {
  color: black;
  cursor: pointer;
}

/* line 675, assetic_compass8WJ0Z8.scss */
.filter ul li.filter-sub-department label {
  font-size: 11px;
  font-size: 1.1rem;
}

/* line 679, assetic_compass8WJ0Z8.scss */
.filter ul li .checker {
  margin: 0 5px 0 0 !important;
}

/* line 683, assetic_compass8WJ0Z8.scss */
.filter ul li span.fr {
  width: 30px;
  line-height: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  text-align: right;
  color: #6c8087;
}

/* line 693, assetic_compass8WJ0Z8.scss */
.add-to-basket {
  width: 136px;
  height: 40px;
  margin: 5px;
  display: block;
  position: relative;
}

/* line 702, assetic_compass8WJ0Z8.scss */
.add-to-basket input.quantity {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 713, assetic_compass8WJ0Z8.scss */
.add-to-basket .buy {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 720, assetic_compass8WJ0Z8.scss */
.add-to-basket .increase-quantity,
.add-to-basket .decrease-quantity {
  position: absolute;
  left: 40px;
}

/* line 726, assetic_compass8WJ0Z8.scss */
.add-to-basket .increase-quantity .ui-button-text,
.add-to-basket .decrease-quantity .ui-button-text {
  width: 10px;
  height: 12px;
  padding: 0 2px;
  display: block;
  line-height: 12px;
  text-align: center;
}

/* line 737, assetic_compass8WJ0Z8.scss */
.add-to-basket .increase-quantity {
  top: 0;
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 743, assetic_compass8WJ0Z8.scss */
.add-to-basket .decrease-quantity {
  bottom: 0;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 749, assetic_compass8WJ0Z8.scss */
.add-to-basket .buy .ui-button-text {
  padding: 0 5px;
}

/* line 753, assetic_compass8WJ0Z8.scss */
.product td .form-helper {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}

/* line 760, assetic_compass8WJ0Z8.scss */
.product td p {
  line-height: 150%;
  margin: 0;
}

/* line 765, assetic_compass8WJ0Z8.scss */
.ui-widget-content p {
  line-height: 150%;
}

/* line 769, assetic_compass8WJ0Z8.scss */
.product-image-container {
  padding: 10px;
  margin: 0 10px 0 0;
  background: white;
  -webkit-box-shadow: 0 0 10px 0 #9fbdc8;
  -webkit-box-shadow: 0 0 10px 0 #9fbdc8;
  -moz-box-shadow: 0 0 10px 0 #9fbdc8;
  -moz-box-shadow: 0 0 10px 0 #9fbdc8;
  box-shadow: 0 0 10px 0 #9fbdc8;
  box-shadow: 0 0 10px 0 #9fbdc8;
}

/* line 777, assetic_compass8WJ0Z8.scss */
.product .border-bottom-separator {
  border-bottom: 1px solid #e4eaec;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 782, assetic_compass8WJ0Z8.scss */
.product-listing-header {
  background: #e4eaec;
  background: -moz-linear-gradient(top, #e4eaec 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4eaec), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #e4eaec 0%, white 100%);
  background: -o-linear-gradient(top, #e4eaec 0%, white 100%);
  background: -ms-linear-gradient(top, #e4eaec 0%, white 100%);
  background: linear-gradient(top, #e4eaec 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4eaec', endColorstr = 'white', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZWFlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4eaec), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e4eaec, #ffffff);
  background-image: -moz-linear-gradient(top, #e4eaec, #ffffff);
  background-image: -o-linear-gradient(top, #e4eaec, #ffffff);
  background-image: linear-gradient(top, #e4eaec, #ffffff);
  background-repeat: no-repeat;
}

/* line 786, assetic_compass8WJ0Z8.scss */
.product-listing-header h1 {
  padding: 10px;
  margin: 0 -10px 10px -10px;
  float: left;
  color: white;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEU4QkbQ8kDQAAAAAXRSTlPM0jRW/QAAAApJREFUeJxjYgAAAAYAAzY3fKgAAAAASUVORK5CYII=');
  background: rgba(56, 66, 70, 0.8);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  filter: dropshadow(color=black, offx=0, offy=1px);
  font-weight: normal;
}

/* line 800, assetic_compass8WJ0Z8.scss */
.product-listing-header p {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
}
