@charset "UTF-8";
/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
@font-face {
  font-family: "Stag Medium";
  src: url("/bundles/kacsite/css/resources/fonts/stag-medium.eot");
  src: local("☺"), url("/bundles/kacsite/css/resources/fonts/stag-medium.woff") format("woff"), url("/bundles/kacsite/css/resources/fonts/stag-medium.ttf") format("truetype"), url("/bundles/kacsite/css/resources/fonts/stag-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, assetic_compassp7VAEm.scss */
.ui-helper-hidden {
  display: none;
}

/* line 8, assetic_compassp7VAEm.scss */
.ui-helper-hidden-accessible {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* line 21, assetic_compassp7VAEm.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 100%;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 34, assetic_compassp7VAEm.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: table;
  content: "";
}

/* line 40, assetic_compassp7VAEm.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 44, assetic_compassp7VAEm.scss */
.ui-helper-clearfix {
  min-height: 0;
}

/* line 48, assetic_compassp7VAEm.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 0)";
  filter: alpha(opacity = 0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* line 59, assetic_compassp7VAEm.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* line 65, assetic_compassp7VAEm.scss */
.ui-widget-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 74, assetic_compassp7VAEm.scss */
.ui-resizable {
  position: relative;
}

/* line 78, assetic_compassp7VAEm.scss */
.ui-resizable-handle {
  position: absolute;
  display: block;
  font-size: 0.1px;
}

/* line 86, assetic_compassp7VAEm.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 90, assetic_compassp7VAEm.scss */
.ui-resizable-n {
  width: 100%;
  height: 7px;
  top: -5px;
  left: 0;
  cursor: n-resize;
}

/* line 100, assetic_compassp7VAEm.scss */
.ui-resizable-s {
  width: 100%;
  height: 7px;
  bottom: -5px;
  left: 0;
  cursor: s-resize;
}

/* line 110, assetic_compassp7VAEm.scss */
.ui-resizable-e {
  width: 7px;
  height: 100%;
  top: 0;
  right: -5px;
  cursor: e-resize;
}

/* line 120, assetic_compassp7VAEm.scss */
.ui-resizable-w {
  width: 7px;
  height: 100%;
  top: 0;
  left: -5px;
  cursor: w-resize;
}

/* line 130, assetic_compassp7VAEm.scss */
.ui-resizable-se {
  width: 12px;
  height: 12px;
  bottom: 1px;
  right: 1px;
  cursor: se-resize;
}

/* line 140, assetic_compassp7VAEm.scss */
.ui-resizable-sw {
  width: 9px;
  height: 9px;
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

/* line 150, assetic_compassp7VAEm.scss */
.ui-resizable-nw {
  width: 9px;
  height: 9px;
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

/* line 160, assetic_compassp7VAEm.scss */
.ui-resizable-ne {
  width: 9px;
  height: 9px;
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

/* line 170, assetic_compassp7VAEm.scss */
.ui-selectable-helper {
  position: absolute;
  border: 1px dotted black;
}

/* line 176, assetic_compassp7VAEm.scss */
.accordion-item {
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 181, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-header {
  min-height: 0;
  margin-top: 2px;
  padding: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

/* line 192, assetic_compassp7VAEm.scss */
.ui-accordion h3.ui-state-active {
  border-bottom: 3px solid #4ec0e3;
}

/* line 196, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-noicons {
  padding-left: 5px;
}

/* line 200, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 20px;
}

/* line 204, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -16px;
}

/* line 211, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-content {
  padding: 15px 15px 5px 15px;
  border-top: 0;
}

/* line 216, assetic_compassp7VAEm.scss */
.ui-accordion .ui-accordion-content ul {
  margin-left: 15px;
}

/* line 219, assetic_compassp7VAEm.scss */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

/* line 226, assetic_compassp7VAEm.scss */
.ui-datepicker {
  padding: 5px !important;
  display: none;
}

/* line 231, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 5px 0;
}

/* line 237, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 15px;
  height: 15px;
}

/* line 245, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

/* line 249, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

/* line 253, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

/* line 257, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

/* line 261, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

/* line 266, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

/* line 275, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 20px;
  line-height: 20px;
  text-align: center;
}

/* line 281, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 2px 0;
}

/* line 286, assetic_compassp7VAEm.scss */
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

/* line 291, assetic_compassp7VAEm.scss */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

/* line 295, assetic_compassp7VAEm.scss */
.ui-datepicker table {
  width: 100%;
  font-size: 11px;
  font-size: 1.1rem;
  border-collapse: collapse;
  margin: 0;
}

/* line 302, assetic_compassp7VAEm.scss */
.ui-datepicker th {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: 0;
}

/* line 309, assetic_compassp7VAEm.scss */
.ui-datepicker td {
  border: 0;
  padding: 5px;
}

/* line 315, assetic_compassp7VAEm.scss */
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0;
  text-align: right;
  text-decoration: none;
}

/* line 322, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 5px 0 0 0;
  padding: 0 5px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 331, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  width: auto;
  overflow: visible;
}

/* line 340, assetic_compassp7VAEm.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
/* line 345, assetic_compassp7VAEm.scss */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* line 349, assetic_compassp7VAEm.scss */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

/* line 353, assetic_compassp7VAEm.scss */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 5px;
}

/* line 358, assetic_compassp7VAEm.scss */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 362, assetic_compassp7VAEm.scss */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 366, assetic_compassp7VAEm.scss */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 371, assetic_compassp7VAEm.scss */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

/* line 375, assetic_compassp7VAEm.scss */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 379, assetic_compassp7VAEm.scss */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
/* line 386, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl {
  direction: rtl;
}

/* line 390, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

/* line 395, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

/* line 400, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

/* line 405, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

/* line 410, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

/* line 414, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

/* line 419, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

/* line 424, assetic_compassp7VAEm.scss */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* line 429, assetic_compassp7VAEm.scss */
.content-image {
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 #c5d2d6;
  -webkit-box-shadow: 0 0 10px 0 #c5d2d6;
  -moz-box-shadow: 0 0 10px 0 #c5d2d6;
  -moz-box-shadow: 0 0 10px 0 #c5d2d6;
  box-shadow: 0 0 10px 0 #c5d2d6;
  box-shadow: 0 0 10px 0 #c5d2d6;
}

/* line 435, assetic_compassp7VAEm.scss */
.ui-dialog {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #c5d2d6;
  outline: 0;
  -webkit-box-shadow: 0 0 10px 0 #4ec0e3;
  -webkit-box-shadow: 0 0 10px 0 #4ec0e3;
  -moz-box-shadow: 0 0 10px 0 #4ec0e3;
  -moz-box-shadow: 0 0 10px 0 #4ec0e3;
  box-shadow: 0 0 10px 0 #4ec0e3;
  box-shadow: 0 0 10px 0 #4ec0e3;
}

/* line 447, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-titlebar {
  position: relative;
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background: -webkit-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: linear-gradient(top, #6c8087 0%, #384246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4NDI0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background-image: -webkit-linear-gradient(top, #6c8087, #384246);
  background-image: -moz-linear-gradient(top, #6c8087, #384246);
  background-image: -o-linear-gradient(top, #6c8087, #384246);
  background-image: linear-gradient(top, #6c8087, #384246);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 3px solid #4ec0e3;
}

/* line 456, assetic_compassp7VAEm.scss */
.ui-widget-header .ui-icon {
  position: absolute;
  top: 3px;
  right: 10px;
}

/* line 462, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-title {
  margin: 0;
  padding: 10px;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  color: white;
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 472, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-titlebar-close {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  outline: none!important;
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 none;
}

/* line 486, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  position: absolute;
  top: 7px;
  right: 7px;
}

/* line 492, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:hover {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 496, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0;
  background: #c5d2d6;
  overflow: auto;
}

/* line 504, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-buttonpane {
  margin: 0 0 -2px 0;
  padding: 5px 0 5px 5px;
  background: #c5d2d6;
  background: -moz-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background: -webkit-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -o-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: linear-gradient(to bottom, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5d2d6', endColorstr = '#6c8087', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzgwODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background-image: -webkit-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -moz-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -o-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-repeat: no-repeat;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 10px 0 #384246;
  -webkit-box-shadow: inset 0 0 10px 0 #384246;
  -moz-box-shadow: inset 0 0 10px 0 #384246;
  -moz-box-shadow: inset 0 0 10px 0 #384246;
  box-shadow: inset 0 0 10px 0 #384246;
  box-shadow: inset 0 0 10px 0 #384246;
  border-top: 3px solid #384246;
}

/* line 515, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

/* line 519, assetic_compassp7VAEm.scss */
.ui-dialog .ui-dialog-buttonpane button {
  margin: 0 5px 0 0;
  cursor: pointer;
  outline: none !important;
}

/* line 525, assetic_compassp7VAEm.scss */
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

/* line 533, assetic_compassp7VAEm.scss */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* line 537, assetic_compassp7VAEm.scss */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}

/* line 545, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}

/* line 550, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 556, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}

/* line 564, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px 5px;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
}

/* line 574, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/* line 579, assetic_compassp7VAEm.scss */
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: 5px 0 5px 0;
  line-height: 1.5;
}

/* line 585, assetic_compassp7VAEm.scss */
.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* line 589, assetic_compassp7VAEm.scss */
.ui-menu-icons {
  position: relative;
}

/* line 593, assetic_compassp7VAEm.scss */
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 20px;
}

/* left-aligned */
/* line 599, assetic_compassp7VAEm.scss */
.ui-menu .ui-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* right-aligned */
/* line 606, assetic_compassp7VAEm.scss */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

/* line 611, assetic_compassp7VAEm.scss */
.ui-progressbar {
  height: 20px;
  text-align: left;
  overflow: hidden;
}

/* line 617, assetic_compassp7VAEm.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* line 622, assetic_compassp7VAEm.scss */
.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 629, assetic_compassp7VAEm.scss */
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

/* line 633, assetic_compassp7VAEm.scss */
.progress-bar {
  position: relative;
  margin: 0;
  padding: 5px !important;
  height: 30px;
  background-color: #384246 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 5px 0 0 #384246;
  -webkit-box-shadow: inset 0 5px 0 0 #384246;
  -moz-box-shadow: inset 0 5px 0 0 #384246;
  -moz-box-shadow: inset 0 5px 0 0 #384246;
  box-shadow: inset 0 5px 0 0 #384246;
  box-shadow: inset 0 5px 0 0 #384246;
}

/* line 644, assetic_compassp7VAEm.scss */
.progress-bar div {
  display: inline-block;
  height: 100%;
  margin: 0 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 5px 0 black;
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 5px 0 black;
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 5px 0 black;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.7);
  background-color: #4ec0e3;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: repeat !important;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-transition: animate-stripes 3s linear infinite;
  -moz-transition: animate-stripes 3s linear infinite;
  -ms-transition: animate-stripes 3s linear infinite;
  -o-transition: animate-stripes 3s linear infinite;
  transition: animate-stripes 3s linear infinite;
}

/* line 678, assetic_compassp7VAEm.scss */
.progress-bar-caption-container {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 684, assetic_compassp7VAEm.scss */
.progress-bar-caption {
  padding: 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 40px;
  color: white;
  font-size: 10px;
  font-size: 1rem;
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 696, assetic_compassp7VAEm.scss */
.progress-error {
  color: #cc0000;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
}

@-webkit-keyframes animate-stripes {
  /* line 703, assetic_compassp7VAEm.scss */
  0% {
    background-position: 0 0;
  }

  /* line 703, assetic_compassp7VAEm.scss */
  100% {
    background-position: 76px 0;
  }
}

@-moz-keyframes animate-stripes {
  /* line 707, assetic_compassp7VAEm.scss */
  0% {
    background-position: 0 0;
  }

  /* line 707, assetic_compassp7VAEm.scss */
  100% {
    background-position: 76px 0;
  }
}

/* line 710, assetic_compassp7VAEm.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 715, assetic_compassp7VAEm.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: default;
  border: 1px solid #384246;
}

/* line 724, assetic_compassp7VAEm.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* line 733, assetic_compassp7VAEm.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 737, assetic_compassp7VAEm.scss */
.ui-slider-horizontal {
  height: 10px;
}

/* line 741, assetic_compassp7VAEm.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -3px;
  margin-left: -10px;
}

/* line 746, assetic_compassp7VAEm.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 751, assetic_compassp7VAEm.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 755, assetic_compassp7VAEm.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 759, assetic_compassp7VAEm.scss */
.ui-slider-vertical {
  width: 10px;
  height: 100px;
}

/* line 764, assetic_compassp7VAEm.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -10px;
  margin-left: 0;
  margin-bottom: -10px;
}

/* line 770, assetic_compassp7VAEm.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 775, assetic_compassp7VAEm.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 779, assetic_compassp7VAEm.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* line 783, assetic_compassp7VAEm.scss */
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

/* line 791, assetic_compassp7VAEm.scss */
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: 10px 0;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 20px;
}

/* line 802, assetic_compassp7VAEm.scss */
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}

/* more specificity required here to overide default borders */
/* line 816, assetic_compassp7VAEm.scss */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* vertical centre icon */
/* line 822, assetic_compassp7VAEm.scss */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}

/* line 829, assetic_compassp7VAEm.scss */
.ui-spinner-up {
  top: 0;
}

/* line 833, assetic_compassp7VAEm.scss */
.ui-spinner-down {
  bottom: 0;
}

/* TR overrides */
/* line 838, assetic_compassp7VAEm.scss */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}

/* line 843, assetic_compassp7VAEm.scss */
.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: 10px;
}

/* line 848, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav {
  margin: -10px -10px 0 -10px;
  padding: 10px 10px 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 860, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 2px 2px 0 0;
  border-bottom: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 871, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 10px;
  text-decoration: none;
}

/* line 877, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-top: -1px;
  border-bottom: 3px solid #4ec0e3;
}

/* line 884, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text;
}

/* line 889, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-nav li a,
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}

/* line 893, assetic_compassp7VAEm.scss */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 10px 0 0 0;
  background: none;
}

/* line 900, assetic_compassp7VAEm.scss */
.ui-tabs-vertical {
  width: 55em;
}

/* line 904, assetic_compassp7VAEm.scss */
.ui-tabs-vertical .ui-tabs-nav {
  padding: 0.2em 0.1em 0.2em 0.2em;
  float: left;
  width: 12em;
}

/* line 910, assetic_compassp7VAEm.scss */
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}

/* line 918, assetic_compassp7VAEm.scss */
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}

/* line 922, assetic_compassp7VAEm.scss */
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
  border-right-width: 1px;
}

/* line 929, assetic_compassp7VAEm.scss */
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em;
}

/* line 935, assetic_compassp7VAEm.scss */
.ui-tooltip {
  padding: 10px;
  position: absolute;
  max-width: 400px;
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  font-size: 12px;
  font-size: 1.2rem;
  background: #ffea99;
  line-height: 150%;
  border: 0 none;
}

/* line 948, assetic_compassp7VAEm.scss */
body .ui-tooltip {
  border-width: 2px;
}

/* line 952, assetic_compassp7VAEm.scss */
.ui-widget {
  -webkit-box-shadow: 0 0 10px 0 #384246;
  -webkit-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  -moz-box-shadow: 0 0 10px 0 #384246;
  -moz-box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  box-shadow: 0 0 10px 0 #384246;
  box-shadow: 0 0 10px 0 rgba(56, 66, 70, 0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 957, assetic_compassp7VAEm.scss */
.ui-widget .ui-widget {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 961, assetic_compassp7VAEm.scss */
.ui-widget-content {
  background: white;
  color: #444444;
  padding: 10px;
}

/* line 967, assetic_compassp7VAEm.scss */
.ui-dialog.ui-widget-content {
  padding: 0;
}

/* line 971, assetic_compassp7VAEm.scss */
.ui-widget-content a {
  color: black;
}

/* line 975, assetic_compassp7VAEm.scss */
.ui-widget-header {
  position: relative;
  background: #6c8087;
  background: -moz-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background: -webkit-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -o-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: -ms-linear-gradient(top, #6c8087 0%, #384246 100%);
  background: linear-gradient(top, #6c8087 0%, #384246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6c8087', endColorstr = '#384246', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4NDI0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c8087), color-stop(100%, #384246));
  background-image: -webkit-linear-gradient(top, #6c8087, #384246);
  background-image: -moz-linear-gradient(top, #6c8087, #384246);
  background-image: -o-linear-gradient(top, #6c8087, #384246);
  background-image: linear-gradient(top, #6c8087, #384246);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
}

/* line 982, assetic_compassp7VAEm.scss */
.ui-widget-header > .ui-icon {
  position: absolute;
  top: 3px;
  right: 10px;
}

/* line 988, assetic_compassp7VAEm.scss */
.ui-widget-header h2 {
  margin: 0;
  padding: 10px;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 black;
  letter-spacing: 0;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

/* line 998, assetic_compassp7VAEm.scss */
.ui-widget-header a {
  color: white;
}

/* line 1002, assetic_compassp7VAEm.scss */
.accordion {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 1007, assetic_compassp7VAEm.scss */
.accordion-item {
  position: relative;
}

/* line 1011, assetic_compassp7VAEm.scss */
.accordion-header-buttons {
  position: absolute;
  top: 4px;
  right: 52px;
}

/* line 1017, assetic_compassp7VAEm.scss */
.accordion-header-buttons button {
  padding: 0 3px;
}

/* line 1021, assetic_compassp7VAEm.scss */
.ui-state-default {
  background: #c5d2d6;
  background: -moz-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background: -webkit-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -o-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  background: linear-gradient(to bottom, #ededed 0%, #c5d2d6 5%, #6c8087 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c5d2d6', endColorstr = '#6c8087', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzgwODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(5%, #c5d2d6), color-stop(100%, #6c8087));
  background-image: -webkit-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -moz-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: -o-linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-image: linear-gradient(top, #ededed, #c5d2d6 5%, #6c8087 100%);
  background-repeat: no-repeat;
  font-weight: bold;
  color: #384246;
  text-shadow: 0 1px 0 #c5d2d6;
  text-shadow: 0 1px 0 #c5d2d6;
}

/* line 1030, assetic_compassp7VAEm.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #384246;
  text-shadow: 0 1px 0 #c5d2d6;
  text-shadow: 0 1px 0 #c5d2d6;
  text-decoration: none;
}

/* line 1037, assetic_compassp7VAEm.scss */
.ui-state-hover,
.ui-state-focus {
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 #c5d2d6;
  text-shadow: 0 1px 0 #c5d2d6;
}

/* line 1046, assetic_compassp7VAEm.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: black;
  text-shadow: 0 1px 0 #c5d2d6;
  text-shadow: 0 1px 0 #c5d2d6;
  text-decoration: none;
}

/* line 1052, assetic_compassp7VAEm.scss */
.ui-state-active {
  background: #e4eaec;
  background: -moz-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #e4eaec 5%, #c5d2d6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e4eaec 5%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e4eaec', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiNlNGVhZWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWQyZDYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(5%, #e4eaec), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -moz-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: -o-linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-image: linear-gradient(top, #ffffff, #e4eaec 5%, #c5d2d6 100%);
  background-repeat: no-repeat;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
}

/* line 1061, assetic_compassp7VAEm.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: black;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 1px 0 white;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 1069, assetic_compassp7VAEm.scss */
.ui-state-highlight {
  border: 1px solid #fed22f;
  background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
  color: #363636;
}

/* line 1075, assetic_compassp7VAEm.scss */
.ui-state-highlight a {
  color: #363636;
}

/* line 1079, assetic_compassp7VAEm.scss */
.ui-state-error {
  border: 1px solid #cd0a0a;
  background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;
  color: #ffffff;
}

/* line 1085, assetic_compassp7VAEm.scss */
.ui-state-error a {
  color: #ffffff;
}

/* line 1089, assetic_compassp7VAEm.scss */
.ui-state-error-text {
  color: #ffffff;
}

/* line 1093, assetic_compassp7VAEm.scss */
.ui-priority-primary {
  font-weight: bold;
}

/* line 1097, assetic_compassp7VAEm.scss */
.ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 1103, assetic_compassp7VAEm.scss */
.ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 1109, assetic_compassp7VAEm.scss */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
/* line 1120, assetic_compassp7VAEm.scss */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 1129, assetic_compassp7VAEm.scss */
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 1138, assetic_compassp7VAEm.scss */
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 1147, assetic_compassp7VAEm.scss */
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 1156, assetic_compassp7VAEm.scss */
.ui-corner-none,
.ui-corner-none-top,
.ui-corner-none-left,
.ui-corner-none-tl {
  -webkit-border-top-left-radius: 0 !important;
  -moz-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

/* line 1165, assetic_compassp7VAEm.scss */
.ui-corner-none,
.ui-corner-none-top,
.ui-corner-none-right,
.ui-corner-none-tr {
  -webkit-border-top-right-radius: 0 !important;
  -moz-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* line 1174, assetic_compassp7VAEm.scss */
.ui-corner-none,
.ui-corner-none-bottom,
.ui-corner-none-left,
.ui-corner-none-bl {
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* line 1183, assetic_compassp7VAEm.scss */
.ui-corner-none,
.ui-corner-none-bottom,
.ui-corner-none-right,
.ui-corner-none-br {
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* line 1189, assetic_compassp7VAEm.scss */
.ui-widget-overlay {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiOAMAANUAz5n+TlUAAAAASUVORK5CYII=');
  background: rgba(0, 0, 0, 0.8);
}

/* line 1193, assetic_compassp7VAEm.scss */
.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px 0 #4ec0e3;
  -webkit-box-shadow: 0 0 10px 0 #4ec0e3;
  -moz-box-shadow: 0 0 10px 0 #4ec0e3;
  -moz-box-shadow: 0 0 10px 0 #4ec0e3;
  box-shadow: 0 0 10px 0 #4ec0e3;
  box-shadow: 0 0 10px 0 #4ec0e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 1200, assetic_compassp7VAEm.scss */
.header-buttons-container {
  position: absolute;
  top: 3px;
  right: 3px;
}

/* line 1206, assetic_compassp7VAEm.scss */
.popular-department {
  width: 100%;
  height: 185px;
  position: relative;
  margin: 0 0 10px 0;
}

/* line 1214, assetic_compassp7VAEm.scss */
.popular-department h5 {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 12px;
  text-align: center;
  color: #4ec0e3;
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 1224, assetic_compassp7VAEm.scss */
.popular-department img {
  position: absolute;
  top: 17px;
  left: 0;
}

/* line 1230, assetic_compassp7VAEm.scss */
.popular-department ul.button-list {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1237, assetic_compassp7VAEm.scss */
ul.button-list,
ul.button-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 1244, assetic_compassp7VAEm.scss */
ul.button-list {
  padding: 0 0 10px 0;
}

/* line 1248, assetic_compassp7VAEm.scss */
ul.button-list li a {
  padding: 0 5px;
  display: block;
  line-height: 20px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c5d2d6));
  background: -webkit-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -o-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: -ms-linear-gradient(top, white 0%, #c5d2d6 100%);
  background: linear-gradient(top, #ffffff 0%, #c5d2d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'white', endColorstr = '#c5d2d6', GradientType = 0);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1ZDJkNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c5d2d6));
  background-image: -webkit-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -moz-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: -o-linear-gradient(top, #ffffff, #c5d2d6);
  background-image: linear-gradient(top, #ffffff, #c5d2d6);
  background-repeat: no-repeat;
  border: 1px solid #c5d2d6;
  text-decoration: none;
  color: #444444;
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 1261, assetic_compassp7VAEm.scss */
ul.button-list li a:hover {
  text-decoration: underline;
}
