.message {
    padding: $spacingMedium $spacingMedium 0 47px   ;
    margin: 0 0 $spacingMedium 0;
    min-height: 22px;

    position: relative;

    @include equalBorderRadius($radiusSize);
}

.message .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 5px;
}

.message .icon-top {
    top: 10px;
    margin: 0;
}

.message p {
    padding: 0 0 $spacingMedium 0;
    margin: 0;

    @include fontSize($fontSizeMedium);
    line-height: 17px;
}

.message ul {
    padding: 0 0 $spacingSmall 0;
    margin: 0;
}

.message li {
    padding: 0 0 $spacingSmall 0;
    margin: 0 0 0 $spacingExtraLarge;

    @include fontSize($fontSizeMedium);
}

.message-help {
    border: 1px solid $helpBorderColour;
    background: $helpBackgroundColour;
    @include boxGlow($colourGrey, 5px, 0, 0.5);
}

.message-error {
    border: 1px solid $colourDarkRed;
    @include highlightedVerticalGradientDarkRed;
    @include boxGlow($colourRed, 5px, 0, 0.5);
}

.message-warning {
    border: 1px solid $colourOrange;
    @include highlightedVerticalGradientOrange;
    @include boxGlow($colourOrange, 5px, 0, 0.5);
}

.message-notice {
    border: 1px solid $colourOrange;
    @include highlightedVerticalGradientOrange;
    @include boxGlow($colourOrange, 5px, 0, 0.5);
}

.message-success {
    border: 1px solid $colourGreen;
    @include highlightedVerticalGradientGreen;
    @include boxGlow($colourGreen, 5px, 0, 0.5);
}

.message-help p,
.message-help ul,
.message-help ul li {
    color: $colourGreyDark;
}

.message-error p,
.message-error ul,
.message-error ul li,
.message-success p,
.message-success ul,
.message-success ul li,
.message-warning p,
.message-warning ul,
.message-warning ul li,
.message-notice p,
.message-notice ul,
.message-notice ul li {
    color: $colourWhite;
}

.flash-message .message {
    margin: 0;
    padding: 0;

    position: relative;

    @include equalBorderRadius(0);
    border-top-width: 3px;
}

.flash-message-content {
    position: relative;
    padding: $spacingSmall $spacingSmall $spacingSmall 40px;
}

.flash-message-content .icon {
    position: absolute;
    top: $spacingSmall;
    left: $spacingSmall;
}

.flash-message-content .close {
    position: absolute;
    top: $spacingSmall;
    right: $spacingSmall;

    cursor: pointer;
}

.flash-message-content p {
    padding: 0;
    margin: 0;

    line-height: 24px;
}