.main-content
{
	background: #FFF;
}
.print-header
{
	padding: 20px 0;
}
.print-header > img
{
	float: left;
}
.print-title
{
	font-size: 38px;
	font-weight: bold;
	color: #000;
	float: right;
	line-height: 35px;
	font-family: Arial;
}
.print-title > span
{
	line-height: 50px;
	color: #444;
	font-size: 38px;
	font-weight: normal;
	font-family: Arial;
}
.address-window
{
	line-height: 150%;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 150px 100px;
}
