{% extends 'WebIlluminationSiteBundle::base.html.twig' %}
{% block scripts %}
    {{ parent() }}
    {% javascripts
    '@WebIlluminationSiteBundle/Resources/public/plugins/ui/js/ui.js'
    output='js/components-compressed.js'
    filter='yui_js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".tabs").tabs();
        });
    </script>
    <header>
        <h1>Forms</h1>
    </header>
    <section>
        <p>The grid system is percentage-based, so can be used in any container. This allows for very flexible
            layouts that can easily be nested.</p>
        <div class="message error">
            <p>You have <strong>3</strong> errors. Please fix the following errors before continuing:</p>
            <ul>
                <li>Enter a valid email address.</li>
                <li>Enter a valid telephone address.</li>
                <li>Enter a name.</li>
            </ul>
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <legend class="clearfix fill">Input Types</legend>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Email Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="email" value="sales@kitchenappliancecentre.co.uk" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Password Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="password" value="1234567890" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Search Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input placeholder="Search..." results="5" class="fill" type="search" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Telephone Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="tel" value="01159383111" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>URL Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="url" value="http://www.kitchenappliancecentre.co.uk" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Datetime Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="date" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="month" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Week Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="week" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Datetime-local Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime-local" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label>Number Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="number" value="" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">&nbsp;</div>
                            <div class="widget widget-2-of-3">
                                <button class="button" data-icon-primary="medium-black-icon-1">Test</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label>Textarea</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <textarea class="fill" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="clearfix fill">Selecting Elements</legend>

                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select>
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Multiple Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="" multiple="multiple" size="4">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                        <option value="7">Option 7</option>
                                        <option value="8">Option 8</option>
                                        <option value="9">Option 9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <label>
                                        <input type="radio" name="radio" value="hi" /> Saying hi
                                    </label>
                                    <label>
                                        <input type="radio" name="radio" value="feedback" /> Sending feedback
                                    </label>
                                    <label>
                                        <input type="radio" name="radio" value="default" checked="CHECKED" /> Default Seleted Radio
                                    </label>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <label>
                                        <input type="checkbox" id="contactBack" /> Please contact me back
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="CHECKED" id="goodDay" /> Today is a good day
                                    </label>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>File Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </div>
            </div>
        </div>



        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Validation</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <legend class="clearfix fill">Input Types</legend>
                            <div class="form-element error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Email Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="email" value="sales@kitchenappliancecentre.co.uk" />
                                    <span>Enter a valid email address!</span>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Password Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="password" value="1234567890" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Search Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input placeholder="Search..." results="5" class="fill" type="search" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Telephone Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="tel" value="01159383111" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>URL Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input class="fill" type="url" value="http://www.kitchenappliancecentre.co.uk" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Datetime Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="date" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="month" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Week Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="week" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Datetime-local Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime-local" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label>Number Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="number" value="" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">&nbsp;</div>
                            <div class="widget widget-2-of-3">
                                <button class="button" data-icon-primary="medium-black-icon-1">Test</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label>Textarea</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <textarea class="fill" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="clearfix fill">Selecting Elements</legend>

                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select>
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Multiple Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="" multiple="multiple" size="4">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                        <option value="7">Option 7</option>
                                        <option value="8">Option 8</option>
                                        <option value="9">Option 9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <label>
                                        <input type="radio" name="radio" value="hi" /> Saying hi
                                    </label>
                                    <label>
                                        <input type="radio" name="radio" value="feedback" /> Sending feedback
                                    </label>
                                    <label>
                                        <input type="radio" name="radio" value="default" checked="CHECKED" /> Default Seleted Radio
                                    </label>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <label>
                                        <input type="checkbox" id="contactBack" /> Please contact me back
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="CHECKED" id="goodDay" /> Today is a good day
                                    </label>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>File Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="file" />
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </div>
            </div>
        </div>



        <div class="widget-group">
            <div class="widget widget-1-of-1">
                <header>
                    <h2>Search Engine Optimisation (SEO)</h2>
                </header>
                <section>
                    <form action="">
                        <div class="tabs">
                            <ul>
                                <li><a href="#seo1">English</a></li>
                                <li><a href="#seo2">French</a></li>
                                <li><a href="#seo3">German</a></li>
                            </ul>
                            <div id="seo1">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle1">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle1" name="pageTitle[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header1">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header1" name="header[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription1">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription1" name="metaDescription[1]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords1">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords1" name="keywords[1]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div id="seo2">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle2">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle2" name="pageTitle[2]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header2">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header2" name="header[2]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription2">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription2" name="metaDescription[2]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords2">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords2" name="keywords[2]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div id="seo3">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle3">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle3" name="pageTitle[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header3">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header3" name="header[3]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription1">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription3" name="metaDescription[3]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords3">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords3" name="keywords[3]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}