{% extends 'WebIlluminationSiteBundle::base.html.twig' %}
{% block body %}
    <header>
        <h1>Forms</h1>
    </header>
    <section>
        <div class="message message-help">
            <span class="ui-button-icon-primary ui-icon icon-yellow icon-762"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae metus lacus. Aliquam dapibus est eu magna luctus at commodo purus egestas.</p>
        </div>
        <div class="message message-error">
            <span class="ui-button-icon-primary ui-icon icon-white icon-850"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae metus lacus. Aliquam dapibus est eu magna luctus at commodo purus egestas.</p>
        </div>
        <div class="message message-warning">
            <span class="ui-button-icon-primary ui-icon icon-white icon-694"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae metus lacus. Aliquam dapibus est eu magna luctus at commodo purus egestas.</p>
        </div>
        <div class="message message-notice">
            <span class="ui-button-icon-primary ui-icon icon-white icon-702"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae metus lacus. Aliquam dapibus est eu magna luctus at commodo purus egestas.</p>
        </div>
        <div class="message message-success">
            <span class="ui-button-icon-primary ui-icon icon-white icon-1118"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae metus lacus. Aliquam dapibus est eu magna luctus at commodo purus egestas.</p>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="accordion">
                    <div class="accordion-item">
                        <h3>Section 1</h3>
                        <div>
                            <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>Section 2</h3>
                        <div>
                            <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3>Section 3</h3>
                        <div>
                            <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                            <ul>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <legend class="clearfix fill">Input Types</legend>
                            <div class="clear"></div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formEmail"><span class="required">*</span> Email Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="email" id="formEmail" name="email" class="fill" value="sales@kitchenappliancecentre.co.uk" />
                                    <small>Enter a valid email address.</small>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formPassword"><span class="required">*</span> Password Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="password" id="formPassword" name="password" class="fill" value="1234567890" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formSearch">Search Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="search" id="formSearch" name="search" placeholder="Search..." results="5" class="fill" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formTel"><span class="required">*</span> Telephone Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="tel" id="formTel" name="tel" class="fill" value="01159383111" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formUrl"><span class="required">*</span> URL Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="url" id="formUrl" name="url" class="fill" value="http://www.kitchenappliancecentre.co.uk" />
                                    <small>Enter a valid URL.</small>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formTime">Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" id="formTime" name="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formDatetime">Datetime Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime" id="formDatetime" name="datetime" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formDate">Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="date" id="formDate" name="date" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formMonth">Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="month" id="formMonth" name="month" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label id="formWeek">Week Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="week" id="formWeek" name="week" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formTime">Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" id="formTime" name="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formDatetimeLocal">Datetime-local Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime-local" id="formDatetimeLocal" name="datetimeLocal" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formNumber">Number Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="number" id="formNumber" name="number" value="" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-group clearfix">
                            <button class="button button-small fl">Back</button>
                            <button class="button button-turquoise icon-white fr" data-icon-secondary="icon-471">Continue</button>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formTextarea">Textarea</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <textarea id="formTextarea" name="textarea" class="fill" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="clearfix fill">Selecting Elements</legend>
                            <div class="clear"></div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formSelect1">Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formSelect1" name="select1" class="fill">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formSelect2">Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formSelect2" name="select2">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formSelect3">Select 3</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formSelect3" name="select3">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formMultipleSelect">Multiple Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select multiple="multiple" id="formMultipleSelect" name="multipleSelect" size="4">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                        <option value="7">Option 7</option>
                                        <option value="8">Option 8</option>
                                        <option value="9">Option 9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Radio</label>
                                </div>
                                <div class="widget radio-group widget-2-of-3">
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio1" name="radio" value="1" checked="checked" /><label for="formRadio1">Radio option 1</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio2" name="radio" value="2" /><label for="formRadio2">Radio option 2</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio3" name="radio" value="3" /><label for="formRadio3">Radio option 3</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Checkbox</label>
                                </div>
                                <div class="widget checker-group widget-2-of-3">
                                    <div class="clearfix">
                                        <input type="checkbox" id="formCheckbox1" name="checkbox1" value="1" /><label for="formCheckbox1">Checkbox option 1</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="checkbox" id="formCheckbox2" name="checkbox2" value="2" checked="checked" /><label for="formCheckbox2">Checkbox option 2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formFile">File</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="file" id="formFile" name="file" class="fill" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-group clearfix">
                            <button class="button button-small fl">Back</button>
                            <button class="button button-green icon-white fr" data-icon-secondary="icon-1118">Save</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>



        <div class="message error">
            <p>You have <strong>3</strong> errors. Please fix the following errors before continuing:</p>
            <ul>
                <li>Enter a valid email address.</li>
                <li>Enter a valid telephone address.</li>
                <li>Enter a name.</li>
            </ul>
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top error">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <legend class="clearfix fill">Input Types</legend>
                            <div class="clear"></div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorEmail"><span class="required">*</span> Email Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="email" id="formErrorEmail" name="email" class="fill" value="sales@kitchenappliancecentre.co.uk" />
                                    <small>Enter a valid email address.</small>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorPassword"><span class="required">*</span> Password Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="password" id="formErrorPassword" name="password" class="fill" value="1234567890" />
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorSearch">Search Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="search" id="formErrorSearch" name="search" placeholder="Search..." results="5" class="fill" value="" />
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorTel"><span class="required">*</span> Telephone Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="tel" id="formErrorTel" name="tel" class="fill" value="01159383111" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorUrl"><span class="required">*</span> URL Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="url" id="formErrorUrl" name="url" class="fill" value="http://www.kitchenappliancecentre.co.uk" />
                                    <small>Enter a valid URL.</small>
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorTime">Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" id="formErrorTime" name="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorDatetime">Datetime Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime" id="formErrorDatetime" name="datetime" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorDate">Date Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="date" id="formErrorDate" name="date" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorMonth">Month Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="month" id="formErrorMonth" name="month" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label id="formErrorWeek">Week Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="week" id="formErrorWeek" name="week" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorTime">Time Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="time" id="formErrorTime" name="time" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorDatetimeLocal">Datetime-local Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="datetime-local" id="formErrorDatetimeLocal" name="datetimeLocal" value="" />
                                </div>
                            </div>
                            <div class="form-element widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorNumber">Number Input</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="number" id="formErrorNumber" name="number" value="" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-group clearfix">
                            <button class="button button-small fl">Back</button>
                            <button class="button button-turquoise icon-white fr" data-icon-secondary="icon-471">Continue</button>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top error">
                        <h2>Form Header</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <fieldset>
                            <div class="form-element form-element-error widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorTextarea">Textarea</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <textarea id="formErrorTextarea" name="textarea" class="fill" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="clearfix fill">Selecting Elements</legend>
                            <div class="clear"></div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorSelect1">Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formErrorSelect1" name="select1" class="fill">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorSelect2">Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formErrorSelect2" name="select2">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorSelect3">Select 3</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select id="formErrorSelect3" name="select3">
                                        <option selected="selected" value="1">Option 1</option>
                                        <option value="2">Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2 Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorMultipleSelect">Multiple Select</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <select multiple="multiple" id="formErrorMultipleSelect" name="multipleSelect" size="4">
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                        <option value="6">Option 6</option>
                                        <option value="7">Option 7</option>
                                        <option value="8">Option 8</option>
                                        <option value="9">Option 9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Radio</label>
                                </div>
                                <div class="widget radio-group widget-2-of-3">
                                    <div class="clearfix">
                                        <input type="radio" id="formErrorRadio1" name="radio" value="1" checked="checked" /><label for="formErrorRadio1">Radio option 1</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formErrorRadio2" name="radio" value="2" /><label for="formErrorRadio2">Radio option 2</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formErrorRadio3" name="radio" value="3" /><label for="formErrorRadio3">Radio option 3</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label>Checkbox</label>
                                </div>
                                <div class="widget checker-group widget-2-of-3">
                                    <div class="clearfix">
                                        <input type="checkbox" id="formErrorCheckbox1" name="checkbox1" value="1" /><label for="formErrorCheckbox1">Checkbox option 1</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="checkbox" id="formErrorCheckbox2" name="checkbox2" value="2" checked="checked" /><label for="formErrorCheckbox2">Checkbox option 2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-element form-element-error widget-group clearfix pbn">
                                <div class="widget widget-1-of-3">
                                    <label for="formErrorFile">File</label>
                                </div>
                                <div class="widget widget-2-of-3">
                                    <input type="file" id="formErrorFile" name="file" class="fill" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="button-group clearfix">
                            <button class="button button-small fl">Back</button>
                            <button class="button button-green icon-white fr" data-icon-secondary="icon-1118">Save</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>



        <div class="widget-group">
            <div class="widget widget-1-of-1">
                <header>
                    <h2>Search Engine Optimisation (SEO)</h2>
                </header>
                <section>
                    <form action="">
                        <div class="tabs">
                            <ul>
                                <li><a href="#seo1">English</a></li>
                                <li><a href="#seo2">French</a></li>
                                <li><a href="#seo3">German</a></li>
                            </ul>
                            <div id="seo1">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle1">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle1" name="pageTitle[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header1">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header1" name="header[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription1">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription1" name="metaDescription[1]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords1">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords1" name="keywords[1]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div id="seo2">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle2">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle2" name="pageTitle[2]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header2">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header2" name="header[2]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription2">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription2" name="metaDescription[2]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords2">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords2" name="keywords[2]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div id="seo3">
                                <section>
                                    <fieldset>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="pageTitle3">Page Title</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="pageTitle3" name="pageTitle[1]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="header3">Header</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <input id="header3" name="header[3]" class="fill" type="text" value="" />
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix">
                                            <div class="widget widget-1-of-3">
                                                <label for="metaDescription1">Meta Description</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="5" id="metaDescription3" name="metaDescription[3]" class="fill"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-element widget-group clearfix pbn">
                                            <div class="widget widget-1-of-3">
                                                <label for="keywords3">Keywords</label>
                                            </div>
                                            <div class="widget widget-2-of-3">
                                                <textarea rows="3" id="keywords3" name="keywords[3]" class="fill"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-element widget-group clearfix">
                                        <div class="widget widget-1-of-3">&nbsp;</div>
                                        <div class="widget widget-2-of-3">
                                            <button type="submit" class="button">Save</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}