{% extends 'WebIlluminationSiteBundle::base.html.twig' %}
{% block body %}
    <header>
        <h1>Maia Worktops in Vulcano</h1>
    </header>
    <section>
        <div class="widget-group clearfix mbm">
            <div class="widget widget-1-of-1">
                <ul class="breadcrumbs" itemprop="breadcrumb">
                    <li>Maia Worktops in Vulcano</li>
                    <li><a href="#">Solid Surface Worktop</a></li>
                    <li><a href="#">Kitchen Worktops</a></li>
                    <li><a href="#">Worktops & Splashbacks</a></li>
                </ul>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <section class="ui-widget-content ui-corner-all clearfix">
                            <div class="widget widget-1-of-4">
                                <ul class="etalage">
                                    <li>
                                        <img class="etalage_source_image" src="http://www.maiaworksurfaces.co.uk/wp-content/uploads/2013/01/vulcano1-406x406.jpg" />
                                    </li>
                                    <li>
                                        <img class="etalage_source_image" src="http://www.maiaworksurfaces.co.uk/wp-content/uploads/2013/01/lava-406x406.jpg" />
                                    </li>
                                    <li>
                                        <img class="etalage_source_image" src="http://www.maiaworksurfaces.co.uk/wp-content/uploads/2013/01/sandstone-406x406.jpg" />
                                    </li>
                                    <li>
                                        <img class="etalage_source_image" src="http://www.maiaworksurfaces.co.uk/wp-content/uploads/2013/01/meteorite-406x406.jpg" />
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget-3-of-4">
                                <p>Vulcano is the most popular colour in the maia range. Its sophisticated black background is interspersed with contrasting white flecks and subtle hints of yellow.</p>
                            </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Worktop Thickness</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <fieldset>
                            <legend class="clearfix fill">Selecting Elements</legend>
                            <div class="clear"></div>
                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">
                                    <label for="formSelect1">Worktop Thickness</label>
                                </div>
                                <div class="widget radio-group widget-2-of-3">
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio1" name="radio" value="1" checked="checked" /><label for="formRadio1">28mm</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio2" name="radio" value="2" /><label for="formRadio2">42mm</label>
                                    </div>
                                    <div class="clearfix">
                                        <input type="radio" id="formRadio3" name="radio" value="3" /><label for="formRadio3">54mm</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Black Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-black icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-black icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-black icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-black icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-black icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-black">Text Only</button>
                        <button class="button button-black icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-black icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Grey Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-grey icon-black" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-grey icon-black" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-grey icon-black" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-grey icon-black" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-grey icon-black" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-grey">Text Only</button>
                        <button class="button button-grey icon-black" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-grey icon-black" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Dark Red Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-dark-red icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-dark-red">Text Only</button>
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-dark-red icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Red Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-red icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-red icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-red icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-red icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-red icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-red">Text Only</button>
                        <button class="button button-red icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-red icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Orange Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-orange icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-orange icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-orange icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-orange icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-orange icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-orange">Text Only</button>
                        <button class="button button-orange icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-orange icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Yellow Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-yellow icon-black" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-yellow icon-black" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-yellow icon-black" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-yellow icon-black" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-yellow icon-black" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-yellow">Text Only</button>
                        <button class="button button-yellow icon-black" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-yellow icon-black" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Green Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-green icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-green icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-green icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-green icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-green icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-green">Text Only</button>
                        <button class="button button-green icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-green icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Turquoise Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-turquoise icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-turquoise">Text Only</button>
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-turquoise icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Blue Buttons</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <button class="button button-blue icon-white" data-icon-primary="icon-15" data-icon-only="true">Icon Only</button>
                        <button class="button button-blue icon-white" data-icon-primary="icon-15">Icon &amp; Text</button>
                        <button class="button button-blue icon-white" data-icon-secondary="icon-471">Icon &amp; Text</button>
                        <button class="button button-blue icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465">2 Icons &amp; Text</button>
                        <button class="button button-blue icon-white" data-icon-primary="icon-15" data-icon-secondary="icon-465" data-icon-only="true">2 Icons Only</button>
                        <button class="button button-blue">Text Only</button>
                        <button class="button button-blue icon-white" data-icon-primary="icon-700" data-icon-only="true" data-notification="7">Icon Only with Notification</button>
                        <button class="button button-blue icon-white" data-icon-primary="icon-981" data-notification="3">Icon &amp; Text with Notification</button>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}