@import "compass";
@import "../includes/base";

.product-container {
    border: 1px solid #E4EAEC;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px #E4EAEC;
    -moz-box-shadow: 0 0 10px #E4EAEC;
    box-shadow: 0 0 10px #E4EAEC;
    margin: 0 15px 15px 0;
}

.product a {
    text-decoration: none !important;
}

.product h4, .product h4 a, .product-title {
    font-size: 13px;
    line-height: 23px;
    padding: 0;
    color: #143B49;
    font-weight: bold;
    margin: 0;
}

.product ul {
    margin: 5px 0 0 0;
}

.product ul li {
    font-size: 10px;
    line-height: 120%;
}

.product img.product-image {
    float: left;
    border: 1px solid #E4EAEC;
    margin: 0 10px 0 0;
}

.product img.brand-logo-image {
    margin: 0 0 0 10px;
}

.product .price {
    text-align: right;
    color: $colourRed;
}

.product .price span {
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
}

.product .price .currency-prefix {
    @include fontSize($fontSizeLarge);
}

.product .price .currency-sign {
    font-family: $impactFontFamily;
    @include fontSize(24);
    padding-top: 2px;
}

.product .price .currency-integer {
    font-family: $impactFontFamily;
    @include fontSize(32);
}

.product .price .currency-decimal {
    font-family: $impactFontFamily;
    @include fontSize(18);
    padding-top: 2px;
}

.product .price .currency-tax {
    @include fontSize($fontSizeExtraExtraSmall);
    color: $colourGrey;
}

table.data-table .price .currency-prefix {
    @include fontSize(12);
}

table.data-table .price .currency-sign {
    @include fontSize(20);
}

table.data-table .price .currency-integer {
    @include fontSize(28);
}

table.data-table .price .currency-decimal {
    @include fontSize(14);
}

table.data-table .price .currency-tax {
    @include fontSize(10);
}

.product .logo {
    height: 50px;
    margin: 0 $spacingMedium $spacingMedium 0;

    @include boxGlow($colourGreyLight, 10px, 0, 1);
}

.product .summary {
    @include fontSize(13);
    color: $textColour;
    line-height: 150%;
}

.energy-rating {
    background: #569E6C;
    border-left: 5px solid #0E7F30;
    padding: 3px 5px !important;
    margin: 5px 0 !important;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    color: #FFF;
    text-shadow: 0 1px 0 #FFD980;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
    font-weight: normal;
    font-size: 11px !important;
    line-height: 100%;
}

.product-back-button {
    position: absolute;
    top: 0px;
    left: 0px;
}

.product-information {
    float: left;
    margin: 0 15px 0 0;
    padding: 5px 0 0 0;
}

.product-information ul {
    margin: 0 0 0 10px;
    padding: 0;
}

.product-information ul li {
    list-style: none;
    margin: 0;
    line-height: 16px;
    padding: 0 0 0 25px;
    font-size: 12px;
    color: #000;
}

.product-information ul li.bullet {
    background: url(/bundles/kacshop/images/icons/small-bullet.png) top left no-repeat;
}

.product-information ul li.green-tick {
    background: url(/bundles/kacshop/images/icons/small-green-tick.png) top left no-repeat;
}

.product-information ul li.red-cross {
    background: url(/bundles/kacshop/images/icons/small-red-cross.png) top left no-repeat;
}

.product-options {
    float: right;
    padding: 5px 0 0 0;
}

.product p, .product-description p {
    line-height: 120%;
    padding: 0px;
    margin: 0 0 10px 0;
    font-size: 10px;
}

.product p.product-code, .product p.product-code a, p.product-code, .product p.colour, .product p.colour a, p.colour {
    font-size: 11px;
    color: #4EC0E3 !important;
}

#product-price .product-code {
    font-size: 18px !important;
}

.product .product-description li {
    color: #676767;
    line-height: 100%;
}

.buy-now {
    text-align: right;
}

.product .product-description ul {
    margin-bottom: 10px;
}

.product .product-was-price, .product-was-price {
    color: #FF2300 !important;
    font-size: 11px !important;
    padding: 0 !important;
}

.product .product-tax, .product-tax {
    color: #FF2300 !important;
    font-size: 9px !important;
    padding: 0 !important;
}

.product .membership-card-price, .membership-card-price {
    color: #000 !important;
    font-size: 11px !important;
    padding: 0 0 10px 0 !important;
}

.product .product-was-price span, .product-was-price span {
    text-decoration: line-through !important;
}

.product .product-tax, .product-tax {
    padding: 0 0 5px 0 !important;
}

.product .product-price, .product .product-price a, .product-price, .product-price a {
    font-size: 24px !important;
    color: #FF2300 !important;
    letter-spacing: 0px !important;
    font-weight: 900 !important;
    padding: 0 !important;
}

.product .features-link {
    padding: 5px 10px;
    line-height: 100%;
    margin: 10px 0;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: #83939c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzOTM5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTRkNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #83939c 0%, #454d52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #83939c), color-stop(100%, #454d52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #83939c 0%, #454d52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #83939c 0%, #454d52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #83939c 0%, #454d52 100%); /* IE10+ */
    background: linear-gradient(top, #83939c 0%, #454d52 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83939c', endColorstr='#454d52', GradientType=0); /* IE6-8 */
    color: #FFF;
    text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    border: 1px solid #454D52;
}

.product .features {
    padding: 0 0 10px 0;
    display: none;
}

.product dt {
    float: left;
    width: 99px;
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 11px;
    line-height: 100%;
    border-left: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    text-align: right;
}

.product dt.even {
    background: #EDEDED;
}

.product dt.odd {
    background: #D5D5D5;
}

.product dd {
    float: left;
    line-height: 100%;
    width: 136px;
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 11px;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
}

.product .product-compare {
    margin: 10px 0;
}

.product .product-short-description {
    padding: 10px 0 0 0;
}

.product .product-short-description p {
    padding: 0;
    margin: 0 !important;
    width: 180px;
    height: 24px;
    line-height: 12px !important;
    font-size: 11px !important;
    overflow: hidden;
}

.product-header {
    padding-left: 20px;
}

.product ul.breadcrumbs li {
    padding: 4px $spacingSmall 3px 13px;
}

.product-listing {
    margin: 0 auto;

    position: relative;

    border: 3px solid $colourGreyLight;
    @include boxGlow($colourGrey, 10px, 0, 1);
}

.product-listing .name {
    padding: 5px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    line-height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    @include selectNone;
}

.product-listing .new {
    height: 28px;
    width: 28px;

    position: absolute;
    right: -8px;
    top: -8px;

    display: block;

    @include highlightedVerticalGradientDarkRed;
    @include boxGlow($colourDarkRed, 5px);
    border: 1px solid $colourWhite;
    @include fontSize($fontSizeExtraSmall);
    @include equalBorderRadius(15px);
    line-height: 28px;
    color: #fff;
    text-align: center;
    @include selectNone;
}