.uppercase {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.important {
    text-transform: uppercase;
    color: $colourRed;
    font-weight: bold;
}

.small {
    color: $colourGreyDark;
    @include fontSize($fontSizeExtraSmall);
}

.colour-black {
    color: $colourBlack;
}

.colour-white {
    color: $colourWhite;
}

.colour-grey {
    color: $colourGrey;
}

.colour-red {
    color: $colourRed;
}

.colour-dark-red {
    color: $colourDarkRed;
}

.colour-orange {
    color: $colourOrange;
}

.colour-yellow {
    color: $colourYellow;
}

.colour-green {
    color: $colourGreen;
}

.colour-blue {
    color: $colourBlue;
}

.colour-turquoise {
    color: $colourTurquoise;
}