.uppercase {
    text-transform: uppercase;
}

.important {
    text-transform: uppercase;
    color: $colourRed;
    font-weight: bold;
}

.colour-grey {
    color: $colourRed;
}

.colour-red {
    color: $colourRed;
}

.colour-dark-red {
    color: $colourRed;
}

.colour-orange {
    color: $colourRed;
}

.colour-yellow {
    color: $colourRed;
}

.colour-green {
    color: $colourRed;
}

.colour-blue {
    color: $colourRed;
}

.colour-turquoise {
    color: $colourRed;
}