@import "compass";
@import "../includes/base";

.uppercase {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.important {
    text-transform: uppercase;
    color: $colourRed;
    font-weight: bold;
}

.small {
    color: $colourGreyDark;
    @include fontSize($fontSizeExtraSmall);
}

.colour-black {
    color: $colourBlack !important;
}

.colour-white {
    color: $colourWhite !important;
}

.colour-grey {
    color: $colourGrey !important;
}

.colour-grey-dark {
    color: $colourGreyDark !important;
}

.colour-red {
    color: $colourRed !important;
}

.colour-dark-red {
    color: $colourDarkRed !important;
}

.colour-orange {
    color: $colourOrange !important;
}

.colour-yellow {
    color: $colourYellow !important;
}

.colour-green {
    color: $colourGreen !important;
}

.colour-blue {
    color: $colourBlue !important;
}

.colour-turquoise {
    color: $colourTurquoise !important;
}

.lh100pc {
    line-height: 100% !important;
}

.lh120pc {
    line-height: 120% !important;
}

.lh125pc {
    line-height: 125% !important;
}

.lh150pc {
    line-height: 150% !important;
}

.fs9 {
    font-size: 0.9rem !important;
    font-size: 9px !important;
}

.fs10 {
    font-size: 1.0rem !important;
    font-size: 10px !important;
}