<div class="floating-buttons-toolbar">
	<div class="floating-buttons-container">
		<div class="floating-buttons">
			<div class="fr no-margin no-padding">
	        	<a href="{{ path('admin_'~settings.multipleItemsPath~'_add') }}" class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-plusthick">Add Product</a>
	        	<button class="fl button ui-corner-none ui-button-green action-multiple-update" data-icon-primary="ui-icon-check">Update</button>
	        	<button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-closethick">Delete</button>
	        </div>
	        <div class="clear"></div>
		</div>
	</div>
</div>