<div class="clearfix">
    {% set renderBackButton = flow.getCurrentStep() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
    <div class="form-input buttons form-flow-buttons no-margin-bottom">
        <button type="submit" class="button ui-button-green">
            {%- if flow.getCurrentStep() < flow.getLastStepNumber() -%}
                Next Step
            {%- else -%}
                Finish
            {%- endif -%}
        </button>

        {% if renderBackButton %}
            <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate" class="button ui-button-black">
                Back
            </button>
        {% endif %}


        <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate" class="button ui-button-red">
            Reset
        </button>
    </div>
</div>