.search-container {
    padding: 0;
    margin: 12px 0 0 50px;
    width: 440px;

    float: left;
    position: relative;

    @include equalBorderRadius($radiusSize);
    @include boxGlow($colourBlack, 5px, 0, 0.7);
    @include verticalGradientGreyExtraLightToWhite;
}

.search-container:hover,
.search-container:focus {
    @include boxGlow($colourYellow, 10px, 5px, 1);
}

.search-container .icon-grey {
    position: absolute;
    top: 3px;
    left: 5px;
}

.search-container input,
.search-container input:hover,
.search-container input:focus{
    padding-left: 50px;
    padding-right: 65px;
    width: 100%;

    @include borderBox;
    @include fontSize(13);
    background: none;
    border: 0 none;
    @include noBoxShadow;
}

.search-container .icon-dark-red {
    position: absolute;
    top: 3px;
    right: 70px;

    display: none;

    cursor: pointer;
}

.search-container .button,
.search-container .button:hover {
    position: absolute;
    top: 0;
    right: -2px;

    @include borderRadius(0, $radiusSize, $radiusSize, 0);
    border: 0 none;
    border-left: 2px solid $colourTurquoise;
    @include noBoxShadow;
}

.search-container .button .ui-button-text {
    padding: 0 $spacingSmall;
}