<div id="listing-filter" class="no-padding-bottom listing-filter ui-helper-hidden">
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-voucher-code">Voucher Code:</label></td>
				<td width="80%"><input type="text" id="form-voucher-code" value="" /></td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label>Minimum Order Value:</label></td>
				<td width="80%">
					<p class="no-margin minimum-order-value-range ac" id="minimum-order-value-range-amount"></p>
					<div id="minimum-order-value-range" class="price-range-slider"></div>
				</td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="10%"><label for="form-active">Active:</label></td>
				<td width="10%">
					<div class="filter-checkbox"><input data-active="1" type="checkbox" class="voucher-code-active" value="1" />Yes</div>
					<div class="filter-checkbox no-margin-bottom"><input data-active="0" type="checkbox" class="voucher-code-active" value="1" />No</div>
					<input type="hidden" id="form-actives" value="" />
				</td>
				<td class="label" width="15%"><label>Discount Type:</label></td>
				<td width="25%">
					<div class="filter-checkbox"><input data-discount-type="a" type="checkbox" class="voucher-code-discount-type" value="1" />Fixed Amount Off</div>
					<div class="filter-checkbox"><input data-discount-type="p" type="checkbox" class="voucher-code-discount-type" value="1" />Percentage Off</div>
					<div class="filter-checkbox"><input data-discount-type="r" type="checkbox" class="voucher-code-discount-type" value="1" />Replaces Value</div>
					<div class="filter-checkbox"><input data-discount-type="d" type="checkbox" class="voucher-code-discount-type" value="1" />Free Delivery</div>
					<div class="filter-checkbox no-margin-bottom"><input data-discount-type="m" type="checkbox" class="voucher-code-discount-type" value="1" />Free Membership Card</div>
					<input type="hidden" id="form-discount-types" value="" />
				</td>
				<td class="label" width="15%"><label>Discount Use:</label></td>
				<td width="25%">
					<div class="filter-checkbox"><input data-discount-use="u" type="checkbox" class="voucher-code-discount-use" value="1" />Unlimited Use</div>
					<div class="filter-checkbox"><input data-discount-use="s" type="checkbox" class="voucher-code-discount-use" value="1" />Once Only</div>
					<div class="filter-checkbox no-margin-bottom"><input data-discount-use="f" type="checkbox" class="voucher-code-discount-use" value="1" />Fixed Number of Times</div>
					<input type="hidden" id="form-discount-uses" value="" />
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-valid-from-date-from">Valid From Date From:</label></td>
				<td width="30%"><input type="text" id="form-valid-from-date-from" value="" /><input type="hidden" id="form-valid-from-date-from-formatted" value="" /></td>
				<td class="label" width="20%"><label for="form-valid-from-date-to">Valid From To:</label></td>
				<td width="30%"><input type="text" id="form-valid-from-date-to" value="" /><input type="hidden" id="form-valid-from-date-to-formatted" value="" /></td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-expiry-date-from">Expiry Date From:</label></td>
				<td width="30%"><input type="text" id="form-expiry-date-from" value="" /><input type="hidden" id="form-expiry-date-from-formatted" value="" /></td>
				<td class="label" width="20%"><label for="form-expiry-date-to">Expiry Date To:</label></td>
				<td width="30%"><input type="text" id="form-expiry-date-to" value="" /><input type="hidden" id="form-expiry-date-to-formatted" value="" /></td>
			</tr>
		</table>
	</div>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
	</div>
</div>