<div id="voucher-code-add" class="form no-padding-bottom listing-filter ui-helper-hidden">
	<h4>Add New Voucher Code</h4>
	<h5 class="no-margin-top">Description</h5>
	<table width="100%">
		<tr>
			<td width="15%" class="label"><label for="voucher-code-code"><span class="required">*</span> Code:</label></td>
			<td width="15%" class="no-padding">
				<input type="text" id="voucher-code-code" data-message="Please enter a voucher code." required="required" class="no-margin uppercase full" value="" />
			</td>
			<td width="15%" class="label"><label for="voucher-code-description"><span class="required">*</span> Description:</label></td>
			<td width="55%" class="no-padding">
				<input type="text" id="voucher-code-description" data-message="Please enter a description." required="required" class="no-margin full" value="" />
			</td>
		</tr>
	</table>
	<h5 class="no-margin-top">Voucher Code</h5>
	<table width="100%">
		<tr>
			<td width="24%" class="label"><label for="voucher-code-minimum-order-value"><span class="required">*</span> Minumum Order Value (&pound;):</label></td>
			<td width="10%" class="no-padding">
				<input type="text" id="voucher-code-minimum-order-value" class="no-margin decimal full" value="0.00" />
			</td>
			<td width="10%" class="label"><label for="voucher-code-discount-type"><span class="required">*</span> Type:</label></td>
			<td width="23%" class="no-padding">
				<select id="voucher-code-discount-type" class="no-margin full">
					<option value="a">Fixed Amount Off</option>
					<option value="p">Percentage Off</option>
					<option value="r">Replaces Value</option>
					<option value="d">Free Delivery</option>
					<option value="m">Free Membership Card</option>
				</select>
			</td>
			<td width="10%" class="label"><label for="voucher-code-discount-use"><span class="required">*</span> Use:</label></td>
			<td width="23%" class="no-padding">
				<select id="voucher-code-discount-use" class="no-margin full">
					<option value="u">Unlimited Use</option>
					<option value="s">Once Only</option>
					<option value="f">Fixed Number of Times</option>
				</select>
			</td>
		</tr>
	</table>
	<table class="ui-helper-hidden" width="100%" id="voucher-code-discount-use-container">
		<tr>
			<td width="60%" class="label"><label for="voucher-code-number-of-uses">Number of Uses:</label></td>
			<td width="40%" class="no-padding">
				<input type="text" id="voucher-code-number-of-uses" data-message="Please enter the maximum number of times the voucher can be used." required="required" class="no-margin integer full" value="0" />
			</td>
		</tr>
	</table>
	<h5>Availability</h5>
	<table width="100%">
		<tr>
			<td width="15%" class="label"><label for="voucher-code-valid-from-date"><span class="required">*</span> Valid From Date:</label></td>
			<td width="35%" class="no-padding">
				<input type="text" id="voucher-code-valid-from-date" data-message="Please enter the date you want the voucher code to be available from." required="required" class="no-margin full" value="{{ validFromDate|date("d/m/Y") }}" />
				<input type="hidden" id="voucher-code-valid-from-date-formatted" value="{{ validFromDate|date("Y-m-d") }}" />
			</td>
			<td width="15%" class="label"><label for="voucher-code-expiry-date"><span class="required">*</span> Expiry Date:</label></td>
			<td width="35%" class="no-padding">
				<input type="text" id="voucher-code-expiry-date" data-message="Please enter the date you want the voucher code to expire." required="required" class="no-margin full" value="{{ expiryDate|date("d/m/Y") }}" />
				<input type="hidden" id="voucher-code-expiry-date-formatted" value="{{ expiryDate|date("Y-m-d") }}" />
			</td>
		</tr>
	</table>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-add-voucher-code" data-icon-primary="ui-icon-tag">Add New Voucher Code</button>
		<button class="button bottom-button ui-button-blue action-cancel-add-voucher-code">Cancel</button>
	</div>
</div>