<footer>
	<div id="footer-inner" class="container_8 clearfix">
	    <div class="grid_8">
	        <span class="fr">&copy; {{ "now"|date("Y") }} Kitchen Appliance Centre</span>
	    </div>
	</div>
</footer>