<div class="main-menu">
	<nav class="container_8">
	    <ul class="sf-menu clearfix sf-js-enabled sf-shadow">
	    	<li class=""><a data-department-id="1029" class="sub-department-link" href="/app_dev.php/laundry.html">Enduro<br />Gear</a></li>
	    	<li class=""><a data-department-id="1029" class="sub-department-link" href="/app_dev.php/laundry.html">Motocross<br />Gear (Adults)</a></li>
			<li class=""><a data-department-id="1030" class="sub-department-link" href="/app_dev.php/refridgeration.html">Motocross<br />Gear (Kids)</a></li>
			<li class=""><a data-department-id="16" class="sub-department-link" href="/app_dev.php/dishwashers.html">Off Road<br />Motorbikes</a></li>
			<li class=""><a data-department-id="16" class="sub-department-link" href="/app_dev.php/dishwashers.html">Parts &<br />Spares</a></li>
			<li class=""><a data-department-id="1034" class="sub-department-link" href="/app_dev.php/cooking.html">Motorbike<br />Tyres</a></li>
			<li class=""><a data-department-id="1" class="sub-department-link" href="/app_dev.php/worktops-cabinets.html">Graphics &<br />Trim Kits</a></li>
			<li class=""><a data-department-id="1" class="sub-department-link" href="/app_dev.php/worktops-cabinets.html">Plastics<br />& Body</a></li>
			<li class=""><a data-department-id="1" class="sub-department-link" href="/app_dev.php/worktops-cabinets.html">Tools &<br />Maintenance</a></li>
			<li class=""><a data-department-id="1035" class="sub-department-link" href="/app_dev.php/sinks-taps.html">Motocross<br />Accessories</a></li>
			<li class=""><a data-department-id="1035" class="sub-department-link" href="/app_dev.php/sinks-taps.html">Casual<br />Clothing</a></li>
			<li class=""><a data-department-id="1035" class="sub-department-link" href="/app_dev.php/sinks-taps.html">Nutrition<br />& Body</a></li>
			<li class="fr"><a data-department-id="1036" class="sub-department-link special single-line" href="/app_dev.php/offers.html">Offers</a></li>
	    </ul>
	</nav>
</div>