a {
  text-decoration: none;
  color: $primaryColour;
}

a:hover {
  text-decoration: underline;
}

a:focus {
    outline: none;
}

.top-menu {
  border-top: 3px solid $primaryColour;
  @include verticalGradientWhiteToGreyLight;
}

.social-media-interaction {
  float: left;
  padding: $spacingExtraSmall $spacingLarge $spacingExtraSmall 0;
}

.top-menu-links {
  float: right;
}

.top-menu-links a {
  @include textShadow($colourWhite, 0, 1px, 2px);
  line-height: 24px;
  color: $textColour;
  @include fontSize($fontSizeSmall);
}

nav.left-menu ul {
    margin: 0;
    padding: 0;
}

nav.left-menu ul li {
    margin: 0 0 $spacingSmall 0;
    padding: 0 0 0 42px;
    width: 100%;

    position: relative;

    @include borderBox;
    list-style: none;
    border: 1px solid $colourGreyLight;
    @include equalBorderRadius($radiusSize);
    overflow: hidden;
}

nav.left-menu ul li.black {
    border: 1px solid $colourBlack;
}

nav.left-menu ul li.grey {
    border: 1px solid $colourGrey;
}

nav.left-menu ul li.red {
    border: 1px solid $colourRed;
}

nav.left-menu ul li.dark-red {
    border: 1px solid $colourDarkRed;
}

nav.left-menu ul li.orange {
    border: 1px solid $colourOrange;
}

nav.left-menu ul li.yellow {
    border: 1px solid $colourYellow;
}

nav.left-menu ul li.green {
    border: 1px solid $colourGreen;
}

nav.left-menu ul li.turquoise {
    border: 1px solid $colourTurquoise;
}

nav.left-menu ul li.blue {
    border: 1px solid $colourBlue;
}

nav.left-menu ul li .nav-icon {
    position: absolute;
    top: 3px;
    left: $spacingSmall;
}

nav.left-menu .button {
    margin: 0;
    width: 100%;

    @include noBoxShadow;
    border: 0 none;
    @include equalBorderRadius(0);
    border-left: 2px solid $colourGreyLight;
    @include borderBox;
}

nav.left-menu li.black .button {
    border-left: 2px solid $colourBlack;
}

nav.left-menu li.grey .button {
    border-left: 2px solid $colourGrey;
}

nav.left-menu li.red .button {
    border-left: 2px solid $colourRed;
}

nav.left-menu li.dark-red .button {
    border-left: 2px solid $colourDarkRed;
}

nav.left-menu li.orange .button {
    border-left: 2px solid $colourOrange;
}

nav.left-menu li.yellow .button {
    border-left: 2px solid $colourYellow;
}

nav.left-menu li.green .button {
    border-left: 2px solid $colourGreen;
}

nav.left-menu li.turquoise .button {
    border-left: 2px solid $colourTurquoise;
}

nav.left-menu li.blue .button {
    border-left: 2px solid $colourBlue;
}

nav.left-menu .button .ui-button-icon-secondary {
    position: absolute;
    top: 3px;
    right: $spacingSmall;
}

nav.left-menu .ui-button-text {
    padding: 0 $spacingSmall;
}

.main-menu {
    height: 40px;
    @include highlightedVerticalGradientTurquoise;
}

.main-menu nav {
    position: relative;
}

.main-menu > nav > ul {
    margin: 0;
    padding: 0;

    border-left: 1px solid $colourTurquoiseLight;
}

.main-menu > nav > ul > li {
    margin: 0;
    padding: 0;

    float: left;

    list-style: none;
}
.main-menu nav > ul > li > a,
.main-menu nav > ul > li > a.hover {
    padding: 0 7px;
    height: 40px;

    display: table-cell;

    @include textShadow($colourGreyDark, 0, 1px, 0, 1);
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    @include fontSize($fontSizeMedium);
    color: $colourWhite;
    vertical-align: middle;
    border-right: 1px solid $colourTurquoiseLight;
    line-height: 16px;
}

.main-menu nav > ul > li > a:hover,
.main-menu nav > ul > li > a.hover {
    @include boxInsetShadow($colourGreyDark, 0, -5px, 20px, 0, 1);
}

.main-menu nav > ul > li > a.highlighted {
    color: $colourYellow;
}

.main-menu nav > .button {
    position: absolute;
    top: 8px;
    right: 1px;
    border: 0 none;

    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    @include boxShadow($colourGreyDark, 0, -2px, 5px, 0, 1);
}

.main-menu nav > .button .ui-button-text {
    line-height: 26px;
}

.brands-button {
    float: right;
}
.brands-button:hover div {
    display: block;
}

.submenu-brands {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 0 0 10px 0;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlNjI3YSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlNjI3YSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(14,98,122,0.8) 0%, rgba(14,98,122,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,98,122,0.8)), color-stop(100%,rgba(14,98,122,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(14,98,122,0.8) 0%,rgba(14,98,122,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(14,98,122,0.8) 0%,rgba(14,98,122,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(14,98,122,0.8) 0%,rgba(14,98,122,0.8) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(14,98,122,0.8) 0%,rgba(14,98,122,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0e627a', endColorstr='#cc0e627a',GradientType=0 ); /* IE6-8 */
    border-bottom: 5px solid #4EC2E3;
    display: none;
}
.brand, .brand:hover
{
    width: 232px;
    float: left;
    margin: 5px 0 0 5px;
    border: 2px solid #384246;
}
.brand:hover
{
    border: 2px solid #ffb300;
}
.brand-first
{
    margin: 5px 0 0 10px!important;
}
.brand-last
{
    margin: 5px 10px 0 5px!important;
}
.brand h4, .brand:hover h4
{
    padding: 0;
    margin: 0;
    background: #6c8087; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjODA4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODQyNDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6c8087 0%, #384246 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c8087), color-stop(100%,#384246)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6c8087 0%,#384246 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6c8087 0%,#384246 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6c8087 0%,#384246 100%); /* IE10+ */
    background: linear-gradient(top,  #6c8087 0%,#384246 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c8087', endColorstr='#384246',GradientType=0 ); /* IE6-8 */
    font-weight: normal;
}
.brand:hover h4
{
    background: #ffd980; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDk4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmIzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffd980 0%, #ffb300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd980), color-stop(100%,#ffb300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd980 0%,#ffb300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd980 0%,#ffb300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd980 0%,#ffb300 100%); /* IE10+ */
    background: linear-gradient(top,  #ffd980 0%,#ffb300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd980', endColorstr='#ffb300',GradientType=0 ); /* IE6-8 */
}
.brand h4 a.text, .brand:hover h4 a.text
{
    color: #FFF;
    font-size: 12px;
    font-family: 'Stag Medium', Arial;
    text-shadow: 0 1px 0 #143B49;
    text-shadow: 0 1px 0 rgb(0,77,48);
    text-shadow: 0 1px 0 rgba(0,77,48,1);
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    height: 35px;
    padding: 0 5px 0 70px;
    font-weight: normal;
    line-height: 35px;
}
.brand h4 img, .brand:hover h4 img
{
    margin: 5px 0 0 5px;
    border: 1px solid #143B49;
}
.brand:hover h4 a.text
{
    color: #384246!important;
    text-shadow: 0 1px 0 #FFD980!important;
    text-shadow: 0 1px 0 rgb(255,217,128)!important;
    text-shadow: 0 1px 0 rgba(255,217,128,1)!important;
}
.brand:hover h4 img
{
    border: 1px solid #ffb300;
}

.unique-selling-points-container {
    position: relative;

    @include verticalGradientWhiteToGreyLight;
    @include boxInsetShadow($colourGreyDark, 0, 1px, $spacingSmall);
    border-bottom: 3px solid $colourGrey;
}

.unique-selling-points-container .widget {
    padding: 8px $spacingMedium;
}

.unique-selling-points-container .ui-icon-small {
    margin: 0 $spacingMedium 0 0;
}

.unique-selling-points-container h2 {
    margin: 0;
    padding: 0;
}

.unique-selling-points-container h2,
.unique-selling-points-container h2 a {
    @include fontSize($fontSizeExtraExtraLarge);
    color: $colourGreyDark;
    line-height: 100%;
    @include textShadow($colourWhite, 0, 1px);
    text-decoration: none;
}

.unique-selling-points-container h3 {
    margin: 0;
    padding: 0;
}

.unique-selling-points-container h3,
.unique-selling-points-container h3 a {
    @include fontSize($fontSizeLarge);
    color: $colourGreyDark;
    line-height: 100%;
    letter-spacing: 1px;
    @include textShadow($colourWhite, 0, 1px);
    text-decoration: none;
}

.unique-selling-points-container p {
    padding: 2px 0 0 0;
    margin: 0;
}

.unique-selling-points-container p,
.unique-selling-points-container p a {
    @include fontSize($fontSizeExtraSmall);
    color: $colourGrey;
    line-height: 100%;
    text-decoration: none;
}