a {
  text-decoration: none;
  color: $primaryColour;
}

a:hover {
  text-decoration: underline;
}

a:focus {
    outline: none;
}

.top-menu {
  border-top: 3px solid $primaryColour;
  @include verticalGradientWhiteToGreyLight;
}

.social-media-interaction {
  float: left;
  padding: $spacingExtraSmall $spacingLarge $spacingExtraSmall 0;
}

.top-menu-links {
  float: right;
}

.top-menu-links a {
  @include textShadow($colourWhite, 0, 1px, 2px);
  line-height: 24px;
  color: $textColour;
  @include fontSize($fontSizeSmall);
}

nav.left-menu ul {
    margin: 0;
    padding: 0;
}

nav.left-menu ul li {
    margin: 0 0 5px 0;
    padding: 0 0 0 42px;
    width: 100%;

    position: relative;

    @include borderBox;
    list-style: none;
    border: 1px solid $colourGreyLight;
    @include equalBorderRadius($radiusSize);
    overflow: hidden;
}

nav.left-menu ul li.black {
    border: 1px solid $colourBlack;
}

nav.left-menu ul li.grey {
    border: 1px solid $colourGrey;
}

nav.left-menu ul li.red {
    border: 1px solid $colourRed;
}

nav.left-menu ul li.dark-red {
    border: 1px solid $colourDarkRed;
}

nav.left-menu ul li.orange {
    border: 1px solid $colourOrange;
}

nav.left-menu ul li.yellow {
    border: 1px solid $colourYellow;
}

nav.left-menu ul li.green {
    border: 1px solid $colourGreen;
}

nav.left-menu ul li.turquoise {
    border: 1px solid $colourTurquoise;
}

nav.left-menu ul li.blue {
    border: 1px solid $colourBlue;
}

nav.left-menu ul li .nav-icon {
    position: absolute;
    top: 3px;
    left: 5px;
}

nav.left-menu .button {
    margin: 0;
    width: 100%;

    @include noBoxShadow;
    border: 0 none;
    @include equalBorderRadius(0);
    border-left: 2px solid $colourGreyLight;
    @include borderBox;
}

nav.left-menu li.black .button {
    border-left: 2px solid $colourBlack;
}

nav.left-menu li.grey .button {
    border-left: 2px solid $colourGrey;
}

nav.left-menu li.red .button {
    border-left: 2px solid $colourRed;
}

nav.left-menu li.dark-red .button {
    border-left: 2px solid $colourDarkRed;
}

nav.left-menu li.orange .button {
    border-left: 2px solid $colourOrange;
}

nav.left-menu li.yellow .button {
    border-left: 2px solid $colourYellow;
}

nav.left-menu li.green .button {
    border-left: 2px solid $colourGreen;
}

nav.left-menu li.turquoise .button {
    border-left: 2px solid $colourTurquoise;
}

nav.left-menu li.blue .button {
    border-left: 2px solid $colourBlue;
}

nav.left-menu .button .ui-button-icon-secondary {
    position: absolute;
    top: 3px;
    right: 5px;
}

.main-menu {
    height: 40px;
    @include highlightedVerticalGradientTurquoise;
}

.main-menu nav {
    position: relative;
}

.main-menu nav ul {
    margin: 0;
    padding: 0;

    border-left: 1px solid $colourTurquoiseLight;
}

.main-menu nav ul li {
    margin: 0;
    padding: 0;

    float: left;

    list-style: none;
}

.main-menu nav > ul > li > a {
    padding: 0 7px;
    height: 40px;

    display: table-cell;

    @include textShadow($colourGreyDark, 0, 1px, 0, 1);
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    @include fontSize($fontSizeMedium);
    color: $colourWhite;
    vertical-align: middle;
    border-right: 1px solid $colourTurquoiseLight;
    line-height: 16px;
}

.main-menu nav > ul > li > a:hover {
    @include boxInsetShadow($colourGreyDark, 0, -5px, 20px, 0, 1);
}

.main-menu nav > ul > li > a.highlighted {
    color: $colourYellow;
}

.main-menu nav > .button {
    position: absolute;
    bottom: 0;
    right: 1px;
    border: 0 none;

    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    @include boxShadow($colourGreyDark, 0, -2px, 5px, 0, 1);
}

.main-menu nav > .button .ui-button-text {
    line-height: 26px;
}