@import "compass";
@import "../includes/base";

a {
  text-decoration: none;
  color: $primaryColour;
}

a:hover {
  text-decoration: underline;
}

a:focus {
    outline: none;
}

.top-menu {
  border-top: 3px solid $primaryColour;
  @include verticalGradientWhiteToGreyLight;
}

.social-media-interaction {
    float: left;
    padding: 0 $spacingMedium 0 0;
}

.top-menu-links {
  float: right;
}

.top-menu-links a {
  @include textShadow($colourWhite, 0, 1px, 2px);
  line-height: 24px;
  color: $textColour;
  @include fontSize($fontSizeSmall);
}

nav.left-menu ul {
    margin: 0;
    padding: 0;
}

nav.left-menu ul li {
    margin: 0 0 $spacingSmall 0;
    padding: 0 0 0 42px;
    width: 100%;

    position: relative;

    @include borderBox;
    list-style: none;
    border: 1px solid $colourGreyLight;
    @include equalBorderRadius($radiusSize);
    overflow: hidden;
}

nav.left-menu ul li.black {
    border: 1px solid $colourBlack;
}

nav.left-menu ul li.grey {
    border: 1px solid $colourGrey;
}

nav.left-menu ul li.red {
    border: 1px solid $colourRed;
}

nav.left-menu ul li.dark-red {
    border: 1px solid $colourDarkRed;
}

nav.left-menu ul li.orange {
    border: 1px solid $colourOrange;
}

nav.left-menu ul li.yellow {
    border: 1px solid $colourYellow;
}

nav.left-menu ul li.green {
    border: 1px solid $colourGreen;
}

nav.left-menu ul li.turquoise {
    border: 1px solid $colourTurquoise;
}

nav.left-menu ul li.blue {
    border: 1px solid $colourBlue;
}

nav.left-menu ul li .nav-icon {
    position: absolute;
    top: 3px;
    left: $spacingSmall;
}

nav.left-menu .button {
    margin: 0;
    width: 100%;

    @include noBoxShadow;
    border: 0 none;
    @include equalBorderRadius(0);
    border-left: 2px solid $colourGreyLight;
    @include borderBox;
}

nav.left-menu li.black .button {
    border-left: 2px solid $colourBlack;
}

nav.left-menu li.grey .button {
    border-left: 2px solid $colourGrey;
}

nav.left-menu li.red .button {
    border-left: 2px solid $colourRed;
}

nav.left-menu li.dark-red .button {
    border-left: 2px solid $colourDarkRed;
}

nav.left-menu li.orange .button {
    border-left: 2px solid $colourOrange;
}

nav.left-menu li.yellow .button {
    border-left: 2px solid $colourYellow;
}

nav.left-menu li.green .button {
    border-left: 2px solid $colourGreen;
}

nav.left-menu li.turquoise .button {
    border-left: 2px solid $colourTurquoise;
}

nav.left-menu li.blue .button {
    border-left: 2px solid $colourBlue;
}

nav.left-menu .button .ui-button-icon-secondary {
    position: absolute;
    top: 3px;
    right: $spacingSmall;
}

nav.left-menu .ui-button-text {
    padding: 0 $spacingSmall;
}

.main-menu {
    height: 40px;
    @include highlightedVerticalGradientTurquoise;
    @include boxGlow($colourBlack, 5px, 0, 0.7);
}

.main-menu nav {
    position: relative;
}

.main-menu > nav > ul {
    margin: 0;
    padding: 0;
}

.main-menu > nav > ul > li {
    margin: 0;
    padding: 0;

    float: left;

    list-style: none;
}
.main-menu nav > ul > li > a,
.main-menu nav > ul > li > a.hover {
    padding: 0 7px;
    height: 40px;

    display: table-cell;

    @include textShadow($colourGreyDark, 0, 1px, 0, 1);
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    @include fontSize($fontSizeMedium);
    color: $colourWhite;
    vertical-align: middle;
    border-right: 1px solid $colourTurquoiseLight;
    line-height: 16px;
}

.main-menu nav > ul > li > a:hover,
.main-menu nav > ul > li > a.hover {
    @include boxInsetShadow($colourGreyDark, 0, -5px, 20px, 0, 1);
}

.main-menu nav > ul > li > a.highlighted {
    color: $colourYellow;
}

.main-menu nav > .button {
    position: absolute;
    top: 8px;
    right: 1px;
    border: 0 none;

    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    @include boxShadow($colourGreyDark, 0, -2px, 5px, 0, 1);
}

.main-menu nav > .button .ui-button-text {
    line-height: 26px;
}

.submenu-container {
    width: 100%;
    height: 270px;
    margin: 0 0 4px 0;

    position: absolute;
    left: 0;
    top: 40px;
    display: none;
    overflow: hidden;

    background: $colourWhite;
    @include borderRadius(0, 0, $radiusSize, $radiusSize);
    border-top: 3px solid $colourGreyDark;
    @include boxShadow($colourGreyDark, 0, $spacingExtraSmall, $spacingExtraLarge);
}

.submenu-container-brands {
    height: 240px;
}

.main-menu .menu-vertical {
    width: 244px;
    height: 300px;
    padding: 0;

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    float: left;

    list-style: none;
    box-shadow: inset -2px 0 5px 0 $colourGreyLight;
    @include boxInsetShadow($colourGreyLight, -#{$spacingExtraSmall}, 0, $spacingSmall);
    border-right: 1px solid $colourGrey;
}

.main-menu .menu-vertical li {
    margin: 0;
    padding: 0;
}

.main-menu .menu-vertical li a,
.main-menu .menu-vertical li a.hover {
    height: 30px;
    padding: 0 $spacingMedium;

    display: block;

    @include verticalGradientWhiteToGreyLight;
    line-height: 30px;
    @include fontSize(13);
    color: $textColour;
    text-decoration: none;
    @include ellipsis;
}

.main-menu .menu-vertical li a.hover {
    @include boxInsetShadow($colourGreyDark, 0, 0, $spacingMedium);
    @include textShadow($colourWhite, 1px, 0);
}

.main-menu .menu-vertical li span.ui-icon-small {
    margin: 3px 0 3px $spacingMedium;
}

a.submenu-brand {
    width: 77px;
    height: 39px;
    padding: $spacingMedium;

    float: left;
    display: block;

    text-align: center;
    background: $colourWhite;
    border-right: 1px solid $colourGreyLight;
    border-bottom: 1px solid $colourGreyLight;
}

a.submenu-brand:hover {
    @include boxInsetShadow($colourGreyLight, 0, 0, $spacingMedium);
}

a.submenu-brand img {
    width: 77px;
    height: 39px;
}

.sub-menu {
    position: relative;

    @include verticalGradientWhiteToGreyLight;
    @include boxGlow($colourBlack, 5px, 0, 0.7);
}

.sub-menu > div {
    padding: 0 $spacingLarge;
    border-bottom: 3px solid $colourGrey;
}

.sub-menu .widget {
    padding: 8px $spacingMedium;
}

.sub-menu .ui-icon-small {
    margin: 0 $spacingMedium 0 0;
}

.sub-menu h2 {
    margin: 0;
    padding: 0;
}

.sub-menu h2,
.sub-menu h2 a {
    @include fontSize($fontSizeExtraExtraLarge);
    color: $colourGreyDark;
    line-height: 100%;
    @include textShadow($colourWhite, 0, 1px);
    text-decoration: none;
}

.sub-menu h3 {
    margin: 0;
    padding: 0;
}

.sub-menu h3,
.sub-menu h3 a {
    @include fontSize($fontSizeLarge);
    color: $colourGreyDark;
    line-height: 100%;
    letter-spacing: 1px;
    @include textShadow($colourWhite, 0, 1px);
    text-decoration: none;
}

.sub-menu p {
    padding: 2px 0 0 0;
    margin: 0;
}

.sub-menu p,
.sub-menu p a {
    @include fontSize($fontSizeExtraSmall);
    color: $colourGrey;
    line-height: 100%;
    text-decoration: none;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 $spacingSmall $spacingSmall 0;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-image: url("#{$cssPath}/resources/images/social-icons.png");
    float: left;
}

.facebook {
    background-position: 0 0;
}

.facebook:hover {
    background-position: 0 -30px;
}

.twitter {
    background-position: -30px 0;
}

.twitter:hover {
    background-position: -30px -30px;
}

.google-plus {
    background-position: -60px 0;
}

.google-plus:hover {
    background-position: -60px -30px;
}

.youtube {
    background-position: -90px 0;
}

.youtube:hover {
    background-position: -90px -30px;
}








.sf-menu {
    position: relative;
}

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu .sf-mega {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 976px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.sf-menu li {
    position: relative;
}

.sf-mega-container {
    position: static !important;
}

.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-menu > li {
    float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu ul ul {
    top: 0;
    left: 100%;
}

.sf-menu {
    float: left;
}

.sf-menu ul {
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.sf-menu > ul {
    border-top: 3px solid $colourGreyDark;
}

.sf-menu > li > ul a {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    display: block;
    @include textShadow($colourGreyDark, 0, 1px, 0, 1);
    text-align: left;
    font-weight: normal;
    text-decoration: none;
    @include fontSize(11);
    color: $colourWhite;
    vertical-align: middle;
    border-right: 1px solid $colourTurquoiseLight;
    @include highlightedVerticalGradientTurquoise;
    cursor: pointer;
}

.sf-menu > li > ul a:hover {
    @include boxInsetShadow($colourGreyDark, 0, -5px, 20px, 0, 1);
}

.sf-menu a.highlight {
    background: transparent;
    color: #f7941d;
    font-weight: bold;
    text-shadow: 0 1px 0 #e9e9e9;
    border-right: 1px solid #ccc;
}

.sf-menu a.highlight:hover {
    background: #ccc;
}

.sf-menu a.button {
    height: 32px;
    margin: 8px 0 0 10px;

    color: #58BB47;
    font-weight: bold;
    text-shadow: 0 1px 0 #e9e9e9;
    line-height: 32px;
    border-right: 0 none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 -2px 5px 0 #5a6470;
    -moz-box-shadow: 0 -2px 5px 0 #5a6470;
    box-shadow: 0 -2px 5px 0 #5a6470;
    background: transparent;
}

.sf-menu a.button:hover {
    background: #ccc;
}

.sf-menu a.highlight:hover {
    background: #ccc;
}

.sf-menu ul a {
    text-align: left;
}

.sf-menu li {
    white-space: nowrap;
    *white-space: normal;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
    -webkit-transition: none;
    transition: none;
}

.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega {
    display: block;
}

.sf-mega {
    background-color: #fff;
    box-sizing: border-box;
}
.sf-mega-section {
    float: left;
    width: 8em; /* optional */
    padding: 0 1em 1em 0;
    margin-right: 1em;
    border-right: 1px solid #b4c8f5;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
    *padding-right: 10px;
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
    border-top-color: rgba(255, 255, 255, .5);
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #fff;
}

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #ccc;
    border-left-color: rgba(255, 255, 255, .5);
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #fff;
}

.sf-menu > li > a {
    padding-right: 10px !important;
}

.sf-menu > li > a.sf-with-ul:after {
    right: 99999px !important;
}