{% for product in products %}
	{% include 'KACShopBundle:Products:productListing.html.twig' with {'product': product} %}
{% else %}
	<p class="no-padding-top no-margin-top">Sorry, no products were found using the search <strong>"{{ search }}"</strong>. Please try using the menu above to find what you are looking for or try another search.</p>
	<p class="padding-bottom-15">If you have any further problems please <a href="{{ path('content_contact_us') }}">contact us</a>.</p>
{% endfor %}
<div class="clear"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#search-container .product :checkbox:not(.no-uniform), #search-container .product :radio:not(.no-uniform), #search-container .product select:not(.no-uniform), #search-container .product :file:not(.no-uniform), #product-search-results .product :checkbox:not(.no-uniform), #product-search-results .product :radio:not(.no-uniform), #product-search-results .product select:not(.no-uniform), #product-search-results .product :file:not(.no-uniform)").uniform();
			$("#search-container .product .button, #product-search-results .product .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        });
	});
</script>