<div class="ui-helper-hidden more-information-detail no-margin no-padding" id="membership-card-confirm-release-user-{{ membershipCard.id }}">
	<div id="membership-card-confirm-release-user-{{ membershipCard.id }}" class="ui-widget message confirmation-message no-margin no-padding">
	    <div class="ui-state-highlight ui-corner-all no-margin no-padding"> 
	    	<div class="fl no-margin no-padding">
	    		<span class="ui-icon ui-icon-help margin-top-5"></span>
	    		<p class="small-message"><strong>WARNING:</strong> Are you sure you want to release the customer from this membership card?</p>
	    	</div>
	        <div class="fr no-margin no-padding">
	        	<a href="Javascript:void(0);" data-id="{{ membershipCard.id }}" class="button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-release-user" data-icon-primary="ui-icon-refresh">Confirm Release</a>
	        	<a href="Javascript:void(0);" data-id="{{ membershipCard.id }}" class="button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-confirm-release-user">Cancel</a>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>
</div>