<div class="ui-helper-hidden more-information-detail" id="membership-card-report-{{ membershipCard.id }}">
	<h5 class="no-margin-top">Membership Card Usage Report</h5>
	<table width="100%">
		<tr>
			<td class="label" width="15%"><label>Items Purchased</label></td>
			<td width="15%">{{ membershipCard.items|default('0') }}</td>
			<td class="label" width="15%"><label>Total Spend</label></td>
			<td width="20%">&pound;{{ membershipCard.subTotal|number_format(2)|default('0.00') }}</td>
			<td class="label" width="15%"><label>Savings Made</label></td>
			<td width="20%">&pound;{{ membershipCard.savings|number_format(2)|default('0.00') }}</td>
		</tr>
	</table>
</div>