@import "compass";
@import "../includes/base";
$containerWidth: 980px;

html {
    background: $colourWhite;
    font-size: 62.5%;
}

body {
    background: $backgroundColour;
    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
}

html.modal, html.modal body {
    background: $colourGreyLight;
}

html.modal body > section {
    padding: $spacingLarge;
}

.document {
    position: relative;

    background: $colourWhite;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}

.header {
    padding: $spacingMedium 0;
    height: 60px;

    @include verticalGradientGreyToGreyDark;
    @include boxInsetShadow($colourGreyDark, 0, 1px, 5px);
}

.header-contents {
    width: $containerWidth;
    margin: 0 auto;
    height: 60px;

    position: relative;
}

.logo {
    width: 189px;
    height: 60px;

    position: absolute;
    top: 0;
    left: 0;
}

.logo a {
    width: 189px;
    height: 60px;

    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 189px 60px;
    background-image: url("#{$cssPath}/resources/images/logo.png");
    background-position: 0 0;
}

.content {
    min-height: 300px;
    padding: $spacingSmall $spacingExtraLarge $spacingExtraLarge $spacingExtraLarge;
    margin: -#{$spacingSmall} 0 0 0;

    position: relative;

    background: $colourGreyLight;
    @include boxGlow($colourBlack, 5px, 0, 0.7);
}

.header-image {
    position: relative;
}

.header-image img {
    margin: -#{$spacingMedium} -#{$spacingMedium} $spacingMedium -#{$spacingMedium};

    @include borderRadius($radiusSize, $radiusSize, 0, 0);
    border-bottom: 3px solid $primaryColour;
}

.header-image h1 {
    padding: $spacingExtraLarge;

    position: absolute;
    top: $spacingExtraLarge;
    left: -#{$spacingMedium};

    color: $colourWhite;
    @include alphaBackground($colourBlack, 0.7);
    font-family: $primaryFontFamily;
    @include fontSize($fontSizeExtraExtraExtraLarge);
    @include textShadow($colourBlack, 0, 1px);
    font-weight: normal;
}

table.listing {
    margin: 0 0 $spacingMedium 0;

    border-collapse: collapse;
    border: 1px solid $colourGreyExtraLight;
}

table.listing td {
    padding: $spacingSmall;

    border: 1px solid $colourGreyExtraLight;
    @include fontSize($fontSizeSmall);
    vertical-align: middle;
    line-height: 120%;
}

table.listing th {
    padding: $spacingMedium $spacingSmall;

    text-align: left;
    border: 1px solid $colourGreyExtraLight;
    @include fontSize($fontSizeSmall);
    color: $textColour;
    @include textShadow($colourWhite, 0, 1px);
    @include verticalGradientWhiteToGreyExtraLight;
}

table.listing tr.odd {
    background: #F3F6F6;
}

table.listing td a {
    @include fontSize($fontSizeSmall);
    color: $colourBlack !important;
}

.widget-content h4 {
    padding: 0 $spacingMedium;

    line-height: 34px;
    @include fontSize(13);
    @include highlightedVerticalGradientGreyLight;
    font-weight: bold;
    color: $colourBlack;
    @include textShadow($colourWhite, 0, 1px);
    @include equalBorderRadius($radiusSize);
}

.widget-content h4 .ui-icon-small{
    margin: $spacingSmall $spacingMedium $spacingSmall 0;
}

.widget-content ul {
    margin: 0 0 $spacingMedium $spacingExtraLarge;
    color: $primaryColour !important;
}

.widget-content ul li {
    margin: 0 0 0 $spacingMedium;
    color: $textColour !important;
    line-height: 150%;
}

.widget-content dl {
    margin: 0 0 $spacingMedium 0;
}

.widget-content dt {
    width: 40%;
    padding: $spacingSmall;
    margin: 0 0 $spacingExtraSmall 0;

    float: left;

    box-sizing: border-box;
    @include fontSize($fontSizeSmall);
    line-height: 100%;
    border-left: 1px solid $colourGreyLight;
    border-top: 1px solid $colourGreyLight;
    border-bottom: 1px solid $colourGreyLight;
    text-align: right;
    background: $colourGreyExtraLight;
    color: $colourGreyDark;
}

.widget-content dd {
    width: 60%;
    padding: $spacingSmall;
    margin: 0 0 $spacingExtraSmall 0;

    float: left;

    box-sizing: border-box;
    line-height: 100%;
    @include fontSize($fontSizeSmall);
    border-right: 1px solid $colourGreyLight;
    border-top: 1px solid $colourGreyLight;
    border-bottom: 1px solid $colourGreyLight;
}

.footer {
    padding: $spacingMedium 0;

    position: relative;

    @include verticalGradientGreyToGreyDark;
    @include boxInsetShadow($colourGreyDark, 0, 1px, 5px);
    border-top: 3px solid $colourGrey;
}

.footer h4 {
    margin: 0 0 $spacingMedium 0;
    padding: 0 0 $spacingMedium 0;

    color: $colourGreyExtraExtraLight;
    @include fontSize($fontSizeLarge);
    border-bottom: 1px solid $colourGreyLight;
}

.footer span {
    line-height: 150%;
    color: $colourGreyLight;
    @include fontSize($fontSizeSmall);
}

.footer ul,
.footer ul li {
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer ul {
    margin: 0 0 $spacingMedium 0;
}

.footer ul li {
    line-height: 150%;
}

.footer a {
    color: $colourGreyMedium;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.floating-advert-container {
  width: 160px;
  min-height: 300px;

  position: absolute;
  top: 204px;
  left: 50%;
}

.floating-advert-container-left {
  margin: 0 0 0 -662px;
}

.floating-advert-container-right {
  margin: 0 0 0 502px;
}

.background-grey-extra-extra-light {
    background-color: $colourGreyExtraExtraLight;
}

.background-grey-extra-light {
    background-color: $colourGreyExtraLight;
}

.background-grey-light {
    background-color: $colourGreyLight;
}

.background-grey-medium {
    background-color: $colourGreyMedium;
}

.background-grey {
    background-color: $colourGrey;
}

.background-grey-dark {
    background-color: $colourGreyDark;
}

.background-dark-red-extra-extra-light {
    background-color: $colourDarkRedExtraExtraLight;
}

.background-dark-red-extra-light {
    background-color: $colourDarkRedExtraLight;
}

.background-dark-red-light {
    background-color: $colourDarkRedLight;
}

.background-dark-red {
    background-color: $colourDarkRed;
}

.background-red-extra-extra-light {
    background-color: $colourRedExtraExtraLight;
}

.background-red-extra-light {
    background-color: $colourRedExtraLight;
}

.background-red-light {
    background-color: $colourRedLight;
}

.background-red {
    background-color: $colourRed;
}

.background-orange-extra-extra-light {
    background-color: $colourOrangeExtraExtraLight;
}

.background-orange-extra-light {
    background-color: $colourOrangeExtraLight;
}

.background-orange-light {
    background-color: $colourOrangeLight;
}

.background-orange {
    background-color: $colourOrange;
}

.background-yellow-extra-extra-light {
    background-color: $colourYellowExtraExtraLight;
}

.background-yellow-extra-light {
    background-color: $colourYellowExtraLight;
}

.background-yellow-light {
    background-color: $colourYellowLight;
}

.background-yellow {
    background-color: $colourYellow;
}

.background-green-extra-extra-light {
    background-color: $colourGreenExtraExtraLight;
}

.background-green-extra-light {
    background-color: $colourGreenExtraLight;
}

.background-green-light {
    background-color: $colourGreenLight;
}

.background-green {
    background-color: $colourGreen;
}

.background-turquoise-extra-extra-light {
    background-color: $colourTurquoiseExtraExtraLight;
}

.background-turquoise-extra-light {
    background-color: $colourTurquoiseExtraLight;
}

.background-turquoise-light {
    background-color: $colourTurquoiseLight;
}

.background-turquoise {
    background-color: $colourTurquoise;
}

.background-blue-extra-extra-light {
    background-color: $colourBlueExtraExtraLight;
}

.background-blue-extra-light {
    background-color: $colourBlueExtraLight;
}

.background-blue-light {
    background-color: $colourBlueLight;
}

.background-blue {
    background-color: $colourBlue;
}

@media
screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (-webkit-min-device-pixel-ratio: 1.3),
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 1.25),
screen and (min--moz-device-pixel-ratio: 1.3),
screen and (min--moz-device-pixel-ratio: 1.5),
screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 1.25/1),
screen and (-o-min-device-pixel-ratio: 1.3/1),
screen and (-o-min-device-pixel-ratio: 1.5/1),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-device-pixel-ratio: 1.25),
screen and (min-device-pixel-ratio: 1.3),
screen and (min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 120dpi),
screen and (min-resolution: 124.8dpi),
screen and (min-resolution: 144dpi),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 1.25dppx),
screen and (min-resolution: 1.3dppx),
screen and (min-resolution: 1.5dppx),
screen and (min-resolution: 2dppx) {
    .logo a {
        background-image: url("#{$cssPath}/resources/images/logo@2x.png");
    }
}