$containerWidth: 980px;

html {
    background: $colourWhite;
    font-size: 62.5%;
}

body {
    background: $backgroundColour;
    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
}

html.modal, html.modal body {
    background: $colourGreyLight;
}

html.modal body > section {
    padding: $spacingLarge;
}

.document {
    position: relative;

    background: $colourWhite;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}

.header {
    padding: $spacingSmall 0;

    @include verticalGradientGreyToGreyDark;
    @include boxInsetShadow($colourGreyDark, 0, 1px, 5px);
}

.logo {
    float: left;
}

.logo a {
    width: 189px;
    height: 60px;

    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 189px 60px;
    background-image: url("#{$cssPath}/resources/images/logo.png");
    background-position: 0 0;
}

.content {
    min-height: 300px;
    padding: $spacingSmall $spacingExtraLarge $spacingExtraLarge $spacingExtraLarge;
    margin: -#{$spacingSmall} 0 0 0;

    position: relative;

    background: $colourGreyLight;
    @include boxGlow($colourBlack, 5px, 0, 0.7);
}

@media
screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (-webkit-min-device-pixel-ratio: 1.3),
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 1.25),
screen and (min--moz-device-pixel-ratio: 1.3),
screen and (min--moz-device-pixel-ratio: 1.5),
screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 1.25/1),
screen and (-o-min-device-pixel-ratio: 1.3/1),
screen and (-o-min-device-pixel-ratio: 1.5/1),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-device-pixel-ratio: 1.25),
screen and (min-device-pixel-ratio: 1.3),
screen and (min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 120dpi),
screen and (min-resolution: 124.8dpi),
screen and (min-resolution: 144dpi),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 1.25dppx),
screen and (min-resolution: 1.3dppx),
screen and (min-resolution: 1.5dppx),
screen and (min-resolution: 2dppx) {
    .logo a {
        background-image: url("#{$cssPath}/resources/images/logo@2x.png");
    }
}