$containerWidth: 980px;

html {
    background: $colourWhite;
    font-size: 62.5%;
}

body {
    background: $backgroundColour;
    font-family: $primaryFontFamily;
    @include fontSize($fontSizeMedium);
    color: $textColour;
}

html.modal, html.modal body {
    background: $colourGreyLight;
}

html.modal body > section {
    padding: $spacingLarge;
}

.document {
    position: relative;

    background: $colourWhite;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}

.header {
    padding: $spacingSmall 0;

    @include verticalGradientGreyToGreyDark;
    @include boxInsetShadow($colourGreyDark, 0, 1px, 5px);
}

.logo {
    float: left;
}

.content {
    min-height: 300px;
    padding: $spacingSmall $spacingExtraLarge $spacingExtraLarge $spacingExtraLarge;
    margin: -#{$spacingSmall} 0 0 0;

    position: relative;
    z-index: 1;
    
    background: $colourGreyLight;
    @include boxGlow($colourBlack, 5px, 0, 0.7);
}