{% extends ':Old:shop.html.twig' %}
{% block title %}UK Call Centre{% endblock %}
{% block body %}
	<header>
		<h2>UK Call Centre</h2>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>UK Call Centre</h2>
	            </header>
				<section>
					<div class="clearfix">
						<p>Loading content&hellip;</p>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
	<script type="text/javascript">
		$(document).ready(function() {
		
		});
	</script>
{% endblock %}