{% extends '::shop.html.twig' %}
{% block title %}Security | {{ parent() }}{% endblock %}
{% block metatags %}
	<meta name="description" content="Kitchen Appliance Centre take security and customer service very seriously and appreciate the trust placed in us by you our customers when providing us your card details.">
	<meta name="keywords" content="kitchen appliance centre, security, trust, customer service, card details, fraud, 3d secure, online shopping, safe">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<img src="{{ asset('/bundles/webilluminationshop/images/headers/bank-safe.jpg') }}" alt="A bank safe" />
						<h3 class="right">Locked Down!</h3>
					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
		<h1>Security</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Security</h2>
	            </header>
				<section>
					<div class="clearfix">
						<h5>Our Commitment to You</h5>
						<p>We take security and customer service very seriously and appreciate the trust placed in us by you our customers when providing us your card details.</p>
						<p>Our security procedures are constantly reviewed and updated to take account of any new threats.</p>
						<h5>What measures do we take?</h5>
						<p>We have in place a number of measures to ensure our site and your details are as secure as possible.</p>
						<p>When you send us any of your personal information, the link between your computer or device and our server is encrypted using Industry standard methods (SSL).</p>
						<p>When your information reaches our server, the card details are encrypted again before being stored on our secure server behind a locked down firewall.</p>
						<h5>What else can you the customer do?</h5>
						<p>Although most online transactions are completed safely and efficiently there are some things you can do to minimise the chances of fraud. Everyone using the Internet should follow the tips below:</p>
						<ul>
							<li>It is essential that your computer or device is kept up to date with the latest anti-virus software, as the weakest point of any Internet transaction is often the computer or device.</li>
							<li>We will never email or call you in order to ask you to disclose or verify your credit card number. You should only give out this information directly on the site or when you contact us directly. If you are contacted or receive an unsolicited e-mail which asks you to confirm or provide your personal or credit card information, disregard the request and report the incident to us for further investigation.</li>
							<li>If you receive a suspected fake email or if anything raises your suspicions, please <a href="{{ path('content_contact_us') }}">report it to us</a>.</li>
							<li>If you are using a public computer always make sure you log off when you are finished.</li>
						</ul>
						<h5>Secure Site</h5>	
						<p>Make sure whenever you are entering any personal details you are using the secure Kitchen Appliance Centre site. This can be done by checking that https:// is visible in the address bar at the top and also looking out for the yellow padlock.</p>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}