{% extends '::shop.html.twig' %}
{% block title %}Kitchen Appliance Centre Installation Guides | {{ parent() }}{% endblock %}
{% block metatags %}
	<meta name="description" content="We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.">
	<meta name="keywords" content="kitchen appliance centre, video, products, demonstration, demo, guide, installation guide">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<img src="{{ asset('/bundles/webilluminationshop/images/headers/kitchen-being-fitted.png') }}" alt="A kitchen being fitted" />
						<h3 class="right">Kitchen Appliance Centre Installation Guides</h3>
					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
		<h1>Installation Guides</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Kitchen Appliance Centre Installation Guides</h2>
	            </header>
				<section>
					<div class="clearfix">
						<p><strong>Welcome to the Kitchen Appliance Centre installation guide area.</strong></p>
						<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}