{% extends '::shop.html.twig' %}
{% block title %}Kitchen Appliance Centre Terms and Conditions{% endblock %}
{% block body %}
	<header>
		<h1>The Small Print</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Kitchen Appliance Centre Terms and Conditions</h2>
	            </header>
				<section>
					<div class="clearfix">
						<p class="no-margin-top">Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our <a href="{{ path('content_privacy_policy') }}">privacy policy</a> govern Kitchen Appliance Centre's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
						<p>The term 'Kitchen Appliance Centre' or 'us' or 'we' refers to the owner of the website whose registered office is Kitchen Appliance Centre, Unit 3 Pentrich Road, Giltbrook Industrial Park, Giltbrook, Nottingham, NG16 2UZ. Kitchen Appliance Centre is a trading company of Onefit Ltd. Our company registration number is 4605369. The term 'you' refers to the user or viewer of our website.</p>
						<p>The use of this website is subject to the following terms of use:</p>
						<ul class="no-margin-bottom">
							<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.
    						<li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties (see our <a href="{{ path('content_privacy_policy') }}">privacy policy</a> for more information).</li>
    						<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
    						<li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
    						<li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
    						<li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
    						<li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
    						<li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
    						<li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</li>
						</ul>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}