{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':breadcrumbs.html.twig' with {'data': data} %}
{% if data.mode == 'update' %}
	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>
	<h2>{{ data.item.name }}</h2>
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':toolbar.html.twig' with {'data': data} %}
{% else %}
	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.parentId}) }}" id="button-go-back" class="fr button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>
	<h2>Add a {{ data.settings.singleTitle }}</h2>
{% endif %}