{% extends ':Old:print.html.twig' %}
{% block title %}Kitchen Appliance Centre Orders{% endblock %}
{% block body %}
	{% for order in orders %}
		{% include 'WebIlluminationAdminBundle:Orders:order.html.twig' with {'order': order} %}
		{% if (order.deliveryType == 'Royal Mail 1st Class') or (order.deliveryType == 'Royal Mail Economy') %}
			<div style="page-break-before: always;"></div>
			{% include 'WebIlluminationAdminBundle:Orders:deliveryNote.html.twig' with {'order': order} %}
		{% endif %}
		<div style="page-break-before: always;"></div>
	{% endfor %}
{% endblock %}