{% extends ':Old:print.html.twig' %}
{% block title %}Kitchen Appliance Centre Orders{% endblock %}
{% block body %}
	{% for order in orders %}
		{% include 'WebIlluminationAdminBundle:Orders:order.html.twig' with {'order': order} %}
		<div style="page-break-before: always;"></div>
	{% endfor %}
{% endblock %}