@import "compass";
@import "../includes/base";

.review-summary {
    color: $colourBlack;
    @include fontSize($fontSizeSmall);
    line-height: 120%;
}

.review-summary a {
    color: $colourGrey;
    @include fontSize($fontSizeSmall);
}

.review-rating-large {
    width: 200px;
    height: 30px;
    margin: 0 0 $spacingMedium 0;

    display: block;

    overflow: hidden;
    background-image: url("#{$cssPath}/resources/images/icons/ratings_sprite_large.png");
    background-position: -0px -0px;
}

.review-rating-medium {
    width: 120px;
    height: 20px;
    margin: 0 0 $spacingMedium 0;

    display: block;

    overflow: hidden;
    background-image: url("#{$cssPath}/resources/images/icons/ratings_sprite_medium.png");
    background-position: -0px -0px;
}

.review-rating-small {
    width: 80px;
    height: 15px;
    margin: 0 0 $spacingSmall 0;

    display: block;

    overflow: hidden;
    background-image: url("#{$cssPath}/resources/images/icons/ratings_sprite_small.png");
    background-position: -0px -0px;
}

.review-rating-large-1 {
    background-position: -0px -30px;
}

.review-rating-large-1-5 {
    background-position: -0px -60px;
}

.review-rating-large-2 {
    background-position: -0px -90px;
}

.review-rating-large-2-5 {
    background-position: -0px -120px;
}

.review-rating-large-3 {
    background-position: -0px -150px;
}

.review-rating-large-3-5 {
    background-position: -0px -180px;
}

.review-rating-large-4 {
    background-position: -0px -210px;
}

.review-rating-large-4-5 {
    background-position: -0px -240px;
}

.review-rating-large-5 {
    background-position: -0px -270px;
}

.review-rating-medium-1 {
    background-position: -0px -20px;
}

.review-rating-medium-1-5 {
    background-position: -0px -40px;
}

.review-rating-medium-2 {
    background-position: -0px -60px;
}

.review-rating-medium-2-5 {
    background-position: -0px -80px;
}

.review-rating-medium-3 {
    background-position: -0px -100px;
}

.review-rating-medium-3-5 {
    background-position: -0px -120px;
}

.review-rating-medium-4 {
    background-position: -0px -140px;
}

.review-rating-medium-4-5 {
    background-position: -0px -160px;
}

.review-rating-medium-5 {
    background-position: -0px -180px;
}

.review-rating-small-1 {
    background-position: -0px -15px;
}

.review-rating-small-1-5 {
    background-position: -0px -30px;
}

.review-rating-small-2 {
    background-position: -0px -45px;
}

.review-rating-small-2-5 {
    background-position: -0px -60px;
}

.review-rating-small-3 {
    background-position: -0px -75px;
}

.review-rating-small-3-5 {
    background-position: -0px -90px;
}

.review-rating-small-4 {
    background-position: -0px -105px;
}

.review-rating-small-4-5 {
    background-position: -0px -120px;
}

.review-rating-small-5 {
    background-position: -0px -135px;
}

.trustpilot-reviews-container {
  margin: 0;
  padding: 0;

  @include boxGlow($colourBlack, $spacingSmall, 0, 0.7);
  @include verticalGradient(#023544, #294F59);
  @include equalBorderRadius($radiusSize);
}

.trustpilot-reviews {
  background-image: url("#{$cssPath}/resources/images/icons/trustpilot_background_tick.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px 700px;
  @include equalBorderRadius($radiusSize);
}

.trustpilot-reviews h2 {
    padding: $spacingMedium $spacingMedium 0 $spacingMedium;
    margin: 0;

    color: $colourWhite;
    text-align: center;
    @include fontSize(18);
    @include textShadow($colourGreyDark, 1px, 0);
    letter-spacing: 1px;
    line-height: 20px;
}

.trustpilot-reviews h4 {
    margin: 0 0 $spacingSmall 0;

    color: $colourWhite;
    text-align: center;
    @include fontSize($fontSizeLarge);
}

.trustpilot-reviews p {
    margin: 0;

    color: $colourWhite;
    @include fontSize($fontSizeSmall);
    line-height: 14px;
}

.trustpilot-reviews a {
    text-decoration: none;
    color: $colourWhite;
}

.trustpilot-overall-rating {
    padding: $spacingSmall $spacingMedium $spacingMedium $spacingMedium;
    width: 120px;
    margin: 0 auto;

    border-bottom: 1px solid #68C8E3;
}

.trustpilot-rating {
    height: 14px;
}

.trustpilot-review-star {
    display: block;

    float: left;

    background-image: url("#{$cssPath}/resources/images/icons/yellow_star.png");
    background-position: 0 0;
}

.trustpilot-review-star-large {
    width: 24px;
    height: 24px;

    background-size: 24px 24px;
}

.trustpilot-review-star-small {
    width: 14px;
    height: 14px;

    background-size: 14px 14px;
}

.trustpilot-review {
    padding: $spacingMedium;
    border-bottom: 1px solid #68C8E3;
}

.trustpilot-review-content
{
    margin: 0;

    text-align: center;
}

.trustpilot-review-user-name {
    padding: 0 $spacingSmall 0 0;
    margin: 0;

    text-align: center;
    @include fontSize($fontSizeSmall);
    line-height: 14px;
    color: $colourWhite;
}

.trustpilot-review-rating {
    padding: $spacingSmall 0 0 0;
    margin: 0;

    text-align: center;
}

.trustpilot-review-read-more {
    margin: 0;

    @include fontSize($fontSizeSmall);
    line-height: 14px;
    text-align: center;
}

.trustpilot-review-count {
    padding: 0;
    margin: 2px 0 0 0;

    line-height: 10px;
    color: $colourGreyLight;
    text-align: center;
    @include fontSize($fontSizeExtraSmall);
}

.trustpilot-review-count a {
    color: $colourWhite;
    @include fontSize($fontSizeExtraExtraSmall);
}

.trustpilot-review-count span {
  @include fontSize($fontSizeExtraExtraSmall);
}

.customer-reviews {
    padding: $spacingSmall 0 !important;
    background: #424c53;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDM2M2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #424c53 0%, #2d363c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424c53), color-stop(100%,#2d363c));
    background: -webkit-linear-gradient(top,  #424c53 0%,#2d363c 100%);
    background: -o-linear-gradient(top,  #424c53 0%,#2d363c 100%);
    background: -ms-linear-gradient(top,  #424c53 0%,#2d363c 100%);
    background: linear-gradient(to bottom,  #424c53 0%,#2d363c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424c53', endColorstr='#2d363c',GradientType=0 );
}

.customer-review {
    padding: 0 52px;
}

.customer-review-rating {
    width: 80px;
    height: 14px;

    float: left;
}

.customer-review h4 {
    padding: 0 !important;
    margin: 0 !important;
    width: 546px;
    height: 14px;

    line-height: 14px !important;
}

.customer-review h4 a {
    width: 546px;
    height: 14px;

    @include ellipsis;
    font-size: 11px !important;
    font-size: 1.1rem !important;
    font-weight: normal !important;
    color: $colourWhite !important;
    line-height: 14px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

.customer-review-content {
    width: 546px;
    height: 24px;
    padding: 2px 0 0 80px;

    display: block;
    overflow: hidden;
}

.customer-review-content a {
    width: 546px;
    height: 24px;

    display: block;
    overflow: hidden;
    font-size: 10px !important;
    font-size: 1.0rem !important;
    font-weight: normal !important;
    color: $colourGreyLight !important;
    line-height: 12px !important;
    text-decoration: none !important;
}
